<form action="./" method="post">
	<input type="hidden" name="module" value="addon" />
	<input type="hidden" name="act" value="procAddonAdminSaveActivate" />

	<h1 class="h1">{$lang->installed_addon}</h1>
	<p>{$lang->about_installed_addon}</p>
	<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
		<p>{$XE_VALIDATOR_MESSAGE}</p>
	</div>
	<div class="table even easyList">
		<table width="100%" border="1" cellspacing="0">
			<caption>All({$addon_count})</caption>
			<thead>
				<tr>
					<th scope="col" class="title">{$lang->addon_name}</th>
					<th scope="col">{$lang->version}</th>
					<th scope="col">{$lang->author}</th>
					<th scope="col">{$lang->installed_path}</th>
					<th scope="col">{$lang->cmd_setup}</th>
					<th scope="col">PC</th>
					<th scope="col">Mobile</th>
					<th scope="col">{$lang->cmd_delete}</th>
				</tr>
			</thead>
			<tbody>
				<tr loop="$addon_list => $addon">
					<td class="title">
						<p><strong>{$addon->title}</strong></p>
						<p>{$addon->description}</p>
						<p cond="$addon->need_update == 'Y'" class="update">
							{$lang->msg_avail_easy_update} <a href="{$addon->update_url}&amp;return_url={urlencode(getRequestUriByServerEnviroment())}">{$lang->msg_do_you_like_update}</a>
						</p>
					</td>
					<td>{$addon->version}</td>
					<td>
						<block loop="$addon->author => $author">
							<a cond="$author->homepage" href="{$author->homepage}" target="_blank">{$author->name}</a>
							<block cond="!$author->homepage">{$author->name}</block>
						</block>
					</td>
					<td>{$addon->path}</td>
					<td><a href="{getUrl('act', 'dispAddonAdminSetup', 'selected_addon', $addon->addon_name)}">{$lang->cmd_setup}</a></td>
					<td><input type="checkbox" name="pc[]" title="PC" value="{htmlspecialchars($addon->addon_name)}" checked="checked"|cond="$addon->activated" /></td>
					<td><input type="checkbox" name="mobile[]" title="Mobile" value="{htmlspecialchars($addon->addon_name)}" checked="checked"|cond="$addon->mactivated" /></td>
					<td><a cond="$addon->remove_url" href="{$addon->remove_url}&amp;return_url={urlencode(getRequestUriByServerEnviroment())}">{$lang->cmd_delete}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="btnArea">
		<span class="btn medium"><input type="submit" value="{$lang->cmd_save}" /></span>
	</div>
</form>