<!--// 스킨 ID, Class, function 이름이 si, sc, sj로 시작하면 javascript 사용되니 주의하세요. -->

{@
	$is_doc = $oDocument && $oDocument->isExists();

	$list_style = $category_srl?$category_list[$category_srl]->type:0;
	$list_style = $list_style?$list_style:($module_info->category_default_type?$module_info->category_default_type:'list');
	$view_style = ($module_info->view_style && $module_info->view_style!='default')?$module_info->view_style:(in_array($list_style,array('auction','webzine'))?'webzine':'list');

	$module_info->category_style?0:$module_info->category_style = 'Y';
	$module_info->star_style?0:$module_info->star_style = 'N';
	$module_info->duration_new?0:$module_info->duration_new = '12';
	$module_info->thumbnail_type?0:$module_info->thumbnail_type = 'crop';
	$module_info->thumbnail_width?0:$module_info->thumbnail_width = '100';
	$module_info->thumbnail_height?0:$module_info->thumbnail_height = '100';

	$use_modal_window = $module_info->use_modal_window=='N'?0:($module_info->use_modal_window=='I'?2:1);
	$is_ellipsis = $module_info->title_length?0:1;

	($list_style == 'book')?$is_doc = 0:0;
	$custom_status = explode(',',$module_info->custom_status);
}

<!--// CSS,JS 파일 import : 연속쓰기때문에 modal_win 먼저-->
<load target="css/common.css" />
<load cond="$use_modal_window" target="js/modal_win.js" />
<load target="js/common.js" />

<!--// 사용자 CSS 설정 -->
<style type="text/css" cond="$module_info->custom_css"> {$module_info->custom_css} </style>
