
<include target="___setting.html" />

<div cond="$module_info->title||$module_info->sub_title" class="scMainTitle" style="margin:10px;"|cond="!$module_info->layout_srl">
	<strong cond="$module_info->title">{$module_info->title}</strong>
	<span cond="$module_info->sub_title" class="scSubTitle">{$module_info->sub_title}</span>
</div>

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>

<div cond="$module_info->header_text" class="scMheadText clearBar" style="margin:10px 10px 15px;"|cond="!$module_info->layout_srl">
	{$module_info->header_text}
</div>
