{@
	$s_cate = $module_info->category_style;
	$sub_category_list = $s_cate == 'H'?$category_list:$category_list[$category_srl]->childs;
}

<div cond="($s_cate == 'Y' || $s_cate == 'T') && count($category_list)" class="scCatNav">
	<ul class="scFrm">
		<li class="active"|cond="!$category_srl"><a href="{getUrl('', 'mid',$mid)}"><span>{$module_info->category_default_title}</span> <span class="fs8">&nbsp;</span></a></li>
		<li loop="$category_list => $val" cond="$s_cate == 'T' || !$val->depth" class="active"|cond="$val->selected">
			{@ (!$val->depth&&in_array($category_srl,$val->childs))?$sub_category_list=$val->childs:0}
			<a href="{$oEntry->getUrl('','mid',$mid,'category_srl',$val->category_srl)}"><span style="color:{$val->color}"|cond="$val->color!='transparent'">{$val->title}</span> <span class="fs8">({$val->total_document_count})</span></a>
		</li>
	</ul>
</div>

<div cond="($s_cate == 'Y' || $s_cate == 'H') && count($sub_category_list)" class="scSubCate" rel="autoHide">
	<div class="cateArea">
		<ul class="scFrm">
			<li cond="$s_cate == 'H'" class="active"|cond="!$category_srl"><a href="{getUrl('', 'mid',$mid)}"><span>{$module_info->category_default_title}</span> <span class="fs8">&nbsp;</span></a></li>
			<block loop="$sub_category_list => $val">
				{@ is_object($val) ? 0 : $val = $category_list[$val]}
				<li cond="is_object($val)" class="active"|cond="$val->selected">
					<span><a href="{$oEntry->getUrl('','mid',$mid,'category_srl',$val->category_srl)}" style="color:{$val->color}"|cond="$val->color!='transparent'">{$val->title} <span class="fs8">({$val->total_document_count})</span></a></span>
				</li>
			</block>
		</ul>
	</div>
	<a class="scCaPrev" href="#" title="{$lang->cmd_prev}"><em>&lt;</em></a>
	<a class="scCaNext" href="#" title="{$lang->cmd_next}"><em>&gt;</em></a>
	<a class="scCaLock" href="#" title="{$lang->cmd_lock}"><em>&amp;</em></a>
</div>

<div cond="($s_cate == 'L' || $s_cate == 'R') && count($category_list)" class="scSideCate" style="{$s_cate=='R'?'right:0':'left:0'}">
	<div class="cateArea {$s_cate=='R'?'right':''}">
		<ul class="scFrm {$s_cate=='R'?'fr':'fl'}">
			<li class="active"|cond="!$category_srl"><a href="{getUrl('', 'mid',$mid)}"><span>{$module_info->category_default_title}</span></a></li>
			{@ $depth=0}
			<block loop="$category_list => $key,$val">
				<block cond="$depth < $val->depth">
					{@ $depth = $val->depth} <li style="display:none"|cond="!$is_p_expand" rev="toggle_{$is_p_key}"><ul>
				</block>
				<block cond="$depth && $depth > $val->depth">
					{str_repeat('</ul></li>', $depth - $val->depth)}
					{@ $depth = $val->depth}
				</block>
				{@
					$is_p_expand = $val->selected||$val->expand;
					$is_p_key = $key;
				}
				<li class="active"|cond="$val->selected" rel="toggle_{$key}"|cond="count($val->childs)">
					<a href="{$oEntry->getUrl('','mid',$mid,'category_srl',$val->category_srl)}">{str_repeat('<b>&rsaquo;</b>',$val->depth+1)}
						<span style="color:{$val->color}"|cond="$val->color!='transparent'">{$val->title}</span> <span class="fs8">({$val->total_document_count})</span>
					</a>
				</li>
			</block>
		</ul>
		<block cond="$depth">{str_repeat('</ul></li>', $depth)}</block>
		<a class="mubtn {$s_cate=='R'?'fr':'fl'}" href="#"></a>
	</div>
</div>
