<!--// 페이지 네비게이션 -->
{@ $current_page = $page?$page:'1'}

<div class="clearBar">
	<div cond="$page_navigation" class="scPagNav {$module_info->page_align=='R'?'fr':'fl'}">
		<a href="{$oEntry->getUrl('document_srl','','comment_srl','','page','','division',$division,'last_division',$last_division)}" class="direction prev"><span></span><span></span> {$lang->first_page}</a>
		<block loop="$page_no=$page_navigation->getNextPage()">
			<strong cond="$current_page==$page_no">{$page_no}</strong>
			<a cond="$current_page!=$page_no" href="{$oEntry->getUrl('document_srl','','comment_srl','','page',$page_no,'division',$division,'last_division',$last_division)}">{$page_no}</a>
		</block>
		<a href="{$oEntry->getUrl('document_srl','','comment_srl','','page',$page_navigation->last_page,'division',$division,'last_division',$last_division)}" class="direction next">{$lang->last_page} <span></span><span></span></a>
	</div>

	<div class="scShAdminBtns {$module_info->page_align=='R'?'fl':'fr'}">
		<span><a href="#beluxe">Board DX</a></span>
		<block cond="!$is_poped && $grant->manager">
			<span><a href="#siManageBtn">{$lang->cmd_management}</a></span>
			<span class="scAdminActs" style="display:none">
				<span class="btn25 small"><a href="#" rel="manage">{$lang->cmd_manage_document}</a></span>
				<span class="btn25 small"><a href="#" rel="admin">{$lang->cmd_setup}</a></span>
			</span>
		</block>
	</div>
</div>

