
<div class="scSearch {$module_info->search_align=='R'?'fr':'fl'}">
	<form ruleset="searchBeluxe" action="{getUrl('')}" method="get" id="searchFo" no-error-return-url="true">
		<input type="hidden" name="category_srl" value="{$category_srl}" />
		<select name="search_target" class="scSearchTarget">
			<option loop="$list_config=>$key,$val" cond="$val->search=='Y'" value="{$key}" selected="selected"|cond="$key==$search_target">{$val->name}</option>
		</select>
		<span class="btn25"><input class="keyword" type="text" name="search_keyword" value="{$search_keyword}" title="search"></span>
		<span cond="!$search_keyword" class="btn25"><button type="submit">{$lang->cmd_search}</button></span>
		<span cond="$search_keyword" class="btn25"><a href="{$oEntry->getUrl('','mid', $mid,'category_srl', $category_srl)}">{$lang->cmd_cancel}</a></span>
	</form>
</div>

<div cond="$grant->write_document" class="{$module_info->search_align=='R'?'fl':'fr'}">
	<span class="btn25" cond="($s_cate == 'L' || $s_cate == 'R') && $category_srl"><a href="{$oEntry->getUrl('','mid',$mid)}">{$lang->cmd_all_list}</a></span>
	<span class="btn25 black"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWrite','document_srl','')}" class="modalAnchor"|cond="$use_modal_window" rel="insert" accesskey="w">{$lang->document_write}</a></span>
</div>
