<!-- LIST -->
{@
	$dis_category = $list_config['category_srl']->display == 'Y';
	$dis_status = $list_config['custom_status']->display == 'Y';
	$dis_readed = $list_config['readed_count']->display == 'Y';
	$dis_voted = $list_config['voted_count']->display == 'Y';
	$dis_blamed = $list_config['blamed_count']->display == 'Y';

	$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':0;
	$dis_name = $dis_name?$dis_name:$list_config['user_name']->display == 'Y';

	$dis_update = $list_config['last_update']->display == 'Y';
	$dis_updater = $list_config['last_updater']->display == 'Y';
	$dis_update && $dis_updater ? $list_config['last_update']->display = 'N' : 0;

	$list_config['content']->display = 'N';
	$list_config['comment']->display = 'N';
	$list_config['thumbnail']->display = 'N';

	$module_info->star_style!='N' ? $list_config['blamed_count']->display = 'N' : 0;
	$module_info->star_style!='N' && $dis_voted ? $list_config['readed_count']->display = 'N' : 0;

	$lang->short_readed_count ? $list_config['readed_count']->name = $lang->short_readed_count : 0;
	$lang->short_blamed_count ? $list_config['blamed_count']->name = $lang->short_blamed_count : 0;
	$lang->short_voted_count ? $list_config['voted_count']->name = $lang->short_voted_count : 0;
	$module_info->star_style!='N' ? $list_config['voted_count']->name = $lang->star_column : 0;

	$colcnt = 0;
	$show_columns = array();
	$is_cate = count($category_list);
	$dis_foot = array('last_update','last_updater','regdate');
	$a_lsttp = array('notice'=>&$notice_list,'best'=>&$best_list,''=>&$document_list);
}

<block loop="$list_config => $key,$val" cond="$val->display=='Y'">
	{@
		$colcnt += $val->idx<0?1:0;
		$show_columns[$key] = $val;
	}
</block>

<table class="scTable scWebz" width="100%" border="0" cellspacing="0" summary="List of document">
<thead class="scOneCol">
	<tr>
		<th scope="row" colspan="{$colcnt}">
			<span loop="$show_columns => $key,$val" cond="$val->sort == 'Y'" class="sort">
				<a href="{$oEntry->getUrl('sort_index',$key,'order_type',($order_type!='asc'?'asc':'desc'))}">{$val->name}<em class="asc"|cond="$sort_index==$key&&$order_type=='asc'">&nbsp;</em></a>
			</span>
		</th>
		<th cond="$grant->manager" class="scCheck sort"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" /></th>
	</tr>
</thead>
<tbody loop="$a_lsttp => $lsttk,$p_list" cond="count($p_list)" class="{$lsttk}">
	<tr cond="$lsttk" loop="$p_list => $no,$document">
		<td loop="$show_columns => $key,$val" cond="$val->idx<0" scope="col" class="{$key}" style="color:{$val->color}"|cond="$val->color">
			<!--@switch($key)-->
				<!--@case('no')-->
					{@ $no = $lsttk?'<img src="img/common/label_'.$lsttk.'.gif" />':$no}
					{($document->document_srl==$document_srl)?'<b class="rArr">&rArr;</b>':$no}
				<!--@break-->
				<!--@case('category_srl')-->
					{@ $cate = $is_cate?$category_list[$document->get('category_srl')]:0 }
					<a cond="$cate" href="{$oEntry->getUrl('','mid',$mid,'category_srl',$cate->category_srl)}" title="{htmlspecialchars($cate->description)}" style="color:{$cate->color}"|cond="$cate->color!='transparent'">{$cate->title}</a>
					<span cond="!$cate">{$lang->none_category}</span>
				<!--@break-->
				<!--@case('title')-->
					<div class="scEllipsis"|cond="$is_ellipsis">
						<a href="{$oEntry->getUrl('','mid',$mid,'document_srl',$document->document_srl,'sort_index',$sort_index,'order_type',$order_type,'search_target',$search_target,'search_keyword',$search_keyword)}">{$document->getTitle($module_info->title_length)}</a>
						<span class="fr">
							{@
								$commentCnt = $document->getCommentCount();
								$trackbackCnt = $document->getTrackbackCount();
							}
							<em cond="$commentCnt" class="reply" title="Replies">+{$commentCnt}</em><em cond="$trackbackCnt" class="trackback" title="Trackbacks">({$trackbackCnt})</em>
							{$document->printExtraImages(60*60*$module_info->duration_new)}
						</span>
					</div>
				<!--@break-->
				<!--@case('nick_name')-->
				<!--@case('user_name')-->
					{@
						$mbsl = $document->get('member_srl');
						$home = $document->get('homepage');
						$nick = (!$mbsl||$key=='nick_name')?$document->getNickName():$document->getUserName();
					}
					<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
					<strong cond="!$mbsl && !$home">{$nick}</strong>
					<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
				<!--@break-->
				<!--@case('custom_status')-->
					{$lsttk&&$lsttk=='notice'?$lang->notice:$custom_status[(int)$document->get('is_notice')]}
				<!--@break-->
				<!--@case('voted_count')-->
				<!--@case('blamed_count')-->
					<!--@if($module_info->star_style!='N')-->
						{@
							$votedp = (int)$document->get('voted_count');
							$blamedp = (int)$document->get('blamed_count');
							$totalp = $votedp?(($votedp / ($votedp + abs($blamedp)) * 100) * 0.5):0;
						}
						<span cond="$dis_readed" class="scReadStar color{$module_info->star_style}" title="{$lang->readed_count}">{$document->get('readed_count')}</span>
						<span class="scVoteStar color{$module_info->star_style}" title="{$lang->voted_count}: {$votedp.'/'.$blamedp}"><em style="width:{$totalp}px"></em></span>
					<!--@else-->
						{$document->get($key)}
					<!--@endif-->
				<!--@break-->
				<!--@case('regdate')-->
				<!--@case('last_update')-->
					{($key=='regdate')?$document->getRegdate('Y-m-d'):zdate($document->get('last_update'))}
				<!--@break-->
				<!--@case('last_updater')-->
					<!--@if($dis_update && $dis_updater)-->
						<span cond="$document->get('last_updater')" title="{$lang->last_updater}">{zdate($document->get('last_update'),'y-m-d')} : <em>{$document->get('last_updater')}</em></span>
					<!--@else-->
						{$document->get($key)}
					<!--@endif-->
				<!--@break-->
				<!--@default-->
					{($list_config[$key]->idx > 0)?$document->getExtraValueHTML($list_config[$key]->idx):$document->get($key)}
			<!--@endswitch-->
		</td>
		<td cond="$grant->manager" class="scCheck"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" /></td>
	</tr>
	<tr cond="!$lsttk">
		<td scope="col" colspan="{$colcnt+2}" class="scBox clearBar">
		<!--// 표시안되는거 제거, 순서 변경, 임시컬럼추가 -->
		{@
			unset($show_columns['no']);
			unset($show_columns['category_srl']);
			unset($show_columns['nick_name']);
			unset($show_columns['user_name']);
			unset($show_columns['readed_count']);
			unset($show_columns['voted_count']);
			unset($show_columns['blamed_count']);
			unset($show_columns['custom_status']);
			unset($show_columns['thumbnail']);
			unset($show_columns['content']);
			unset($show_columns['regdate']);
			unset($show_columns['last_update']);
			unset($show_columns['last_updater']);

			$show_columns = array_merge(array('title'=>null,'mbAifo'=>null), $show_columns);
		}
			<div loop="$p_list => $no,$document" class="scItem clearBar" style="margin-right:{(int)$module_info->thumbnail_width+25}px;">
			{($document->document_srl==$document_srl)?'<b class="rArr">&rArr;</b>':''}
			{@
				$is_grant = $grant->view && (!$document->isSecret() || $document->isGranted());
				$purl = $oEntry->getUrl('','mid',$mid,'document_srl',$document->document_srl,'sort_index',$sort_index,'order_type',$order_type,'search_target',$search_target,'search_keyword',$search_keyword);
			}
				<a href="{$purl}">
					<!--@if($is_blind || !$is_grant)-->
						<img class="thum" src="img/common/thum_{$is_blind?'blind':'secret'}.png" alt="{$is_blind?'blind':'secret'}" title="{$is_blind?'blind':'secret'}" height="{$module_info->thumbnail_height}" width="{$module_info->thumbnail_width}"/>
					<!--@else-->
						<!--@if($document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->
							<img class="thum" src="{$document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}" border="0" alt=""/>
						<!--@else-->
							<img class="thum" src="img/common/thum_no.png" alt="no image" title="no image" height="{$module_info->thumbnail_height}" width="{$module_info->thumbnail_width}"/>
						<!--@endif-->
					<!--@endif-->
				</a>
				<ul class="scInfo clearBar" style="margin-left:{(int)$module_info->thumbnail_width+25}px;">
					<li loop="$show_columns => $key,$val" cond="$key" class="{$key}" style="color:{$val->color}"|cond="$val->color">
						<!--@switch($key)-->
							<!--@case('title')-->
								<div class="scEllipsis"|cond="$is_ellipsis">
									<a href="{$purl}" style="margin-right:-{(int)$module_info->thumbnail_width+25}px;">{$document->getTitle($module_info->title_length)}</a>
									<span class="fr">
										{@
											$commentCnt = $document->getCommentCount();
											$trackbackCnt = $document->getTrackbackCount();
										}
										<em cond="$commentCnt" class="reply" title="Replies">+{$commentCnt}</em><em cond="$trackbackCnt" class="trackback" title="Trackbacks">({$trackbackCnt})</em>
										{$document->printExtraImages(60*60*$module_info->duration_new)}
										<block cond="$module_info->addon_pang_pang == 'Y'">
											{@ $arr_extra = unserialize($document->get('extra_vars'))}
											<block cond="is_array($arr_extra) && $arr_extra->ppang && $arr_extra->ppang->d->p > 0">
												{@$pangpang_point = sprintf($lang->bonus_pang_pang, $arr_extra->ppang->d->p)}
												<img class="scIcoSet coin" src="img/common/blank.gif" title="{$pangpang_point}" alt="{$pangpang_point}" />
											</block>
										</block>
									</span>
								</div>
							<!--@break-->
							<!--@case('mbAifo')-->
								<span cond="$dis_status" class="custom_status">[{$custom_status[(int)$document->get('is_notice')]}]</span>
								<block cond="$dis_category">
									{@ $cate = $is_cate?$category_list[$document->get('category_srl')]:false }
									<a cond="$cate" class="category_srl" href="{$oEntry->getUrl('','mid',$mid,'category_srl',$cate->category_srl)}" title="{htmlspecialchars($cate->description)}" style="color:{$cate->color}"|cond="$cate->color!='transparent'">{$cate->title}:</a>
									<span cond="!$cate" class="category_srl">{$lang->none_category}:</span>
								</block>
								<block cond="$dis_name">
									{@
										$mbsl = $document->get('member_srl');
										$home = $document->get('homepage');
										$nick = (!$mbsl||$dis_name=='nick_name')?$document->getNickName():$document->getUserName();
									}
									<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
									<strong cond="!$mbsl && !$home">{$nick}</strong>
									<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
								</block>
								<block cond="$dis_voted || $dis_blamed">
									<!--@if($module_info->star_style!='N')-->
										{@
											$votedp = (int)$document->get('voted_count');
											$blamedp = (int)$document->get('blamed_count');
											$totalp = $votedp?(($votedp / ($votedp + abs($blamedp)) * 100) * 0.5):0;
										}
										<span class="scVoteStar color{$module_info->star_style} fr" title="{$lang->voted_count}: {$votedp.'/'.$blamedp}"><em style="width:{$totalp}px"></em></span>
									<!--@else-->
										<span class="fr" style="margin-left:5px">{$lang->voted_count}: {$document->get('voted_count').'/'.$document->get('blamed_count')}</span>
									<!--@endif-->
								</block>
								<block cond="$dis_readed">
									<!--@if($module_info->star_style!='N')-->
										<span class="scReadStar color{$module_info->star_style} fr" title="{$lang->readed_count}">{$document->get('readed_count')}</span>
									<!--@else-->
										<span class="fr">{$lang->readed_count}: {$document->get('readed_count')}</span>
									<!--@endif-->
								</block>
							<!--@break-->
							<!--@default-->
								<label>{$val->name}:</label> <span>{($list_config[$key]->idx > 0)?$document->getExtraValueHTML($list_config[$key]->idx):$document->get($key)}</span>
						<!--@endswitch-->
					</li>
					<li class="content" style="color:{$list_config['content']->color}"|cond="$list_config['content']->color">
						{$document->getSummary($module_info->summary_length)}
					</li>
				</ul>
				<div class="wzdate" style="margin-right:-{(int)$module_info->thumbnail_width+25}px;">
					{@ $t_cnt = count($dis_foot)}
					<block loop="$dis_foot=>$key,$val">
						<label>{$val=='last_updater'?($document->get($val)?'by':''):($list_config[$val]->name.':')}</label>
						<span>{$val=='last_updater'?$document->get($val):zdate($document->get($val), ($val=='regdate'?'Y-m-d':'Y-m-d h:i:s'))}</span>
						<span cond="$val=='last_updater'">/</span>
					</block>
					<span cond="$grant->manager" class="scCheck"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" /></span>
				</div>
			</div>
		</td>
	</tr>
</tbody>
<tbody cond="!count($document_list)"><tr><td colspan="{$colcnt+2}">{$lang->no_documents}</td></tr></tbody>
</table>
<!-- /LIST -->

<include target="_etc.pagination.html" />
