
{@
	$dis_readed = $list_config['readed_count']->display == 'Y';
	$dis_voted = $list_config['voted_count']->display == 'Y';
	$dis_blamed = $list_config['blamed_count']->display == 'Y';
	$dis_status = $list_config['custom_status']->display == 'Y';

	$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':0;
	$dis_name = $dis_name?$dis_name:$list_config['user_name']->display == 'Y';

	$dis_update = $list_config['last_update']->display == 'Y';
	$dis_updater = $list_config['last_updater']->display == 'Y';
	$dis_update && $dis_updater ? $list_config['last_update']->display = 'N' : 0;

	$list_config['content']->display = 'N';
	$list_config['comment']->display = 'N';
	$list_config['thumbnail']->display = 'N';

	$module_info->star_style!='N' ? $list_config['blamed_count']->display = 'N' : 0;
	$module_info->star_style!='N' && $dis_voted ? $list_config['readed_count']->display = 'N' : 0;

	$lang->short_readed_count ? $list_config['readed_count']->name = $lang->short_readed_count : 0;
	$lang->short_blamed_count ? $list_config['blamed_count']->name = $lang->short_blamed_count : 0;
	$lang->short_voted_count ? $list_config['voted_count']->name = $lang->short_voted_count : 0;
	$module_info->star_style!='N' ? $list_config['voted_count']->name = $lang->star_column : 0;

	$colcnt = 0;
	$show_columns = array();
	$is_cate = count($category_list);
	$a_lsttp = array('notice'=>&$notice_list,'best'=>&$best_list,''=>&$document_list);
}

<block loop="$list_config => $key,$val" cond="$val->display=='Y'">
	{@
		$colcnt += $val->idx<0?1:0;
		$show_columns[$key] = $val;
	}
</block>

<table class="scTable scWebz" width="100%" border="0" cellspacing="0" summary="List of document" style="border-bottom:0">
<thead class="scOneCol">
	<tr>
		<th scope="row" colspan="{$colcnt}">
			<span loop="$show_columns => $key,$val" cond="$val->sort == 'Y'" class="sort">
				<a href="{$oEntry->getUrl('sort_index',$key,'order_type',($order_type!='asc'?'asc':'desc'))}">{$val->name}<em class="asc"|cond="$sort_index==$key&&$order_type=='asc'">&nbsp;</em></a>
			</span>
		</th>
		<th cond="$grant->manager" class="scCheck sort"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" /></th>
	</tr>
</thead>
<tbody loop="$a_lsttp => $lsttk,$p_list" cond="count($p_list)" class="{$lsttk}">
	<tr cond="$lsttk" loop="$p_list => $no,$document">
		<td loop="$show_columns => $key,$val" cond="$val->idx<0" scope="col" class="{$key}" style="color:{$val->color}"|cond="$val->color">
			<!--@switch($key)-->
				<!--@case('no')-->
					{@ $no = $lsttk?'<img src="img/common/label_'.$lsttk.'.gif" />':$no}
					{($document->document_srl==$document_srl)?'<b class="rArr">&rArr;</b>':$no}
				<!--@break-->
				<!--@case('category_srl')-->
					{@ $cate = $is_cate?$category_list[$document->get('category_srl')]:0 }
					<a cond="$cate" href="{$oEntry->getUrl('','mid',$mid,'category_srl',$cate->category_srl)}" title="{htmlspecialchars($cate->description)}" style="color:{$cate->color}"|cond="$cate->color!='transparent'">{$cate->title}</a>
					<span cond="!$cate">{$lang->none_category}</span>
				<!--@break-->
				<!--@case('title')-->
					<div class="scEllipsis"|cond="$is_ellipsis">
						<a href="{$oEntry->getUrl('','mid',$mid,'document_srl',$document->document_srl,'sort_index',$sort_index,'order_type',$order_type,'search_target',$search_target,'search_keyword',$search_keyword)}">{$document->getTitle($module_info->title_length)}</a>
						<span class="fr">
							{@
								$commentCnt = $document->getCommentCount();
								$trackbackCnt = $document->getTrackbackCount();
							}
							<em cond="$commentCnt" class="reply" title="Replies">+{$commentCnt}</em><em cond="$trackbackCnt" class="trackback" title="Trackbacks">({$trackbackCnt})</em>
							{$document->printExtraImages(60*60*$module_info->duration_new)}
						</span>
					</div>
				<!--@break-->
				<!--@case('nick_name')-->
				<!--@case('user_name')-->
					{@
						$mbsl = $document->get('member_srl');
						$home = $document->get('homepage');
						$nick = (!$mbsl||$key=='nick_name')?$document->getNickName():$document->getUserName();
					}
					<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
					<strong cond="!$mbsl && !$home">{$nick}</strong>
					<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
				<!--@break-->
				<!--@case('custom_status')-->
					{$lsttk&&$lsttk=='notice'?$lang->notice:$custom_status[(int)$document->get('is_notice')]}
				<!--@break-->
				<!--@case('voted_count')-->
				<!--@case('blamed_count')-->
					<!--@if($module_info->star_style!='N')-->
						{@
							$votedp = (int)$document->get('voted_count');
							$blamedp = (int)$document->get('blamed_count');
							$totalp = $votedp?(($votedp / ($votedp + abs($blamedp)) * 100) * 0.5):0;
						}
						<span cond="$dis_readed" class="scReadStar color{$module_info->star_style}" title="{$lang->readed_count}">{$document->get('readed_count')}</span>
						<span class="scVoteStar color{$module_info->star_style}" title="{$lang->voted_count}: {$votedp.'/'.$blamedp}"><em style="width:{$totalp}px"></em></span>
					<!--@else-->
						{$document->get($key)}
					<!--@endif-->
				<!--@break-->
				<!--@case('regdate')-->
				<!--@case('last_update')-->
					{($key=='regdate')?$document->getRegdate('Y-m-d'):zdate($document->get('last_update'))}
				<!--@break-->
				<!--@case('last_updater')-->
					<!--@if($dis_update && $dis_updater)-->
						<span cond="$document->get('last_updater')" title="{$lang->last_updater}">{zdate($document->get('last_update'),'y-m-d')} : <em>{$document->get('last_updater')}</em></span>
					<!--@else-->
						{$document->get($key)}
					<!--@endif-->
				<!--@break-->
				<!--@default-->
					{($list_config[$key]->idx > 0)?$document->getExtraValueHTML($list_config[$key]->idx):$document->get($key)}
			<!--@endswitch-->
		</td>
		<td cond="$grant->manager" class="scCheck"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" checked="checked"|cond="$document->isCarted()" /></td>
	</tr>
</tbody>
<tbody cond="!count($document_list)"><tr><td colspan="{$colcnt+2}">{$lang->no_documents}</td></tr></tbody>
</table>

{@ $document_srl?$document_list=array($oDocument):0}

<div cond="count($document_list)" loop="$document_list => $no,$document" class="scView scBook" data-doc-srl="{$document->document_srl}">
<!-- /LIST -->
	{@
		$oDocument = &$document;
		$is_granted = $oDocument->isGranted();
		$is_secret = $grant->view && $oDocument->isSecret();
		(!$is_secret || $is_granted)?$oDocument->updateReadedCount():0;
	}

	<div class="scBookfrm clearBar">
		<div class="scPage prev"><a cond="$page && $page > 1" href="{$oEntry->getUrl('document_srl','','comment_srl','','page',$page-1)}"><span></span><span></span></a></div>

		<ul class="scFrm">
			<li class="mbAifo title clearBar">
				<div>
					<strong><a href="{$oDocument->getPermanentUrl()}">{$oDocument->getTitle()}</a></strong>
					<span class="fr">
						{$document->printExtraImages(60*60*$module_info->duration_new)}
						<block cond="$module_info->addon_pang_pang == 'Y'">
							{@ $arr_extra = unserialize($document->get('extra_vars'))}
							<block cond="is_array($arr_extra) && $arr_extra->ppang && $arr_extra->ppang->d->p > 0">
								{@$pangpang_point = sprintf($lang->bonus_pang_pang, $arr_extra->ppang->d->p)}
								<img class="scIcoSet coin" src="img/common/blank.gif" title="{$pangpang_point}" alt="{$pangpang_point}" />
							</block>
						</block>
						{@ $cate = count($category_list)?$category_list[$oDocument->get('category_srl')]:0 }
						<em cond="$cate" title="{htmlspecialchars($cate->description)}" style="color:{$cate->color}"|cond="$cate->color!='transparent'">
							[{$cate->title}]
						</em>
					</span>
				</div>
			</li>
			<li class="mbAifo clearBar">
				<div>
					<img cond="$is_secret" class="scIcoSet secret" src="img/common/blank.gif" />
					<span cond="$dis_status">[{$custom_status[(int)$oDocument->get('is_notice')]}]</span>
					<block cond="$dis_name">
						{@
							$mbsl = $oDocument->get('member_srl');
							$home = $oDocument->get('homepage');
							$nick = (!$mbsl||$dis_name=='nick_name')?$oDocument->getNickName():$oDocument->getUserName();
						}
						<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
						<strong cond="!$mbsl && !$home">{$nick}</strong>
						<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
					</block>
					<span cond="$module_info->display_ip_address == 'Y'" class="ipAddress">(IP: {$oDocument->getIpaddress()})</span>
					<span class="scCntIfo fr">
						<block cond="$dis_voted || $dis_blamed || $dis_readed">
							<!--@if($module_info->star_style!='N')-->
								{@
									$votedp = (int)$oDocument->get('voted_count');
									$blamedp = (int)$oDocument->get('blamed_count');
									$totalp = $votedp?(($votedp / ($votedp + abs($blamedp)) * 100) * 0.5):0;
								}
								<span class="scVoteStar color{$module_info->star_style} fr" title="{$lang->voted_count}: {$votedp.'/'.$blamedp}"><em style="width:{$totalp}px"></em></span>
								<span cond="$dis_readed" class="scReadStar color{$module_info->star_style} fr" title="{$lang->readed_count}">{$oDocument->get('readed_count')}</span>
							<!--@else-->
								<block cond="$dis_readed">
									<span>{$lang->readed_count}:</span>
									<span>{$oDocument->get('readed_count')},</span>
								</block>
								<block cond="$dis_voted || $dis_blamed">
									<span>{$lang->voted_count}:</span>
									<span>{$oDocument->get('voted_count').'/'.$oDocument->get('blamed_count')},</span>
								</block>
							<!--@endif-->
						</block>
						<span title="{$lang->last_update}">{zdate($oDocument->get('last_update'))}</span>
					</span>
				</div>
			</li>
		</ul>
		<span cond="$grant->manager" class="scCheck"><input type="checkbox" name="cart" value="{$oDocument->document_srl}" onclick="doAddDocumentCart(this)" checked="checked"|cond="$oDocument->isCarted()" /></span>

		<div class="scConDoc">
			<form cond="$is_secret && !$is_granted" ruleset="checkPassword" action="./" method="post" class="conSecret">
			<input type="hidden" name="document_srl" value="{$oDocument->get('document_srl')}" />
			<input type="hidden" name="act" value="procBoardVerificationPassword" />
			<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
			<div class="btnArea">
				<span class="btn25 black"><input type="password" name="password" /></span>
				<span class="btn25 black"><input type="submit" value="{$lang->cmd_input}" accesskey="s" /></span>
			</div>
			</form>

			{$oDocument->getContent(false)}
		</div>

		<div class="tacAcom">
			<span cond="$oDocument->allowTrackback()" class="trackbackURL"><a class="scClipboard" rel="href" href="{$oDocument->getTrackbackUrl()}" onclick="return false;">{$oDocument->getTrackbackUrl()}</a></span>
			<span class="fr">
				<block cond="$oDocument->allowTrackback() || $oDocument->getTrackbackCount()">
					<a href="#scToggle" class="scToggle" rel="#trackback_parent">{$lang->trackback}</a>
					<em>{$oDocument->getTrackbackCount()}</em>
				</block>
				<block cond="$oDocument->allowComment() || $oDocument->getCommentcount()">
					<a href="#scToggle" class="scToggle" rel="#comment_parent">{$lang->comment}</a>
					<em>{$oDocument->getCommentcount()}</em>
					<a cond="$grant->write_comment && $oDocument->isEnableComment() && $oDocument->allowComment()" href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWriteComment','comment_srl','','document_srl',$oDocument->get('document_srl'))}" class="modalAnchor btnWt"|cond="$use_modal_window" rel="insert" rev="comment" accesskey="c">{$lang->cmd_write}</a>
				</block>
			</span>
		</div>

		<div class="scPage next"><a cond="$page_navigation && $page<$page_navigation->last_page" href="{$oEntry->getUrl('document_srl','','comment_srl','','page',$page+1)}"><span></span><span></span></a></div>
	</div>

	<div class="btnArea">
		<span cond="$is_granted || !$oDocument->get('member_srl')" class="btn25 black"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWrite','document_srl',$oDocument->get('document_srl'))}" class="modalAnchor"|cond="$use_modal_window" rel="update">{$lang->cmd_modify}</a></span>
		<span cond="$is_granted || !$oDocument->get('member_srl')" class="btn25 black"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardDelete','document_srl',$oDocument->get('document_srl'))}" class="modalAnchor"|cond="$use_modal_window" rel="delete">{$lang->cmd_delete}</a></span>
	</div>

	<!-- TRACKBACK -->
	<div id="trackback_parent" style="display:none;"><include cond="$oDocument->allowTrackback() || $oDocument->getTrackbackcount()" target="_viw.trackback.html" /></div>
	<!-- /TRACKBACK -->

	<!-- COMMENT -->
	<div id="comment_parent" style="display:none;"|cond="!$comment_srl"><include cond="$oDocument->allowComment() || $oDocument->getCommentcount()" target="_viw.comment.html" /></div>
	<!-- /COMMENT -->

<!-- /LIST -->
</div>

<include target="_etc.pagination.html" />

<script type="text/javascript">
	jQuery(function($){
		<!--@if($comment_srl)-->
		$('#comment li#comment_{$comment_srl}').scrollIntoView();
		<!--@endif-->
		$(document).keypress(function(e){if(!$(e.target).is('input, textarea, button') && e.charCode == 13){var href = $('.scPage.next a').attr('href'); if(href) location.href = href}});
	});
</script>
