
<div class="scLtitle">
	<span>{$lang->document.' '.$lang->no}: {$document_srl} - {$lang->confirm_delete}</span>
</div>

<!--@if($XE_VALIDATOR_MESSAGE == 'msg_not_permitted')-->
	{@
		$validator = new Validator($tpl_path.'../../ruleset/checkPassword.xml');
		$validator->setCacheDir('files/cache');
	}
	<input type="hidden" name="ruleset" value="checkPassword" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<input type="hidden" name="act" value="procBoardVerificationPassword" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

		<div>
			<span class="btn25 black"><input type="password" name="password" /></span>
			<span class="btn25 black"><input type="submit" value="{$lang->cmd_input}" accesskey="s" onclick="xSetCookie('write_mode','delete',null,'/')" /></span>
			<span class="btn25"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('','mid',$mid,'act','','document_srl',$document_srl,'comment_srl','','parent_srl','')}" class="btnModalClose"|cond="$use_modal_window">{$lang->cmd_back}</a></span>
		</div>

<!--@else-->
	{@
		$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;

		$validator = new Validator($tpl_path.'../../ruleset/deleteDocument.xml');
		$validator->setCacheDir('files/cache');
	}
<div class="scWrite">

	<input type="hidden" name="ruleset" value="deleteDocument" />
	<input type="hidden" name="act" value="procBoardDeleteDocument" />
	<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />

		<div class="scCpar clearBar">
			<h3 class="author">
				{@
					$mbsl = $oDocument->get('member_srl');
					$home = $oDocument->get('homepage');
					$nick = (!$mbsl||$dis_name=='nick_name')?$oDocument->getNickName():$oDocument->getUserName();
				}
				<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
				<strong cond="!$mbsl && !$home">{$nick}</strong>
				<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
			</h3>
			<div class="clearBar">
				{$oDocument->getContent(false)}
			</div>
		</div>

		<div class="btnArea" style="margin-bottom:0"|cond="$use_modal_window">
			<span class="btn25"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('','mid',$mid,'act','','document_srl',$document_srl,'comment_srl','','parent_srl','')}" class="btnModalClose"|cond="$use_modal_window">{$lang->cmd_back}</a></span>
			<span class="btn25 black"><button type="submit" accesskey="s">{$lang->document} {$lang->cmd_delete}</button></span>
		</div>

</div>

<!--@endif-->

<script type="text/javascript" src="{$validator->getJsPath()}"></script>
