
{@ $is_doc = $oDocument && $oDocument->isExists()}

<div class="scLtitle">
	<span cond="$is_doc">{$lang->document.' '.$lang->no}: {$document_srl}</span>
	<span cond="!$is_doc">{$lang->new_document}</span>
</div>

<!--@if($XE_VALIDATOR_MESSAGE == 'msg_not_permitted')-->
	{@
		$validator = new Validator($tpl_path.'../../ruleset/checkPassword.xml');
		$validator->setCacheDir('files/cache');
	}
	<input type="hidden" name="ruleset" value="checkPassword" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<input type="hidden" name="act" value="procBoardVerificationPassword" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

		<div>
			<span class="btn25 black"><input type="password" name="password" /></span>
			<span class="btn25 black"><input type="submit" value="{$lang->cmd_input}" accesskey="s" onclick="xSetCookie('write_mode','update',null,'/')" /></span>
			<span class="btn25"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('','mid',$mid,'act','','document_srl',$document_srl,'comment_srl','','parent_srl','')}" class="btnModalClose"|cond="$use_modal_window">{$lang->cmd_back}</a></span>
		</div>

<!--@else-->
	{@
		$validator = new Validator($tpl_path.'../../ruleset/insertDocument.xml');
		$validator->setCacheDir('files/cache');
	}

<div class="scWrite">

	<input type="hidden" name="ruleset" value="insertDocument" />
	<input type="hidden" name="act" value="procBoardInsertDocument" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<input type="hidden" name="content" value="{$is_doc?$oDocument->getContentText():htmlspecialchars($module_info->document_default_content)}" />

		<div cond="!$is_logged" class="scWuser clearBar">
			<label class="scLabEdit">
				<span>Name</span>
				<input type="text" name="nick_name" maxlength="80" value="{htmlspecialchars($oDocument->get('nick_name'))}" />
			</label>
			<label class="scLabEdit">
				<span>Pass</span>
				<input type="password" name="password" value="" />
			</label>
			<label class="scLabEdit">
				<span>Email</span>
				<input type="text" name="email_address" maxlength="250" value="{htmlspecialchars($oDocument->get('email_address'))}" />
			</label>
			<label class="scLabEdit">
				<span>Home</span>
				<input type="text" name="homepage" maxlength="250" value="{htmlspecialchars($oDocument->get('homepage'))}" />
			</label>
		</div>
		<block cond="$is_logged">
			<input type="hidden" name="nick_name" value="0" />
			<input type="hidden" name="password" value="0" />
		</block>

		<ul class="scWul">
			<li cond="$category_list" class="scWli clearBar">
				<label for="category_srl">{$lang->category}</label>
				{@
					$hidden_catesrl = (int)($category_srl?$category_srl:$oDocument->get('category_srl'));
					$category_list[$hidden_catesrl]->grant ? 0 : $hidden_catesrl = 0;
				}
				<input type="hidden" name="category_srl" value="{$hidden_catesrl}" />
				<select class="scWcateList">
					{@ $sub_cate_list_1 = array()}
					<option loop="$category_list => $val" cond="!$val->depth&&$val->grant" value="{$val->category_srl}">
						{@ $sub_cate_list_1[$val->category_srl] = $val->childs}
						{$val->title.($val->total_document_count?'&nbsp;('.$val->total_document_count.')':'')}
					</option>
				</select>
				{@ $sub_cate_list_2 = array()}
				<block loop="$sub_cate_list_1=>$key,$val_list">
					<select cond="count($val_list)" class="scWcateList" rev="{$key}" style="display:none">
						<block loop="$val_list => $val">
							{@ $val = $category_list[$val]}
							<option cond="(int) $val->depth === 1&&$val->grant" value="{$val->category_srl}">
								{@ $sub_cate_list_2[$val->category_srl] = $val->childs}
								{$val->title.($val->total_document_count?'&nbsp;('.$val->total_document_count.')':'')}
							</option>
						</block>
					</select>
				</block>
				<block loop="$sub_cate_list_2=>$key,$val_list">
					<select cond="count($val_list)" class="scWcateList" rev="{$key}" style="display:none">
						<block loop="$val_list => $val">
							{@ $val = $category_list[$val]}
							<option value="{$val->category_srl}" cond="$val->grant">
								{$val->title.($val->total_document_count?'&nbsp;('.$val->total_document_count.')':'')}
							</option>
						</block>
					</select>
				</block>
			</li>
			<li class="scWli clearBar">
				<label for="title">{$lang->title}</label>
				<input type="text" name="title" id="title" maxlength="250" value="{htmlspecialchars($is_doc?$oDocument->getTitleText():$module_info->document_default_title)}" />
			</li>
		</ul>

		<div class="scWul clearBar">
			<block cond="$grant->manager">
				{@ $_color = array('555555','222288','226622','2266EE','8866CC','88AA66','EE2222','EE6622','EEAA22','EEEE22') }
				<select name="title_color" style="background-color:#{$oDocument->get('title_color')};"|cond="$oDocument->get('title_color')" onchange="this.style.backgroundColor=this.options[this.selectedIndex].style.backgroundColor;">
						<option value="" style="background-color:#FFFFFF;">{$lang->title_color}</option>
						<option loop="$_color => $col" value="{$col}" style="background-color:#{$col}" selected="selected"|cond="$oDocument->get('title_color')==$col">{$lang->title_color}</option>
				</select>
				<label>
					<input type="checkbox" name="title_bold" value="Y" checked="checked"|cond="$oDocument->get('title_bold')=='Y'" />
					{$lang->title_bold}
				</label>
				<label>
					<input type="checkbox" name="is_notice" value="Y" checked="checked"|cond="$oDocument->isNotice()" />
					{$lang->notice}
				</label>
			</block>
			<label cond="$is_logged">
				<input type="checkbox" name="notify_message" value="Y" checked="checked"|cond="$oDocument->useNotify()" />
				{$lang->notify}
			</label>
			<label>
				<input type="checkbox" name="comment_status" value="ALLOW" checked="checked"|cond="$oDocument->allowComment()" />
				{$lang->allow_comment}
			</label>
			<label>
				<input type="checkbox" name="allow_trackback" value="Y" checked="checked"|cond="$oDocument->allowTrackback()" />
				{$lang->allow_trackback}
			</label>

			{@ $use_status = explode(',', $module_info->use_status)}
			<label cond="count($use_status) > 1" class="fr">
				<select name="status">
					<option loop="$use_status => $value" value="{$value}" selected="selected"|cond="$oDocument->get('status') == $value">{Context::getLang(strtolower($value))}</option>
				</select>
			</label>
			<input cond="count($use_status) === 1 && $use_status[0]" type="hidden" name="status" value="{$use_status[0]}" />

			<label cond="$grant->manager && $module_info->custom_status" class="fr">
				{@ $custom_status = explode(',',$module_info->custom_status)}
				{$lang->status}
				<select name="custom_status">
					<option loop="$custom_status => $key,$value" value="{$key}" selected="selected"|cond="(int)$oDocument->get('is_notice') == $key">{$value}</option>
				</select>
			</label>
		</div>

		<ul cond="count($extra_keys)" class="scWul extraKeys">
			<li loop="$extra_keys => $key,$val" class="scWli">
				<label>{$val->name} <span cond="$val->is_required=='Y'" class="required">*</span></label>
				{$val->getFormHTML()}
			</li>
		</ul>

		<div class="editor clearBar">
			{$oDocument->getEditor()}
		</div>

		<div class="scWtag">
			<label class="scLabEdit clearBar" id="insert_filelink">
				<span title="{htmlspecialchars($lang->about_upload_filelink)}">Link</span>
				<input type="text" value="" style="width:80%" />
				<span class="btn25 blue small"><a href="#insert_filelink" rel="{$editor_sequence}" rev="{$document_srl}">{$lang->upload_filelink}</a></span>
			</label>
			<label class="scLabEdit clearBar">
				<span title="{htmlspecialchars($lang->about_tag)}">Tags</span>
				<input type="text" name="tags" value="{htmlspecialchars($oDocument->get('tags'))}" />
			</label>
		</div>

		<div class="btnArea" style="margin-bottom:0"|cond="$use_modal_window">
			<div class="fl">
				<span class="btn25 blue"><button onclick="doDocumentPreview(this); return false;">{$lang->cmd_preview}</button></span>
				<block cond="$is_logged && (!$oDocument->isExists() || $oDocument->get('status') == 'TEMP')">
					<span class="btn25 blue"><button onclick="doDocumentSave(this); return false;">{$lang->cmd_temp_save}</button></span>
					<span class="btn25 blue"><button onclick="doDocumentLoad(this); return false;">{$lang->cmd_load}</button></span>
				</block>
			</div>
			<div class="fr">
				<span class="btn25"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('','mid',$mid,'act','','document_srl',$document_srl,'comment_srl','','parent_srl','')}" class="btnModalClose"|cond="$use_modal_window">{$lang->cmd_back}</a></span>
				<span cond="!$is_doc" class="btn25 black"><button type="submit" accesskey="r" onclick="xSetCookie('write_mode','insert',null,'/')">{$lang->cmd_repeat_write}</button></span>
				<span class="btn25 black"><button type="submit" accesskey="s" onclick="xSetCookie('write_mode','',null,'/')">{$lang->document} {Context::getLang('cmd_'.($is_doc?'update':'registration'))}</button></span>
			</div>
		</div>

</div>

<!--@endif-->

<script type="text/javascript" src="{$validator->getJsPath()}"></script>
<script type="text/javascript" src="js/write.js"></script>
