
{@
	$is_com = $oComment && $oComment->isExists();
	$is_par = !$is_com && $oSourceComment && $oSourceComment->isExists();
}

<div class="scLtitle">
	<span cond="$is_com || $is_par">{$lang->comment.' '.$lang->no}: {$is_par?$oSourceComment->comment_srl.' - ':$comment_srl}</span>
	<span cond="!$is_com">{$lang->new_comment}</span>
</div>

<!--@if($XE_VALIDATOR_MESSAGE == 'msg_not_permitted')-->
	{@
		$validator = new Validator($tpl_path.'../../ruleset/checkPassword.xml');
		$validator->setCacheDir('files/cache');
	}

	<input type="hidden" name="ruleset" value="checkPassword" />
	<input type="hidden" name="comment_srl" value="{$comment_srl}" />
	<input type="hidden" name="act" value="procBoardVerificationPassword" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

		<div>
			<span class="btn25 black"><input type="password" name="password" /></span>
			<span class="btn25 black"><input type="submit" value="{$lang->cmd_input}" accesskey="s" onclick="xSetCookie('write_mode','comment/update/{$comment_srl}',null,'/')" /></span>
			<span class="btn25"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('','mid',$mid,'act','','document_srl',$document_srl,'comment_srl',$parent_srl?$parent_srl:$comment_srl,'parent_srl','')}" class="btnModalClose"|cond="$use_modal_window">{$lang->cmd_back}</a></span>
		</div>

<!--@else-->
	{@
		$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;

		$validator = new Validator($tpl_path.'../../ruleset/insertComment.xml');
		$validator->setCacheDir('files/cache');
	}
<div class="scWrite">

	<input type="hidden" name="ruleset" value="insertComment" />
	<input type="hidden" name="act" value="procBoardInsertComment" />
	<input type="hidden" name="parent_srl" value="{$oSourceComment->comment_srl}" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<input type="hidden" name="comment_srl" value="{$oComment->comment_srl}" />
	<input type="hidden" name="content" value="{$oComment->getContentText()}" />

		<div cond="$is_par" class="scCpar clearBar">
			<h3 class="author">
				{@
					$mbsl = $oSourceComment->get('member_srl');
					$home = $oSourceComment->get('homepage');
					$nick = (!$mbsl||$dis_name=='nick_name')?$oSourceComment->getNickName():$oSourceComment->getUserName();
				}
				<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
				<strong cond="!$mbsl && !$home">{$nick}</strong>
				<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
			</h3>
			<div class="clearBar">
				{$oSourceComment->getContent(false)}
			</div>
		</div>

		<div cond="!$is_logged" class="scWuser clearBar">
			<label class="scLabEdit">
				<span>Name</span>
				<input type="text" name="nick_name" maxlength="80" value="{htmlspecialchars($oComment->get('nick_name'))}" />
			</label>
			<label class="scLabEdit">
				<span>Pass</span>
				<input type="password" name="password" value="" />
			</label>
			<label class="scLabEdit">
				<span>Email</span>
				<input type="text" name="email_address" maxlength="250" value="{htmlspecialchars($oComment->get('email_address'))}" />
			</label>
			<label class="scLabEdit">
				<span>Home</span>
				<input type="text" name="homepage" maxlength="250" value="{htmlspecialchars($oComment->get('homepage'))}" />
			</label>
		</div>
		<block cond="$is_logged">
			<input type="hidden" name="nick_name" value="0" />
			<input type="hidden" name="password" value="0" />
		</block>

		<div class="scWul clearBar">
			<label cond="$is_logged">
				<input type="checkbox" name="notify_message" value="Y" />
				{$lang->notify}
			</label>
			{@
				$use_status = explode(',', $module_info->use_c_status);
				$status = $oComment->get('is_secret') == 'Y'?'SECRET':'PUBLIC';
			}

			<label cond="count($use_status) > 1" class="fr">
				<select name="status">
					<option loop="$use_status => $value" value="{$value}" selected="selected"|cond="$status == $value">{Context::getLang(strtolower($value))}</option>
				</select>
			</label>
			<input cond="count($use_status) === 1 && $use_status[0]" type="hidden" name="status" value="{$use_status[0]}" />
		</div>

		<div class="editor">{$oComment->getEditor()}</div>

		<div class="btnArea" style="margin-bottom:0"|cond="$use_modal_window">
			<span class="btn25"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('','mid',$mid,'act','','document_srl',$document_srl,'comment_srl',$parent_srl?$parent_srl:$comment_srl,'parent_srl','')}" class="btnModalClose"|cond="$use_modal_window">{$lang->cmd_back}</a></span>
			<span class="btn25 black"><button type="submit" accesskey="s">{$lang->comment} {Context::getLang('cmd_'.($is_com?'update':'registration'))}</button></span>
		</div>

</div>

<!--@endif-->

<script type="text/javascript" src="{$validator->getJsPath()}"></script>
