
{@ $trackback_list = $oDocument->getTrackbackCount() ? $oDocument->getTrackbacks() : array()}

<div class="scFback clearBar" id="trackback"><a name="trackback"></a>
	<div class="fbHeader scToggle" rel="#trackback ul.scFrm">
		<h2>{$lang->trackback} <em>{$oDocument->getTrackbackCount()}</em></h2>
		<p cond="$oDocument->allowTrackback()" class="trackbackURL"><a class="scClipboard" rel="href" href="{$oDocument->getTrackbackUrl()}" onclick="return false;">{$oDocument->getTrackbackUrl()}</a></p>
	</div>

	<ul cond="count($trackback_list)" class="scFrm">
		<li class="fbItem" loop="$trackback_list=>$key,$val" id="trackback_{$val->trackback_srl}">
			<div class="fbMeta">
				<h3 class="author"><a href="{$val->url}" title="{htmlspecialchars($val->blog_name)}" target="_blank">{htmlspecialchars($val->blog_name)}</a></h3>
				<p class="time">{zdate($val->regdate, "Y.m.d H:i")}</p>
			</div>
			<p class="xe_content"><strong>{htmlspecialchars($val->title)}</strong> {$val->excerpt}</p>
			<p class="action" cond="$grant->manager"><a href="#trackback_action" data-srl="{$val->trackback_srl}" class="delete">{$lang->cmd_delete}</a></p>
		</li>
	</ul>
</div>
