<!-- DOCUMENT -->
{@
	$dis_status = $list_config['custom_status']->display == 'Y';
	$dis_readed = $list_config['readed_count']->display == 'Y';
	$dis_voted = $list_config['voted_count']->display == 'Y';
	$dis_blamed = $list_config['blamed_count']->display == 'Y';

	$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;

	$is_granted = $oDocument->isGranted();
	$is_secret = $grant->view && $oDocument->isSecret();
	$extra_key_list = ((!$is_secret || $is_granted) && $oDocument->isExtraVarsExists()) ? $oDocument->getExtraVars() : array();
	$tag_list = (!$is_secret || $is_granted) ? $oDocument->get('tag_list') : array();
	$uploaded_file_list = ((!$is_secret || $is_granted) && $oDocument->hasUploadedFiles()) ? $oDocument->getUploadedFiles() : array();
}

<div class="scView">
	<ul class="scFrm hed">
		<li></li>
		{@ $cate = count($category_list)?$category_list[$oDocument->get('category_srl')]:0 }
		<li class="title">
			<div class="scEllipsis"|cond="$is_ellipsis">
				<strong class="scClipboard" rel="title" title="{$oDocument->getPermanentUrl()}">{$oDocument->getTitle($module_info->title_length)}</strong>
				<strong cond="$cate" class="fr" title="{htmlspecialchars($cate->description)}" style="color:{$cate->color}"|cond="$cate->color!='transparent'">[{$cate->title}]</strong>
			</div>
		</li>
	</ul>
	<ul class="scFrm top">
		<li class="mbAifo">
			<img cond="$is_secret" class="scIcoSet secret" title="Secret" src="img/common/blank.gif" />
			<span cond="$dis_status">[{$custom_status[(int)$oDocument->get('is_notice')]}]</span>
			<block cond="$dis_name">
				{@
					$mbsl = $oDocument->get('member_srl');
					$home = $oDocument->get('homepage');
					$nick = (!$mbsl||$dis_name=='nick_name')?$oDocument->getNickName():$oDocument->getUserName();
				}
				<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
				<strong cond="!$mbsl && !$home">{$nick}</strong>
				<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
			</block>
			<span cond="$module_info->display_ip_address == 'Y'" class="ipAddress">(IP: {$oDocument->getIpaddress()})</span>
			<div class="fr">
				<block cond="$dis_voted || $dis_blamed || $dis_readed">
					<!--@if($module_info->star_style!='N')-->
						{@
							$votedp = (int)$oDocument->get('voted_count');
							$blamedp = (int)$oDocument->get('blamed_count');
							$totalp = $votedp?(($votedp / ($votedp + abs($blamedp)) * 100) * 0.5):0;
						}
						<span class="scVoteStar color{$module_info->star_style} fr" title="{$lang->voted_count}: {$votedp.'/'.$blamedp}"><em style="width:{$totalp}px"></em></span>
						<span cond="$dis_readed" class="scReadStar color{$module_info->star_style} fr" title="{$lang->readed_count}">{$oDocument->get('readed_count')}</span>
					<!--@else-->
						<block cond="$dis_readed">
							<span>{$lang->readed_count}:</span>
							<span>{$oDocument->get('readed_count')},</span>
						</block>
						<block cond="$dis_voted || $dis_blamed">
							<span>{$lang->voted_count}:</span>
							<span>{$oDocument->get('voted_count').'/'.$oDocument->get('blamed_count')},</span>
						</block>
					<!--@endif-->
				</block>
				<span title="{$lang->last_update}">{zdate($oDocument->get('last_update'))} ({$oDocument->getRegdate('Y-m-d')})</span>
			</div>
		</li>
	</ul>
	<ul cond="$grant->view" class="scFrm">
		<li>
			<ul cond="count($extra_key_list)" class="scVext clearBar">
				<li loop="$extra_key_list=>$key,$val">
					<label>{$val->name}</label>
					{$val->getValueHTML()}
				</li>
			</ul>

			<div class="scConDoc clearBar">
				<form cond="$is_secret && !$is_granted" ruleset="checkPassword" action="./" method="post" class="conSecret">
					<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />
					<input type="hidden" name="act" value="procBoardVerificationPassword" />
					<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
					<div class="btnArea">
						<span class="btn25 black"><input type="password" name="password" /></span>
						<span class="btn25 black"><input type="submit" value="{$lang->cmd_input}" accesskey="s" /></span>
					</div>
				</form>

				{$oDocument->getContent(false)}
			</div>

			<div class="tRight clearBar">
				<span cond="$module_info->display_button_vote=='Y'" class="scVoteArea fl">
					<span class="btn25 small"><a href="#Recommend" onclick="doCallModuleAction('document','procDocumentVoteUp','{$oDocument->document_srl}'); return false"><em class="vote"></em> {$lang->short_voted_count} {$oDocument->get('voted_count')}</a></span>
					<span class="btn25 small"><a href="#Not_recommend" onclick="doCallModuleAction('document','procDocumentVoteDown','{$oDocument->document_srl}'); return false"><em class="blame"></em> {$lang->short_blamed_count} {$oDocument->get('blamed_count')}</a></span>
				</span>
				<a class="document_{$oDocument->document_srl} action" href="#popup_menu_area" onclick="return false">{$lang->cmd_document_do}</a>
				<ul cond="$module_info->display_button_sns != 'N'" class="scSns">
					<li class="twitter link"><a href="http://twitter.com/" target="_blank" rel="tw">Twitter</a></li>
					<li class="me2day link"><a href="http://me2day.net/" target="_blank" rel="me">Me2day</a></li>
					<li class="facebook link"><a href="http://facebook.com/" target="_blank" rel="fa">Facebook</a></li>
					<li class="delicious link"><a href="http://delicious.com/" target="_blank" rel="de">Delicious</a></li>
				</ul>
			</div>

			<div class="sign clearBar" cond="$module_info->display_sign!='N'&&($oDocument->getProfileImage()||$oDocument->getSignature())">
				<img cond="$oDocument->getProfileImage()" src="{$oDocument->getProfileImage()}" alt="Profile" class="pf" />
				<div cond="$oDocument->getSignature()" class="tx">{$oDocument->getSignature()}</div>
			</div>

			{@ $tag_cnt = count($tag_list)}
			<div cond="$tag_cnt" class="tags">
				<block loop="$i=0;$i<$tag_cnt;$i++"> {@ $tag = $tag_list[$i]}
					<span cond="$i">, </span><a href="{$oEntry->getUrl('','mid',$mid,'search_target','tag','search_keyword',$tag,'document_srl','')}" class="tag" rel="tag">{htmlspecialchars($tag)}</a>
				</block>
			</div>

			<div cond="$module_info->display_attached_files!='N'&&count($uploaded_file_list)" class="fileList">
				{@
					$module_info->display_attached_files?0:$module_info->display_attached_files='Y';
					$disfile_general = $module_info->display_attached_files=='Y'||$module_info->display_attached_files=='G';
					$disfile_media = $module_info->display_attached_files=='Y'||$module_info->display_attached_files=='M';
				}
				<ul class="files">
					<li loop="$uploaded_file_list=>$key,$file" cond="($disfile_general&&$file->direct_download!='Y')||($disfile_media&&$file->direct_download=='Y')" class="isvalid"|cond="$file->isvalid!='Y'" class="direct"|cond="$file->isvalid=='Y'&&$file->direct_download=='Y'">
						<a cond="!$file->file_size&&$file->isvalid=='Y'" href="{$file->uploaded_filename}" target="_blank">{$file->source_filename}<span class="fileSize fs8">(link)</span></a>
						<a cond="$file->file_size" href="{getUrl('')}{$file->download_url}">{$file->source_filename}<span class="fileSize fs8">({FileHandler::filesize($file->file_size)}/{number_format($file->download_count)})</span></a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<!-- /DOCUMENT -->

<div class="btnArea">
	<span class="btn25"><a href="{$oEntry->getUrl('act', '','document_srl','')}">{$lang->cmd_list}</a></span>
	<span cond="$is_granted || !$oDocument->get('member_srl')" class="btn25 black"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWrite','document_srl',$document_srl)}" class="modalAnchor"|cond="$use_modal_window" rel="update">{$lang->cmd_modify}</a></span>
	<span cond="$is_granted || !$oDocument->get('member_srl')" class="btn25 black"><a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardDelete','document_srl',$document_srl)}" class="modalAnchor"|cond="$use_modal_window" rel="delete">{$lang->cmd_delete}</a></span>
</div>

<!-- TRACKBACK -->
<include cond="$oDocument->allowTrackback() || $oDocument->getTrackbackcount()" target="_viw.trackback.html" />
<!-- /TRACKBACK -->

<!-- COMMENT -->
<include cond="$oDocument->allowComment() || $oDocument->getCommentcount()" target="_viw.comment.html" />
<!-- /COMMENT -->

<script cond="$comment_srl" type="text/javascript">
jQuery(function($){$('#comment li#comment_{$comment_srl}').scrollIntoView()});
</script>
