<block cond="$module_info->addon_socialxe=='Y'">
	{@ $addon_socialxe_option = $module_info->addon_socialxe_option?$module_info->addon_socialxe_option:'list_count="20"'}
	<div class="scFback clearBar sns" id="comment"><a name="comment"></a>
	<img class="zbxe_widget_output" widget="socialxe_comment" skin="default" colorset="white" document_srl="{$oDocument->document_srl}" content_link="{getFullUrl('', 'document_srl', $oDocument->document_srl, 'dummy', '1')}" content_title="{htmlspecialchars($oDocument->getTitleText())}" {$addon_socialxe_option} />
	</div>
</block>

<block cond="$module_info->addon_socialxe!='Y'">
	{@
		$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;

		$document_srl = $document_srl?$document_srl:$oDocument->get('document_srl');
		$best_comment_list = $module_info->use_c_best=='Y' ? $oThis->getBestCommentList($document_srl) : array();
		$comment_list = $oDocument->getCommentcount() ? $oDocument->getComments() : array();

		$a_clsttp = array('best'=>&$best_comment_list,''=>&$comment_list);
	}

	<div class="scFback clearBar" id="comment" data-doc-srl="{$document_srl}"><a name="comment"></a>
		<div class="fbHeader scToggle" rel="#comment div:eq(1)" is_not="a">
			<h2>
				{$lang->comment} <em>{$oDocument->getCommentcount()}</em>
				<span cond="$grant->write_comment && $oDocument->isEnableComment() && $oDocument->allowComment()" class="fr">
					<a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWriteComment','comment_srl','','document_srl',$document_srl)}" class="modalAnchor"|cond="$use_modal_window" rel="insert" rev="comment" accesskey="c">{$lang->comment_write}</a>
				</span>
			</h2>
		</div>

		<div cond="count($comment_list)">
			<ul loop="$a_clsttp => $lsttk,$p_list" cond="count($p_list)" class="scFrm {$lsttk}">
				<li loop="$p_list=>$key,$comment" class="fbItem {$comment->get('depth')?'indent':''} clearBar" style="padding-left:{((int)$comment->get('depth')*20)}px;background-position:{((int)$comment->get('depth')*20-14)}px -345px"|cond="$comment->get('depth')" id="comment_{$comment->comment_srl}" data-com-srl="{$comment->comment_srl}">
					{@
						$is_granted = $comment->isGranted();
						$is_secret = $grant->view && $comment->isSecret();
					}
					<a name="comment_{$comment->comment_srl}"></a>
					<div class="fbMeta">
						<img cond="$lsttk=='best'" src="img/common/label_best.gif" />
						<img cond="$comment->getProfileImage()" src="{$comment->getProfileImage()}" alt="Profile" class="profile" />
						<span cond="!$comment->getProfileImage()" class="profile"></span>
						<h3 class="author">
							{@
								$mbsl = $comment->get('member_srl');
								$home = $comment->get('homepage');
								$nick = (!$mbsl||$dis_name=='nick_name')?$comment->getNickName():$comment->getUserName();
							}
							<a cond="!$mbsl && $home" href="{$home}" target="_blank">{$nick}</a>
							<strong cond="!$mbsl && !$home">{$nick}</strong>
							<a cond="$mbsl" href="#popup_menu_area" class="member_{$mbsl}" onclick="return false">{$nick}</a>
						</h3>
						<p class="time">{$comment->getRegdate('Y.m.d H:i')}<br /><span cond="$module_info->display_ip_address == 'Y'" class="ipAddress">(IP: {$comment->getIpaddress()})</span></p>
						<span cond="$is_secret||$module_info->display_pang_point == 'Y'" class="scIcoArea">
							<img cond="$is_secret" class="scIcoSet secret" title="Secret" src="img/common/blank.gif" />
							<block cond="$module_info->display_pang_point == 'Y' && is_array($arr_extra) && $arr_extra->ppang && $arr_extra->ppang->c[$comment->comment_srl]->p > 0">
								{@$pangpang_point = sprintf($lang->bonus_pang_pang, $arr_extra->ppang->c[$comment->comment_srl]->p)}
								<img class="scIcoSet coin" src="img/common/blank.gif" title="{$pangpang_point}" alt="{$pangpang_point}">
							</block>
						</span>
					</div>

					<div class="scConCom clearBar">
						<form cond="$is_secret && !$is_granted" ruleset="checkPassword" action="./" method="post" class="conSecret">
							<input type="hidden" name="comment_srl" value="{$comment->comment_srl}" />
							<input type="hidden" name="act" value="procBoardVerificationPassword" />
							<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
							<div class="btnArea">
								<span class="btn25 black"><input type="password" name="password" /></span>
								<span class="btn25 black"><input type="submit" value="{$lang->cmd_input}" accesskey="s" /></span>
							</div>
						</form>

						{$comment->getContent(false)}
					</div>

						<div cond="$comment->hasUploadedFiles()" class="fileList">
							<button type="button" class="toggleFile" onclick="jQuery(this).next('ul.files').toggle();">{$lang->uploaded_file} [<strong>{$comment->get('uploaded_count')}</strong>]</button>
							<ul class="files">
								<li loop="$comment->getUploadedFiles()=>$key,$file"><a href="{getUrl('')}{$file->download_url}">{$file->source_filename}<span class="fileSize fs8">({FileHandler::filesize($file->file_size)}/{number_format($file->download_count)})</span></a></li>
							</ul>
						</div>

						<div class="action">
							<span class="vote" cond="$module_info->display_button_comment_vote!='Y'&&($comment->get('voted_count')!=0 || $comment->get('blamed_count')!=0)">{$lang->cmd_vote}:{(int)$comment->get('voted_count')}/{(int)$comment->get('blamed_count')}</span>
							<a cond="$is_logged" class="comment_{$comment->comment_srl} this" href="#popup_menu_area" onclick="return false">{$lang->cmd_comment_do}</a>
							<a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWriteComment','comment_srl','','parent_srl',$comment->comment_srl,'document_srl',$document_srl)}" class="modalAnchor reply"|cond="$use_modal_window" rel="reply" rev="comment">{$lang->cmd_reply}</a>
							<a cond="$is_granted||!$comment->member_srl" href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWriteComment','comment_srl',$comment->comment_srl,'document_srl',$document_srl)}" class="modalAnchor modify"|cond="$use_modal_window" rel="update" rev="comment">{$lang->cmd_modify}</a>
							<a cond="$is_granted||!$comment->member_srl" href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardDeleteComment','comment_srl',$comment->comment_srl,'document_srl',$document_srl)}" class="modalAnchor delete"|cond="$use_modal_window" rel="delete" rev="comment">{$lang->cmd_delete}</a>
						</div>

						<div cond="$module_info->display_button_comment_vote=='Y'" class="scVoteArea fr">
							<span class="btn25 small"><a href="#Recommend" onclick="doCallModuleAction('comment','procCommentVoteUp','{$comment->comment_srl}'); return false"><em class="vote"></em> {$comment->get('voted_count')}</a></span>
							<span class="btn25 small"><a href="#Not_recommend" onclick="doCallModuleAction('comment','procCommentVoteDown','{$comment->comment_srl}'); return false"><em class="blame"></em> {$comment->get('blamed_count')}</a></span>
						</div>
				</li>
			</ul>

			<div class="fbfooter">
				<span cond="$oDocument->comment_page_navigation" class="scPagNav">
					<a href="{$oEntry->getUrl('comment_srl','','cpage','1')}#comment" class="direction prev"><span></span><span></span> {$lang->first_page}</a>
					<block loop="$page_no=$oDocument->comment_page_navigation->getNextPage()">
						<strong cond="$cpage==$page_no">{$page_no}</strong>
						<a cond="$cpage!=$page_no" href="{$oEntry->getUrl('comment_srl','','cpage',$page_no)}#comment">{$page_no}</a>
					</block>
					<a href="{$oEntry->getUrl('comment_srl','','cpage',$oDocument->comment_page_navigation->last_page)}#comment" class="direction next">{$lang->last_page} <span></span><span></span></a>
				</span>

				<span class="scBtnWt fr">
					<span cond="$grant->write_comment && $oDocument->isEnableComment() && $oDocument->allowComment()" class="btn25 blue small">
						<a href="{$use_modal_window?'#siModalWin':$oEntry->getUrl('act','dispBoardWriteComment','comment_srl','','document_srl', $document_srl)}" class="modalAnchor"|cond="$use_modal_window" rel="insert" rev="comment" accesskey="c">{$lang->comment_write}</a>
					</span>
				</span>
			</div>
		</div>
	</div>
</block>