<include cond="$is_iframe" target="___setting.html" />
<include cond="!$is_iframe" target="__header.html" />

{@ $use_modal_window&&!$is_iframe ? $use_modal_window=0 : 0}

<div id="{$is_iframe?'siTemplate':'siBody'}" class="clearBar" style="margin:10px;"|cond="!$is_iframe&&!$module_info->layout_srl">
	<div class="scContent clearBar">
		<form action="./" method="post">
		<input cond="$is_iframe" type="hidden" name="is_iframe" value="1" />
		<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />

			{@
				$oTemplate = &TemplateHandler::getInstance();
				print $oTemplate->compile($tpl_path, '_tpl.'.($act=='dispBoardDeleteComment'?'c.delete':'delete').'.html');
			}

		</form>
	</div>
</div>

<script type="text/javascript" src="{$validator->getJsPath()}"></script>
<include cond="!$is_iframe" target="__footer.html" />

<script cond="$is_iframe" type="text/javascript" src="js/jquery.timers.js"></script>