<include target="__header.html" />

<div id="siBody" class="clearBar" style="margin:10px;"|cond="!$module_info->layout_srl">
	<div class="scHeader clearBar">
		<include cond="count($category_list)" target="_etc.category.html" />
	</div>
	<div class="scContent clearBar">
		{@
			$notice_list = $oThis->getNoticeList();
			$best_list = $module_info->use_best=='Y'?$oThis->getBestList():array();

			$oTemplate = &TemplateHandler::getInstance();
			$is_doc?print $oTemplate->compile($tpl_path, '_viw.'.$view_style.'.html'):false;
			print $oTemplate->compile($tpl_path, '_lst.'.$list_style.'.html');
		}
	</div>
	<div class="scFooter clearBar">
		<include target="_etc.search.html" />
	</div>

	<div cond="$use_modal_window" id="siModalWin" class="modal" style="display:none">
		<div class="fg">
			<form action="./" method="post">
				<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
				<fieldset rel="iframe"|cond="$use_modal_window==2"></fieldset>
			</form>
		</div>
	</div>
</div>

<include target="__footer.html" />
