
<div id="siTemplate" class="clearBar">
	{@
		$use_modal_window = $module_info->use_modal_window=='N'?0:1;

		$oTemplate = &TemplateHandler::getInstance();
		print $oTemplate->compile($tpl_path, '_tpl.'.$tpl_name.'.html');
	}
</div>

<!--// $parent을 변경하면 쉬운데 파폭 버그 때문에 $this를 변경 -->
<script type="text/javascript" src="js/jquery.timers.js"></script>
