<load target="xe_v3_gallery.css" />
<load target="xe_v3_gallery.js" type="body" />
<block cond="!$module_info->duration_new = (int)$module_info->duration_new">{@ $module_info->duration_new = 12 }</block>
{@ $cate_list = array(); $current_key = null; }
<!--@foreach($category_list as $key=>$val)-->
	<!--@if(!$val->depth)-->
		{@
			$cate_list[$key] = $val;
			$cate_list[$key]->children = array();
			$current_key = $key;
		}
	<!--@elseif($current_key)-->
		{@ $cate_list[$current_key]->children[] = $val }
	<!--@end-->
<!--@end-->
<!-- div.board {{{ -->
<div class="xev3gallery">
	{$module_info->header_text}
	<div class="board_header" cond="$module_info->title_image || $grant->manager">
		<h2 cond="$module_info->title_image"><a href="{getUrl('','mid',$mid)}"><img src="{$module_info->title_image}" alt="{$module_info->title_alt}" /></a></h2>
		<a cond="$grant->manager" class="setup" href="{getUrl('act','dispBoardAdminBoardInfo')}" title="{$lang->cmd_setup}">{$lang->cmd_setup}</a>
	</div>
	<ul class="cTab" cond="$module_info->use_category=='Y'">
		<li class="on"|cond="!$category"><a href="{getUrl('category','','page','')}">{$lang->total}</a></li>
		<li loop="$cate_list=>$key,$val" class="on"|cond="$category==$val->category_srl"><a href="{getUrl(category,$val->category_srl,'document_srl','')}">{$val->title}<!--<em cond="$val->document_count">[{$val->document_count}]</em>--></a>
			<ul cond="count($val->children)">
				<li loop="$val->children=>$idx,$item" class="on_"|cond="$category==$item->category_srl"><a href="{getUrl(category,$item->category_srl,'document_srl','')}">{$item->title}<!--<em cond="$val->document_count">[{$item->document_count}]</em>--></a></li>
			</ul>
		</li>
	</ul>
