{@
	$mi = $module_info;
	if (!$mi->thumbnail_width)  $mi->thumbnail_width  = 130;
	if (!$mi->thumbnail_height) $mi->thumbnail_height = 100;
	if (!$mi->content_cut_size) $mi->content_cut_size = 200;

	$list_idx = 1;
}
<load target="js/jquery.easing.1.3.js" />
<load target="js/list.xe.js" />

<div class="list">

	<form action="./" method="get" class="list-body">
		<fieldset>
			<legend>List of Articles</legend>
	
			<div class="container hide">
			<ul>
				<li class="fbox article">
					<a href="#" class="title"><span class="iefix"></span></a>
					<span class="thumb">
						<img src="./img/noimage.gif" width="{$mi->thumbnail_width}" height="{$mi->thumbnail_height}" alt="" /></a>
					</span>
	
					<ul class="flat meta">
						<li class="reply"></li>
						<li class="author"><a href="#popup_menu_area" class="member_0" onclick="return false"></a></li>
						<li class="date"></li>
						<li class="summary"></li>
					</ul>
				</li>
			</ul>
			</div>
	
			<div class="container">
			<ul>
				<li class="fbox article {($list_idx++%2)?'odd':'even'}" loop="$document_list=>$doc">
					{@
						$post_link     = getUrl('document_srl',$doc->document_srl);
						$perm_link     = $doc->getPermanentUrl();
						$comment_count = $doc->getCommentCount();
						$has_thumbnail = $doc->thumbnailExists($mi->thumbnail_width, $mi->thumbnail_height, $mi->thumbnail_type);
					}
					<a href="{$post_link}" class="title">{$doc->getTitle($mi->subject_cut_size)} {$doc->printExtraImages(60*60*$module_info->duration_new)}<span class="iefix"></span></a>
					<span class="thumb">
					<!--@if($has_thumbnail)-->
						<img src="{$doc->getThumbnail($mi->thumbnail_width, $mi->thumbnail_height, $mi->thumbnail_type)}" width="{$mi->thumbnail_width}" height="{$mi->thumbnail_height}" alt="" />
					<!--@else-->
						<img src="./img/noimage.gif" width="{$mi->thumbnail_width}" height="{$mi->thumbnail_height}" alt="" />
					<!--@end-->
					</span>
					<ul class="flat meta">
						<li class="reply">{$comment_count}</li>
						<li class="author"><a href="#popup_menu_area" class="member_{$doc->get('member_srl')}" onclick="return false">{$doc->getNickName()}</a></li>
						<li class="date">{$doc->getRegdate('Y.m.d')}</li>
						<li class="summary">{$doc->getSummary($mi->content_cut_size)}</li>
					</ul>
				</li>
			</ul>
			</div>
		</fieldset>
	</form>

	<div class="fbox list-foot">
		<form action="./" method="get" class="pagination">
		<fieldset>
			<legend>Board Pagination</legend>
			<input type="hidden" name="vid" value="{$vid}" />
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="category" value="{$category}" />
			<input type="hidden" name="search_keyword" value="{htmlspecialchars($search_keyword)}" />
			<input type="hidden" name="search_target" value="{$search_target}" />
			{@ $prev_page = max($page-1, 1)}
			{@ $next_page = min($page+1, $page_navigation->last_page)}
			<ul>
				<li class="first"><a href="{getUrl('page','','document_srl','','division',$division,'last_division',$last_division)}" class="active"|cond="$page!=1"><span>{$lang->first_page}</span></a></li>
				<li class="prev"><a href="{getUrl('page',$prev_page,'document_srl','','division',$division,'last_division',$last_division)}" class="active"|cond="$prev_page<$page"><span>PREV {$mi->list_count}</span></a></li>
				<li class="pages"><span><input type="text" name="page" value="{$page}" /> of <em>{$total_page}</em></span></li>
				<li class="next"><a href="{getUrl('page',$next_page,'document_srl','','division',$division,'last_division',$last_division)}" class="active"|cond="$next_page>$page"><span>NEXT {$mi->list_count}</span></a></li>
				<li class="last"><a href="{getUrl('page',$total_page,'document_srl','','division',$division,'last_division',$last_division)}" class="active"|cond="$total_page>$page"><span>{$lang->last_page}</span></a></li>
			</ul>
		</fieldset>
		</form>
	</div>
	<div class="list_footer">
		<div class="btnArea">
			<span class="btn25 blue"><a href="{getUrl('act','dispBoardWrite','document_srl','')}">{$lang->cmd_write}</a></span>
		</div>
		<button type="button" class="bsToggle" title="{$lang->cmd_search}">{$lang->cmd_search}</button>
		<form cond="$grant->view" action="{getUrl()}" method="get" onsubmit="return procFilter(this, search)" id="board_search" class="board_search">
			<input type="hidden" name="vid" value="{$vid}" />
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="category" value="{$category}" />
			<input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" title="{$lang->cmd_search}" class="iText" />
			<select name="search_target">
				<option loop="$search_option=>$key,$val" value="{$key}" selected="selected"|cond="$search_target==$key">{$val}</option>
			</select>
			<span class="btn25"><button type="submit">{$lang->cmd_search}</button></span>
			<span class="btn25" cond="$last_division"><a href="{getUrl('page',1,'document_srl','','division',$last_division,'last_division','')}">{$lang->cmd_search_next}</a></span>
		</form>
		<a href="{getUrl('act','dispBoardTagList')}" class="tagSearch" title="{$lang->tag}">{$lang->tag}</a>
	</div>
</div>

<script type="text/javascript">
if (typeof window.xe_v3 == 'undefined') window.xe_v3 = {};
jQuery.extend(xe_v3, {
	page : '{$page}',
	list_count : '{$mi->list_count}',
	last_page  : '{$total_page}',
	content_cut_size : '{$mi->content_cut_size}',
	thumbnail_width  : '{$mi->thumbnail_width}',
	thumbnail_height : '{$mi->thumbnail_height}',
	thumbnail_type   : '{$mi->thumbnail_type}',
	search_keyword   : '{addslashes($search_keyword)}',
	search_target    : '{$search_target}'
});
</script>
