<include target="_header.html" />
<div cond="$oComment->isExists()" class="context_data">
	<h3 class="author">
		<a cond="$oComment->homepage" href="{$oComment->homepage}">{$oComment->getNickName()}</a>
		<strong cond="!$oComment->homepage">{$oComment->getNickName()}</strong>
	</h3>
	{$oComment->getContent(false)}
</div>
<form action="./" method="get" onsubmit="return procFilter(this, delete_comment)" class="context_message">
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="document_srl" value="{$oComment->get('document_srl')}" />
	<input type="hidden" name="comment_srl" value="{$oComment->get('comment_srl')}" />
	<h1>{$lang->cmd_comment_do} {$lang->confirm_delete}</h1>
	<div class="btnArea">
		<span class="btn25 blue"><input type="submit" value="{$lang->cmd_delete}" /></span>
		<span class="btn25"><button type="button" onclick="history.back()">{$lang->cmd_cancel}</button></span>
	</div>
</form>
<include target="_footer.html" />