@charset "utf-8";/* NHN (developers@xpressengine.com) */

/* xev3 Gallery */
.xev3gallery img{border:0}
.xev3gallery,
.xev3gallery table,
.xev3gallery input,
.xev3gallery textarea,
.xev3gallery select{font-size:12px;font-family:돋움, Dotum, Tahoma, Geneva, sans-serif}
.xev3gallery .iCheck{width:13px;height:13px;margin:0;vertical-align:middle}
.xev3gallery .iText{position:relative;padding:3px 4px;_margin:-1px 0;height:17px;line-height:17px;border:1px solid #a6a6a6;border-right-color:#d8d8d8;border-bottom-color:#d8d8d8;background:transparent}
.xev3gallery textarea{margin:0;padding:3px 4px;border:1px solid #a6a6a6;border-right-color:#d8d8d8;border-bottom-color:#d8d8d8}
.xev3gallery .fbox{position:relative;clear:both;*zoom:1}
.xev3gallery .fbox:after{content:"";display:block;clear:both;float:none}
.xev3gallery .fleft{float:left}
.xev3gallery .fright{float:right}
.xev3gallery .hide{display:none}
.xev3gallery fieldset{border:0;margin:0;padding:0;clear:both}
.xev3gallery fieldset:after{content:"";display:block;float:none;clear:both}
.xev3gallery legend{position:absolute;width:0;height:0;overflow:hidden;font:0/0 sans-serif;visibility:hidden}
.xev3gallery ul.flat{list-style:none;margin:0;padding:0}
.xev3gallery ul.flat li{padding:0;margin:0}
.xev3gallery .bold{font-weight:bold}

/* Board Header */
.board_header{position:relative;zoom:1;margin:0 0 22px 0}
.board_header:after{content:"";display:block;clear:both}
.board_header h2{margin:0;float:left}
.board_header .setup{float:right;width:16px;height:0;padding:16px 0 0 0;overflow:hidden;background:url(icoSet.gif) no-repeat 1px -239px}

/* Category Tab */
.cTab{position:relative;margin:0 0 35px 0;padding:0;list-style:none;zoom:1;border-bottom:1px solid #999}
.cTab:after{content:"";display:block;clear:both}
.cTab li{float:left;margin:0 2px 0 0;border:1px solid #e0e0e0;border-top:0;border-bottom:0}
.cTab li.on{border:1px solid #999;border-top:0;border-bottom:1px solid #fff;margin-bottom:-1px}
.cTab li a{position:relative;top:-1px;border-top:1px solid #e0e0e0;float:left;height:25px;line-height:25px;padding:0 20px;font-size:12px;font-family:나눔고딕, NanumGothic, "맑은 고딕", "MalgunGhotic";text-decoration:none;color:#666;font-weight:bold}
.cTab li em{font:11px Tahoma, Geneva, sans-serif;color:#767676;padding:0 0 0 2px}
.cTab li.on a{color:#000;border-top:1px solid #999}
.cTab ul{display:none;position:absolute;top:30px;left:0;margin:0;padding:0}
.cTab li.on ul{display:block;overflow:hidden;white-space:nowrap}
.cTab li.on ul li{position:relative;left:1px;float:none;display:inline;margin:0;padding:0 15px;list-style:none;border:0;border-right:1px solid #d0d0d0}
.cTab li.on ul li a{border:0;top:0;float:none;line-height:none;padding:0;font-family:돋움, Dotum;font-weight:normal}
.cTab li.on ul li.on_ a{font-weight:bold;color:#3912b3}

/* list */
.xev3gallery .header .title a{font-weight:bold;text-decoration:none;color:#333;font-size:20px}
.xev3gallery .list form.list-body{border:1px solid #e4e4e4;border-width:1px 0;overflow:hidden}
.xev3gallery .list form.list-body fieldset{position:relative;overflow:hidden;border:1px solid #fff;border-width:1px 0}
.xev3gallery .list ul{list-style:none;margin:0;padding:0}
.xev3gallery .list li{position:relative;vertical-align:top;zoom:1}
.xev3gallery .list .article{position:relative;padding:15px 10px}
.xev3gallery .list .article.odd{background:#f4f4f4}
.xev3gallery .list .thumb{display:block;width:130px;padding:3px;background:#fff;border:1px solid #ddd;margin:0 22px 0 0}
.xev3gallery .list .thumb img{display:block}
.xev3gallery .list a{text-decoration:none;color:#4a4a4a;font-weight:bold}
.xev3gallery .list a.title{position:absolute;top:0;left:0;padding:19px 0 0 170px;width:590px;height:119px;z-index:2;zoom:1;background:transparent;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.xev3gallery .list a.title:hover,
.xev3gallery .list a.title:active,
.xev3gallery .list a.title:focus{border:2px solid #8a7adb;padding:17px 0 0 168px;width:588px;height:117px}
.xev3gallery .list a.title em{font-style:normal;font-weight:normal}
.xev3gallery .list a.title .iefix{position:absolute;top:0;left:0;width:760px;height:138px;cursor:pointer;background:#fff;opacity:0;filter:alpha(opacity=0)}
.xev3gallery .list .meta{position:absolute;top:40px;left:170px;z-index:1;width:580px}
.xev3gallery .list .meta li{color:#888;margin:0 20px 0 0;vertical-align:top}
.xev3gallery .list .meta .comment_count {margin-left:1em}
.xev3gallery .list .meta li.reply,
.xev3gallery .list .meta li.author,
.xev3gallery .list .meta li.date{display:inline-block;_display:inline;font-size:11px;line-height:14px}
.xev3gallery .list .meta li.reply{padding:0 0 0 16px;background:url(img/icoSet.gif) no-repeat 0 -270px}
.xev3gallery .list .meta li.author a{color:#888;font-weight:normal}
.xev3gallery .list .meta li.date{padding:0 0 0 18px;background:url(img/icoSet.gif) no-repeat 0 -300px}
.xev3gallery .list .meta li.summary{margin:0;padding:12px 0 0 0;color:#666;line-height:1.5}
.xev3gallery .list .meta li em{font-style:normal}
.xev3gallery .list .list-foot{margin:10px 0}
.xev3gallery .list .pagination ul{position:relative;zoom:1}
.xev3gallery .list .pagination li{position:absolute;display:block;top:0;z-index:2;height:30px}
.xev3gallery .list .pagination a,
.xev3gallery .list .pagination span{display:block;position:relative;overflow:hidden}
.xev3gallery .list .pagination a{width:100%;height:30px;background:url(img/sprites3.gif) repeat-x 0 -120px;cursor:pointer}
.xev3gallery .list .pagination a span{width:100%;height:0;padding:30px 0 0 0}
.xev3gallery .list .pagination .pages{position:relative;background:url(img/sprites3.gif) repeat-x 0 -120px;text-align:center;z-index:1;margin:0 280px 0 278px}
.xev3gallery .list .pagination .pages span{display:block;margin-top:1px;height:22px;padding-top:5px;border:1px solid #d0d0d0;border-width:0 1px}
.xev3gallery .list .pagination .pages input{width:30px;font-size:.9em;height:12px;padding:1px;margin-right:5px}
.xev3gallery .list .pagination .pages em{font-style:normal;margin-left:5px}
.xev3gallery .list .pagination .first{left:0;width:53px}
.xev3gallery .list .pagination .last{right:0;width:55px}
.xev3gallery .list .pagination .prev{left:53px;width:225px;text-align:center}
.xev3gallery .list .pagination .next{right:55px;width:225px;text-align:center}
.xev3gallery .list .pagination .prev span,
.xev3gallery .list .pagination .next span{display:inline-block;width:auto;background:url(img/sprites3.gif) no-repeat left -182px;padding:9px 15px 0 20px;height:21px;font:bold 9px/9px Tahoma,Verdana,sans-serif;color:#7b7b7b;text-align:center}
.xev3gallery .list .pagination .next span{background-position:right -252px;padding-right:17px}
.xev3gallery .list .pagination .first a{background-repeat:no-repeat;background-position:0 0}
.xev3gallery .list .pagination .last a{background-repeat:no-repeat;background-position:0 -60px}
.xev3gallery .list .pagination .first a.active:hover{background-position:0 -30px}
.xev3gallery .list .pagination .last a.active:hover{background-position:0 -90px}
.xev3gallery .list .pagination .prev a.active:hover,
.xev3gallery .list .pagination .next a.active:hover{background-position:0 -150px}
.xev3gallery .list .pagination .prev a.active:hover span{background-position:left -202px;color:#fff}
.xev3gallery .list .pagination .next a.active:hover span{background-position:right -228px;color:#fff}
.xev3gallery .list .bosearch{clear:both}
.xev3gallery .list .bosearch *{vertical-align:top}
.xev3gallery .list .bosearch fieldset{float:left}
.xev3gallery .list .bosearch input{height:19px;padding:1px 4px;font-size:12px;border:1px solid #a6a6a6;border-right-color:#d8d8d8;border-bottom-color:#d8d8d8}
.xev3gallery .list .bosearch select{height:25px;font-size:12px}
.xev3gallery .list .bosearch button span{display:block;position:relative;top:4px;background:url(img/sprites3.gif) no-repeat 0 -284px;height:23px;width:12px;overflow:hidden;text-indent:-300px}

/* Board List */
/* list.html */
.board_list{border:0;border-bottom:1px solid #cdcdcd;color:#4a4a4a;background:url(img/bgListHeader.gif) no-repeat}
.board_list a{text-decoration:none;color:#4a4a4a}
.board_list a:hover,
.board_list a:active,
.board_list a:focus{text-decoration:underline}
.board_list th{border:0;padding:8px 0 9px 0;height:14px;white-space:nowrap}
.board_list th:first-child span{border:0}
.board_list th span{display:block;border-left:1px solid #c7c7c7;padding:0 15px;height:14px}
.board_list tr.notice{background:#f6f6f6}
.board_list td{border:0;border-bottom:1px solid #e6e6e6;padding:8px 10px;white-space:nowrap}
.board_list tr:last-child td{border:0}
.board_list td.notice{text-align:center}
.board_list td.no{text-align:center;font:11px Tahoma, Geneva, sans-serif}
.board_list td.title{white-space:normal;word-wrap:break-word}
.board_list td.time,
.board_list td.readNum,
.board_list td.voteNum,
.board_list td.lastReply a{text-align:center;font:11px Tahoma, Geneva, sans-serif}
.board_list td.lastReply sub{font:9px Tahoma, Geneva, sans-serif}
.board_list td.check{text-align:center}
.list_footer{position:relative;margin:15px 0;zoom:1}
.list_footer:after{content:"";display:block;clear:both}
.list_footer .btnArea{float:right}
.list_footer .bsToggle{float:left;cursor:pointer;padding:25px 0 0 0;margin:0 4px 0 0;width:25px;height:25px;overflow:hidden;border:0;background:url(img/btnSearch.gif) no-repeat}
.list_footer .board_search{float:left;position:relative;margin:0 4px 0 0}
.list_footer .board_search *{vertical-align:top}
.list_footer .board_search .iText{height:15px;line-height:15px;padding:4px 100px 4px 4px;width:100px;_margin:-1px 0;border:1px solid #a6a6a6;border-right-color:#d8d8d8;border-bottom-color:#d8d8d8}
.list_footer .board_search select{position:absolute;top:4px;height:18px;left:123px;width:80px}
.list_footer .tagSearch{display:inline-block;width:25px;height:0;padding:25px 0 0 0;overflow:hidden;background:url(img/btnSearch.gif) no-repeat 0 -25px}

/* Board Write */
/* write_form.html */
.board_write{background:url(img/bgHeader.gif) no-repeat 0 0}
.write_header{padding:9px 10px 9px 10px;background:url(img/bgHeader.gif) no-repeat right 0}
.write_header *{vertical-align:middle}
.write_header select{height:23px;width:140px}
.write_header .iText{width:500px;margin:0 10px 0 0;background:#fff}
.write_editor .xd{margin-top:-3px}
.write_footer{overflow:hidden;display:inline}
.write_footer:after{content:"";display:block;clear:both}
.write_footer .btnArea{float:right}
.write_option{margin:10px 0}
.write_option label{margin:0 10px 0 0}

/* Extra Form */
.exForm{background:#fff;padding:10px 0}
.exForm table{border:0;width:100%}
.exForm caption{text-align:right;font-size:11px;padding:0 0 2px 0}
.exForm th,
.exForm td{border:0;vertical-align:top;border-top:1px solid #ddd}
.exForm th{color:#333;text-align:left;padding:10px 5px 15px 5px;white-space:nowrap}
.exForm th label{cursor:default}
.exForm td{color:#666;padding:8px 10px}
.exForm em{font-style:normal;color:#f60}
.exForm .text,
.exForm .homepage,
.exForm .email_address,
.exForm .tel,
.exForm .address,
.exForm .date{padding:3px 4px;margin:0 4px 0 0;height:14px;line-height:14px;vertical-align:top;border:1px solid #A6A6A6;border-right-color:#D8D8D8;border-bottom-color:#D8D8D8}
.exForm .text,
.exForm .email_address,
.exForm .homepage,
.exForm .address{width:300px}
.exForm .tel{width:40px}
.exForm .date{width:120px}
.exForm textarea{width:90%;padding:3px 4px;margin:0 4px 0 0;vertical-align:top;border:1px solid #A6A6A6;border-right-color:#D8D8D8;border-bottom-color:#D8D8D8}
.exForm p{margin:5px 0 0 0;font-size:11px}
.exForm ul{margin:0;padding:0;list-style:none}
.exForm li{display:inline}
.exForm li input{width:13px;height:13px;margin:0 4px 0 0;vertical-align:middle}
.exForm li label{margin:0 15px 0 0}
.exOut{background:#fff;padding:10px 0}
.exOut table{border:0;width:100%}
.exOut th,
.exOut td{border:0;vertical-align:top;border-bottom:1px solid #ddd;padding:8px 15px}
.exOut th{color:#333;text-align:left;white-space:nowrap}
.exOut td{color:#666;width:100%}

/* Board Read */
/* _read.html */
.board_read{background:#fff url(img/bgHeader.gif) no-repeat 0 -50px;zoom:1}
.read_header{position:relative;background:url(img/bgHeader.gif) no-repeat right -50px}
.read_header h1{width:600px;margin:0 0 0 15px;font-size:12px;line-height:36px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#fff}
.read_header h1 a{text-decoration:none;color:#fff}
.read_header h1 .category{font-weight:normal;border-right:1px solid #7e7e7e;padding:0 10px 0 0;margin:0 5px 0 0}
.read_header .time{margin:0;position:absolute;top:11px;right:12px;color:#bfbfbf;font-size:11px}
.read_header .meta{margin:0;padding:8px 12px 8px 15px;background:#f6f6f6;border-bottom:1px solid #ddd;zoom:1}
.read_header .meta:after{content:"";display:block;clear:both}
.read_header .meta .author{float:left;text-decoration:none;color:#666;font-weight:bold}
.read_header .meta .sum{float:right;color:#666;font-size:11px}
.read_header .meta .sum .vote{border-left:1px solid #ccc;padding:0 0 0 10px;margin:0 0 0 6px}
.read_body{padding:15px;background:#fff}
.read_body .xe_content{color:#333}
.read_footer{overflow:hidden}
.read_footer .fileList{margin:15px;display:inline;float:left}
.read_footer .toggleFile{border:0;background:url(img/icoSet.gif) no-repeat 0 2px;cursor:pointer;overflow:visible;padding:0 0 0 15px;color:#4b4b4b}
.read_footer .files{display:none;list-style:none;margin:15px 0;padding:0;line-height:16px}
.read_footer .files li{background:url(img/icoSet.gif) no-repeat 0 -28px;padding:0 0 0 15px}
.read_footer .files a{color:#4b4b4b;position:relative;text-decoration:none}
.read_footer .files a .fileSize{visibility:hidden;position:absolute;padding:1px 4px;left:100%;top:-4px;border:1px solid #ddd;font:11px Tahoma, Geneva, sans-serif;background:#fff;white-space:nowrap}
.read_footer .files a:hover .fileSize,
.read_footer .files a:active .fileSize,
.read_footer .files a:focus .fileSize{visibility:visible}
.read_footer .tns{float:right;margin:15px 0}
.read_footer .tns a:hover,
.read_footer .tns a:active,
.read_footer .tns a:focus{text-decoration:underline}
.read_footer .tags{display:inline-block;height:16px;font-size:11px;color:#666;vertical-align:top;padding:0 15px 0 32px;line-height:16px;background:url(img/icoSet.gif) no-repeat 0 -58px}
.read_footer .tags a{text-decoration:none;color:#666}
.read_footer .action{display:inline-block;line-height:16px;font-size:11px;margin:0 15px 0 0}
.read_footer .sns{display:inline;margin:0;padding:0;list-style:none;vertical-align:top}
.read_footer .sns li{display:inline;vertical-align:top}
.read_footer .sns a{display:inline-block;height:16px;line-height:16px}
.read_footer .sns .link a{width:16px;height:0;padding:16px 0 0 0;overflow:hidden;background:url(img/icoSet.gif) no-repeat}
.read_footer .sns .twitter a{background-position:0 -330px}
.read_footer .sns .me2day a{background-position:0 -360px}
.read_footer .sns .facebook a{background-position:0 -390px}
.read_footer .sns .delicious a{background-position:0 -420px}
.read_footer .sign{clear:both;border:1px solid #ddd;margin:0 0 -1px 0;padding:10px 15px;overflow:hidden;zoom:1}
.read_footer .sign .pf{float:left;margin:0 15px 0 0}
.read_footer .sign .tx{overflow:hidden;line-height:1.3;font-size:11px;border-left:1px dotted #ddd;padding:0 0 0 15px;color:#333}
.read_footer .sign .tx *{margin:0}
.read_footer .btnArea{clear:both;text-align:right;padding:10px 0;border-top:1px solid #ddd}

/* Feedback (Trackback+Comment) */
/* _trackback.html | _comment.html */
.feedback{position:relative;border:1px solid #ddd;color:#4b4b4b}
.feedback .fbHeader{position:relative;height:30px;padding:0 0 0 35px;line-height:30px;background:#f5f5f5 url(img/icoSet.gif) no-repeat;margin:3px}
#trackback{margin:0 0 20px 0}
#trackback .fbHeader{background-position:11px -84px}
#comment .fbHeader{background-position:11px -112px}
#comment .fbHeader .wComment{position:absolute;top:10px;right:15px;padding:0 0 0 18px;text-decoration:none;color:#666;line-height:1;background:url(img/icoSet.gif) no-repeat 0 -150px}
.feedback .fbHeader h2{margin:0;font-size:14px}
.feedback .fbHeader h2 em{font-style:normal;color:#4736ac;text-decoration:underline}
.feedback .fbHeader .trackbackURL{position:absolute;top:8px;right:10px;margin:0;line-height:1;color:#666;font:11px Tahoma, Geneva, sans-serif}
.feedback .fbHeader .trackbackURL a{text-decoration:none;color:#666}
.feedback .fbList{margin:0 7px;padding:0}
.feedback .fbItem{padding:18px 0 16px 0;border-bottom:1px dashed #e6e6e6;margin:0 0 -1px 0;zoom:1;list-style:none}
.feedback .fbItem:after{content:"";display:block;clear:both}
.feedback .indent{background:url(img/icoIndent.gif) no-repeat}
.feedback .fbMeta{float:left;width:184px;padding:0 0 0 6px}
.feedback .fbMeta .profile{float:left;width:38px;height:38px;margin:0 6px 5px 0;border:1px solid #ddd;background:url(img/profile.gif) no-repeat}
.feedback .fbMeta .author{margin:0;font-size:12px}
.feedback .author a{text-decoration:none;color:#666}
.feedback .author a img{margin:0 6px 0 0 !important;vertical-align:top !important}
.feedback .time{margin:0;font:11px Tahoma, Geneva, sans-serif;color:#8e8e8e}
.feedback .xe_content{margin:0 0 0 200px;color:#666;line-height:1.5}
.feedback .xe_content *:first-child{margin-top:0}
#trackback .xe_content{color:#888}
#trackback .xe_content strong{color:#666;display:block;font-weight:normal}
.feedback .fileList{margin:0 0 0 190px;padding:8px 0 0 0;display:inline;float:left;clear:both}
.feedback .toggleFile{border:0;background:url(img/icoSet.gif) no-repeat 0 2px;cursor:pointer;overflow:visible;padding:0 0 0 15px;color:#767676}
.feedback .files{display:none;list-style:none;margin:15px 0;padding:0;line-height:16px}
.feedback .files li{background:url(img/icoSet.gif) no-repeat 0 -28px;padding:0 0 0 15px}
.feedback .files a{color:#767676;position:relative;text-decoration:none}
.feedback .files a .fileSize{visibility:hidden;position:absolute;padding:1px 4px;left:100%;top:-4px;border:1px solid #ddd;font:11px Tahoma, Geneva, sans-serif;background:#fff;white-space:nowrap}
.feedback .files a:hover .fileSize,
.feedback .files a:active .fileSize,
.feedback .files a:focus .fileSize{visibility:visible}
.feedback .action{margin:0;padding:10px 10px 0 0;white-space:nowrap;float:right}
.feedback .action .vote{margin:0 10px 0 0;color:#767676}
.feedback .action a{padding:0 0 0 18px;color:#767676;text-decoration:none;background:url(img/icoSet.gif) no-repeat}
.feedback .action a.reply{background-position:0 -210px}
.feedback .action a.modify{background-position:0 -150px}
.feedback .action a.delete{background-position:0 -180px}
.feedback .action a.this{background:none;padding:0;margin:0 0 0 10px;text-decoration:underline}
.feedback .pagination{padding:10px 0}
.feedback .indent1{padding-left:20px;background-position:6px 15px}
.feedback .indent2{padding-left:40px;background-position:26px 15px}
.feedback .indent3{padding-left:60px;background-position:46px 15px}
.feedback .indent4{padding-left:80px;background-position:66px 15px}
.feedback .indent5{padding-left:100px;background-position:86px 15px}
.feedback .indent6{padding-left:120px;background-position:106px 15px}
.feedback .indent7{padding-left:140px;background-position:126px 15px}
.feedback .indent8{padding-left:160px;background-position:146px 15px}
.feedback .indent9{padding-left:180px;background-position:166px 15px}
.feedback .indent10{padding-left:200px;background-position:186px 15px}
.feedback .indent11{padding-left:220px;background-position:206px 15px}
.feedback .indent12{padding-left:240px;background-position:226px 15px}
.fbFooter{margin:-10px 0 10px 0}

/* Pagination */
/* comment_form.html */
.feedbacks .pagination{margin:0;padding:4px 0;text-align:center;line-height:normal}
.feedbacks .pagination a,
.feedbacks .pagination strong{position:relative;color:#767676;font:bold 12px/16px Tahoma, Sans-serif;vertical-align:top;display:inline-block;text-decoration:none;padding:1px 8px;margin:0 -3px;border-left:1px solid #ccc;border-right:1px solid #ccc;background-color:#fff;z-index:2}
.feedbacks .pagination a:hover,
.feedbacks .pagination a:active,
.feedbacks .pagination a:focus{background-color:#f8f8f8}
.feedbacks .pagination strong{color:#4e3db4}
.feedbacks .pagination .direction{font-weight:normal;color:#767676;text-decoration:none !important;border:0;z-index:1}
.feedbacks .pagination .direction:hover,
.feedbacks .pagination .direction:active,
.feedbacks .pagination .direction:focus{color:#333;background-color:#fff}
.feedbacks .pagination .prev{border-left:0}
.feedbacks .pagination .next{border-right:0}
.feedbacks .pagination .direction span{position:relative;display:inline-block;width:0;height:0;font-size:0;line-height:0;vertical-align:top;top:4px}
.feedbacks .pagination .prev span{border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-left:0;margin-right:1px;*left:-4px}
.feedbacks .pagination .next span{border:3px solid;border-top:solid #fff;border-bottom:solid #fff;border-right:0;margin-left:1px}

/* Write Author */
/* _read.html | write_form.html | comment_form.html */
.write_author{float:left;margin:0 4px 0 0}
.write_author .item{position:relative;display:inline-block;_margin:0 4px 0 0}
.write_author .iLabel{top:6px;left:5px;color:#666}
.write_author label{margin:0 10px 0 0}

/* Write Comment */
/* _read.html | comment_form.html */
.write_comment{position:relative;margin:10px 12px;zoom:1}
.write_comment:after{content:"";display:block;clear:both}
.write_comment textarea{width:645px;height:37px;margin:0 0 5px 0}
.write_comment .write_author{padding:0 0 10px 0}
.write_comment .btnArea{float:right}

/* Context Data | Context Message */
/* comment_form.html | delete_form.html | delete_comment_form.html | input_password_form.html | message.html */
.context_data{background:#f8f8f8;border-top:2px solid #666;padding:15px 20px;color:#666}
.context_data h3.author{margin:0 0 10px 0;color:#333}
.context_data h3.title{margin:0 0 10px 0;color:#333}
.context_data p.author{margin:0}
.context_data p.author strong{font-weight:normal}
.context_data .xe_content{color:#666}
.context_message{text-align:center;border-top:2px solid #666}
.context_message h1{font-size:16px;margin:20px 0}
.context_message .btnArea{margin:20px 0}

/* Tag List */
.tagList{margin:0;padding:25px;border:1px solid #cdcdcd;line-height:1.2;text-align:justify}
.tagList a{color:#fff;text-decoration:none;white-space:nowrap;margin:0 2px}
.tagList a.rank1{font-size:24px;background:#000}
.tagList a.rank2{font-size:18px;background:#333}
.tagList a.rank3{font-size:14px;background:#666}
.tagList a.rank4{font-size:12px;background:#999}
.tagList a.rank5{font-size:12px;color:#666;text-decoration:underline}
.tagFooter{text-align:center;padding:20px 0}

/* Button */
.xev3gallery .btn25,
.xev3gallery .btn25 a,
.xev3gallery .btn25 button,
.xev3gallery .btn25 input{display:inline-block;height:25px;line-height:25px;padding:0;margin:0;overflow:visible;position:relative;background:url(img/btn25.gif) no-repeat;cursor:pointer;vertical-align:top}
.xev3gallery .btn25{background-position:0 0;margin:0 2px 0 0;vertical-align:top}
.xev3gallery .btn25 a,
.xev3gallery .btn25 button,
.xev3gallery .btn25 input{padding:0 12px;left:2px;font-size:12px;color:#4a4a4a;font-weight:bold;border:0;background-position:right 0;text-decoration:none !important}
.xev3gallery .btn25.blue{background-position:0 -30px}
.xev3gallery .btn25.blue *{background-position:right -30px !important;color:#fff !important}
.xev3gallery .btn25.black{background-position:0 -60px}
.xev3gallery .btn25.black *{background-position:right -60px !important;color:#fff !important}
