<!--// colorset의 값에 따라 css 파일을 import 한다 -->
<!--@if($colorset=="black")-->
    <!--%import("css/black.css")-->
<!--@elseif($colorset=="white")-->
    <!--%import("css/white.css")-->
<!--@else-->
    <!--%import("css/default.css")-->
<!--@end-->

<!--%import("./filter/login.xml")-->
<!--%import("./filter/openid_login.xml")-->
<!--%import("./js/login.js")-->

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form id="fo_login_widget" action="./" method="post" ruleset="@login" class="login_{$colorset}">
	<fieldset>
		<input type="hidden" name="act" value="procMemberLogin" />
		<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
		<div class="idpwWrap">
			<div class="idpw">
				<input name="user_id" type="text" title="user id" />
				<input name="password" type="password" title="password" />
				<p class="keep">
					<input type="checkbox" name="keep_signed" id="keep_signed" value="Y" />
					<label for="keep_signed">{$lang->keep_signed}</label>
				</p>
			</div>
			<input type="image" src="./images/{$colorset}/buttonLogin.gif" alt="login" class="login" />
		</div>
		<p cond="$member_config->enable_ssl=='Y'" class="securitySignIn <!--@if($ssl_mode)-->SSL<!--@else-->noneSSL<!--@end-->">
			<button type="button" class="text" onclick="toggleSecuritySignIn(); return false;">{$lang->security_sign_in}</button>
		</p>
		<p class="keep_msg">{$lang->about_keep_warning}</p>
		<ul class="help">
			<li><a href="{getUrl('act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
			<li><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>
			<li><a href="{getUrl('act','dispMemberResendAuthMail')}">{$lang->cmd_resend_auth_mail}</a></li>
		</ul>
	</fieldset>
</form> 
