<!--%import("css/style.css")-->


<!--%import("./filter/login.xml")-->
<!--%import("./js/login.js")-->
<script type="text/javascript">
//<![CDATA[
var keep_signed_msg = "{$lang->about_keep_signed}";
//]]>

</script>

<fieldset id="login">
<legend>{$lang->cmd_login}</legend>
<form action="./" method="post" ruleset="@login" id="fo_login_widget">
<input type="hidden" name="act" value="procMemberLogin" />
<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
<div id="sign_box">
	<div class="txt sign_state1"><span class="label">Sign in</span></div>
	<div class="signin_window" style="display:none;">
		<span class="head"></span>
		<div class="body">
			<div class="mb_input_box">
				<div class="m_left">
					<div class="input_text mb_id"><img src="images/bullet_input_id.gif" alt="" title="" /><input name="user_id" type="text" title="user id" /></div>
					<div class="input_text mb_pw"><img src="images/bullet_input_pw.gif" alt="" title="" /><input name="password"type="password" title="password" /></div>
					<label><input  type="checkbox" name="keep_signed" id="keepid" class="sign_check" value="Y" onclick="if(this.checked) return confirm(keep_signed_msg);" />{$lang->keep_signed}</label>
					
					<!--@if($member_config->enable_ssl=='Y')-->
					<p class="securitySignIn <!--@if($ssl_mode)-->SSL<!--@else-->noneSSL<!--@end-->">
						<a href="#" onclick="toggleSecuritySignIn(); return false;">{$lang->security_sign_in}</a>
					</p>
					<!--@end-->
				</div>
				<div class="m_right">
					<input class="sign_submit" type="image" src="images/btn_signin.gif" width="51" height="46" />
				</div>
			</div>
			<div class="btnbar">
				<a href="{getUrl('act','dispMemberSignUpForm')}"><img src="images/icon_book.gif" alt="" title="{$lang->cmd_signup}"/></a>
				<a href="{getUrl('act','dispMemberFindAccount')}"><img src="images/icon_at.gif" alt="" title="{$lang->cmd_find_member_account}"/></a>
				<a href="{getUrl('act','dispMemberResendAuthMail')}"><img src="images/icon_help.gif" alt="" title="{$lang->cmd_resend_auth_mail}"/></a>
			</div>
		</div><!-- //body -->
		<span class="tail"><img src="images/signin_bg_tail.png" width="219" height="3" alt="" class="iePngFix" /></span>
	</div><!-- //signin_window -->
</div>
</form>
</fieldset>