.login_black{margin:0;padding:0;border:2px solid #515151;width:196px;position:relative;_padding-top:2px;display:block;font-size:12px }
.login_black fieldset{position:relative;border:1px solid #6b6b6b;padding:11px 11px 7px 11px;width:172px;margin:0}
.login_black fieldset .idpwWrap{overflow:hidden;clear:both;width:172px}
.login_black fieldset .idpw{float:left;width:110px}
.login_black fieldset .idpw input{border:1px solid #6b6b6b;color:#cbcbcb;width:105px;background:#515151;padding:1px 5px;margin-bottom:2px;font:.9em Tahoma}
.login_black fieldset .login{float:right}
.login_black fieldset p.securitySignIn{clear:both;padding:0 0 0 18px;margin:4px 0 0 0}
.login_black fieldset p.noneSSL{background:url("../images/none_ssl.png") no-repeat left top}
.login_black fieldset p.SSL{background:url("../images/ssl.png") no-repeat left top}
.login_black fieldset p.noneSSL a{color:#BF6801;text-decoration:none}
.login_black fieldset p.SSL a{color:#9CAC74;text-decoration:none}
.login_black fieldset p.keep{margin:5px 0;clear:both;padding:0}
.login_black fieldset p.keep input{vertical-align:middle;width:13px;height:13px;margin:0}
.login_black fieldset p.keep label{font:.9em;color:#818181}
.login_black fieldset p.keep_msg{color:#818181}
.login_black fieldset ul.help{margin:0;border-top:1px solid #515151;overflow:hidden;padding:.5em 0 0 0;white-space:nowrap;list-style:none}
.login_black fieldset ul.help li{list-style:none;float:left;display:block;padding:0}
.login_black fieldset ul.help li.first-child{background:none;padding-left:0}
.login_black fieldset ul.help li a{color:#818181;font:.9em;white-space:nowrap;text-decoration:none}
.login_black fieldset ul.help li a:hover{text-decoration:underline}
.login_black fieldset ul.help li.first-child a{color:#cbcbcb}
.login_black fieldset .userName{margin:0;position:relative;width:172px;overflow:hidden;border-bottom:1px solid #515151;padding:0 0 6px 0;margin-top:-5px}
.login_black fieldset .userName strong{color:#cbcbcb;padding:4px 0 0 2px;font:bold .9em Tahoma}
.login_black fieldset .userName a{position:relative;right:0px}
.login_black fieldset .userName img{border:none}
.login_black fieldset ul.userMenu{margin:0;position:relative;padding:0 0 6px 4px;overflow:hidden;margin-top:10px}
.login_black fieldset ul.userMenu li{list-style:none;color:#cbcbcb;list-style:none;padding-left:10px;background:url(../images/black/bulletFF1A00.gif) no-repeat left 4px;margin-bottom:5px}
.login_black fieldset ul.userMenu li a{color:#cbcbcb;text-decoration:none}
.login_black fieldset ul.userMenu li a:hover{text-decoration:underline}
.login_black fieldset p.latestLogin{margin:5px 0;color:#818181;font:.9em}
.login_black fieldset p.latestLogin span{font:1em Tahoma}
