<script type="text/javascript">
xe.lang.msg_empty_search_target = '{$lang->msg_empty_search_target}';
xe.lang.msg_empty_search_keyword = '{$lang->msg_empty_search_keyword}';
</script>
<load target="js/trackback_admin.js" usecdn="true" />
<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form action="" class="form">
	<h1 class="h1">{$lang->trackback}</h1>
	<div class="table even">
		<table width="100%" border="1" cellspacing="0" id="trackbackListTable">
			<caption>
				All({number_format($total_count)})
				<span class="side"><span class="btn"><a href="#listManager" class="modalAnchor" onclick="getTrackbackList();">{$lang->trackback_manager}...</a></span></span>
			</caption>
			<thead>
				<tr>
					<th scope="col" class="text">{$lang->title}</th>
					<th scope="col">{$lang->site}</th>
					<th scope="col">{$lang->date}</th>
					<th scope="col">{$lang->ipaddress}</th>
					<th scope="col"><input type="checkbox" data-name="cart" title="Check All" /></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th scope="col" class="text">{$lang->title}</th>
					<th scope="col">{$lang->site}</th>
					<th scope="col">{$lang->date}</th>
					<th scope="col">{$lang->ipaddress}</th>
					<th scope="col"><input type="checkbox" data-name="cart" title="Check All" /></th>
				</tr>
			</tfoot>
			<tbody>
				<!--@foreach($trackback_list as $no => $val)-->
				<tr>
					<td class="text">
						<a href="{getUrl('','document_srl',$val->document_srl)}#trackback_{$val->trackback_srl}" target="_blank">{htmlspecialchars($val->title)}</a>
						<p>{$val->excerpt}</p>
					</td>
					<td><a href="{$val->url}" target="_blank">{htmlspecialchars($val->blog_name)}</a></td>
					<td>{zdate($val->regdate,"Y-m-d")}</td>
					<td><a href="{getUrl('search_target','ipaddress','search_keyword',$val->ipaddress)}">{$val->ipaddress}</a></td>
					<td><input type="checkbox" name="cart" value="{$val->trackback_srl}" /></td>
				</tr>
				<!--@end-->
			</tbody>
		</table>
		<div class="btnArea">
			<span class="btn"><a href="#listManager" class="modalAnchor" onclick="getTrackbackList();">{$lang->trackback_manager}...</a></span>
		</div>
	</div>
</form>
<div class="modal" id="listManager">
	<form ruleset="deleteChecked" action="./" method="post" class="fg">
	<input type="hidden" name="module" value="trackback" />
	<input type="hidden" name="act" value="procTrackbackAdminDeleteChecked" />
	<input type="hidden" name="page" value="{$page}" />
		<h2 class="h2">{$lang->trackback_manager}</h2>
		<div class="table even">
			<table width="100%" border="1" cellspacing="0" id="trackbackManageListTable">
				<caption>
				{$lang->selected_trackback} <strong id="selectedTrackbackCount"></strong>
				</caption>
				<thead>
					<tr>
						<th scope="col" class="title"><span class="text">{$lang->title}</span></th>
						<th scope="col">{$lang->site}</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="btnArea">
			<span class="btn"><input type="submit" value="Delete" class="delete" /></span>
		</div>
	</form>
</div>
<div class="search">
<form action="" class="pagination">
	<input type="hidden" name="error_return_url" value="" />
	<input type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="act" value="{$act}" />
  	<input cond="$search_keyword" type="hidden" name="search_keyword" value="{$search_keyword}" />
  	<input cond="$search_target" type="hidden" name="search_target" value="{$search_target}" />

	<a href="{getUrl('page', '')}" class="direction">&laquo; FIRST</a>
	<block cond="$page_navigation->first_page + $page_navigation->page_count > $page_navigation->last_page && $page_navigation->page_count != $page_navigation->total_page">
		{@$isGoTo = true}
		<a href="{getUrl('page', '')}">1</a>
		<a href="#goTo" class="tgAnchor" title="{$lang->cmd_go_to_page}">...</a>
	</block>
	<!--@while($page_no = $page_navigation->getNextPage())-->
		{@$last_page = $page_no}
		<strong cond="$page_no == $page">{$page_no}</strong>
		<a cond="$page_no != $page" href="{getUrl('page', $page_no)}">{$page_no}</a>
	<!--@end-->
	<block cond="$last_page != $page_navigation->last_page">
		{@$isGoTo = true}
		<a href="#goTo" class="tgAnchor" title="{$lang->cmd_go_to_page}">...</a>
		<a href="{getUrl('page', $page_navigation->last_page)}">{$page_navigation->last_page}</a>
	</block>
	<a href="{getUrl('page', $page_navigation->last_page)}" class="direction">LAST &raquo;</a>
	<span cond="$isGoTo" id="goTo" class="tgContent">
		<input name="page" title="{$lang->cmd_go_to_page}" />
		<button type="submit">Go</button>
	</span>
</form>

	<form action="" onsubmit="return checkSearch(this)">
	<input type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="act" value="{$act}" />
	<input type="hidden" name="module_srl" value="{$module_srl}" />
		<select name="search_target">
			<option value="">{$lang->search_target}</option>
			<!--@foreach($lang->search_target_list as $key => $val)-->
			<option value="{$key}" <!--@if($search_target==$key)-->selected="selected"<!--@end-->>{$val}</option>
			<!--@end-->
		</select>
		<input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" />
		<input type="submit" value="{$lang->cmd_search}" />
		<a href="{getUrl('','module',$module,'act',$act)}">{$lang->cmd_cancel}</a>
	</form>
</div>
