<!--%import("filter/update_category.xml")-->

<!--#include("./header.html")-->

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<!-- 카테고리의 위/아래, 삭제와 관련된 form -->
<form id="fo_category_info" action="./" method="post">
	<input type="hidden" name="module" value="module" />
	<input type="hidden" name="act" value="procModuleAdminDeleteCategory" />
    <input type="hidden" name="module_category_srl" value="" />
</form>
<div class="table">
	<table width="100%" border="1" cellspacing="0">
		<thead>
			<tr>
				<th scope="col" class="title">{$lang->category_title}</th>
				<th scope="col">{$lang->regdate}</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<!--@if(!count($category_list))-->
			<tr>
				<td colspan="3">{$lang->msg_category_is_null}</td>
			</tr>
			<!--@end-->
			<!--@foreach($category_list as $key => $val)-->
			<tr>
				<td class="title">{$val->title}</td>
				<td>{zdate($val->regdate,"Y-m-d H:i:s")}</td>
				<td>
					<a href="{getUrl('module_category_srl',$val->module_category_srl)}">{$lang->cmd_modify}</a>
					<button type="button" class="text" onclick="doUpdateCategory('{$val->module_category_srl}','{$lang->confirm_delete}');return false;">{$lang->cmd_delete}</button>
				</td>
			</tr>
			<!--@end-->
		</tbody>
	</table>
</div>

<!-- 카테고리 추가 -->
<form ruleset="insertCategory" action="./" method="post" class="form">
	<input type="hidden" name="module" value="module" />
	<input type="hidden" name="act" value="procModuleAdminInsertCategory" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="module_srl" value="{$module_srl}" />
	<input type="hidden" name="module_category_srl" value="" />
    <div class="btnArea">
		<label for="category_title">{$lang->category_title}</label>
		<input type="text" name="title" id="category_title" />
		<span class="btn"><input type="submit" value="{$lang->cmd_registration}" /></span>
	</div>
</form>
