<load target="js/module_admin.js" usecdn="true" />

<script type="text/javascript">
	xe.lang.favorite_on = '{$lang->favorite}({$lang->on})';
	xe.lang.favorite_off = '{$lang->favorite}({$lang->off})';
</script>

<h1 class="h1">{$lang->installed_module}</h1>

<div class="cnb">
	<a href="{getUrl('', 'module', 'admin', 'act', 'dispModuleAdminContent')}" class="active"|cond="$act=='dispModuleAdminContent'">{$lang->installed_module}</a>
	|
	<a href="{getUrl('', 'module', 'admin', 'act', 'dispModuleAdminCategory')}" class="active"|cond="$act=='dispModuleAdminCategory'">{$lang->module_category}</a>
</div>
