<div id="manageSelectedModuleSetup">
	<h3 class="h3">{$lang->bundle_setup}</h3>
	<form ruleset="insertModuleSetup" action="./" method="post" class="form tgContent">
		<input type="hidden" name="module" value="module" />
		<input type="hidden" name="act" value="procModuleAdminModuleSetup" />
		<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
		<input type="hidden" name="module_srls" value="" />
		<ul>
			<li>
				<p class="q"><label for="module_category_srl">{$lang->module_category}</label></p>
				<p class="a">
					<select name="module_category_srl" id="module_category_srl">
						<option value="0">{$lang->notuse}</option>
						<!--@foreach($module_category as $key => $val)-->
						<option value="{$key}" <!--@if($module_info->module_category_srl==$key)-->selected="selected"<!--@end-->>{$val->title}</option>
						<!--@end-->
					</select>
				</p>
				<p class="desc">{$lang->about_module_category}</p>
			</li>
			<li>
				<p class="q"><label for="layout_srl">{$lang->layout}</label></p>
				<p class="a">
					<select name="layout_srl" id="layout_srl">
						<option value="0">{$lang->notuse}</option>
						<!--@foreach($layout_list as $key => $val)-->
						<option value="{$val->layout_srl}" <!--@if($module_info->layout_srl==$val->layout_srl)-->selected="selected"<!--@end-->>{$val->title} ({$val->layout})</option>
						<!--@end-->
					</select>
				</p>
				<p class="desc">{$lang->about_layout}</p>
			</li>
			<li cond="count($skin_list)">
				<p class="q"><label for="skin">{$lang->skin}</label></p>
				<p class="a">
					<select name="skin" id="skin">
						<!--@foreach($skin_list as $key=>$val)-->
						<option value="{$key}" <!--@if($module_info->skin==$key ||(!$module_info->skin && $key=='xe_board'))-->selected="selected"<!--@end-->>{$val->title}</option>
						<!--@end-->
					</select>
				</p>
				<p class="desc">{$lang->about_skin}</p>
			</li>
			<li>
				<p class="q"><label for="description">{$lang->description}</label></p>
				<p class="a">
					<textarea name="description" id="description" rows="4" cols="45">{htmlspecialchars($module_info->description)}</textarea>
				</p>
				<p class="desc">{$lang->about_description}</p>
			</li>
			<li>
				<p class="q"><label for="header_text">{$lang->header_text}</label></p>
				<p class="a multiLangEdit">
					{@$use_multilang_textarea=true}
					<input type="hidden" name="header_text" class="vLang" />
					<textarea id="header_text" rows="4" cols="45" class="vLang"></textarea>
					<span class="desc"><a href="#langEditTextarea" class="editUserLang tgAnchor">{$lang->cmd_set_multilingual}</a></span>
				</p>
				<p class="desc">{$lang->about_header_text}</p>
			</li>
			<li>
				<p class="q"><label for="footer_text">{$lang->footer_text}</label></p>
				<p class="a multiLangEdit">
					<input type="hidden" name="footer_text" class="vLang" />
					<textarea id="footer_text" rows="4" cols="45" class="vLang"></textarea>
					<span class="desc"><a href="#langEditTextarea" class="editUserLang tgAnchor">{$lang->cmd_set_multilingual}</a></span>
				</p>
				<p class="desc">{$lang->about_footer_text}</p>
			</li>
		</ul>
		<div class="btnArea">
			<span class="btn"><input type="submit" value="{$lang->cmd_registration}" /></span>
		</div>

	</form>
</div>