<load target="js/integration_search_admin.js" usecdn="true" />

<h3 class="xeAdmin">{$lang->integration_search} <span class="gray">{$lang->cmd_management}</span></h3>

<div class="header4 gap1">
    <ul class="localNavigation">
        <li <!--@if($act=='dispIntegration_searchAdminContent')-->class="on"<!--@end-->><a href="{getUrl('act','dispIntegration_searchAdminContent')}">{$lang->cmd_setup}</a></li>
        <li <!--@if($act=='dispIntegration_searchAdminSkinInfo')-->class="on"<!--@end-->><a href="{getUrl('act','dispIntegration_searchAdminSkinInfo')}">{$lang->cmd_manage_skin}</a></li>
        <!--@if($module!='admin')-->
        <li><a href="{getUrl('act','IS')}">{$lang->cmd_back}</a></li>
        <!--@end-->
    </ul>
</div>

