<!--#include("header.html")-->
<load target="../../widget/tpl/js/widget_admin.js" usecdn="true" />

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="insertConfig" action="./" method="post">
	<input type="hidden" name="act" value="procIntegration_searchAdminInsertConfig" />
	<input type="hidden" name="module" value="admin" />
	<input type="hidden" name="target_module_srl" id="target_module_srl" value="{$config->target_module_srl}" />
	<div class="table">
		<table width="100%" border="1" cellspacing="0">
			<tr>
			<th scope="row">{$lang->sample_code}</th>
			<td >
				<textarea readonly="readonly">{$sample_code}</textarea>
				<p>{$lang->about_sample_code}</p>
			</td>
		</tr>
		<tr>
			<th scope="row">{$lang->skin}</th>
			<td>
				<select name="skin">
					<!--@foreach($skin_list as $key=>$val)-->
					<option value="{$key}" <!--@if($config->skin==$key)-->selected="selected"<!--@end-->>{$val->title}</option>
					<!--@end-->
				</select>
				<p>{$lang->about_skin}</p>
			</td>
		</tr>
		<tr>
			<th scope="row">{$lang->target}</th>
			<td>
				<select name="target">
					<option value="include">{$lang->include_search_target}</option>
					<option value="exclude" <!--@if($config->target=='exclude')-->selected="selected"<!--@end-->>{$lang->exclude_search_target}</option>
				</select>
	
				<select name="_target_module_srl" id="_target_module_srl" size="8" style="display:block;margin:10px 0;"></select>
	
				<a href="{getUrl('','module','module','act','dispModuleSelectList','id','target_module_srl')}" onclick="popopen(this.href, 'ModuleSelect');return false;" class="button blue"><span>{$lang->cmd_insert}</span></a>
				<a href="#" onclick="midRemove('target_module_srl');return false;" class="button red"><span>{$lang->cmd_delete}</span></a>
	
				<script type="text/javascript">
					jQuery( function() { getModuleSrlList('target_module_srl'); } );
				</script>
			</td>
		</tr>
		</table>
	</div>
	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_registration}" /></span>
	</div>
</form>
