<!--#include("header.html")-->
<!--%import("filter/insert_config.xml")-->
<!--%import("js/zzz_menu_new.admin.js")-->

<h3 class="xeAdmin">{$lang->menu_new} <span class="gray">{$lang->cmd_management}</span></h3>

<a href="#" onclick="doRemakeCache();return false;" class="button"><span>{$lang->cmd_remake_cache}</span></a>

<form action="./" method="get" onsubmit="return procFilter(this, insert_config)">
    <table cellspacing="0" class="rowTable">
    <tr class="row2">
        <th scope="row"><div>{$lang->use_menu_new}</div></th>
        <td>
            <select name="use_menu_new">
                <option value="Y"<!--@if($config->use_menu_new=='Y')--> selected="selected"<!--@end-->>{$lang->use}</option>
                <option value="N"<!--@if($config->use_menu_new=='N')--> selected="selected"<!--@end-->>{$lang->notuse}</option>
            </select>
            <p>{$lang->about_use_menu_new}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->use_comment}</div></th>
        <td>
            <select name="use_comment">
                <option value="Y"<!--@if($config->use_comment=='Y')--> selected="selected"<!--@end-->>{$lang->use}</option>
                <option value="N"<!--@if($config->use_comment=='N')--> selected="selected"<!--@end-->>{$lang->notuse}</option>
            </select>
            <p>{$lang->about_use_comment}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->duration_new}</div></th>
        <td>
            <input type="text" name="duration_new" value="{$config->duration_new}" class="inputTypeText" />
            <p>{$lang->about_duration_new}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->up_new}</div></th>
        <td>
            <select name="up_new">
                <option value="Y"<!--@if($config->up_new=='Y')--> selected="selected"<!--@end-->>{$lang->use}</option>
                <option value="N"<!--@if($config->up_new=='N')--> selected="selected"<!--@end-->>{$lang->notuse}</option>
            </select>
            <p>{$lang->about_up_new}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->text_new}</div></th>
        <td>
            <select name="text_new">
                <option value="Y"<!--@if($config->text_new=='Y')--> selected="selected"<!--@end-->>{$lang->use}</option>
                <option value="N"<!--@if($config->text_new=='N')--> selected="selected"<!--@end-->>{$lang->notuse}</option>
            </select>
            <p>{$lang->about_text_new}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->new_image}</div></th>
        <td>
            <input type="text" name="new_image" value="{$config->new_image}" class="inputTypeText w400" />
            <p>{$lang->about_new_image}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->new_image_comment}</div></th>
        <td>
            <input type="text" name="new_image_comment" value="{$config->new_image_comment}" class="inputTypeText w400" />
            <p>{$lang->about_new_image_comment}</p>
        </td>
    </tr>
    <tr class="row2">
        <th scope="row"><div>{$lang->select_module}</div></th>
        <td>
            <p>
                {$lang->about_select_module}
                <select name="select_module_mode">
                    <option value="in"<!--@if($config->select_module_mode=='in')--> selected="selected"<!--@end-->>{$lang->select_module_in}</option>
                    <option value="out"<!--@if($config->select_module_mode=='out')--> selected="selected"<!--@end-->>{$lang->select_module_out}</option>
                </select>
                {$lang->about_select_module2}
            </p>
            <p>
                <ul>
                <!--@foreach($mid_list as $val)-->
                    <li>
                        <label>
                        <input type="checkbox" name="mid_list" value="{$val->mid}" <!--@if(in_array($val->mid, $config->mid_list2))-->checked="checked"<!--@end--> />
                        <strong>{$val->browser_title}</strong> (mid: {$val->mid}, module: {$val->module})
                        </label>
                <!--@end-->
                </ul>
            </p>
        </td>
    </tr>
    <tr>
        <th scope="row" colspan="2" class="button">
            <span class="button black strong"><input type="submit" value="{$lang->cmd_registration}" accesskey="s" /></span>
        </th>
    </tr>
    </table>
</form>
