<include cond="$in_admin" target="header.html" />
<load target="js/generate_code.js" usecdn="true" />

<h2 class="h2">{$widget_info->title}</h2>
<p>{$widget_info->description}</p>
<form id="widget_code_form" class="form" action="./" method="post">
	<input type="hidden" name="module" value="widget" />
	<input type="hidden" name="act" value="procWidgetGenerateCode" />
	<input type="hidden" name="selected_widget" value="{$widget_info->widget}" />

	<h3 class="h3">{$lang->cmd_generate_code}</h3>
	<p>{$lang->about_widget_code}</p>
	<include target="widget_generate_code.include.html" />

	<div class="btnArea">
		<span class="btn small"><input type="submit" value="{$lang->cmd_generate_code}" /></span>
	</div>
</form>

<h3 class="h3">{$lang->widget_code}</h3>
<p><textarea id="widget_code" style="width: 100%; height: 50px;" readonly="readonly"></textarea>

<include target="widget_generate_code.filebox.html" />
<include target="widget_generate_code.multilang.html" />
	<include target="widget_generate_code.multilang.textarea.html" />