<load target="css/syndication.css" usecdn="true" />
<load target="js/syndication.js" usecdn="true" />

<h3 class="xeAdmin">{$lang->syndication} <span class="gray">{$lang->cmd_management}</span></h3>
<p class="summary">{$lang->about_syndication}</p>

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="insertService" action="./" method="post">
<input type="hidden" name="act" value="procSyndicationAdminInsertService" />
    <input type="hidden" name="year" value="{$year}" />
    <table cellspacing="0" class="rowTable">
    <tr>
        <th scope="row"><div>{$lang->my_syndication_url}</div></th>
        <td>
            http://<input type="text" id="site_url" name="site_url" value="{$site_url}" class="inputTypeText siteUrl" />
            <span class="button green"><input type="button" value="{$lang->cmd_check_syndication_echo}" onclick="pingSite(jQuery('#site_url').val())" /></span>
            <p>{$lang->about_my_syndication_url}</p>
			<p class="ping_test_result"></p>
        </td>
    </tr>
    <tr>
        <th scope="row"><div>{$lang->syndication_service}</div></th>
        <td>
            <ul class="syndiService">
            <!--@foreach($services as $key => $val)-->
                <li>
                    <input type="checkbox" name="target_services" value="{$val->service}" id="target_service_{$val->service}" <!--@if($val->selected)-->checked="checked"<!--@end--> />
                    <label for="target_service_{$val->service}">{$val->service}</label>
					<!--@if($val->selected)--><span class="button green small"><input type="button" value="{$lang->cmd_check_syndication_status}" onclick="checkSyndicationStatus('{$val->service}')" /></span><!--@end-->
                </li>
            <!--@end-->
            </ul>
			<div class="print_result_status"></div>
            <p>{$lang->about_syndication}</p>
        </td>
    </tr>
    <tr>
        <th scope="row"><div>{$lang->except_module}</div></th>
        <td>
            <select name="_except_module" id="_except_module" size="10" class="exceptModuleList">
                {@$except_module_srls = array()}
                <!--@foreach($except_module as $v)-->
                {@$except_module_srls[] = $v->module_srl}
                <option value="{$v->module_srl}">{$v->browser_title} ({$v->mid})</option>
                <!--@end-->
            </select>
            <ul class="midCommand">
                <li><a href="{getUrl('','module','module','act','dispModuleSelectList','id','except_module')}" onclick="popopen(this.href, 'ModuleSelect');return false;" class="button blue"><span>{$lang->cmd_insert}</span></a></li>
                <li><a href="#" onclick="removeExceptModule('except_module');return false;" class="button red"><span>{$lang->cmd_delete}</span></a></li>
            </ul>
            <p>{$lang->about_except_module}</p>
            <input type="hidden" name="except_module" id="except_module" value="{implode(',',$except_module_srls)}" />
        </td>
    </tr>
    <tr>
        <th colspan="2" class="button">
            <span class="button black strong"><input type="submit" value="{$lang->cmd_apply}" accesskey="s" /></span>
        </th>
    </tr>
    </table>
</form>
