<script type="text/javascript">
</script>
<load target="js/spamfilter_admin.js" usecdn="true" />
<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
    <p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form id="spamfilterDelete" action="" method="post">
	<input type="hidden" name="module" value="spamfilter" />
	<input type="hidden" name="act" value="" />
	<input type="hidden" name="ipaddress" value="" />
	<input type="hidden" name="word" value="" />
	<input type="hidden" name="ruleset" value="">
</form>
<form action="" id="spamfilterConfig" class="form" ruleset="@insertConfig">	
	<input type="hidden" name="act" value="procSpamfilterAdminInsertConfig" />
	<input type="hidden" name="module" value="spamfilter" />
	<input type="hidden" name="ruleset" value="insertConfig" />
	<h1 class="h1">{$lang->spamfilter}</h1>
	<ul>
		<li>
			<p class="q">{$lang->cmd_interval}</p>
			<p class="a">
				<input type="radio" name="limits" id="spamCond1_yes" value="Y" <!--@if($config->limits=='Y' || $config->limits =='')-->checked="checked"<!--@end--> />
				<label for="spamCond1_yes">{$lang->cmd_yes}</label>
				<input type="radio" name="limits" id="spamCond1_no" value="N" <!--@if($config->limits!='Y' && $config->limits !='')--> checked="checked"<!--@end--> /> <label for="spamCond1_no">{$lang->cmd_no}</label>
			</p>
		</li>
		<li>
			<p class="q">{$lang->cmd_check_trackback}</p>
			<p class="a">
				<input type="radio" name="check_trackback" id="spamCond2_yes" value="Y" <!--@if($config->check_trackback=='Y' || $config->check_trackback=='')--> checked="checked"<!--@end--> />
				<label for="spamCond2_yes">{$lang->cmd_yes}</label>
				<input type="radio" name="check_trackback" id="spamCond2_yes" value="N" <!--@if($config->check_trackback!='Y' &&  $config->check_trackback!='')--> checked="checked"<!--@end--> / > <label for="spamCond2_yes">{$lang->cmd_no}</label>
			</p>
		</li>
	</ul>
	<div class="btnArea">
		<span class="btn medium"><input type="submit" value="{$lang->cmd_save}" /></span>
	</div>
</form>
<form action="" id="spamfilterInsert" class="form">
	<input type="hidden" name="act" value="" />
	<input type="hidden" name="module" value="spamfilter" />
	<input type="hidden" name="ruleset" value="" />
	<ul>
		<li>
			<p class="q">{$lang->cmd_denied_ip}</p>
			<div class="a">
				<ul class="textList">
					<!--@foreach($ip_list as $ipListKey)-->
					<li>{$ipListKey->ipaddress} <!--@if($ipListKey->description)-->// {$ipListKey->description} <!--@end-->
						<a href="#" onclick="doDeleteDeniedIP('{$ipListKey->ipaddress}')" class="side">{$lang->cmd_delete}</a>
					</li>
					<!--@endforeach-->
				</ul>
			</div>
			<p class="a">
				<textarea rows="4" cols="42" name="ipaddressList" title="스팸 IP 추가"></textarea>
				<span class="btn small"><button type="button" onclick="doInsertDeniedIP('{$lang->msg_invalid_format}')">{$lang->cmd_insert}</button></span>
				<span class="desc">{$lang->about_denied_ip}</span>
			</p>
		</li>
		<li>
			<p class="q"><label for="spamKeyword">{$lang->cmd_denied_word}</label></p>
			<div class="a">
				<ul class="textList">
					<!--@foreach($word_list as $wordListKey)-->
					<li>{$wordListKey->word} <a href="#" onclick="doDeleteDeniedWord('{$wordListKey->word}')" class="side">{$lang->cmd_delete}</a></li>
					<!--@end-->
				</ul>
			</div>
			<p class="a">
				<textarea rows="4" cols="42" name="wordList" title="스팸 키워드 추가"></textarea>
				<span class="btn small"><button type="button" onclick="doInsertDeniedWord('{$lang->msg_invalid_format}')">{$lang->add}</button></span>
				<span class="desc">{$lang->about_denied_word}</span>
			</p>
		</li>
	</ul>
</form>
