<!-- JS Load -->
    <!--%import("js/jquery.tooltip.js")-->
    <!--%import("js/global.js")-->

<!--@if(!$module_info->colorset)-->
    {@$module_info->colorset = "white"}
<!--@end-->
	
<!--%import("css/board.css")-->

<!--@if($module_info->colorset == "white")-->
	<!--%import("css/white.css")-->
    {@ $btn_class = "pxeWhite" }
<!--@elseif($module_info->colorset == "black")-->
    <!--%import("css/black.css")-->
    {@ $btn_class = "pxeBlack" }
<!--@elseif($module_info->colorset == "light")-->
    <!--%import("css/light.css")-->
    {@ $btn_class = "pxeLight" }
<!--@elseif($module_info->colorset == "dark")-->
    <!--%import("css/dark.css")-->
    {@ $btn_class = "pxeBlack" }
<!--@end-->

<!--@if(!$module_info->duration_new = (int)$module_info->duration_new)-->{@ $module_info->duration_new = 12 }<!--@end-->
<!--@if(!$module_info->content_cut_size = (int)$module_info->content_cut_size)-->{@ $module_info->content_cut_size= 240 }<!--@end-->

<!--@if(!$module_info->thumbnail_type)-->{@ $module_info->thumbnail_type = 'crop'; }<!--@end-->
<!--@if(!$module_info->thumbnail_width)-->{@ $module_info->thumbnail_width = 100; }<!--@end-->
<!--@if(!$module_info->thumbnail_height)-->{@ $module_info->thumbnail_height = 100; }<!--@end-->

<!--@if($order_type == "desc")-->
    {@ $order_icon = "buttonDescending.gif" }
    {@ $order_type = "asc"; }
<!--@else-->
    {@ $order_icon = "buttonAscending.gif" }
    {@ $order_type = "desc"; }
<!--@end-->

<!--@if($listStyle=='studio')-->
    {@ $module_info->default_style = 'studio'}
<!--@elseif($listStyle=='gallery')-->
    {@ $module_info->default_style = 'gallery'}
<!--@elseif($listStyle=='webzine')-->
    {@ $module_info->default_style = 'webzine'}
<!--@elseif($listStyle=='list')-->
    {@ $module_info->default_style = 'list'}
<!--@elseif(!in_array($module_info->default_style,array('list','webzine','gallery','studio','blog')))-->
    {@ $module_info->default_style = 'list'}
<!--@end-->

{$module_info->header_text}

<div class="board">
    <!--@if($module_info->display_board_header != 'N')-->
    <div class="boardHeader <!--@if($listStyle=='studio')-->studio<!--@end-->">
		<!--@if($module_info->title)-->
		<div class="boardTitle">
			<h2 class="boardTitleText iePngFix"><a href="{getUrl('','mid',$mid,'listStyle',$listStyle)}">{$module_info->title}<!--@if($module_info->sub_title)-->&nbsp;&nbsp;<em>- {$module_info->sub_title}</em><!--@end--></a>
            <span class="bbsComments">{$module_info->comment}</span>
            </h2>
		</div>
		<!--@end-->		
    </div><!--boardHeader out-->
    <!--@end-->

    <!--@if($module_info->display_setup_button != 'N')-->
    <div class="boardInformation">


        <!--@if($total_count)-->
        <div class="infoSum <!--@if($listStyle=='studio')-->studio<!--@end-->">{number_format($total_count)}</div>
        <!--@end-->
		
		<div class="infoView <!--@if($listStyle=='studio')-->studio<!--@end-->">
			<ul>
				<!--@if($grant->manager && $module_info->display_setup_button != 'N')-->
				<li class="setup"><a href="{getUrl('act','dispBoardAdminBoardInfo')}" title="{$lang->cmd_setup}"><span>{$lang->cmd_setup}</span></a></li>
				<!--@end-->
                
                <!--@if($module_info->default_style == 'studio')-->
                
                <li class="listTypeClassic icon"><span>Classic Style</span></li>
				<li class="listTypeZine icon"><span>Zine Style</span></li>
				<li class="listTypeGallery icon"><span>Gallery Style</span></li>
                <li class="listTypeStudio icon active"><a href="#" title="현재 스튜디오 형식으로 보고 있습니다"><span>Studio Style</span></a></li>
                <li class="listTypeBlog icon"><span>Blog Style</span></li>
                
                <!--@elseif($module_info->default_style == 'blog')-->
                
                <li class="listTypeClassic icon"><span>Classic Style</span></li>
				<li class="listTypeZine icon"><span>Zine Style</span></li>
				<li class="listTypeGallery icon"><span>Gallery Style</span></li>
                <li class="listTypeStudio icon"><span>Studio Style</span></li>
                <li class="listTypeBlog icon active"><a href="#" title="현재 블로그 형식으로 보고 있습니다"><span>Blog Style</span></a></li>
                
                <!--@else-->
                
				<li class="listTypeClassic icon<!--@if($module_info->default_style=='list')--> active<!--@end-->"><a href="{getUrl('listStyle','list','act','','document_srl','')}" title="글 목록을 일반 리스트 형식으로 봅니다"><span>Classic Style</span></a></li>
				<li class="listTypeZine icon<!--@if($module_info->default_style=='webzine')--> active<!--@end-->"><a href="{getUrl('listStyle','webzine','act','','document_srl','')}" title="글 목록을 웹진 형식으로 봅니다"><span>Zine Style</span></a></li>
				<li class="listTypeGallery icon<!--@if($module_info->default_style=='gallery')--> active<!--@end-->"><a href="{getUrl('listStyle','gallery','act','','document_srl','')}" title="글 목록을 갤러리 형식으로 봅니다"><span>Gallery Style</span></a></li>
                <li class="listTypeStudio icon"><span>Studio Style</span></li>
                <li class="listTypeBlog icon"><span>Blog Style</span></li>

                <!--@end-->
			</ul>
		</div>
    </div>
<!--@end-->
