<script type="text/javascript">

jQuery(document).ready(function($) {

	function smartColumns() {
		
		$(".boardList.thumbListStudio").css({ 'width' : "100%"});
		
		var width = document.getElementById("thumbnail_width").value;
		var colWrap = $(".boardList.thumbListStudio").width();
		var colNum = Math.floor(colWrap / width);
		var colFixed = Math.floor(colWrap / colNum);
		
		
		$(".boardList.thumbListStudio").css({ 'width' : colWrap});
		$(".boardList.thumbListStudio li").css({ 'width' : colFixed});

		
		
	}	
	
	smartColumns();	

	$(window).resize(function () {
		smartColumns();
		
	}); 		
});
</script>

<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>
		<!--@if(count($document_list))-->
            {@$_height = count($list_config)*18}
            <!--@if($list_config['thumbnail'])--> {@$_height += $module_info->thumbnail_height }<!--@end-->

		<ul class="boardList thumbListStudio">
        
			<!--@foreach($document_list as $no => $document)-->
			<!--@if(!$document->isNotice())-->
            <!--@if($document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->
			<li>
                <div class="thumb">
                    <!--라벨 위치-->
                    <!--@if($document->getExtraValue(2))-->
                    <span><img src="./img/label/{$document->getExtraValue(2)}.png" alt="" class="iePngFix" /></span>
                    <!--@end-->
                    
                    <!--@if($grant->manager)-->
                        <span class="adminCheck"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></span>
                    <!--@end-->
            
                        <a  
                        <!--@if($module_info->active_sitelink =='Y')-->
                            <!--@if($document->getExtraValue(3))-->
                            href="{$document->getExtraValue(3)}" 
                            target="_blank"
                            <!--@else-->
                            href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}"
                            <!--@end--> 
                        <!--@else-->
                        href="{getUrl('document_srl',$document->document_srl,'listStyle',$listStyle, 'cpage','')}" 
                        <!--@end-->
                        title="<!--@if($document->getExtraValue(1))-->&lt;img src={$document->getExtraValue(1)} /&gt;<!--@end-->">
                        <input type="hidden" id="thumbnail_width" value="{$module_info->thumbnail_width}">
                        <img src="{$document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}" alt="" class="thumbnail" />
                        <div class="subWrapper">
                            <span class="sublayer">
                                <p class="title">{$document->getTitle($module_info->subject_cut_size)}</p>
                                <p class="date">photo registed in {$document->getRegdate('F d, Y')}</p>
                            </span>
                        </div><!--subWrapper out-->
                        </a>        
                </div>
            </li>
            <!--@else-->
                <!--@if($grant->manager)-->             
                <li>
                    <div class="thumb bad">
                    <span class="adminCheck"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></span>
                    <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">썸네일이 없는 불량 게시물입니다</a>
                    </div>
                </li>
                <!--@end-->
            <!--@end-->
			<!--@end-->
			<!--@end-->
		</ul>
		
        <!--@end-->
        
    </fieldset>
</form>
