{@$list_count = 0}

<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>
        <table cellspacing="0" border="1" summary="List of Articles" class="boardList webZine">
			<thead>
                <tr>
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
	
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
							    {@$list_count++}							
								<th scope="col"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_num.gif" alt="" /><!--@else-->{$lang->no}<!--@end--></th>
							<!--@elseif($val->type == 'title')-->
							    {@$list_count++}														
								<th scope="col" class="title">
									<!--@if($module_info->use_category == "Y")-->
									<span class="jumpTo">
										<select name="category" id="board_category">
											<option value="">{$lang->category}</option>
											<!--@foreach($category_list as $val)-->
											<option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
											<!--@end-->
										</select>
										<button type="button" name="go_button" id="go_button" onclick="doChangeCategory(); return false;" class="button">Go</button>
									</span>
									<!--@end-->
									<!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_subject.gif" alt="" /><!--@else-->{$lang->title}<!--@end-->
								</th>
							<!--@elseif($val->type == 'regdate')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','regdate','order_type',$order_type)}"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_date.gif" alt="" /><!--@else-->{$lang->date}<!--@end--><!--@if($sort_index=='regdate')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'last_update')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','last_update','order_type',$order_type)}"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_update.gif" alt="" /><!--@else-->{$lang->last_update}<!--@end--><!--@if($sort_index=='last_update')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'nick_name')-->
							    {@$list_count++}														
								<th scope="col"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_author.gif" alt="" /><!--@else-->{$lang->writer}<!--@end--></th>
							<!--@elseif($val->type == 'user_id')-->
							    {@$list_count++}														
								<th scope="col"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_id.gif" alt="" /><!--@else-->{$lang->user_id}<!--@end--></th>
							<!--@elseif($val->type == 'user_name')-->
							    {@$list_count++}														
								<th scope="col"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_name.gif" alt="" /><!--@else-->{$lang->user_name}<!--@end--></th>
							<!--@elseif($val->type == 'readed_count')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','readed_count','order_type',$order_type)}"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_read.gif" alt="" /><!--@else-->{$lang->readed_count}<!--@end--><!--@if($sort_index=='readed_count')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'voted_count')-->
							    {@$list_count++}														
								<th scope="col"><a href="{getUrl('sort_index','voted_count','order_type',$order_type)}"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_vote.gif" alt="" /><!--@else-->{$lang->voted_count}<!--@end--><!--@if($sort_index=='voted_count')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@elseif($val->type == 'last_post')-->
							    {@$list_count++}														
                                <th scope="col"><a href="{getUrl('sort_index','last_update','order_type',$order_type)}"><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_last.gif" alt="" /><!--@else-->{$lang->last_post}<!--@end--><!--@if($sort_index=='last_update')--><img src="./img/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
							<!--@end-->
							<!--// 사용자 선언 확장변수일 경우 -->
							<!--@else-->
							    {@$list_count++}														
								<th scope="col"><strong>{$val->name}</strong></th>
							<!--@end-->
						<!--@end-->
						<!--@if($grant->manager)--><th scope="col"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" title="Check All" /></th><!--@end-->
                    </tr>
			</thead>

			<tbody>
	
				<!--@if(!$document_list && !$notice_list)-->
				<tr>
					<td colspan="{$_col_count}">
						{$lang->no_documents}
					</td>
				</tr>
				<!--@else-->
			
				<!--@foreach($notice_list as $no => $document)-->
				<tr class="notice">
					<!--// 목록 설정으로 table theader 생성 -->
					<!--@foreach($list_config as $key => $val)-->
	
						<!--// 기본 컨텐츠일 경우 -->
						<!--@if($val->idx == -1)-->
	
							<!--// 컨텐츠 종류에 따라서 출력 -->
							<!--@if($val->type == 'no')-->
								<td class="notice"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@else--><!--@if($module_info->active_clean_type == 'Y' )--><img src="img/{$module_info->colorset}/th_notice.gif" alt="" /><!--@else-->{$lang->notice}<!--@end--><!--@end--></td>
							<!--@elseif($val->type == 'title')-->
								<td class="title">
									
									<!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->
									<strong class="category">{$category_list[$document->get('category_srl')]->title}</strong>
									<!--@end-->
	
									<a 
                                    <!--@if($module_info->active_subjectlink =='Y')-->
                                        <!--@if($document->getExtraValue(3))-->
                                        href="{$document->getExtraValue(3)}" 
                                        target="_blank"
                                        <!--@else-->
                                        href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}"
                                        <!--@end-->
                                    <!--@else-->
                                    href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}"
                                    <!--@end-->
                                    >{$document->getTitle($module_info->subject_cut_size)}</a>
									{$document->printExtraImages(60*60*$module_info->duration_new)}
									
									<!--@if($document->getCommentCount())-->
										<a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies">[{$document->getCommentCount()}]</span></a>
									<!--@end-->
	
									<!--@if($document->getTrackbackCount())-->
										<a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="trackbackNum" title="Trackbacks">[{$document->getTrackbackCount()}]</span></a>
									<!--@end-->
	
								</td>
							<!--@elseif($val->type == 'regdate')-->
								<td class="date">{$document->getRegdate('Y-m-d')}</td>
							<!--@elseif($val->type == 'last_update')-->
								<td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td>
							<!--@elseif($val->type == 'nick_name')-->
								<td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td>
							<!--@elseif($val->type == 'user_id')-->
								<td class="author">{$document->getUserID()}</a></td>
							<!--@elseif($val->type == 'user_name')-->
								<td class="author">{$document->getUserName()}</a></td>
							<!--@elseif($val->type == 'readed_count')-->
								<td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'voted_count')-->
								<td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td>
							<!--@elseif($val->type == 'last_post')-->
                                <td class="lastReply">
                                <!--@if((int)($document->get('comment_count'))>0)-->
                                    <a href="{$document->getPermanentUrl()}#comment" class="replyAnchor">{zdate($document->get('last_update'),'Y-m-d')} {zdate($document->get('last_update'),'H:i')}</a>
                                    <!--@if($document->get('last_updater'))-->
                                        <sub class="by">by</sub>
                                        {htmlspecialchars($document->get('last_updater'))}
                                    <!--@end-->
                                <!--@else-->
                                    &nbsp;
                                <!--@end-->
                                </td>
							<!--@end-->
	
						<!--// 사용자 선언 확장변수일 경우 -->
						<!--@else-->
								<td>{$document->getExtraValueHTML($val->idx)}&nbsp;</td>
						<!--@end-->
					<!--@end-->
					<!--@if($grant->manager)-->
						<td class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" title="Check this" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td>
					<!--@end-->
				</tr>
				<!--@end-->
	
				<!--// 일반 글 출력 -->
				<!--@foreach($document_list as $no => $document)-->
				<tr class="bg{($no+1)%2+1}">
					<td class="title" colspan="{$list_count}">
						<!--@if($list_config['thumbnail'] && $document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->
						<a  
                        <!--@if($module_info->active_sitelink =='Y')-->
                        href="{$document->getExtraValue(3)}" 
                        target="_blank" 
                        <!--@else-->
                        href="{getUrl('document_srl',$document->document_srl,'listStyle',$listStyle, 'cpage','')}" 
                        <!--@end-->
                        title="<!--@if($document->getExtraValue(1))-->&lt;img src={$document->getExtraValue(1)} /&gt;<!--@else-->미리보기 이미지가 없습니다<!--@end-->" 
                        class="thumb">
                        <!--라벨 위치-->
                        <!--@if($document->getExtraValue(2))-->
                        <span><img src="./img/label/{$document->getExtraValue(2)}.png" alt="" class="iePngFix" /></span>
                        <!--@end-->
                        <img src="{$document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}" alt="" /></a>
						<!--@end-->

                        {@$_meta_display = false}
                        <!--@foreach($list_config as $key => $val)-->
        
                            <!--// 기본 컨텐츠일 경우 -->
                            <!--@if($val->idx == -1)-->
                                <!--@if($val->type == 'title')-->
                                    <!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
                                    <p class="title">
                                        <!--@if($module_info->use_category == "Y" && $document->get('category_srl'))--><span class="category">{$category_list[$document->get('category_srl')]->title}</span><!--@end-->
                                        <a 
                                    <!--@if($module_info->active_subjectlink =='Y')-->
                                        <!--@if($document->getExtraValue(3))-->
                                        href="{$document->getExtraValue(3)}" 
                                        target="_blank"
                                        <!--@else-->
                                        href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}"
                                        <!--@end-->
                                    <!--@else-->
                                    href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}" 
                                    <!--@end-->
                                    class="title"
                                    >{$document->getTitle($module_info->subject_cut_size)}</a>
										{$document->printExtraImages(60*60*$module_info->duration_new)}
                                        <!--@if($document->getCommentCount())-->
                                            <a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies">[{$document->getCommentCount()}]</span></a>
                                        <!--@end-->
                                        <!--@if($document->getTrackbackCount())-->
                                            <a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="trackbackNum" title="Trackbacks">[{$document->getTrackbackCount()}]</span></a>
                                        <!--@end-->
                                    </p>
                                <!--@elseif($val->type == 'last_post' && $document->get('comment_count')>0)-->
                                    <!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
                                    <p class="title">
                                        <a href="{$document->getPermanentUrl()}#comment" class="replyAnchor">{zdate($document->get('last_update'),'Y-m-d')} {zdate($document->get('last_update'),'H:i')}</a>
                                        <!--@if($document->get('last_updater'))-->
                                            <sub class="by">by</sub>
                                            {htmlspecialchars($document->get('last_updater'))}
                                        <!--@end-->
                                    </p>
                                <!--@elseif($val->type=='summary')-->
                                    <!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
                                    <p class="summary"><a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">{$document->getSummary($module_info->content_cut_size)}</a></p>
                                <!--@elseif(in_array($val->type,array('regdate','last_update', 'nick_name','user_id','user_name','readed_count','voted_count')))-->
                                    <!--@if(!$_meta_display)--><ul class="meta">{@$_meta_display = true}<!--@end-->
                                    <!--@if($val->type == 'regdate')-->
                                        <li class="date">{$document->getRegdate('Y-m-d')}</li>
                                    <!--@elseif($val->type == 'last_update')-->
                                        <li class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</li>
                                    <!--@elseif($val->type == 'nick_name')-->
                                        <li class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></li>
                                    <!--@elseif($val->type == 'user_id')-->
                                        <li class="author">{$document->getUserID()}</a></li>
                                    <!--@elseif($val->type == 'user_name')-->
                                        <li class="author">{$document->getUserName()}</a></li>
                                    <!--@elseif($val->type == 'readed_count')-->
                                        <li class="reading">{$lang->readed_count} {$document->get('readed_count')>0?$document->get('readed_count'):'0'}</li>
                                    <!--@elseif($val->type == 'voted_count')-->
                                        <li class="recommend">{$lang->voted_count} {$document->get('voted_count')!=0?$document->get('voted_count'):'0'}</li>
                                    <!--@end-->
                                <!--@end-->
                            <!--@else-->
                                <!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
								<p class="title"><span class="category">{$val->name}</span> {$document->getExtraValueHTML($val->idx)}&nbsp;</p>
                            <!--@end-->
                        <!--@end-->
                        <!--@if($_meta_display)--></ul>{@$_meta_display = false}<!--@end-->
					</td>
					<!--@if($grant->manager)--><td class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" title="Check this" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td><!--@end-->
				</tr>
				<!--@end-->
	
			<!--@end-->
			</tbody>
        </table>
		
    </fieldset>
</form>
