<!-- 검색된 글 목록이 있고 권한이 있을 경우 출력 -->
    <!--@if($grant->list)-->

        <!--@if($category || $search_keyword)-->

            <!--@if($oDocument->isExists())-->
            <div class="viewDocument">
            <!--#include("view_document.html")-->
            </div>
            <!--@end-->

            <!--// 글이 선택되어 있거나 검색어가 있으면 목록을 출력 -->
            <!--#include("./style.list.html")-->

        <!--@elseif($oDocument->isExists())-->

            <div class="viewDocument">
                <!--#include("view_document.html")-->
            </div>

        <!--@else-->

            <!--// 일반글 -->
            <!--@foreach($document_list as $no => $oDocument)-->
            <div class="viewDocument">
            <!--#include("view_document.html")-->
            </div>
            <!--@end-->

        <!--@end-->

    <!--@end-->
