<!--@if($oDocument->getCommentCount())-->
<hr class="hr" />
<div class="feedbackList" id="reply">

	<div class="feedbackHeader">
		<!--@if($grant->write_comment && $oDocument->allowComment()) -->
			{$oDocument->getCommentcount()}
		<!--@end-->
	</div>
	
	<div class="replyList">

		{@ $_comment_list = $oDocument->getComments() }
		<!--@foreach($_comment_list as $key => $comment)-->
				<div class="item <!--@if($comment->get('depth'))-->itemReply<!--@end-->" id="comment_{$comment->comment_srl}">
					<div class="indent" <!--@if($comment->get('depth'))--> style="margin-left:{($comment->get('depth'))*15}px" <!--@end-->>
					
					<div class="itemAside">
                        <!--@if($comment->getProfileImage())-->
                            <img src="{$comment->getProfileImage()}" alt="profile" class="profile" />
                        <!--@else-->
                            <img src="img/{$module_info->colorset}/avatar.gif" alt="profile" class="profile" />
                        <!--@end-->            
					</div>
	
                    <div class="itemContent">

                                                <!-- (pipoket): Move comment headers to the content area -->
						<span class="header">
						<!--@if(!$comment->member_srl)-->
							<!--@if($comment->homepage)-->
								<a href="{$comment->homepage}" onclick="window.open(this.href);return false;" title="친구로 등록하거나 쪽지를 보낼 수 있습니다">{$comment->getNickName()}</a>
							<!--@else-->
								{$comment->getNickName()}
							<!--@end-->
						<!--@else-->
							<a href="#popup_menu_area" class="member_{$comment->member_srl}" onclick="return false" title="친구로 등록하거나 쪽지를 보낼 수 있습니다">{$comment->getNickName()}</a>
						<!--@end-->
						</span>
	
						<span class="meta">
							{$comment->getRegdate('F d, Y')}
						<!--@if($grant->manager || $module_info->display_ip_address!='N')-->
							<span class="ip">({$comment->getIpaddress()})</span>
						<!--@end-->
						</span>
						
					<!--@if(!$comment->isAccessible())-->
						<form action="./" method="get" onsubmit="return procFilter(this, input_password)" class="secretMessage">
						<input type="hidden" name="mid" value="{$mid}" />
						<input type="hidden" name="page" value="{$page}" />
						<input type="hidden" name="document_srl" value="{$comment->get('document_srl')}" />
						<input type="hidden" name="comment_srl" value="{$comment->get('comment_srl')}" />
							<p>&quot;{$lang->msg_is_secret}&quot;</p>
							<dl>
								<dt><label for="cpw">{$lang->password}</label> :</dt>
								<dd><input type="password" id="cpw" name="password" class="inputText" /><span class="buttonOfficial"><input type="submit" value="{$lang->cmd_input}" /></span></dd>
							</dl>
						</form>
					<!--@else-->
					{$comment->getContent(false)}

                                        <!-- (pipoket): Move vote results under the comment content -->
					<!--@if($comment->get('voted_count')!=0 || $comment->get('blamed_count') != 0)-->
					<dl class="vote">
						<dt class="love"><span>{$lang->cmd_vote}</span></dt>
						<dd>{$comment->get('voted_count')?$comment->get('voted_count'):0}</dd>
						<dt class="hate"><span>{$lang->cmd_vote_down}</span></dt>
						<dd>{$comment->get('blamed_count')?$comment->get('blamed_count'):0}</dd>
					</dl>
					<!--@end-->


					<!--@if($comment->hasUploadedFIles())-->
					<dl class="attachedFile">
						<dt><img src="./img/common/iconFiles.gif" width="27" height="11" alt="{$lang->uploaded_file}" /> <button type="button" class="fileToggle" onclick="jQuery(this).parents('dl.attachedFile').toggleClass('open');return false;">{$lang->uploaded_file} ({$comment->get('uploaded_count')})</button></dt>
						<dd>
							<ul class="files">
								{@ $_uploaded_files = $comment->getUploadedFiles() }
								<!--@foreach($_uploaded_files as $key => $file)-->
								<li><a href="{getUrl('')}{$file->download_url}">{$file->source_filename} <span class="bubble">[File Size:{FileHandler::filesize($file->file_size)}/Download{number_format($file->download_count)}]</span></a></li>
								<!--@end-->
							</ul>
						</dd>
					</dl>
					<!--@end-->


					<ul class="option">
					<!--@if($is_logged)-->
						<li class="wouldYou"><a href="#popup_menu_area" class="comment_{$comment->comment_srl}" title="이 댓글을 추천하거나 신고하는 등의 옵션기능을 사용합니다"><img src="img/{$module_info->colorset}/btn_option.gif" alt="" /></a></li>
					<!--@end-->
						<li><a href="{getUrl('act','dispBoardReplyComment','comment_srl',$comment->comment_srl)}" title="{$lang->cmd_reply}"><img src="img/{$module_info->colorset}/btn_addComment.gif" alt="" /></a></li> 
					<!--@if($comment->isGranted() || !$comment->get('member_srl'))-->
						<li><a href="{getUrl('act','dispBoardModifyComment','comment_srl',$comment->comment_srl)}" title="{$lang->cmd_modify}"><img src="img/{$module_info->colorset}/btn_modifyComment.gif" alt="" /></a></li> 
						<li><a href="{getUrl('act','dispBoardDeleteComment','comment_srl',$comment->comment_srl)}" title="{$lang->cmd_delete}"><img src="img/{$module_info->colorset}/btn_deleteComment.gif" alt="" /></a></li>
					<!--@end-->
					</ul>

					<!--@end-->

                    </div>
					
				</div>
				<!--@if($comment->get('depth'))-->
			<!--@end-->
			
		</div>
		<!--@end-->

</div>

    <!--@if($oDocument->comment_page_navigation)-->
    <div class="pagination">
        <a href="{getUrl('cpage',1)}#comment" class="prevEnd">{$lang->first_page}</a> 
        <!--@while($page_no = $oDocument->comment_page_navigation->getNextPage())-->
            <!--@if($cpage == $page_no)-->
                <strong>{$page_no}</strong> 
            <!--@else-->
                <a href="{getUrl('cpage',$page_no)}#comment">{$page_no}</a>
            <!--@end-->
        <!--@end-->
        <a href="{getUrl('cpage',$oDocument->comment_page_navigation->last_page)}#comment" class="nextEnd">{$lang->last_page}</a>
    </div>
    <!--@end-->

</div>
<!--@end-->
