<!--#include("_header.html")-->

<div class="smallBox w268">

    <div class="header">
        <h3>{$lang->confirm_delete}</h3>
    </div>

    <form action="./" method="get" onsubmit="return procFilter(this, delete_comment)">
    <input type="hidden" name="mid" value="{$mid}" />
    <input type="hidden" name="page" value="{$page}" />
    <input type="hidden" name="document_srl" value="{$oComment->get('document_srl')}" />
    <input type="hidden" name="comment_srl" value="{$oComment->get('comment_srl')}" />

        <div class="inputPassword tCenter">
            <span class="button {$btn_class}"><input type="submit" value="{$lang->cmd_delete}" accesskey="s" /></span>
            <a href="{getUrl('act','','comment_srl','')}" class="button {$btn_class}"><span>{$lang->cmd_cancel}</span></a>
        </div>

    </form>
</div>

<!--#include("_footer.html")-->
