<!--@if(!$form_include)--><!--#include("_header.html")--><!--@end-->

    <form action="./" method="get" onsubmit="return procFilter(this, input_password)" class="requirePassword">
		<fieldset>
			<h3>{$lang->msg_input_password}</h3>
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="page" value="{$page}" />
			<input type="hidden" name="document_srl" value="{$document_srl}" />
			<input type="hidden" name="comment_srl" value="{$comment_srl}" />
			<input type="password" name="password" id="cpw" class="inputText" title="{$lang->password}" />
			<span class="button {$btn_class}"><input type="submit" value="{$lang->cmd_input}" accesskey="s" /></span>
		</fieldset>
    </form>

<!--@if(!$form_include)--><!--#include("_footer.html")--><!--@end-->
