<!--#include("_header.html")-->
<!--@if($oDocument->isExists() && $module_info->default_style != 'blog')-->
<div class="viewDocument">
    <!--#include("./view_document.html")-->
</div>
<!--@end-->

<!--@if($module_info->default_style == 'webzine')-->
    <!--#include("./_style.webzine.html")-->
<!--@elseif($module_info->default_style == 'gallery')-->
    <!--#include("./_style.gallery.html")-->
<!--@elseif($module_info->default_style == 'studio')-->
    <!--#include("./_style.studio.html")-->
<!--@elseif($module_info->default_style == 'blog')-->
    <!--#include("./_style.blog.html")-->
<!--@else-->
    <!--#include("./_style.list.html")-->
<!--@end-->

<div class="boardNavigation">

    <div class="buttonLeft">
        <!--@if($module_info->default_style != 'blog')-->
        <a href="{getUrl('','mid',$mid,'page',$page,'document_srl','','listStyle',$listStyle)}" class="button {$btn_class}"><span>{$lang->cmd_list}</span></a>
        <!--@end-->
    </div>

    <div class="buttonRight">
        <a href="{getUrl('act','dispBoardWrite','document_srl','')}" class="button {$btn_class}"><span>{$lang->cmd_write}</span></a>
        <!--@if($grant->manager)-->
            <a href="{getUrl('','module','document','act','dispDocumentManageDocument')}" onclick="popopen(this.href,'manageDocument'); return false;" class="button {$btn_class}"><span>{$lang->cmd_manage_document}</span></a>
        <!--@end-->
    </div>

    <div class="pagination">
        <a href="{getUrl('page','','document_srl','','division',$division,'last_division',$last_division)}" class="prevEnd"><img src="img/{$module_info->colorset}/bottomGotoFirst.gif" alt="{$lang->last_page}" width="7" height="5" /></a> 
        <!--@while($page_no = $page_navigation->getNextPage())-->
            <!--@if($page == $page_no)-->
                <strong>{$page_no}</strong> 
            <!--@else-->
                <a href="{getUrl('page',$page_no,'document_srl','','division',$division,'last_division',$last_division)}">{$page_no}</a>
            <!--@end-->
        <!--@end-->
        <a href="{getUrl('page',$page_navigation->last_page,'document_srl','','division',$division,'last_division',$last_division)}" class="nextEnd"><img src="img/{$module_info->colorset}/bottomGotoLast.gif" alt="{$lang->last_page}" width="7" height="5" /></a>
    </div>

</div>

<!--@if($grant->view && $module_info->default_style != 'blog')-->
<form action="{getUrl()}" method="get" onsubmit="return procFilter(this, search)" id="fo_search" class="boardSearchForm">
    <fieldset>
        <legend>Board Search</legend>
        <input type="hidden" name="vid" value="{$vid}" />
        <input type="hidden" name="mid" value="{$mid}" />
        <input type="hidden" name="category" value="{$category}" />
        <input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" class="inputText" accesskey="S" title="{$lang->cmd_search}" />
        <select name="search_target">
            <!--@foreach($search_option as $key => $val)-->
            <option value="{$key}" <!--@if($search_target==$key)-->selected="selected"<!--@end-->>{$val}</option>
            <!--@end-->
        </select>
        <!--@if($last_division)-->
            <a href="{getUrl('page',1,'document_srl','','division',$last_division,'last_division','')}" class="button {$btn_class}"><span>{$lang->cmd_search_next}</span></a>
        <!--@end-->
        <span class="button {$btn_class}"><button type="submit" onclick="xGetElementById('fo_search').submit();return false;">{$lang->cmd_search}</button></span>
		<ul class="infoEtc">
			<li class="contributors"><a href="{getUrl('','module','module','act','dispModuleSkinInfo','selected_module',$module_info->module, 'skin', $module_info->skin)}" onclick="popopen(this.href,'skinInfo'); return false;" title="Contributors"><span>Contributors</span></a></li>
			<li class="tag"><a href="{getUrl('act','dispBoardTagList')}" title="Tag List"><span>Tag List</span></a></li>
		</ul>
    </fieldset>
</form>
<!--@end-->

<!--#include("_footer.html")-->
