<!--#include("_header.html")-->

<div class="tagCloud">
    <!--<h3 class="tagHeader">{$lang->tag} (<strong>{count($tag_list)}</strong>)</h3>-->
    <ul class="tags">
        <!--@foreach($tag_list as $val)-->

            <!--@if($val->count>5)-->
                {@ $tag_class = "rank1" }
            <!--@elseif($val->count>3)-->
                {@ $tag_class = "rank2" }
            <!--@elseif($val->count>2)-->
                {@ $tag_class = "rank3" }
            <!--@elseif($val->count>1)-->
                {@ $tag_class = "rank4" }
            <!--@else-->
                {@ $tag_class = "rank5" }
            <!--@end-->

            <li <!--@if($tag_class)-->class="{$tag_class}"<!--@end--> >
                <!--@if($layout_info->mid)-->
                    <a href="{getUrl('','mid',$layout_info->mid,'search_target','tag','search_keyword',$val->tag)}">{htmlspecialchars($val->tag)}</a>
                <!--@else-->
                    <a href="{getUrl('','mid',$mid,'search_target','tag','search_keyword',$val->tag)}">{htmlspecialchars($val->tag)}</a>
                <!--@end-->
            </li>
        <!--@end-->
		</ul>
</div>

<div class="boardNavigation">
    <a href="{getUrl('act','')}" class="button {$btn_class}"><span>{$lang->cmd_back}</span></a>
</div>

<!--#include("_footer.html")-->
