<!--@if(__DEBUG__)-->
	<load target="css/poll.css" />
	<load target="../../tpl/js/poll.js" />
<!--@else-->
	<load target="css/poll.min.css" />
	<load target="../../tpl/js/poll.min.js" />
<!--@end-->

<script type="text/javascript">
    var poll_alert_lang = "{$lang->msg_check_poll_item}";
</script>

<div id="poll_{$poll->poll_srl}" style="{$poll->style}">

	<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
		<p>{$XE_VALIDATOR_MESSAGE}</p>
	</div>
    <form ruleset="poll" action="./" method="post" onsubmit="return doPoll(this)">
	<input type="hidden" name="module" value="poll" />
	<input type="hidden" name="act" value="procPoll" />
    <input type="hidden" name="poll_srl" value="{$poll->poll_srl}" />
    <input type="hidden" name="poll_srl_indexes" value="" />
    <input type="hidden" name="skin" value="{$skin}" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

    <table cellspacing="0" class="poll_table">
    <col width="7" />
    <col />
    <col width="7" />
    <tr>
        <td><img src="./images/lh.png" alt="lh" class="iePngFix" width="7" height="7" /></td>
        <td class="h"><img src="./images/blank.gif" height="7" alt="blank" /></td>
        <td><img src="./images/rh.png" alt="rh" class="iePngFix" width="7" height="7" /></td>
    </tr>
    <tr>
        <td class="title" colspan="3">
            {$lang->poll_stop_date} : <strong>{zdate($poll->stop_date, "Y-m-d")}</strong>
        </td>
    </tr>
    <tr>
        <td class="l"><img src="./images/blank.gif" height="7" alt="blank" /></td>
        <td class="poll_content">

            <!--@foreach($poll->poll as $poll_srl_index => $val)-->
            <input type="hidden" name="checkcount_{$poll_srl_index}" value="{$val->checkcount}" />

            <div class="title">A : {$val->title}</div>

            <!--@if($val->checkcount>1)-->
            <div class="checkcount">
                {$lang->poll_checkcount} : {$val->checkcount}
            </div>
            <!--@end-->


            {@ $_key = 0}
            <!--@foreach($val->item as $item_srl => $item)-->
            {@$_idx = $poll->poll_srl.'_'.$poll_srl_index.'_'.$item_srl}

            <div class="item <!--@if($_key==count($val->item)-1)-->noborder<!--@end-->">
                <!--@if($val->checkcount>1)-->
                    <input type="checkbox" name="item_{$poll->poll_srl}_{$poll_srl_index}" value="{$item->poll_item_srl}" id="item_{$item->poll_item_srl}" /> 
                <!--@else-->
                    <input type="radio" name="item_{$poll->poll_srl}_{$poll_srl_index}" value="{$item->poll_item_srl}" id="item_{$item->poll_item_srl}" /> 
                <!--@end-->
                    <label for="item_{$item->poll_item_srl}">{$item->title}</label>
            </div>
            {@ $_key++}
            <!--@end-->

            <!--@end-->


        </td>
        <td class="r"><img src="./images/blank.gif" height="7" alt="blank" /></td>
    </tr>
    <tr>
        <td colspan="3" class="poll_button">
            <div>
                <span class="btn"><input type="button" value="{$lang->cmd_view_result}" class="poll_button _poll_result _srl_{$poll->poll_srl} _skin_{$skin}" /></span>
                <span class="btn"><input type="submit" value="{$lang->cmd_apply_poll}" class="poll_button" /></span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="lb" ><img src="./images/lb.png" alt="lb" class="iePngFix" width="7" height="7" /></td>
        <td class="b"><img src="./images/blank.gif" alt="blank" /></td>
        <td class="rb" ><img src="./images/rb.png" alt="rb" class="iePngFix" width="7" height="7" /></td>
    </tr>
    </table>

    </form>

</div>
