{@
	$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;

	$notice_list = $oThis->getNoticeList();
	$best_list = $module_info->use_best=='Y'?$oThis->getBestList():array();

	$a_lsttp = array('notice'=>&$notice_list,'best'=>&$best_list,''=>&$document_list);
}

<div class="hx h2">
	<h2><a href="{$oEntry->getUrl('','vid',$vid,'mid',$mid)}">{$module_info->browser_title}</a> <em>[{number_format($total_count)}]</em></h2>
	<a cond="count($category_list)" href="{$oEntry->getUrl('page','','act','dispBeluxeCategory','')}" class="ca">{$module_info->category_default_title}</a>
	<a href="{$oEntry->getUrl('act','dispBoardWrite','document_srl','')}" class="write">{$lang->cmd_write}</a>
</div>

<ul class="lt">
	<block loop="$a_lsttp => $lsttk,$p_list" cond="count($p_list)">
		<li loop="$p_list => $no,$document">
			<a href="{$oEntry->getUrl('', 'mid',$mid,'document_srl', $document->document_srl)}">
				<span class="title"><span cond="$lsttk" class="{$lsttk}">{$lsttk=='best'?'Best':$lang->notice}</span>
					<span cond="count($category_list) && $document->get('category_srl')">{$category_list[$document->get('category_srl')]->title} &rsaquo;</span>
					<strong>{$document->getTitle($module_info->subject_cut_size)}</strong>
					{@
						$commentCnt = $document->getCommentCount();
						$trackbackCnt = $document->getTrackbackCount();
					}
					<em cond="$commentCnt">[{$commentCnt}]</em><em cond="$trackbackCnt">({$trackbackCnt})</em>
				</span>
				<span class="auth">
					<strong>{(!$document->get('member_srl')||$dis_name=='nick_name')?$document->getNickName():$document->getUserName()}</strong> <span class="time">{$document->getRegDate("Y.m.d")}</span>
					{$document->printExtraImages(60*60*$module_info->duration_new)}
				</span>
			</a>
		</li>
	</block>
</ul>

<div cond="$page_navigation" class="pn">
	<a cond="$page != 1" href="{$oEntry->getUrl('document_srl','','comment_srl','','page',$page-1,'division',$division,'last_division',$last_division)}" class="prev">{$lang->cmd_prev}</a>
	<strong>{$page} / {$page_navigation->last_page}</strong>
	<a cond="$page != $page_navigation->last_page" href="{$oEntry->getUrl('document_srl','','comment_srl','','page',$page+1,'division',$division,'last_division',$last_division)}" class="next">{$lang->cmd_next}</a>
	<a href="#beluxe" class="cr fr">Board DX</a>
</div>

<div class="sh">
	<form action="{$oEntry->getUrl()}" method="get">
		<input type="hidden" name="vid" value="{$vid}" />
		<input type="hidden" name="mid" value="{$mid}" />
		<input type="hidden" name="category" value="{$category}" />
		<select name="search_target">
			<option loop="$list_config=>$key,$val" cond="$val->search=='Y'" value="{$key}" selected="selected"|cond="$key==$search_target">{$val->name}</option>
		</select>
		<input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" accesskey="S" title="{$lang->cmd_search}" />
		<button type="submit" class="shbn" title="{$lang->cmd_search}">Search</button>
	</form>
</div>
