{@
	$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;
}

<div class="hx h2">
	<h2><a href="{$oEntry->getUrl('','vid',$vid,'mid',$mid)}">{$module_info->browser_title}</a>
	<block cond="count($category_list) && $oDocument->get('category_srl')">
		&rsaquo; <a href="{$oEntry->getUrl('', 'mid',$mid,'category_srl', $oDocument->get('category_srl'))}">{$category_list[$oDocument->get('category_srl')]->title}</a>
	</block>
	&rsaquo; {$oDocument->getTitle()}</h2>
	<span class="ex">{(!$oDocument->get('member_srl')||$dis_name=='nick_name')?$oDocument->getNickName():$oDocument->getUserName()} | {$oDocument->getRegdate()} | <a href="#skip_co">본문 건너뛰기</a></span>
	<a href="{$oEntry->getUrl('act','dispBoardWrite','document_srl','')}" class="write">{$lang->cmd_write}</a>
</div>

{@
	$is_granted = $oDocument->isGranted();
	$is_secret = $grant->view && $oDocument->isSecret();
	$extra_key_list = ((!$is_secret || $is_granted) && $oDocument->isExtraVarsExists()) ? $oDocument->getExtraVars() : array();
	$tag_list = (!$is_secret || $is_granted) ? $oDocument->get('tag_list') : array();
	$uploaded_file_list = ((!$is_secret || $is_granted) && $oDocument->hasUploadedFiles()) ? $oDocument->getUploadedFiles() : array();
}

<div class="co">
	<dl cond="count($extra_key_list)" class="xv">
		<block loop="$extra_key_list=>$key,$val">
			<dt>{$val->name}</dt>
			<dd>{$val->getValueHTML()}</dd>
		</block>
	</dl>
	<form cond="$is_secret && !$is_granted" ruleset="checkPassword" action="./" method="post" class="ff secret">
		<input type="hidden" name="document_srl" value="{$oDocument->get('document_srl')}" />
		<input type="hidden" name="act" value="procBoardVerificationPassword" />
		<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
		<input type="password" name="password" id="cpw" />
		<input type="submit" value="{$lang->cmd_input}" class="bn dark" />
	</form>

	{$oDocument->getContent(false)}
</div>

{@ $tag_cnt = count($tag_list)}
<div cond="$tag_cnt" class="tags">
	<block loop="$i=0;$i<$tag_cnt;$i++"> {@ $tag = $tag_list[$i]}
		<span cond="$i">, </span><a href="{$oEntry->getUrl('', 'mid',$mid,'search_target','tag','search_keyword',$tag,'document_srl','')}" class="tag" rel="tag">{htmlspecialchars($tag)}</a>
	</block>
</div>

<div id="skip_co"></div>

<block cond="$module_info->display_attached_files!='N'&&count($uploaded_file_list)">
	<div class="hx h3">
		<h3>{$lang->uploaded_file} <em>[{count($uploaded_file_list)}]</em></h3>
		<button type="button" class="tg" title="open/close"></button>
	</div>
	{@
		$module_info->display_attached_files?0:$module_info->display_attached_files='Y';
		$disfile_general = $module_info->display_attached_files=='Y'||$module_info->display_attached_files=='G';
		$disfile_media = $module_info->display_attached_files=='Y'||$module_info->display_attached_files=='M';
	}
	<ul class="file tgo open">
		<li loop="$uploaded_file_list=>$key,$file" cond="($disfile_general&&$file->direct_download!='Y')||($disfile_media&&$file->direct_download=='Y')" class="isvalid"|cond="$file->isvalid!='Y'" class="direct"|cond="$file->isvalid=='Y'&&$file->direct_download=='Y'">
			<a cond="!$file->file_size&&$file->isvalid=='Y'" href="{$file->uploaded_filename}" target="_blank">{$file->source_filename}<span class="size">(link)</span></a>
			<a cond="$file->file_size" href="{$oEntry->getUrl('')}{$file->download_url}">{$file->source_filename}<span class="size">({FileHandler::filesize($file->file_size)}/{number_format($file->download_count)})</span></a>
		</li>
	</ul>
</block>

<block cond="$oDocument->allowTrackback() && $oDocument->getTrackbackCount()">
	<div class="hx h3">
		<h3>{$lang->trackback} <em>[{$oDocument->getTrackbackCount()}]</em></h3>
		<button type="button" class="tg" title="open/close"></button>
	</div>
	<ul class="rp tgo open">
		{@ $_trackback_list = $oDocument->getTrackbacks() }
		<li loop="$_trackback_list => $key,$val">
			<p>{$val->excerpt}</p>
			<span class="auth">
				<em>{htmlspecialchars($val->title)} - {htmlspecialchars($val->blog_name)}</em>
				<span class="time">{zdate($val->regdate, "Y.m.d")}</span>
				<a cond="$grant->manager" href="07_password.html" class="btn de">{$lang->cmd_delete}</a>
			</span>
		</li>
	</ul>
</block>

<div cond="$oDocument->allowComment() && $oDocument->getCommentCount()" class="hx h3">
	<h3 id="clb">{$lang->comment} <em>[{$oDocument->getCommentCount()}]</em></h3>
	<button type="button" class="tg tgr" title="open/close"></button>
</div>

<block cond="$grant->write_comment && $oDocument->isEnableComment()">
	<div class="hx h3">
		<h3>{$lang->comment} {$lang->cmd_write}</h3>
		<button type="button" class="tg" title="open/close"></button>
	</div>
	<form ruleset="insertComment" action="./" method="post" class="ff tgo open">
		<input type="hidden" name="mid" value="{$mid}" />
		<input type="hidden" name="entry" value="{$entry}" />
		<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
		<input type="hidden" name="act" value="procBoardInsertComment" />
		<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />
		<input type="hidden" name="comment_srl" value="" />
		<ul>
			<li>
				<label cond="$is_logged">
					<input type="checkbox" name="notify_message" value="Y" />
					{$lang->notify}
				</label>
				{@
					$use_status = explode(',', $module_info->use_c_status);
				}
				<label cond="count($use_status) > 1">
					<select name="status">
						<option loop="$use_status => $value" value="{$value}">{Context::getLang(strtolower($value))}</option>
					</select>
				</label>
				<input cond="count($use_status) === 1 && $use_status[0]" type="hidden" name="status" value="{$use_status[0]}" />
			</li>
			<block cond="!$is_logged">
				<li><hr /></li>
				<li>
					<label for="uName">{$lang->writer}</label>
					<input name="nick_name" type="text" id="uName" />
				</li>
				<li>
					<label for="uPw">{$lang->password}</label>
					<input name="password" type="password" id="uPw" />
				</li>
				<li>
					<label for="uMail">{$lang->email_address}</label>
					<input name="email_address" type="text" id="uMail" />
				</li>
				<li>
					<label for="uSite">{$lang->homepage}</label>
					<input name="homepage" type="text" id="uSite" value="" />
				</li>
				<li><hr /></li>
			</block>
			<block cond="$is_logged">
				<input type="hidden" name="nick_name" value="0" />
				<input type="hidden" name="password" value="0" />
			</block>
			<li>
				<label for="rText">{$lang->comment}</label>
				<textarea name="content" cols="20" rows="5" id="rText"></textarea>
			</li>
		</ul>
		<div class="bna">
			<input name="" type="submit" value="{$lang->cmd_comment_registration}" class="bn dark" />
		</div>
	</form>
</block>

<div style="height:1px;overflow:hidden;background:#ddd"></div>
<div class="bna">
	<a href="#beluxe" class="cr fl">Board DX</a>
	<span class="fr">
		<a href="{$oEntry->getUrl('act', '','document_srl', '')}" class="bn white">{$lang->cmd_list}</a>
		<a cond="$oDocument->isEditable()" href="{$oEntry->getUrl('act','dispBoardDelete','document_srl',$oDocument->document_srl,'comment_srl','')}" class="bn white">{$lang->cmd_delete}</a>
	</span>
</div>

<script type="text/javascript">
//<![CDATA[
jQuery(function($){
	$('.co .mm').next().hide();
	$('.mm').click(function(){ $(this).hide().next().show();});
	$('.tgo').removeClass('open');
	$('.tg').click(function(){
		$(this).parent('.h3').next('.tgo').toggleClass('open');
	});
	var loaded = false;
	$('.tgr').click(function(){
		if(!loaded) {
			loaded = true;
			{@ $lastpage = 1; }
			{@ $temp = $oDocument->getComments() }
			<!--@if($oDocument->comment_page_navigation)-->
			{@ $lastpage = $oDocument->comment_page_navigation->last_page }
			<!--@endif-->
			loadPage({$oDocument->document_srl}, {$lastpage});
		}
	});
});
//]]>
</script>
