	<div class="hx h2">
		<h2><a href="{getUrl('','vid',$vid,'mid',$mid)}">{$module_info->browser_title}</a></h2>
	</div>
	<div class="hx h3">
		<h3>{$lang->cmd_write}</h3>
	</div>
	<form ruleset="insertDocument" action="./" method="post" class="ff">
		<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
		<input type="hidden" name="act" value="procBoardInsertDocument" />
		<input type="hidden" name="document_srl" value="" />
		<ul>
			<li cond="$category_list">
				<label for="nCategory">{$lang->category}</label>
				<select name="category_srl" id="nCategory">
					<option loop="$category_list=>$val" disabled="disabled"|cond="!$val->grant" value="{$val->category_srl}" selected="selected"|cond="$val->grant&&$val->selected||$val->category_srl==$category_srl">
					{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} ({$val->document_count})
					</option>
				</select>
			</li>

			<li>
				<label for="nTitle">{$lang->title}</label>
				<input name="title" type="text" id="nTitle" />
			</li>
			<li>
				<label cond="$is_logged">
					<input type="checkbox" name="notify_message" value="Y" />
					{$lang->notify}
				</label>
				<label>
					<input type="checkbox" name="comment_status" value="ALLOW" checked="checked" />
					{$lang->allow_comment}
				</label>
				<label>
					<input type="checkbox" name="allow_trackback" value="Y" checked="checked" />
					{$lang->allow_trackback}
				</label>

				{@ $use_status = explode(',', $module_info->use_status)}
				<label cond="count($use_status) > 1">
					<select name="status">
						<option loop="$use_status => $value" value="{$value}">{Context::getLang(strtolower($value))}</option>
					</select>
				</label>
				<input cond="count($use_status) === 1 && $use_status[0]" type="hidden" name="status" value="{$use_status[0]}" />

				<label cond="$grant->manager && $module_info->custom_status">
					{@ $custom_status = explode(',',$module_info->custom_status)}
					{$lang->status}
					<select name="custom_status">
						<option loop="$custom_status => $key,$value" value="{$key}">{$value}</option>
					</select>
				</label>
			</li>
			<block cond="count($extra_keys)">
				<li loop="$extra_keys => $key,$val" class="exvar">
					<label for="ex_{$val->name}" class="exnm">{$val->name} <span cond="$val->is_required=='Y'" class="required">*</span></label>
					{$val->getFormHTML()}
				</li>
			</block>
			<block cond="!$is_logged">
				<li><hr /></li>
				<li>
					<label for="uName">{$lang->writer}</label>
					<input name="nick_name" type="text" id="uName" />
				</li>
				<li>
					<label for="uPw">{$lang->password}</label>
					<input name="password" type="password" id="uPw" />
				</li>
				<li>
					<label for="uMail">{$lang->email_address}</label>
					<input name="email_address" type="text" id="uMail" />
				</li>
				<li>
					<label for="uSite">{$lang->homepage}</label>
					<input name="homepage" type="text" id="uSite" value="" />
				</li>
				<li><hr /></li>
			</block>
			<block cond="$is_logged">
				<input type="hidden" name="nick_name" value="0" />
				<input type="hidden" name="password" value="0" />
			</block>
			<li>
				<label for="nText">{$lang->content}</label>
				<textarea name="content" cols="20" rows="8" id="nText"></textarea>
			</li>
		</ul>
		<div class="bna">
			<button type="submit" class="bn dark">{$lang->cmd_registration}</button>
		</div>
</form>
