
	<div class="hx h2">
		<h2><a href="{getUrl('','vid',$vid,'mid',$mid)}">{$module_info->browser_title}</a></h2>
	</div>

	<div cond="$oSourceComment->isExists()" class="origin">{$oSourceComment->getContent(false)}</div>

	<form ruleset="insertComment" action="./" method="post" class="ff tgo open">
		<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
		<input type="hidden" name="act" value="procBoardInsertComment" />
		<input type="hidden" name="parent_srl" value="{$oSourceComment->comment_srl}" />
		<input type="hidden" name="document_srl" value="{$document_srl}" />
		<input type="hidden" name="comment_srl" value="{$oComment->comment_srl}" />
		<ul>
			<li>
				<label cond="$is_logged">
					<input type="checkbox" name="notify_message" value="Y" />
					{$lang->notify}
				</label>
				{@
					$use_status = explode(',', $module_info->use_c_status);
				}
				<label cond="count($use_status) > 1">
					<select name="status">
						<option loop="$use_status => $value" value="{$value}">{Context::getLang(strtolower($value))}</option>
					</select>
				</label>
				<input cond="count($use_status) === 1 && $use_status[0]" type="hidden" name="status" value="{$use_status[0]}" />
			</li>
			<block cond="!$is_logged">
				<li><hr /></li>
				<li>
					<label for="uName">{$lang->writer}</label>
					<input name="nick_name" type="text" id="uName" />
				</li>
				<li>
					<label for="uPw">{$lang->password}</label>
					<input name="password" type="password" id="uPw" />
				</li>
				<li>
					<label for="uMail">{$lang->email_address}</label>
					<input name="email_address" type="text" id="uMail" />
				</li>
				<li>
					<label for="uSite">{$lang->homepage}</label>
					<input name="homepage" type="text" id="uSite" value="" />
				</li>
				<li><hr /></li>
			</block>
			<block cond="$is_logged">
				<input type="hidden" name="nick_name" value="0" />
				<input type="hidden" name="password" value="0" />
			</block>
			<li>
				<label for="rText">{$lang->comment}</label>
				<textarea name="content" cols="20" rows="5" id="rText"></textarea>
			</li>
		</ul>
		<div class="bna">
			<input name="" type="submit" class="bn dark" value="{$lang->cmd_comment_registration}" />
		</div>
	</form>
