<load target="css/mboard.css" />

<div class="bd">
	<div class="hx h2">
		<h2><a href="{$oEntry->getUrl('','vid',$vid,'mid',$mid)}">{$module_info->browser_title}</a> &rsaquo; {$lang->category}</h2>
		<a href="{$oEntry->getUrl('act','dispBoardWrite','document_srl','')}" class="write">{$lang->cmd_write}</a>
	</div>
	<ul class="gn">
		{@ $start = true }
		{@ $depth = 0 }
		<!--@foreach($category_list as $val)-->
		<!--@if(!$start && $val->depth == $depth)-->
		</li>
		<!--@end-->
		<!--@if($val->depth > $depth)--> <!--more depth-->
		<ul>
		<!--@else-->
		<!--@while($val->depth < $depth)-->
		</li>
		</ul>
		{@ $depth -= 1}
		<!--@end-->
		<!--@endif-->
			<li><a href="{$oEntry->getUrl('','mid',$mid,'category_srl',$val->category_srl)}">{$val->title} <em>[{$val->document_count}]</em></a>
			{@ $start = false }
			{@ $depth = $val->depth }
		<!--@endforeach-->
		<!--@while($depth > 0)-->
		</li>
		</ul>
		{@ $depth -= 1}
		<!--@end-->
		</li>
	</ul>
	<div class="bna">
		<a href="{$oEntry->getUrl('','vid',$vid,'mid',$mid,'mobile',$mobile)}" class="bn dark">{$lang->cmd_list}</a>
	</div>
</div>
