
{@
	$dis_name = $list_config['nick_name']->display == 'Y'?'nick_name':1;

	$start = true;
	$depth = 0;

	$comment_list = $oDocument->getComments();
	$best_comment_list = $module_info->use_c_best=='Y' ? $oThis->getBestCommentList($document_srl) : array();
	$a_clsttp = array('best'=>&$best_comment_list,''=>&$comment_list);
}

<ul id="cl" class="rp tgo open">
<li>
	<ul loop="$a_clsttp => $lsttk,$p_list" cond="count($p_list)">
		<li loop="$p_list=>$key,$comment" style="padding-left:{((int)$comment->get('depth')*20+5)}px;background-position:{((int)$comment->get('depth')*15-10)}px -145px"|cond="$comment->get('depth')" id="comment_{$comment->comment_srl}">
			<span cond="$lsttk" class="{$lsttk}">Best</span>
			{@
				$is_granted = $comment->isGranted();
				$is_secret = $grant->view && $comment->isSecret();
			}

			<form cond="$is_secret && !$is_granted" action="./" method="post" class="ff secret" onsubmit="if(!this.password.value){ alert('Input password'); this.password.focus(); return false;}else return true;">
				<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
				<input type="hidden" name="ruleset" value="checkPassword" />
				<input type="hidden" name="comment_srl" value="{$comment->get('comment_srl')}" />
				<input type="hidden" name="act" value="procBoardVerificationPassword" />
				<input type="hidden" name="error_return_url" value="{$oEntry->getUrl('', 'mid',$mid, 'document_srl', $document_srl)}" />
				<input type="hidden" name="success_return_url" value="{$oEntry->getUrl('', 'mid',$mid, 'document_srl', $document_srl)}" />
				<input type="password" name="password" id="cpw" />
				<input type="submit" value="{$lang->cmd_input}" class="bn dark" />
			</form>

			{$comment->getContent(false)}

			<div class="auth">
				<em>{(!$comment->get('member_srl')||$dis_name=='nick_name')?$comment->getNickName():$comment->getUserName()}</em>
				<span class="time">{$comment->getRegdate("Y.m.d")}</span>
				<a cond="$comment->isGranted() || !$comment->get('member_srl')" href="{$oEntry->getUrl('','mid',$mid,'act','dispBoardDeleteComment','comment_srl',$comment->comment_srl, 'document_srl',$document_srl)}" class="btn de">{$lang->cmd_delete}</a>
				<a href="{$oEntry->getUrl('','mid',$mid,'act','dispBoardWriteComment','comment_srl','','parent_srl',$comment->comment_srl, 'document_srl',$document_srl)}" class="btn re">{$lang->cmd_reply}</a>
				{@ $start = false }
				{@ $depth = $comment->get('depth') }
			</div>
		</li>
	</ul>
</li>
</ul>

<div cond="$oDocument->comment_page_navigation" id="clpn" class="pn">
	<a cond="$oDocument->comment_page_navigation->cur_page != 1" href="#" onclick="loadPage({$oDocument->document_srl}, {$oDocument->comment_page_navigation->cur_page-1}); return false;">&lsaquo; {$lang->cmd_prev}</a>
	<strong id="curpage">{$oDocument->comment_page_navigation->cur_page} / {$oDocument->comment_page_navigation->last_page}</strong>
	<a cond="$oDocument->comment_page_navigation->cur_page != $oDocument->comment_page_navigation->last_page" href="#" onclick="loadPage({$oDocument->document_srl}, {$oDocument->comment_page_navigation->cur_page+1}); return false;">{$lang->cmd_next} &rsaquo;</a>
</div>
