{@ Context::addJsFile("./common/js/jquery.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/js_app.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/common.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/xml_handler.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/xml_js_filter.js", true, '', -100000) }

<load target="js/mboard.js" />
<load target="css/mboard.css" />

<div class="bd">
	<div class="hx h2">
		<h2>{$lang->confirm_delete}</h2>
	</div>

	<form ruleset="deleteDocument"|cond="$act!='dispBoardDeleteComment'" ruleset="deleteComment"|cond="$act=='dispBoardDeleteComment'" action="./" method="post" class="ff">
	<input type="hidden" name="entry" value="{$entry}" />
	<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />

	<form cond="$XE_VALIDATOR_MESSAGE == 'msg_not_permitted'" ruleset="checkPassword" action="./" method="post" class="ff secret">
		<input cond="$act!='dispBoardDeleteComment'" type="hidden" name="document_srl" value="{$document_srl}" />
		<input cond="$act=='dispBoardDeleteComment'" type="hidden" name="comment_srl" value="{$comment_srl}" />
		<input type="hidden" name="act" value="procBoardVerificationPassword" />
		<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
		<input type="password" name="password" id="cpw" />
		<input type="submit" value="{$lang->cmd_input}" class="bn dark" />
		{@ $XE_VALIDATOR_MESSAGE = ''}
	</form>

	<block cond="$act!='dispBoardDeleteComment'">
		<div cond="$oDocument->isExists()" class="origin">{$oDocument->getTitle()}</div>
		<input type="hidden" name="act" value="procBoardDeleteDocument" />
		<input type="hidden" name="document_srl" value="{$oDocument->document_srl}" />
	</block>
	<block cond="$act=='dispBoardDeleteComment'">
		<div cond="$oComment->isExists()" class="origin">{$oComment->getContent(false)}</div>
		<form ruleset="deleteComment" action="./" method="post" class="ff">
		<input type="hidden" name="act" value="procBoardDeleteComment" />
		<input type="hidden" name="comment_srl" value="{$oComment->comment_srl}" />
	</block>

		<div class="bna">
			<button type="submit" class="bn dark">{$lang->cmd_delete}</button>
			<a href="{$oEntry->getUrl('','mid',$mid,'document_srl',$document_srl,'comment_srl',($parent_srl?$parent_srl:$comment_srl),'parent_srl','')}" class="bn dark"><span>{$lang->cmd_cancel}</span></a>
		</div>
	</form>
</div>

<script cond="$XE_VALIDATOR_MESSAGE" type="text/javascript">
	jQuery(function($){
		alert('{$XE_VALIDATOR_MESSAGE}');
	});
</script>
