{@
	$is_doc = $oDocument && $oDocument->isExists();
}

{@ Context::addJsFile("./common/js/jquery.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/js_app.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/common.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/xml_handler.js", true, '', -100000) }
{@ Context::addJsFile("./common/js/xml_js_filter.js", true, '', -100000) }

<load target="js/mboard.js" />
<load target="css/mboard.css" />

<div class="bd">
	<include cond="$is_doc" target="_read.html" />
	<include cond="!$is_doc" target="_list.html" />
</div>

<script cond="$XE_VALIDATOR_MESSAGE" type="text/javascript">
	jQuery(function($){
		alert('{$XE_VALIDATOR_MESSAGE}');
	});
</script>