<load target="js/page_admin.js" usecdn="true" />
<h2 class="h2">{$lang->page_management}</h2>

<p>{nl2br($lang->about_page)}</p>

<!--@if($module_info)-->
<!--@if($module_info->mid)-->
<h3 class="h3">
	{$module_info->mid} <!--@if($module_info->is_default=='Y')-->({$lang->is_default})<!--@end--> 
	| 
	<a href="{getSiteUrl($module_info->domain,'','mid',$module_info->mid)}" target="_blank">View</a>
</h3>
<!--@end-->
<div class="cnb">
	<ul>
		<!--@if($module=='admin')-->
		<li <!--@if($act=='dispPageAdminContent')-->class="active"<!--@end-->><a href="{getUrl('act','dispPageAdminContent','module_srl','')}">{$lang->cmd_list}</a></li>
		<!--@else-->
		<li><a href="{getUrl('act','')}">{$lang->cmd_back}</a></li>
		<!--@end-->
		<!--@if($module_srl)-->
		<li <!--@if($act=='dispPageAdminInfo')-->class="active"<!--@end-->><a href="{getUrl('act','dispPageAdminInfo')}">{$lang->module_info}</a></li>
		<li <!--@if($act=='dispPageAdminPageAdditionSetup')-->class="active"<!--@end-->><a href="{getUrl('act','dispPageAdminPageAdditionSetup')}">{$lang->cmd_addition_setup}</a></li>
		<li <!--@if($act=='dispPageAdminGrantInfo')-->class="active"<!--@end-->><a href="{getUrl('act','dispPageAdminGrantInfo')}">{$lang->cmd_manage_grant}</a></li>
		<!--@else-->
		<li <!--@if($act=='dispPageAdminInsert')-->class="active"<!--@end-->><a href="{getUrl('act','dispPageAdminInsert')}">{$lang->cmd_page_create}</a></li>
		<!--@end-->
	</ul>
</div>
<!--@end-->

