<load target="js/page_admin.js" usecdn="true" />
<!--#include("header.html")-->

<!-- 검색 -->
<form action="./" method="get" class="adminSearch">
	<input type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="vid" value="{$vid}" />
	<input type="hidden" name="act" value="dispPageAdminContent" />

        <fieldset>
			{$lang->mid} <input type="text" name="s_mid" value="{htmlspecialchars($s_mid)}"  />
			{$lang->browser_title} <input type="text" name="s_browser_title" value="{htmlspecialchars($s_browser_title)}"  />
            <span class="button blue"><input type="submit" value="{$lang->cmd_search}" /></span>
            <a href="{getUrl('s_mid','','s_browser_title','','page','')}" class="button black"><span>{$lang->cmd_cancel}</span></a>
        </fieldset>
</form>

<!-- 목록 -->
<form action="./" method="get" onsubmit="return doChangeCategory(this);" id="fo_list">
<div class="table">
	<table width="100%" border="1" cellspacing="0">
		<caption>Total {number_format($total_count)}, Page {number_format($page)}/{number_format($total_page)}</caption>
		<thead>
			<tr>
				<th scope="col">{$lang->no}</th>
				<th scope="col"><input type="checkbox" onclick="XE.checkboxToggleAll(); return false;" /></th>
				<th scope="col">
					<input type="hidden" name="module" value="{$module}" />
					<input type="hidden" name="act" value="{$act}" />
					<select name="module_category_srl">
						<option value="">{$lang->module_category}</option>
						<option value="0" <!--@if($module_category_srl==="0")-->selected="selected"<!--@end-->>{$lang->not_exists}</option>
						<!--@foreach($module_category as $key => $val)-->
						<option value="{$key}" <!--@if($module_category_srl==$key)-->selected="selected"<!--@end-->>{$val->title}</option>
						<!--@end-->
						<option value="">---------</option>
						<option value="-1">{$lang->cmd_management}</option>
						</select>
					<input type="submit" name="go_button" id="go_button" value="GO" />
        		</th>
				<th scope="col">{$lang->page_type}</th>
				<th scope="col">{$lang->mid}</th>
				<th scope="col">{$lang->browser_title}</th>
				<th scope="col">{$lang->regdate}</th>
				<th scope="col">&nbsp;</th>
				</tr>
			</thead>
		
		<tbody>
			<!--@foreach($page_list as $no => $val)-->
			<tr class="row{$cycle_idx}">
				<td>{$no}</td>
				<td><input type="checkbox" name="cart" value="{$val->module_srl}" /></td>
				<td>
					<!--@if(!$val->module_category_srl)-->
					<!--@if($val->site_srl)-->
					{$lang->virtual_site}
					<!--@else-->
					{$lang->not_exists}
					<!--@end-->
					<!--@else-->
					{$module_category[$val->module_category_srl]->title}
					<!--@end-->
					</td>
				<td>{$val->page_type}</td>
				<td>{$val->mid}</td>
				<td><a href="{getSiteUrl($val->domain,'','mid',$val->mid)}" target="_blank">{$val->browser_title}</a></td>
				<td>{zdate($val->regdate,"Y-m-d")}</td>
				<td>
					<a href="{getUrl('act','dispPageAdminInfo','module_srl',$val->module_srl)}">{$lang->cmd_setup}</a>
					<a href="{getUrl('','module','module','act','dispModuleAdminCopyModule','module_srl',$val->module_srl)}" onclick="popopen(this.href);return false;">{$lang->cmd_copy}</a>
					<a href="{getUrl('act','dispPageAdminDelete','module_srl', $val->module_srl)}">{$lang->cmd_delete}</a>
					</td>
				</tr>
			<!--@end-->
			</tbody>
	</table>
</div>

<!-- 버튼 -->
<div class="btnArea">
    <div class="etc">
        <a href="{getUrl('','module','module','act','dispModuleAdminModuleSetup')}" onclick="doCartSetup(this.href); return false;" class="button green"><span>{$lang->cmd_setup}</span></a>
        <a href="{getUrl('','module','module','act','dispModuleAdminModuleGrantSetup')}" onclick="doCartSetup(this.href); return false;" class="button blue"><span>{$lang->cmd_manage_grant}</span></a>
    </div>
	<a href="{getUrl('act','dispPageAdminInsert','module_srl','')}" class="button black strong"><span>{$lang->cmd_make}</span></a>
</div>

</form>

<!-- 페이지 네비게이션 -->
<div class="pagination">
    <a href="{getUrl('page','','module_srl','')}" class="direction">&lsaquo; {$lang->first_page}</a>
    <!--@while($page_no = $page_navigation->getNextPage())-->
        <!--@if($page == $page_no)-->
            <strong>{$page_no}</strong>
        <!--@else-->
            <a href="{getUrl('page',$page_no,'module_srl','')}">{$page_no}</a>
        <!--@end-->
    <!--@end-->
    <a href="{getUrl('page',$page_navigation->last_page,'module_srl','')}" class="direction">{$lang->last_page} &rsaquo;</a>
</div>
