<!--#include("header.html")-->

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="updatePage" action="./" method="post" enctype="multipart/form-data">
	<input type="hidden" name="module" value="page" />
	<input type="hidden" name="act" value="procPageAdminUpdate" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="module_srl" value="{$module_srl}" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
	<div class="table">
		<table width="100%" border="1" cellspacing="0">
			<tr>
				<th scope="row">{$lang->page_type}</th>
				<td colspan="3">
					{$lang->page_type_name[$module_info->page_type]}
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->mid}</th>
				<td colspan="3">
					<input type="text" name="page_name" value="{$module_info->mid}" />
					<p>{$lang->about_mid}</p>
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->module_category}</th>
				<td colspan="3">
					<select name="module_category_srl">
						<option value="0">{$lang->notuse}</option>
						<!--@foreach($module_category as $key => $val)-->
						<option value="{$key}" <!--@if($module_info->module_category_srl==$key)-->selected="selected"<!--@end-->>{$val->title}</option>
						<!--@end-->
					</select>
					<p>{$lang->about_module_category}</p>
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->browser_title}</th>
				<td colspan="3">
					<input type="text" name="browser_title" value="{$module_info->browser_title}"  id="browser_title"/>
					<a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','browser_title')}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
					<p>{$lang->about_browser_title}</p>
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->layout}</th>
				<td colspan="3">
					<select name="layout_srl">
						<option value="0">{$lang->notuse}</option>
						<!--@foreach($layout_list as $key => $val)-->
						<option value="{$val->layout_srl}" <!--@if($module_info->layout_srl==$val->layout_srl)-->selected="selected"<!--@end-->>{$val->title} ({$val->layout})</option>
						<!--@end-->
					</select>
					<p>{$lang->about_layout}</p>
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->mobile_view}</th>
				<td>
					<input type="checkbox" name="use_mobile" value="Y" <!--@if($module_info->use_mobile == "Y")-->checked="checked"<!--@end--> />
					<p>{$lang->about_mobile_view}</p>
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->mobile_layout}</th>
				<td>
					<select name="mlayout_srl">
						<option value="0">{$lang->notuse}</option>
						<!--@foreach($mlayout_list as $key => $val)-->
						<option value="{$val->layout_srl}" <!--@if($module_info->mlayout_srl==$val->layout_srl)-->selected="selected"<!--@end-->>{$val->title} ({$val->layout})</option>
						<!--@end-->
					</select>
					<p>{$lang->about_layout}</p>
				</td>
			</tr>
			<!--@if($module_info->page_type != 'ARTICLE')-->
			<tr>
				<th scope="row">{$lang->page_caching_interval}</th>
				<td colspan="3">
					<input type="text" name="page_caching_interval" value="{(int)$module_info->page_caching_interval}"  /> {$lang->unit_min}
					<p>{$lang->about_page_caching_interval}</p>
				</td>
			</tr>
			<!--@end-->
			<!--@if($module_info->page_type == 'OUTSIDE')-->
			<tr>
				<th scope="row">{$lang->opage_path}</th>
				<td colspan="3">
					<input type="text" name="path" value="{htmlspecialchars($module_info->path)}"  />
					<p>{$lang->about_opage_path}<b>{realpath("./")}</b></p>
				</td>
			</tr>
			<tr class="row">
				<th scope="row">{$lang->opage_mobile_path}</th>
				<td colspan="3">
					<input type="text" name="mpath" value="{htmlspecialchars($module_info->mpath)}"  />
					<p>{$lang->about_opage_mobile_path}<b>{realpath("./")}</b></p>
				</td>
			</tr>
			<!--@end-->
			<!--@if($module_info->page_type == 'ARTICLE')-->
			<tr>
				<th scope="row">{$lang->skin}</th>
				<td>
					<select name="skin">
						<!--@foreach($skin_list as $key=>$val)-->
						<option value="{$key}" <!--@if($module_info->skin==$key ||(!$module_info->skin && $key=='default'))-->selected="selected"<!--@end-->>{$val->title}</option>
						<!--@end-->
					</select>
					<p>{$lang->about_skin}</p>
				</td>
			</tr>
			<tr class="optionnalData articleType">
				<th scope="row">{$lang->mobile_skin}</th>
				<td>
					<select name="mskin">
						<!--@foreach($mskin_list as $key=>$val)-->
						<option value="{$key}" <!--@if($module_info->mskin==$key ||(!$module_info->mskin && $key=='default'))-->selected="selected"<!--@end-->>{$val->title}</option>
						<!--@end-->
					</select>
					<p>{$lang->about_skin}</p>
				</td>
			</tr>
			<!--@end-->
		</table>
	</div>
	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_save}" /></span>
		<!--@if($module_info->page_type != 'OUTSIDE')-->
		<span class="btn"><a href="{getUrl('','module','page','act','dispPageAdminContentModify','module_srl',$module_info->module_srl)}" onclick="window.open(this.href,'PageEdit','width=850,height=650,scrollbars=yes,resizable=yes,toolbars=no');return false;">{$lang->cmd_page_modify}</a></span>
		<!--@end-->
		<!--@if($module=="admin")-->
		<span class="btn"><a href="{getUrl('act','dispPageAdminContent','module_srl','')}">{$lang->cmd_list}</a></span>
		<!--@end-->
	</div>
</form>
