<load target="js/page_admin.js" usecdn="true" />
<!--#include("header.html")-->

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="deletePage" action="./" method="post">
	<input type="hidden" name="module" value="page" />
	<input type="hidden" name="act" value="procPageAdminDelete" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
    <h3 class="h3">{$lang->confirm_delete}</h3>
	<div class="table">
		<table width="100%" border="1" cellspacing="0">
			<tr>
				<th scope="row">{$lang->module_name}</th>
				<td >{$module_info->mid}</td>
			</tr>
			<tr>
				<th scope="row">{$lang->module}</th>
				<td>{$module_info->module}</td>
			</tr>
		</table>
	</div>
	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_delete}" /></span>
		<span class="btn"><a href="{getUrl('act','dispPageAdminContent')}">{$lang->cmd_back}</a></span>
	</div>
</form>

