@charset "utf-8";
/* Element Reset */
.xm,
.xm table,
.xm input,
.xm textarea,
.xm select,
.xm button{font-family:Tahoma,Geneva,sans-serif;font-size:12px;color:#333}
.xm button,
.xm input[type=submit],
.xm input[type=reset],
.xm input[type=button]{cursor:pointer;overflow:visible}
.xm img{border:0}
.xm p{line-height:1.5}
/* Heading */
.xm .h1, 
.xm .h2, 
.xm .h3, 
.xm .h4{position:relative;border-bottom-style:solid;border-bottom-color:#ccc;zoom:1}
.xm .h1{border-bottom-width:4px;font-size:24px}
.xm .h2{border-bottom-width:3px;font-size:20px}
.xm .h3{border-bottom-width:2px;font-size:16px}
.xm .h4{border-bottom-width:1px;font-size:12px}
/* Lined Tab Navigation */
.xm .nav{padding:0;margin:1em 0}
.xm .nav ul{position:relative;margin:0;padding:0;list-style:none;border-bottom:1px solid #ccc;zoom:1}
.xm .nav ul:after{content:"";display:block;clear:both}
.xm .nav li{float:left;margin-bottom:-1px}
.xm .nav li a{position:relative;float:left;text-decoration:none;border:1px solid #eee;border-bottom-color:#ccc;background:#fafafa;color:#333}
.xm .nav li a span{display:inline-block;height:14px;padding:6px 15px 6px 15px;letter-spacing:-1px;cursor:pointer}
.xm .nav li.active a{border:1px solid #ccc;border-bottom:1px solid #fff;margin-top:-1px;background:transparent}
.xm .nav li.active a span{padding-top:7px;font-weight:bold}
/* Form */
.xm .form{margin:1em 0;padding:0}
.xm .form fieldset{margin:0 0 2em 0;padding:0;border:0}
.xm .form em{font-style:normal;color:#e00}
.xm .form label{margin-right:1em;line-height:1;vertical-align:middle}
.xm .form input[type=checkbox]+label,
.xm .form input[type=radio]+label,
.xm .form input[type=file]{cursor:pointer}
.xm .form ul{position:relative;margin:0;padding:0;list-style:none;border-top:2px solid #ccc;border-bottom:1px solid #ccc;zoom:1}
.xm .form li{list-style:none;border:1px solid #ddd;border-left:0;border-right:0;margin:-1px 0;padding:8px 0;vertical-align:top;zoom:1}
.xm .form li:first-child{border-top:0}
.xm .form li>label:first-child{display:block;font-weight:bold}
.xm .form li label em{font-weight:normal}
.xm .form label.overlap{position:absolute;color:#aaa}
.xm .form input[type=text],
.xm .form input[type=password],
.xm .form input[type=file],
.xm .form textarea{position:relative;width:280px;margin:2px 0;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.xm .form input[type=text],
.xm .form input[type=password],
.xm .form input[type=file]{height:22px;line-height:22px;vertical-align:middle;padding:0 4px}
.xm .form input[type=text].loading,
.xm .form input.loading[type=password]{padding-right:24px;width:260px;background:transparent url(../img/preLoader16.gif) no-repeat 265px center}
.xm .form input[type=checkbox],
.xm .form input[type=radio]{margin:0;padding:0;width:13px;height:13px;vertical-align:middle}
.xm .form input[type=text][disabled=disabled],
.xm .form input[type=password][disabled=disabled],
.xm .form input[type=checkbox][disabled=disabled],
.xm .form input[type=radio][disabled=disabled],
.xm .form input[type=file][disabled=disabled],
.xm .form textarea[disabled=disabled],
.xm .form select[disabled=disabled]{background:#ddd !important;text-shadow:1px 1px 0 #fff}
.xm .form textarea{padding:3px 4px;vertical-align:top}
.xm .form span.desc, 
.xm .form em.desc{line-height:22px;vertical-align:middle;margin:0 10px}
.xm .form p.desc{margin:.25em 0;line-height:1.4}
.xm .form .q{font-weight:bold;margin:0 0 5px 0}
.xm .form .a{margin:0 0 5px 0}
.xm .form .tgForm{margin-right:1em}
.xm .form .h1 + ul,
.xm .form .h2 + ul,
.xm .form .h3 + ul,
.xm .form .h4 + ul{border-top:0}
/* Table */
.xm .table{margin:1em 0}
.xm .table table{width:100%;border:0;border-collapse:collapse;border-top:2px solid #ccc}
.xm .table caption{font-weight:bold;text-align:left;line-height:22px;padding:5px 0}
.xm .table caption:after{content:"";display:block;clear:both}
.xm .table caption a{font-weight:normal}
.xm .table caption em{float:right;margin-left:1em}
.xm .table caption strong{color:#e00}
.xm .table caption .side{float:right;font-weight:normal;margin-left:1em}
.xm .table th,
.xm .table td{border:0;padding:8px;vertical-align:top;text-align:left;border-bottom:1px solid #ddd;white-space:nowrap}
.xm .table th{background:#f8f8f8}
.xm .table thead th{border-bottom:1px solid #999}
.xm .table tfoot td{font-weight:bold;background:#f8f8f8}
.xm .table.even tbody tr:nth-of-type(even) td{background-color:#fafafa}
.xm .table td>input[type=text]{margin:-1px 0 -3px 0 !important;vertical-align:middle}
.xm .table img{vertical-align:middle}
.xm .table em{font-style:normal;font-weight:normal;color:#e00}
.xm .table .title,
.xm .table .text{white-space:normal}
/* Pagination */
.xm .pagination{margin:1em 0;text-align:center;line-height:normal}
.xm .pagination *{vertical-align:middle}
.xm .pagination a,
.xm .pagination strong{position:relative;display:inline-block;padding:2px 4px;font-weight:bold;text-decoration:none;line-height:normal;color:#333 !important;vertical-align:middle}
.xm .pagination a:hover,
.xm .pagination a:active,
.xm .pagination a:focus{border:1px solid #ddd;margin:0 -1px}
.xm .pagination strong{color:#e00 !important;font-size:20px}
.xm .pagination .direction{font-weight:normal;white-space:nowrap}
.xm .pagination .direction:hover,
.xm .pagination .direction:active,
.xm .pagination .direction:focus{border:0;margin:0;text-decoration:underline}
.xm .pagination input{width:30px;text-align:center}
.xm .pagination button{overflow:visible}
/* Text Button */
.xm input.text, 
.xm button.text{border:0;overflow:visible;padding:0;margin:0 4px 0 0;color:#33a;background:none;text-decoration:underline}
/* Agreement */
.xm .agreement{ margin:1em 0}
.xm .agreement .text{ margin:1em 0}
.xm .agreement .confirm{ margin:1em 0}
