<!--#include("./common_header.html")-->

<!--%import("filter/leave_member.xml")-->

    <h3>{$member_title = $lang->msg_leave_member}</h3>
    <form id="fo_insert_member" action="./" method="get" onsubmit="return procFilter(this, leave_member)">
    <input type="hidden" name="mid" value="{$mid}" />
    <input type="hidden" name="document_srl" value="{$document_srl}" />
    <input type="hidden" name="page" value="{$page}" />

    <table cellspacing="0" class="rowTable" title="{$lang->msg_leave_member}">
    <tr>
        <th scope="row"><div>{$lang->user_id}</div></th>
        <td class="wide">{$member_info->user_id}</td>
    </tr>
    <tr>
        <th scope="row"><div><label for="cpw">{$lang->password}</label></div></th>
        <td><input type="password" name="password" id="cpw" class="txt" /></td>
    </tr>
    <tr>
        <th class="button_col" colspan="2">
            <span class="grayBtn"><input type="submit" value="{$lang->cmd_leave}" accesskey="s" /></span>
            <a href="{getUrl('act','dispMemberInfo','member_srl','')}" class="whiteBtn"><span>{$lang->cmd_back}</span></a>
        </th>
    </tr>
    </table>
</form>
<!--#include("./common_footer.html")-->
