<!--#include("./common_header.html")-->
<!--%import("filter/modify_password.xml")-->
    <h3 class="pTitle2">{$member_title = $lang->cmd_modify_member_password}</h3>
    <form id="fo_insert_member" action="./" method="get" onsubmit="return procFilter(this, modify_password)">
    <input type="hidden" name="mid" value="{$mid}" />
    <input type="hidden" name="document_srl" value="{$document_srl}" />
    <input type="hidden" name="page" value="{$page}" />

    <table cellspacing="0" class="rowTable" title="{$lang->cmd_modify_member_password}">
    <tr>
        <th scope="row"><div>{$lang->user_id}</div></th>
        <td class="wide">{$member_info->user_id}</td>
    </tr>
    <tr>
        <th scope="row"><div><label for="cpw">{$lang->current_password}</label></div></th>
        <td><input type="password" name="current_password" id="cpw" class="iText" /></td>
    </tr>
    <tr>
        <th scope="row"><div><label for="npw1">{$lang->password1}</label>
		<br /><br /><br />
		<label for="npw2">{$lang->password2}</label></div></th>
        <td>
            <input type="password" name="password1" id="npw1" class="txt" />
            <br /><br />
            <input type="password" name="password2" id="npw2" class="txt" />
            <br />
            <p>{$lang->about_password}</p>
        </td>
    </tr>
    <tr>
        <th class="button_col" colspan="2">
            <span class="grayBtn"><input type="submit" value="{$lang->cmd_registration}" accesskey="s" /></span>
            <a href="{getUrl('act','dispMemberInfo','member_srl','')}" class="whiteBtn"><span>{$lang->cmd_back}</span></a>
        </th>
    </tr>
    </table>

    </form>
<!--#include("./common_footer.html")-->
