<!--%import("filter/resend_auth_mail.xml")-->
<!--%import("css/style.css")-->
<!--%import("js/member.js")-->

<div id="memberModule">
<form action="./" method="post" onsubmit="return procFilter(this, resend_auth_mail)">
    <h3 class="pTitle">{$lang->cmd_resend_auth_mail}</h3>
    <table cellspacing="0" class="signupTable">
	<caption><span>{$lang->cmd_resend_auth_mail}</span></caption>

        <tr>
            <th scope="row" class="w200">{$lang->email_address}</th>
            <td><input type="text" name="email_address" value="" class="iText" />
				<p class="cap_iText">{$lang->about_resend_auth_mail}</p>
			</td>
        </tr>
        <tr class="btnbar_vat">
            <th colspan="2" class="button_col"><span class="button black"><input type="submit" value="{$lang->cmd_resend_auth_mail}" /></span></th>
        </tr>
    
    </table>

</form>
</div>
