<!--#include("./common_header.html")-->

<h3 class="pTitle1">{$member_title = $lang->cmd_view_saved_document}</h3>

<table class="col_table" cellpadding="0" cellspacing="0">
<caption>Total : {number_format($total_count)}, Page {number_format($page)}/{number_format($total_page)}</caption>
<colgroup>
	<col width="120" />
	<col width="" />
	<col width="70" />
</colgroup>
	<thead>
    	<tr>
    	<th scope="col" class="chk l_date w150">{$lang->date}</th>
        <th scope="col" class="subject">{$lang->title}</th>
        <th scope="col" class="th_right w150">{$lang->cmd_delete}</th>
        </tr>
    </thead>
    <tbody>
		<!--@foreach($document_list as $no => $val)-->
    	<tr>
    	<td class="l_date">{$val->getRegdate("Y-m-d H:i:s")}</td>
        <td class="subject"><div class="doc_title"><a href="#" onclick="jQuery('#saved_document_{$val->document_srl}').toggle(); return false;">{$val->getTitle()}</a></div>
            <div id="saved_document_{$val->document_srl}" class="savedContent" style="display:none;">{$val->getContent(false)}</div></td>
        <td><a href="#" onclick="doDeleteSavedDocument('{$val->document_srl}','{$lang->confirm_delete}'); return false;" class="buttonSet buttonDelete"><span>{$lang->cmd_delete}</span></a></td>
        </tr>
	    <!--@end-->
        <th colspan="3" class="button_col">
            <a href="{getUrl('act','','selected_module_srl','')}" class="whiteBtn"><span>{$lang->cmd_back}</span></a>
        </th>

    </tbody>
</table>


<!-- 페이지 네비게이션 -->
<div class="pagination a1">
    <a href="{getUrl('page','','module_srl','')}" class="prevEnd">{$lang->first_page}</a> 
    <!--@while($page_no = $page_navigation->getNextPage())-->
        <!--@if($page == $page_no)-->
            <strong>{$page_no}</strong> 
        <!--@else-->
            <a href="{getUrl('page',$page_no,'module_srl','')}">{$page_no}</a> 
        <!--@end-->
    <!--@end-->
    <a href="{getUrl('page',$page_navigation->last_page,'module_srl','')}" class="nextEnd">{$lang->last_page}</a>
</div>

<!--#include("./common_footer.html")-->
