<!--#include("./common_header.html")-->

<h3 class="pTitle1">{$member_title = $lang->cmd_view_scrapped_document}</h3>


<table class="col_table" cellpadding="0" cellspacing="0">
<caption>Total : {number_format($total_count)}, Page {number_format($page)}/{number_format($total_page)}</caption>
<colgroup>
	<col width="40" />
	<col width="" />
	<col width="100" />
	<col width="150" />
	<col width="70" />
</colgroup>
	<thead>
    	<tr>
    	<th scope="col" class="chk">{$lang->no}</th>
        <th scope="col" class="subject"><div>{$lang->title}</div></th>
        <th scope="col">{$lang->writer}</th>
        <th scope="col">{$lang->date}</th>
        <th scope="col" class="th_right">{$lang->cmd_delete}</th>
        </tr>
    </thead>
    <tbody>
		<!--@foreach($document_list as $no => $val)-->
    	<tr>
			<td>{$no}</td>
			<td class="subject"><a href="{getUrl('','document_srl',$val->document_srl)}" onclick="window.open(this.href);return false;">{htmlspecialchars($val->title)}</a></td>
			<td><div class="member_{$val->target_member_srl}">{$val->nick_name}</div></td>
			<td>{zdate($val->regdate, "Y-m-d H:i")}</td>
			<td><a href="#" onclick="doDeleteScrap({$val->document_srl}); return false;" class="buttonSet buttonDelete"><span>{$lang->cmd_delete}</span></a></td>
        </tr>
		<!--@end-->
		<tr>
			<th class="button_col" colspan="5">
				<a href="{getUrl('act','','selected_module_srl','')}" class="whiteBtn"><span>{$lang->cmd_back}</span></a>
			</th>
		</tr>
    </tbody>
</table>


<!-- 페이지 네비게이션 -->
<div class="pagination a1">
    <a href="{getUrl('page','','module_srl','')}" class="prevEnd">{$lang->first_page}</a> 
    <!--@while($page_no = $page_navigation->getNextPage())-->
        <!--@if($page == $page_no)-->
            <strong>{$page_no}</strong> 
        <!--@else-->
            <a href="{getUrl('page',$page_no,'module_srl','')}">{$page_no}</a> 
        <!--@end-->
    <!--@end-->
    <a href="{getUrl('page',$page_navigation->last_page,'module_srl','')}" class="nextEnd">{$lang->last_page}</a>
</div>

<!--#include("./common_footer.html")-->
