<!--%import("../../tpl/js/signup_check.js")-->
<!--%import("filter/signup.xml")-->

<!--// datepicker javascript plugin load -->
<!--%load_js_plugin("ui")-->
<!--%load_js_plugin("ui.datepicker")-->

<!--#include("./common_header.html")-->

    <h3 class="pTitle">{$lang->cmd_signup}</h3>

	<form ruleset="@insertMember" id="fo_insert_member" class="form" action="./" method="post" enctype="multipart/form-data">
    <input type="hidden" name="act" value="procMemberInsert" />
    <table cellspacing="0" class="signupTable">
	<caption><span>Sign Up</span></caption>
    <tr>
        <th colspan="2" class="title"><div>{$lang->member_default_info}</div></th>
    </tr>
    <!--@if(!$is_logged && $member_config->agreement)-->
	<tr class="agreement">
		<th colspan="2" class="agreement">
			{$member_config->agreement}
			<div class="agreementButton">
				<input type="checkbox" name="accept_agreement" value="Y" id="accept_agree" />
				<label for="accept_agree">{$lang->about_accept_agreement}</label>
			</div>
		</th>
	</tr>
    <!--@end-->
    <tr>
        <th><div> {$identifierForm->title}<em class="require">*</em></div></th>
        <td class="wide">
        	<input type="text" name="{$identifierForm->name}" value="{$identifierForm->value}" /> <p>{$lang->about_user_id}</p> </td>
    </tr>
    <tr>
        <th><div> {$lang->password}<em class="require">*</em></div></th>
        <td><input type="password" name="password" value="" class="iText"/><p>{$lang->about_password}</p></td>
    </tr>
    <tr>
        <th><div> {$lang->password2}<em class="require">*</em></div></th>
        <td><input type="password" name="password2" value="" class="iText"/></td>
    </tr>
	<tr loop="$formTags=>$formTag">
		<th><div>{$formTag->title}</div></th>
		<td cond="$formTag->name != 'signature'">{$formTag->inputTag}</td>
		<td cond="$formTag->name =='signature'">{$editor}</td>
	</tr>
    <tr>
        <th><div>{$lang->allow_mailing}</div></th>
		<td>
			<input type="radio" name="allow_mailing" id="mailingYes" value="Y" checked="checked"|cond="$member_info->allow_mailing == 'Y'"> <label for="mailingYes">{$lang->cmd_yes}</label>
			<input type="radio" name="allow_mailing" id="mailingNo" value="N" checked="checked"|cond="$member_info->allow_mailing != 'Y'" > <label for="mailingNo">{$lang->cmd_no}</label>
		</td>
    </tr>
    <tr>
        <th><div>{$lang->allow_message}</div></th>
		<td>
			<block loop="$lang->allow_message_type=>$key,$val">
				<input type="radio" name="allow_message" value="{$key}" checked="checked"|cond="$member_info->allow_message == $key" id="allow_{$key}" /> <label for="allow_{$key}">{$val}</label>
			</block>
		</td>
    </tr>
    <tr cond="class_exists('AddonCaptcha') && $oCaptcha && $oCaptcha->addon_info->apply_signup=='apply'">
        <th><div>{$lang->captcha}</div></th>
		<td>
			{$oCaptcha->inlineDisplay()}
		</td>
    </tr>
    <tr>
        <th class="button_col" colspan="2">
            <span class="grayBtn"><input type="submit" value="{$lang->cmd_registration}" accesskey="s" /></span>
            <a href="{getUrl('act','','member_srl','')}" class="whiteBtn"><span>{$lang->cmd_cancel}</span></a>
        </th>
    </tr>
    </table>
</form>

<script type="text/javascript">
(function($){
    $(function(){
        var option = { changeMonth: true, changeYear: true, gotoCurrent: false,yearRange:'-100:+10', onSelect:function(){

            $(this).prev('input[type="hidden"]').val(this.value.replace(/-/g,""))}
        };
        $.extend(option,$.datepicker.regional['{$lang_type}']);
        $(".inputDate").datepicker(option);
		$(".dateRemover").click(function() {
			$(this).parent().prevAll('input').val('');
			return false;});
    });
})(jQuery);
</script>
<!--#include("./common_footer.html")-->
