@charset "utf-8";

body { margin:0;padding:0; font-size:.75em;}

a,a:link,a:visited {color:#555; text-decoration:none}
a:hover,a:active,a:focus {color:#111; text-decoration: underline}

input[type="text"][readonly] {color:#804040}
input[type="text"][disabled] {color:#808080}

img {border:none}
label {cursor:pointer}
form  {margin:0; padding:0}

.fl {float:left}
.fr {float:right}

.tLeft {text-align:left !important}
.tRight {text-align:right !important}
.tCenter {text-align:center !important}

.nowrap {white-space:nowrap}

.w20 {width:20px !important}
.wp80 {width:80% !important}
.wp100 {width:100% !important}

.fs8 {font-size:10px; font-family:Tahoma;}

.colRed {color:red !important;}
.colBlue {color:blue !important;}
.colGreen {color:green !important;}
.colPurple {color:purple !important;}

.clearBar {zoom:1;}
.clearBar:after {content:""; display:block; clear:both;}

.scToggle, .scClipboard {cursor:pointer}

/* Modal */
#siModalWin {position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;line-height: 1.5}
#siModalWin .fg {position:absolute;left:-9000px;top:10%;overflow:hidden;border: 8px solid #DDD;margin:0;background:#fff;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow:0 0 10px #333;-moz-box-shadow:0 0 10px #333;-webkit-box-shadow:0 0 10px #333; padding:10px}
#siModalWin .bg{position:fixed;border:0;left:0;top:0;width:100%;height:100%;background:#000;opacity:.3;filter:alpha(opacity:30)}
#siModalWin .ie6{position:absolute;left:0;top:0;width:100%;height:100%;border:0;opacity:0;filter:alpha(opacity=0);z-index:1}
#siModalWin button.modalClose {position:absolute;z-index:9;right:3px;border:0;cursor:pointer;background:transparent;text-shadow: 2px 2px 5px #808080}
#siModalWin fieldset{border:0;margin:0;padding:0}
#siModalWin #siTemplate,
#siModalWin #siIframe {min-width:450px; max-width:750px; width:750px; overflow-x:hidden; overflow-y:hidden}

#siBody .scLtitle,
#siTemplate .scLtitle {text-align:left; font-weight:bold;margin:0 0 10px;padding-bottom:5px;border-bottom:3px ridge #ccc; font-size:16px;text-shadow: 2px 2px 5px #808080;}

/* Body */
#siBody {position:relative; min-height:400px;line-height: 1.5}
#siBody .scHeader,
#siBody .scContent,
#siBody .scFooter {overflow:hidden; font-size:12px; font-family:Tahoma, Geneva, sans-serif; padding:0; width:100%; vertical-align:top;}
#siBody .scContent {margin:3px 0 5px;}
#siBody .scFooter {margin-top:7px;}

#siBody img.scIcoSet {width:11px; height:11px; background:url(../img/common/ico_set.gif) no-repeat}
#siBody img.scIcoSet.secret {height:12px;background-position:0 -240px}
#siBody img.scIcoSet.coin {background-position:0 -270px}

ul.scFrm{padding:5px 10px;margin:0;list-style:none;zoom:1}
ul.scFrm:after{content:""; display:block; clear:both}

ul.scFrm.hed{position:relative;height:22px;line-height:20px;background:url(../img/common/bg_header.gif) no-repeat right -50px}
ul.scFrm.hed li:first-child{position:absolute;top:0;left:0;height:100%;width:5px;background:url(../img/common/bg_header.gif) no-repeat left -50px}
ul.scFrm.top{background:#f7f7f7; border-bottom:1px solid #e6e6e6}

/* Button */
.btn25,
.btn25 a,
.btn25 button,
.btn25 input{display:inline-block;height:25px;line-height:25px;padding:0;margin:0;overflow:visible;position:relative;background:url(../img/common/btn_set.gif) no-repeat;cursor:pointer;vertical-align:top}
.btn25{background-position:0 0;margin:0 2px 0 0;vertical-align:top}
.btn25 a,
.btn25 button,
.btn25 input{padding:0 12px;left:2px;font-size:12px;color:#4a4a4a;font-weight:bold;border:0;background-position:right 0;text-decoration:none}

.btn25 a:hover,
.btn25 a:active,
.btn25 button:hover,
.btn25 button:active,
.btn25 a:focus,
.btn25 button:focus {color:#aaa !important}

.btn25.blue{background-position:0 -30px}
.btn25.blue *{background-position:right -30px;color:#fff !important}
.btn25.black{background-position:0 -60px}
.btn25.black *{background-position:right -60px;color:#fff !important}

.btn25.small {height:20px;background-position:0 -90px}
.btn25.small *{height:20px;background-position:right -90px;font-size:11px/18px;font-weight:normal;line-height: 18px;padding:0 5px;}
.btn25.blue.small {background-position:0 -120px}
.btn25.blue.small *{background-position:right -120px}

.scVoteArea em.vote {margin:3px 0 0;padding:0;height:13px;width:13px;display:inline-block;background:url(../img/common/ico_set.gif) no-repeat 0 -300px}
.scVoteArea em.blame {margin:3px 0 0;padding:0;height:13px;width:13px;display:inline-block;background:url(../img/common/ico_set.gif) no-repeat 0 -330px}
.scVoteArea a {margin-left:0;padding-left:0}

/* Category */
.scCatNav {height:26px;}
.scCatNav ul {padding:0;margin:0;margin-top:3px;font-size:12px}
.scCatNav li {float:left; margin-right:-1px;background: url(../img/common/bg_header.gif) no-repeat -3220px -3px}
.scCatNav li a,
.scCatNav li a:link,
.scCatNav li a:visited{color:#000;position:relative;height:26px;line-height:26px;display:block;margin:0;padding:0 15px;border:solid 1px #ccc;border-radius: 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; }
.scCatNav li a:hover,
.scCatNav li a:active,
.scCatNav li a:focus {line-height:28px;text-decoration:none;margin-top:-3px;padding:0 15px;border-bottom:solid 1px #e4e4e4;}
.scCatNav li.active a {z-index:1;line-height:29px;margin-top:-3px;padding:0 15px;border-bottom:0;color:#000;font-weight:bold;letter-spacing:-1px;}
.scCatNav li.active {background:none;}

.scSubCate {position:absolute;left:-99;margin:0 5px;visibility:hidden}
.scSubCate .cateArea {position:relative; z-index:1; width:100%; overflow:hidden; padding:7px 0 0; height:20px;background:#f7f7f7 url(../img/common/bg_header.gif) no-repeat -3220px -50px}
.scSubCate ul {padding:0 17px 0 2px; margin:0;}
.scSubCate li {float:left; font-weight:normal; line-height:15px;margin-bottom:30px; padding:0 20px 0 10px; background:transparent url(../img/common/nav_slant.gif) no-repeat right -17px;}
.scSubCate li a,
.scSubCate li a:link,
.scSubCate li a:visited {color:#4A4A4A;display:block;margin:0; white-space:nowrap; }
.scSubCate li a:hover,
.scSubCate li a:active,
.scSubCate li a:focus {text-decoration:underline}
.scSubCate li.active a {color:#000;font-weight:bold;letter-spacing:-1px;}
.scSubCate a.scCaPrev {position:absolute; z-index:1; top:2px; right:28px; margin-top:2px;border:solid 1px #D4D4D4;padding:5px 0; width:9px; height:10px; background:transparent url(../img/common/btn_nav.gif) no-repeat 2px -20px}
.scSubCate a.scCaNext {position:absolute; z-index:1; top:2px; right:18px; margin-top:2px;border:solid 1px #D4D4D4;padding:5px 0; width:9px; height:10px; background:transparent url(../img/common/btn_nav.gif) no-repeat 2px 6px}
.scSubCate a.scCaLock {position:absolute; z-index:1; top:2px; right:5px; margin-top:2px;border:solid 1px #D4D4D4;padding:5px 0; width:9px; height:10px; background:transparent url(../img/common/btn_nav.gif) no-repeat -39px 7px}
.scSubCate a.scCaPrev:hover,
.scSubCate a.scCaPrev:active,
.scSubCate a.scCaPrev:focus {background-position:-18px -20px;}
.scSubCate a.scCaNext:hover,
.scSubCate a.scCaNext:active,
.scSubCate a.scCaNext:focus {background-position:-18px 6px;}
.scSubCate a.scCaLock.active {background-position:-39px -21px;}
.scSubCate a.scCaPrev em,
.scSubCate a.scCaNext em,
.scSubCate a.scCaLock em {display:none}

.scSideCate {position:absolute;z-index:99;display:block}
.scSideCate .cateArea {position:fixed}
.scSideCate .cateArea.right {margin-left:-18px;width:18px;}
.scSideCate ul.scFrm,
.scSideCate .mubtn{display:inline-block;background:#f7f7f7;box-shadow:1px 1px 3px #000000;-moz-box-shadow:1px 1px 3px #000000;-webkit-box-shadow:1px 1px 3px #000000;border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px; border: 1px solid #000000;white-space:nowrap;}
.scSideCate ul.scFrm.fr,
.scSideCate .mubtn.fr{border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; ;box-shadow:-1px 1px 3px #000000;-moz-box-shadow:-1px 1px 3px #000000;-webkit-box-shadow:-1px 1px 3px #000000;border: 1px solid #000000}
.scSideCate .mubtn {width:16px;height:52px;background:url(../img/common/label_menu.gif) no-repeat left top}
.scSideCate ul.scFrm {display:none;border-left: 2px solid #000000;border-top: 2px solid #000000;border-radius: 0px 0px 5px 0px; -moz-border-radius: 0px 0px 5px 0px; -webkit-border-radius: 0px 0px 5px 0px}
.scSideCate ul.scFrm.fr {border-radius: 0px 0px 0px 5px; -moz-border-radius: 0px 0px 0px 5px; -webkit-border-radius: 0px 0px 0px 5px;border: 1px solid #000000;border-right: 2px solid #000000;border-top: 2px solid #000000}
.scSideCate .mubtn:hover{opacity:.5; filter:alpha(opacity=50);}
.scSideCate ul.scFrm ul{padding:0;margin:0;list-style:none}

.scSideCate .cateArea li {border-top: 1px solid #eee;}
.scSideCate .cateArea li:first-child {border:0}
.scSideCate .cateArea li a,
.scSideCate .cateArea li a:link,
.scSideCate .cateArea li a:visited {color:#4A4A4A;padding:2px 5px;display:block;}
.scSideCate .cateArea li a:hover,
.scSideCate .cateArea li a:active,
.scSideCate .cateArea li a:focus {text-decoration:underline}
.scSideCate .cateArea li.active a {color:#000;font-weight:bold;letter-spacing:-1px;}
.scSideCate .cateArea li b {color:#bbb;font-size:12px; font-family:Tahoma;padding:0 3px 0 2px}
.scSideCate .cateArea li b:first-child {display:inline-block}

/* common */
.scTable {border:0; border-bottom:1px solid #cdcdcd;color:#4a4a4a;background:url(../img/common/bg_header.gif) no-repeat right -50px}
.scTable thead th:first-child {background:url(../img/common/bg_header.gif) no-repeat left -50px}

.scTable thead th {padding-bottom:9px}
.scTable thead th span{border-left:1px solid #c7c7c7;}
.scTable thead th:first-child span{border:0}

.scTable thead.scOneCol th {text-align:right}
.scTable thead.scOneCol th span {display:inline-block;border-left:1px solid #c7c7c7;}

.scTable th,
.scTable td {text-align:center;border:0;padding:7px 0;line-height:15px;white-space:nowrap;}
.scTable th span{display:block;padding: 0 10px;}
.scTable td {padding:7px 10px; border-bottom:1px solid #e6e6e6}

.scTable .notice td,
.scTable .best td {background:#f7f7f7}

.scTable .readed_count,
.scTable .voted_count,
.scTable .blamed_count {text-align:right}

.scTable .no,
.scTable .document_srl,
.scTable .category_srl,
.scTable .user_name,
.scTable .nick_name,
.scTable .last_updater,
.scTable .title {text-align:left}

.scTable .user_name a,
.scTable .nick_name a {text-decoration:none}

.scTable .scCheck {display:none;padding:1px 5px 1px 1px;}

.scTable td.title,
.scTable .content {white-space:normal;word-break:break-all;width:100%;}
.scTable .content {width:inherit;height:inherit;float:inherit}

.scTable td.no,
.scTable td.document_srl,
.scTable td.readed_count,
.scTable td.regdate,
.scTable td.last_update {letter-spacing:-1px;}
.scTable td.last_updater {letter-spacing:-1px;font-size:10px; font-family:Tahoma;}

.scTable td em.reply,
.scTable td em.trackback {font-style:normal;font-size:10px; font-family:Tahoma;}

.scTable thead .sort em{width:4px; height:4px; background:transparent url(../img/common/btn_nav.gif) no-repeat -60px 8px}
.scTable thead .sort em.asc {background-position:-60px -28px}

.scEllipsis {position:relative;overflow:hidden;white-space:normal;word-break:break-all;display:block}
.scEllipsis ._first {overflow:hidden; text-overflow:ellipsis;display:inline-block;white-space:nowrap}
.scEllipsis ._last {position:absolute;right:0;white-space:nowrap}

.mbAifo a {text-decoration:none}

/* List */
.scList td.thumbnail {vertical-align:top}
.scList td.thumbnail img {border:1px solid #c7c7c7;padding:2px;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.scList td.content {text-align:left;vertical-align:top;color:#aaa;}

/* Gallery */
.scGall .scItem {position:relative;float:left;border:1px solid #c7c7c7;margin:10px; overflow:hidden;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.scGall .scItem img.thum {padding:5px;}
.scGall .scInfo {position:absolute;z-index:1;bottom:0;left:0;margin:0; list-style:none;padding:5px;background:#000; width:100%; overflow:hidden;opacity:.6; filter:alpha(opacity=60);}
.scGall .scInfo li,
.scGall .scInfo li a {text-align:left; color:#eee; white-space:nowrap}
.scGall .scInfo li {padding-right:10px;overflow:hidden;text-overflow:ellipsis;line-height:15px}
.scGall .scInfo li.prtImg em {float:right;font-size:12px}
.scGall .scInfo li.last_updater {letter-spacing:-1px;font-family:Tahoma;}
.scGall .scItem .scCheck {position:absolute; z-index:2; top:0; left:0;}
.scGall .scItem .rArr {position:absolute;left:0;top:0}

/* Webzine */
.scWebz .scItem {position:relative;text-align:left;margin:0;padding:5px 0 0}
.scWebz .scItem:first-child {padding:0}
.scWebz .scItem img.thum {float:left;border:1px solid #c7c7c7;padding:5px;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.scWebz .scItem .scInfo {position:relative;width:100%;list-style:none;margin:0;padding:0 0 15px;border-top:1px solid #c7c7c7}
.scWebz .scItem .scInfo li {line-height:18px;padding:0}
.scWebz .scItem .scInfo li:first-child {padding:2px 0 5px;}
.scWebz .scItem .scInfo li.title{white-space:normal;word-break:break-all;font-weight: bold;font-size: 15px}
.scWebz .scItem .scInfo li a.category_srl {color:#888}
.scWebz .scItem .scInfo li.content {text-align:left;color:#aaa;vertical-align:top;padding:5px 0 2px;}
.scWebz .scItem .scInfo li.content:first-letter { font-size: 200%; font-weight: bold; float:left}
.scWebz .scItem .wzdate {position:absolute;right:0;bottom:0;padding:5px 0 0;color: #777;font: 11px Tahoma}
.scWebz .scItem .scCheck {padding:0}
.scWebz .scItem .rArr {position:absolute;left:1px;top:3px}

/* Book */
.scBook {overflow:hidden;margin:10px 0 0;border-bottom:2px solid #CDCDCD;}
.scBook .scBookfrm {position:relative;margin:3px;min-height:300px;overflow:hidden;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;box-shadow:1px 1px 6px #c7c7c7;-moz-box-shadow:1px 1px 6px #c7c7c7;-webkit-box-shadow:1px 1px 6px #c7c7c7;border:1px solid #c7c7c7;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7));background: -moz-linear-gradient(top,  #fff,  #f7f7f7);}
.scBook .scConDoc {padding:8px 30px 23px}

.scBook div.scPage {position:absolute; z-index:1;margin:0;width:20px;height:100%;display:block}
.scBook div.scPage.next {top:0;right:0px;border-left:1px solid #c7c7c7;}
.scBook div.scPage.prev {top:0;left:0px;border-right:1px solid #c7c7c7;}
.scBook div.scPage:hover,
.scBook div.scPage:active,
.scBook div.scPage:focus{background:#e7e7e7;opacity:.6; filter:alpha(opacity=60);}
.scBook div.scPage a {height:100%;display:block;margin-left:6px}
.scBook div.scPage span {position:relative;top:5px;display:inline-block;width:0;height:0;font-size:0;line-height:0;vertical-align:top}
.scBook div.scPage.prev span {border:4px solid;border-top:solid transparent;border-bottom:solid transparent;border-left:0}
.scBook div.scPage.next span {border:4px solid;border-top:solid transparent;border-bottom:solid transparent;border-right:0}

.scBook .mbAifo {padding:2px 5px; margin:2px 20px 5px;border-bottom:1px solid #e5e5e5;}
.scBook .mbAifo span em {font-style:normal}
.scBook .scCheck {position:absolute; z-index:2; top:0; right:0; display:none;}

.scBook .tacAcom {position:absolute;bottom:0;width:100%;margin:2px 0;border:0}
.scBook .tacAcom span {margin-right:28px;font-size:12px/12px; font-family:Tahoma;}
.scBook .tacAcom span:first-child {margin-left:28px}
.scBook .tacAcom .trackbackURL {font-size:8px; font-family:Tahoma;text-decoration:none;color:#666}
.scBook .tacAcom span a,
.scBook .tacAcom span em {font-style:normal;color:#555}
.scBook .tacAcom span a.btnWt {margin-left:5px}
.scBook .tacAcom span a.btnCm {margin-left:10px}

/* View */
.scView ul.scFrm li.title {white-space:normal; word-break:break-all}
.scView ul.scFrm li.mbAifo .fr span {margin-left:5px}

.scView .scConDoc {margin:5px;white-space:normal;overflow: hidden;}
.scView .conSecret {margin-bottom:10px}

.scView .scVext {padding:0; margin:0 0 12px; list-style:none;}
.scView .scVext li:first-child {border-top:1px solid #e5e5e5}
.scView .scVext li {line-height:18px;position:relative;padding-left:145px;border-bottom:1px solid #e5e5e5;}
.scView .scVext li label:first-child {padding:2px 5px;display:inline-block;margin:2px 0 2px -145px;width:120px; background:#f7f7f7}

.scView .thumAext {position:relative;margin-bottom:15px}
.scView .thumAext img.thum {float:left;border:1px solid #c7c7c7;padding:5px;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.scView .thumAext ul.scVext {position:relative;float:none;width:100%;}

.scView .action{display:inline-block;line-height:16px;font-size:11px;margin:0 5px 0 0}
.scView .scSns{display:inline;margin:0;padding:0;list-style:none;vertical-align:top}
.scView .scSns li{display:inline;vertical-align:top}
.scView .scSns a{display:inline-block;height:16px;line-height:16px}
.scView .scSns .link a{width:16px;height:0;padding:16px 0 0 0;overflow:hidden;background:url(../img/common/sns_set.gif) no-repeat}
.scView .scSns .twitter a{background-position:0 0}
.scView .scSns .me2day a{background-position:0 -30px}
.scView .scSns .facebook a{background-position:0 -60px}
.scView .scSns .delicious a{background-position:0 -90px}

.scView .tags {display:inline-block;height:16px;font-size:11px;color:#666;vertical-align:top;margin-top:5px;padding:0 15px 0 32px;line-height:16px;background:url(../img/common/ico_set.gif) no-repeat 0 -58px}
.scView .tags a:hover,
.scView .tags a:active,
.scView .tags a:focus{text-decoration:underline}
.scView .tags a{text-decoration:none;color:#666}

.scView .sign{clear:both;border:1px solid #ddd;margin:5px 0 -1px 0;padding:13px;overflow:hidden;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.scView .sign .pf{float:left;margin:0 13px 0 0;width:80px;height:80px}
.scView .sign .tx{white-space:normal;word-break:break-all;overflow:auto;height:80px;line-height:1.3em;font-size:11px;border-left:1px dotted #ddd;padding:0 0 0 13px;color:#333}
.scView .sign .tx *{margin:0}

.scView .fileList ul {margin:5px 0 0; padding: 5px 5px 0; border:2px solid #ddd; overflow:hidden;list-style: none; background:#fafafa}
.scView .fileList li {background:url(../img/common/file_set.gif) no-repeat 0 2px}
.scView .fileList li {line-height: normal;float:left;padding:0 5px 5px;white-space: nowrap}
.scView .fileList li.isdownloaded {font-weight:bold}
.scView .fileList li.direct {background-position:0 -28px}
.scView .fileList li.isvalid {background-position:0 -88px;text-decoration:line-through}
.scView .fileList li a {padding-left:12px;}

.scFback {border:1px solid #cdcdcd;margin-bottom:10px}
.scFback .fbHeader{position:relative;height:30px;padding:0 0 0 35px;line-height:30px;background:#f5f5f5 url(../img/common/ico_set.gif) no-repeat;margin:3px}
.scFback .fbHeader h2{margin:0;font-size:14px}
.scFback .fbHeader h2 em{font-style:normal;color:#4736ac;text-decoration:underline}
.scFback .fbHeader span{margin-right:10px;}
.scFback .fbHeader .trackbackURL{position:absolute;top:8px;right:10px;margin:0;line-height:1;color:#666;font:11px Tahoma, Geneva, sans-serif}
.scFback .fbHeader .trackbackURL a{text-decoration:none;color:#666}
.scFback .fbItem{padding:18px 0 16px 0;border-bottom:1px dashed #e6e6e6;margin:0 0 -1px 0;}
.scFback .fbMeta{position:relative;float:left;width:184px;padding:0 0 0 6px}
.scFback .fbMeta .profile{float:left;width:38px;height:38px;margin:0 6px 5px 0;border:1px solid #ddd;background:url(../img/common/profile.gif) no-repeat}
.scFback .fbMeta .author{margin:0;font-size:12px}
.scFback .author a{text-decoration:none;color:#666}
.scFback .author a img{margin:0 6px 0 0 !important;vertical-align:top !important}
.scFback .action{margin:0;padding:10px 10px 0 0;white-space:nowrap;float:right}
.scFback .action .vote{margin:0 10px 0 0;color:#767676}
.scFback .action a{padding:0 0 0 18px;color:#767676;text-decoration:none;background:url(../img/common/ico_set.gif) no-repeat}
.scFback .action a.reply{background-position:0 -210px}
.scFback .action a.modify{background-position:0 -150px}
.scFback .action a.delete{background-position:0 -180px}
.scFback .action a.this{background:none;display:inline-block;line-height:16px;font-size:11px;margin:0 5px 0 0;padding-left:0}
.scFback .indent{padding-left:20px; background:url(../img/common/ico_set.gif) no-repeat 6px -345px}
.scFback .toggleFile{border:0;background:url(../img/common/ico_set.gif) no-repeat 0 2px;cursor:pointer;overflow:visible;padding:0 0 0 15px;color:#767676}
.scFback .fbfooter{padding:0 10px;margin:5px 0}
.scFback .scIcoArea {position:absolute;left:5px;top:0}
.scFback .scBtnWt .btn25,
.scFback .scBtnWt .btn25 a {margin-bottom:3px !important}

.scFback .fileList{margin:0 0 0 190px;padding:8px 0 0 0;display:inline;float:left;clear:both}
.scFback .files{display:none;list-style:none;margin:15px 0;padding:0;line-height:16px}
.scFback .files li {background:url(../img/common/ico_set.gif) no-repeat 0 -28px; padding:0 0 0 15px}
.scFback .files a{color:#767676;position:relative;text-decoration:none}

.scFback ul.scFrm {margin:10px 10px 5px;padding:0}
.scFback ul.scFrm.best li.fbItem {background:#f7f7f7}

.scFback .time,
.scView .ipAddress {margin:0;font:10px Tahoma, Geneva, sans-serif;color:#8e8e8e}

#comment .fbHeader{background-position:11px -112px}
#comment .scConCom {margin:0 5px 0 200px;color:#666;white-space:normal}
#comment .scVoteArea {margin:0;padding:10px 20px 0 0}
#comment .xe_content{color:#666;line-height:1.5em}
#comment .xe_content *:first-child{margin-top:0}
#trackback .xe_content{color:#888}
#trackback .xe_content strong{color:#666;display:block;font-weight:normal}
#trackback .fbHeader{background-position:11px -84px}

/* Write */
.scWrite .scCpar {position:relative;overflow:hidden; overflow-y:auto;margin: 10px 0;padding:10px;height:100px;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 2px solid #ddd;}
.scWrite .scCpar .author {margin-top:0}
.scWrite .scCpar .author a {text-decoration:none}
.scWrite .scCpar .content {position:absolute; white-space:normal;}
.scWrite .scCpar .content .xe_content {color: #666;line-height: 1.5em;}

.scWrite .scWuser {margin:0 0 10px;}
.scWrite .scWuser input{width:17%;}

.scWrite .scWtag {padding-left:48px;margin-bottom:10px}
.scWrite .scWtag label {margin-left:-48px;}
.scWrite .scWtag input[type="text"] {margin:2px; width:100%;}

.scWrite .scWul {padding:0; margin:0 0 10px; list-style:none;}
.scWrite ul.scWul li.scWli:first-child {border-top:1px solid #e5e5e5}
.scWrite ul.scWul li.scWli {line-height:18px;position:relative;padding-left:145px;border-bottom:1px solid #e5e5e5;}
.scWrite ul.scWul li.scWli label:first-child {float:left;padding:2px 5px;overflow:hidden;display:inline-block;margin:2px 0 2px -145px;width:120px; background:#f7f7f7}
.scWrite ul.scWul li.scWli input[type="text"],
.scWrite ul.scWul li.scWli textarea {margin-left:-8px;width:100%;}
.scWrite ul.scWul li.scWli input.address[type="text"]:first-child {width:70%;}
.scWrite ul.scWul li.scWli input {margin-top:3px}
.scWrite ul.scWul li.scWli select {margin-left:-8px;margin-right:10px;}
.scWrite ul.scWul li.scWli .tel,
.scWrite ul.scWul li.scWli .date {width:20% !important;margin-right:10px}

.scWrite ul.scWul li.scWli ul {padding:0; margin:0 0 0 -10px; list-style:none;border:0;zoom:1;}
.scWrite ul.scWul li.scWli ul:after {content:""; display:block; clear:both;}
.scWrite ul.scWul li.scWli li {float:left;border:0;padding:2px 5px 0 0;}

.scLabEdit {position:relative;line-height:normal;}
.scLabEdit input[type="text"],
.scLabEdit input[type="password"] {padding-left:40px}
.scLabEdit span:first-child {position:absolute;top:0;left:4px;font-size:8px; font-family:Tahoma;color:#fff;overflow:hidden;padding:0 10px 0 3px;height:14px;width:25px;background: url(../img/common/label_tag.gif) no-repeat right top;border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.scLabEdit .btn25{top:2px}

/* search */
.scSearch {position:relative;}
.scSearch form {display:block;}
.scSearch select {position:absolute;z-index:1;top:4px;height:17px;left:4px;width:65px;border:0;background:#f8f8f8;}
.scSearch input.keyword {cursor:text !important; width:115px !important;padding:0 7px 0 72px !important;font-weight:normal !important;}

/* Page */
.scShAdminBtns,
.scPagNav{margin:3px 0 5px;padding:0;font-size:12px;line-height:12px}
.scPagNav a,
.scPagNav strong {position:relative;vertical-align:top;display:inline-block;text-decoration:none;padding:1px 6px 1px 8px;margin:0 -3px;border-right:1px solid #ccc}
.scPagNav a:hover,
.scPagNav a:active,
.scPagNav a:focus {text-decoration:none}
.scPagNav a:first-child {border-right:1px solid #ccc}

.scPagNav .direction{z-index:1;font-weight:normal;color:#767676;border:0}
.scPagNav .direction:hover,
.scPagNav .direction:active,
.scPagNav .direction:focus{color:#333;}
.scPagNav .direction span {position:relative;top:4px;display:inline-block;width:0;height:0;font-size:0;line-height:0;vertical-align:top}

.scPagNav .prev {border-left:0;padding-left:3px}
.scPagNav .next {border-right:0;padding-right:3px}
.scPagNav .prev span {border:4px solid;border-top:solid transparent;border-bottom:solid transparent;border-left:0;margin-right:1px; *left:-4px}
.scPagNav .next span {border:4px solid;border-top:solid transparent;border-bottom:solid transparent;border-right:0;margin-left:1px}

/* Vote */
.scVoteStar {width:50px !important; height:10px !important; display:inline-block; background:url(../img/common/star_set.gif) no-repeat 0 0}
.scVoteStar em {display:block;width:0px; height:10px !important; background:url(../img/common/star_set.gif) no-repeat 0 -20px}
.scVoteStar.colorR em {background-position:0 -40px}
.scVoteStar.colorB em {background-position:0 -60px}
.scReadStar {height:12px !important;line-height:12px !important;display:inline-block;font-size: 12px;font-family: Tahoma;padding-left:12px; background:url(../img/common/star_set.gif) no-repeat -60px -18px}
.scReadStar.colorR {background-position:-60px -38px}
.scReadStar.colorB {background-position:-60px -58px}
.scVoteStar.fr,
.scReadStar.fr {margin-left:3px !important; position:relative;top:3px}
.scVoteStar.fr {top:4px}

/* etc */
.scMheadText,
.scMfootText {margin-bottom:15px;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 0 ridge #eee;}
.scMfootText {margin-top:15px;margin-bottom:0}
.scMainTitle{font-size:16px;text-shadow: 2px 2px 2px #ccc;margin-bottom:10px;padding:0 5px;border-left:2px ridge #ccc;border-bottom:2px ridge #ccc;border-radius: 0px 0px 0px 3px; -moz-border-radius: 0px 0px 0px 3px; -webkit-border-radius: 0px 0px 0px 3px}
.scMainTitle .scSubTitle {font-size:12px;margin-left:5px;padding-left:10px;border-left:1px solid #ccc}
.message {margin-top:0;}
#ui-datepicker-div {z-index:10000 !important}

/* 파이어폭스 핵 */
@-moz-document url-prefix() {
	#siTemplate .scLtitle button {right:13px;}
}

/* ie8 에서 */

/* ie7 이하에서 */
.scSideCate ul {*border-width:1px}
.scSideCate ul.fr {*border-width:1px}
#comment .fbHeader .fr {*position:relative;*top:-30px}
.scCatNav {*margin-bottom:5px}
.scWebz .scItem img.thum {*position:absolute}
.scSideCate .cateArea li b:first-child {*display:inline;}

/* ie6 이하에서 */
#siModalWin,
#siModalWin .bg{_position:absolute}
#siBody {_height:400px}
.scCatNav ul {_display:block;_overflow:hidden}
.scBook .scBookfrm {_height:300px}
