@charset "utf-8";
/* NHN (developers@xpressengine.com) */

/* XE Pagination */

/* Pagination Reset */
.pagination{padding:15px 0;margin:0;text-align:center}
.pagination *{margin:0;padding:0}
.pagination img{border:0}
.pagination a,
.pagination strong{position:relative;display:inline-block;text-decoration:none;line-height:normal;color:#333;font-family:Tahoma, Sans-serif;vertical-align:middle}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important}
.pagination strong{color:#ff6600 !important}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{font-weight:normal !important;border:none !important;margin:0 !important;white-space:nowrap}
/* Pagination A1 */
.pagination.a1 a,
.pagination.a1 strong{margin:0 -4px;padding:1px 10px 1px 8px;border:none;border-left:1px solid #ccc;border-right:1px solid #ddd;font-weight:bold;font-size:12px;background:#fff}
.pagination.a1 a.prev{padding-left:10px;background:#fff url(../images/common/arrowPrevA1.gif) no-repeat left center}
.pagination.a1 a.prevEnd{padding-left:15px;background:#fff url(../images/common/arrowPrevEndA1.gif) no-repeat left center}
.pagination.a1 a.next{padding-right:10px;background:#fff url(../images/common/arrowNextA1.gif) no-repeat right center}
.pagination.a1 a.nextEnd{padding-right:15px;background:#fff url(../images/common/arrowNextEndA1.gif) no-repeat right center}
/* Pagination A2 */
.pagination.a2 a,
.pagination.a2 strong{margin:0 -4px;padding:0 10px 0 8px;font-weight:bold;font-size:11px;border:none;border-left:1px solid #ddd;border-right:1px solid #ccc;background:#fff}
.pagination.a2 a.prev{padding-left:10px;background:#fff url(../images/common/arrowPrevA1.gif) no-repeat left center}
.pagination.a2 a.prevEnd{padding-left:15px;background:#fff url(../images/common/arrowPrevEndA1.gif) no-repeat left center}
.pagination.a2 a.next{padding-right:10px;background:#fff url(../images/common/arrowNextA1.gif) no-repeat right center}
.pagination.a2 a.nextEnd{padding-right:15px;background:#fff url(../images/common/arrowNextEndA1.gif) no-repeat right center}
/* Pagination B1 */
.pagination.b1 a,
.pagination.b1 strong{margin:0 -2px;padding:2px 8px;font-weight:bold;font-size:12px}
.pagination.b1 a.prev{padding-left:16px;background:url(../images/common/arrowPrevB1.gif) no-repeat left center}
.pagination.b1 a.next{padding-right:16px;background:url(../images/common/arrowNextB1.gif) no-repeat right center}
/* Pagination B2 */
.pagination.b2 a,
.pagination.b2 strong{margin:0 -2px;padding:2px 6px;font-size:11px}
.pagination.b2 a.prev{padding-left:12px;background:url(../images/common/arrowPrevB1.gif) no-repeat left center}
.pagination.b2 a.next{padding-right:12px;background:url(../images/common/arrowNextB1.gif) no-repeat right center}
/* Pagination C1 */
.pagination.c1 a,
.pagination.c1 strong{margin:0 -2px;padding:2px 4px;font-size:12px}
.pagination.c1 a.prev,
.pagination.c1 a.next{display:inline-block;width:13px;height:14px;padding:3px 4px;margin:0;font-size:0;line-height:0}
.pagination.c1 a.prev{background:url(../images/common/arrowPrevC1.gif) no-repeat center}
.pagination.c1 a.next{background:url(../images/common/arrowNextC1.gif) no-repeat center}
/* Pagination C2 */
.pagination.c2 a,
.pagination.c2 strong{margin:0 -2px;padding:2px 4px;font-size:11px}
.pagination.c2 a.prev,
.pagination.c2 a.next{display:inline-block;width:13px;height:14px;padding:3px 4px;margin:0;font-size:0;line-height:0}
.pagination.c2 a.prev{background:url(../images/common/arrowPrevC1.gif) no-repeat center}
.pagination.c2 a.next{background:url(../images/common/arrowNextC1.gif) no-repeat center}
