@charset "utf-8";
/* NHN (developers@xpressengine.com) */

/* XE White Theme */

/* Board Reset */
.board{background:#fff;color:#333}
.board .inputText,
.board textarea{border-color:#ccc}
.board .inputText,
.board textarea,
.board select{background:#fff;color:#333}
.board a{color:#000}
/* Board Header */
.boardHeader .boardTitle{border-color:#ddd;background-image:url(../images/common/iconBoardHeading.gif)}
.boardHeader .boardTitleText{border-color:#666;background-image:url(../images/white/lineVr11.gif)}
.boardHeader .boardTitleText a{color:#000}
.boardHeader .boardTitleText em{color:#666}
.boardHeader .boardDescription{background:#f8f8f8}
/* Board Information */
.boardInformation li{background-image:url(../images/white/lineVr11.gif)}
.boardInformation em,
.boardInformation strong{color:#ff6600}
.boardInformation .infoLeft{background-image:url(../images/common/iconArticle.gif)}
.boardInformation .infoRight li.icon{background:none}
.boardInformation .infoRight li.icon a{background-image:url(../images/common/icons.gif)}
/* Board List Form */
.boardListForm em,
.boardListForm strong{color:#ff6600}
/* Board List */
.boardList{border-color:#ddd}
.boardList .jumpTo button{background-color:transparent;background-image:url(../images/common/buttonBg2byte.gif)}
.boardList tr.notice{background:#f8f8f8}
.boardList tr.bg1{background:#fff}
.boardList tr.bg2{background:#fbfbfb}
.boardList th{border-color:#fff;color:#333;background-color:#fff;background-image:url(../images/white/bgThDefault.gif)}
.boardList th a{color:#1978AD}
.boardList td{border-color:#eee;color:#666}
.boardList td .category{color:#000;background-image:url(../images/white/lineVr11.gif)}
.boardList td.title .replyNum{color:#ccc}
.boardList td.title .replyNum sup{color:#999}
.boardList td.title a.forum:link,
.boardList td a.replyAnchor:link{color:#06C}
.boardList td .by{color:#ccc}
.boardList td.summary .thumb{border-color:#ddd;background:#fff}
.thumbHeader{border-color:#ddd;color:#333;background-color:#fff;background-image:url(../images/white/bgThDefault.gif)}
.thumbHeader a{color:#1978AD}
.thumbHeader .jumpTo button{background-image:url(../images/common/buttonBg2byte.gif)}
.thumbList{border-color:#ddd}
.thumbList li .thumb{background:#fff;border-color:#ddd}
.thumbList li .thumb a .text{color:#ccc}
.thumbList li .thumb a .category{background:#000;opacity:.6;filter:alpha(opacity=60);color:#fff}
/* Board Navigation */

/* Search Form */

/* Board Read */
.boardReadHeader{border-color:#ddd}
.boardReadBody{border-color:#ddd}
.boardReadBody .memberSignature{border-color:#ddd}
.boardReadFooter{color:#666}
.boardReadFooter a{color:#666}
.boardReadFooter dt{background:#fff}
.boardRead .boardNavigation{border-color:#ddd}
.feedbackList{color:#666}
.feedbackList .feedbackHeader{color:#000}
.feedbackList .feedbackHeader strong{color:#ff6600}
.feedbackList .item{border-color:#ddd}
.feedbackList .reply .indent{border-left-color:#eee}
/* Time */
.time *{color:#666}
.time dt{background:#fff}
/* Attached File */
.attachedFile *{color:#666}
.attachedFile dd a{color:#666}
.attachedFile dd a .bubble{background:#f8f8f8;border-color:#ddd}
.replyForm{color:#666;background:#f4f4f4}
.replyForm .title{color:#000}
/* Board Write */
.boardWrite .boardNavigation,
.boardEditor .boardNavigation{border-color:#ddd}
/* UserName & Password */
.board .userNameAndPw,
.board .editOption{border-color:#ddd;background:#f4f4f4}
/* Comment */
.board .boardEditor{border-color:#ddd;background:#f8f8f8}
.board .commentEditor .commentHeader{border-color:#ddd;color:#000}
/* Extra Var Table */
.extraVarsList{border-color:#ddd}
.extraVarsList caption{color:#999}
.extraVarsList em{color:#ff6600}
.extraVarsList th,
.extraVarsList td{border-color:#ddd}
.extraVarsList th{background:#f4f4f4}
.extraVarsList td{background:#fff}
.extraVarsList td .inputNum{border-color:#ccc}
/* Tag Cloud */
.tagCloud{border-color:#ddd}
.tagCloud .tagHeader{border-color:#ddd;color:#333;background-color:#fff;background-image:url(../images/white/bgThDefault.gif)}
.tagCloud .tagHeader strong{color:#ff6600}
.tagCloud li.rank1 a{background:#12d763;color:#fff}
.tagCloud li.rank2 a{color:#666}
.tagCloud li.rank3 a{color:#00b4b5}
.tagCloud li.rank4 a{color:#666}
.tagCloud li.rank5 a{color:#666}
/* Layer */
#popup_menu_area{background:#fff;border-color:#eee}
#popup_menu_area ul{border-color:#ddd}
#popup_menu_area li a{color:#000}
