@charset "utf-8"; 
/*
PXE Board Pro 2
Markup : Hyunhw Jung
Website: http://www.premiumxe.com
Email : clubnb2@naver.com
*/

/* Board Reset
---------------------------------------------------------------------------------*/
.board{ color:#535353; }
.board a,
.board a:visited { color:#535353; }
.board a:hover,
.board a:active,
.board a:focus { color:#a9a9a9; }

.board .inputText,
.board textarea,
.board select{ background:#555555; color:#000; border:1px solid #424242; }
.board .document_popup_menu a,
.board .comment_popup_menu a{ color:#8b8b8b; }
.board .boardNavigation{ border-color:#282828; }

/* Board Header
---------------------------------------------------------------------------------*/
.boardHeader a{  }
.boardHeader .boardTitle{ background:url(../img/dark/bgHeadline.gif) left bottom repeat-x; }
.boardHeader .boardTitleText{ background:url(../img/dark/icon_bbsHeadline.gif) left top no-repeat; }
.boardHeader .boardTitleText a{  }
.boardHeader .boardTitleText em{ color:#ffcc00; }
.boardHeader .boardTitleText .bbsComments { color:#535353; }

/* Board Information
---------------------------------------------------------------------------------*/
.boardInformation .infoSum{ background:url(../img/dark/headline_articles.gif) left 8px no-repeat; color:#ffcc00; }
.boardInformation em,
.boardInformation strong{ color:#0088cc;}
.boardInformation .infoView li.icon,
.boardInformation .infoView li.icon a{ background-image:url(../img/dark/icons.gif); }
.boardInformation .infoView li.setup a{ background-image:url(../img/dark/buttonSetup.gif); }

/* Board List Form
---------------------------------------------------------------------------------*/
.boardListForm em,
.boardListForm strong{ }

/* Board List
---------------------------------------------------------------------------------*/
.boardList{ border-color:#282828; }
.boardList .jumpTo button{ background-color:#1b1b1b; border-color:#232323; color:#535353; }
.boardList .meta li{ background-image:url(../img/dark/lineVr9.gif);}
.boardList .replyNum{ color:#ffcc00;}
.boardList .trackbackNum{ color:#ffcc00;}
.boardList .replyAnchor{  }
.boardList th{ border-color:#232323; }
.boardList th a{  }
.boardList td{ border-color:#232323; }
.boardList td.title a { color:#707070; _color:#707070 !important; }
.boardList td.title a:hover { color:#a9a9a9; }
.boardList td.title a.forum:link,
.boardList td.recommend{ color:#ffcc00;}
.boardList td.summary .thumb{ border-color:#ebebeb; background:#fff;}
.boardList td .notice{ background-image:url(../img/dark/lineVr9.gif);}
.boardList td .category{ background-image:url(../img/dark/lineVr9.gif);}
.boardList td .by{  }

.boardList.webZine td.title .author,
.boardList.webZine td.title .author a { color:#535353; }
.boardList.webZine td.title .author a:hover { color:#a9a9a9; }
.boardList.webZine td.title .thumb{ border-color:#232323;}

.thumbList{ border-color:#232323; }
.thumbList li .thumb{ background:#fff; border-color:#232323;}
.thumbList li .thumb a .text{  }
.thumbList li .thumb a .category{ background:#a9a9a9; opacity:.6; filter:alpha(opacity=60); color:#fff; }
.thumbList li .thumb a .noPhoto{  }
.thumbList li .title a{ color:#707070; }
.thumbList li .summary a{  }

.thumbListStudio{  }
.thumbListStudio li .thumb{ background:#1b1b1b; border-color:#232323;}
.thumbListStudio li .thumb a .text{  }
.thumbListStudio li .thumb a .sublayer{ background:#ffcc00; opacity:.8; filter:alpha(opacity=80); color:#000; }
.thumbListStudio li .thumb a .noPhoto{  }
.thumbListStudio li .title a{ color:#555; }
.thumbListStudio li .summary a{  }

/* Search Form
---------------------------------------------------------------------------------*/
.boardSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorsTaglist.gif);}

/* Board Read
---------------------------------------------------------------------------------*/
.boardReadHeader a{ }
.boardReadHeader .titleArea{ border-top-color:#282828; border-bottom-color:#232323; background:url(../img/dark/icon_subject.gif) 10px center no-repeat; }
.boardReadHeader .titleArea .category{ background-image:url(../img/dark/lineVr9.gif);}
.boardReadHeader .titleArea .num{ }
.boardReadHeader .titleArea .date{ background-image:url(../img/dark/lineVr9.gif);}

.boardReadBody .xe_content a,
.boardReadBody .xe_content a:visited { color:#ffcc00; }
.boardReadBody .xe_content a:hover,
.boardReadBody .xe_content a:active,
.boardReadBody .xe_content a:focus { color:#000; }

.boardReadFooter .memberSignature{ border-color:#232323; background-color:#1b1b1b;}
.boardReadFooter .memberSignature img.profile { border-color:#232323;} 
.boardReadFooter .tag dd a{  }
.boardReadFooter .trackbackURL dt{  }
.boardReadFooter .trackbackURL dd a{  }

.feedbackList{ border-color:#232323;}
.feedbackList .feedbackHeader { color:#ffcc00; background:url(../img/dark/headline_comments.gif) left 11px no-repeat; }
.feedbackList .trackbackURL a{  }
.feedbackList .item{ border-color:#232323;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#0088cc; }
.feedbackList .item .header a{ color:#0088cc; }
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#232323;}
.feedbackList .item .itemAside .meta{ color:#707070; }
.feedbackList .item .itemAside .meta .ip { color:#535353; }
.feedbackList .item .itemAside .vote *{  }

/* pagination
---------------------------------------------------------------------------------*/
.pagination a { color:#535353; border:1px solid #232323; }
.pagination strong { border:1px solid #282828; background:#1b1b1b; color:#707070; }
.pagination a:hover { color:#707070; border:1px solid #282828; background:#1b1b1b; }

/* Time
---------------------------------------------------------------------------------*/
.time *{ color:#535353;}
.time dt{ background:#fff;}

/* Attached File
---------------------------------------------------------------------------------*/
.attachedFile ul.files a{ padding-left:15px; background-image:url(../img/common/iconFile.gif); color:#535353;}
.attachedFile dt a { color:#535353; }
.attachedFile dt .fileToggle { color:#535353; }
.attachedFile ul.files a .bubble{ border:1px solid #232323; background-color:#fff; color:#535353;}

/* Editor */
.board .boardEditor{ border-color:#000; background:#101415;}

/* Extra Var Table
---------------------------------------------------------------------------------*/
.extraVarsList{ border-top:1px solid #282828; }
.extraVarsList caption{ color:#535353;}
.extraVarsList em{ color:#0088cc; }
.extraVarsList th,
.extraVarsList td{ border-bottom:1px solid #232323; }
.extraVarsList th{ border-right:1px solid #232323; }
.extraVarsList td{  }
.extraVarsList td .inputNum{ border-color:#282828;}

/* Tag Cloud
---------------------------------------------------------------------------------*/
.tagCloud{ border-color:#232323;}
.tagCloud li.rank1 a{ color:#a9a9a9;}
.tagCloud li.rank2 a{ color:#222;}
.tagCloud li.rank3 a{ color:#444;}
.tagCloud li.rank4 a{ color:#666;}
.tagCloud li.rank5 a{ color:#888;}

/* Layer
---------------------------------------------------------------------------------*/
#popup_menu_area{background:#fff; border-color:#232323;}
#popup_menu_area ul{ border-color:#282828;}
#popup_menu_area li a{ color:#a9a9a9;}

/* Mouse Over Tooltip (Image Preview)
---------------------------------------------------------------------------------*/
#tooltip { border: 1px solid #282828; background-color: #1b1b1b; }
#tooltip h3 { color:#535353; }
#tooltip div { color:#535353; }

/* Button Color Preset
---------------------------------------------------------------------------------*/
a.button.pxeBlack,
a.button.pxeBlack span,
span.button.pxeBlack,
span.button.pxeBlack button,
span.button.pxeBlack input { background-image:url(../img/dark/mainButton.gif); color:#707070;}