@charset "utf-8"; 
/*
PXE Board Pro 2
Markup : Hyunhw Jung
Website: http://www.premiumxe.com
Email : clubnb2@naver.com
*/

/* Board Reset
---------------------------------------------------------------------------------*/
.board{ background-color:#fff; color:#666; }
.board a,
.board a:visited { color:#555; }
.board a:hover,
.board a:active,
.board a:focus { color:#000; }

.board .inputText,
.board textarea,
.board select{ background:#fff; color:#333; border-top-color:#a6a6a6; border-left-color:#a6a6a6; border-right-color:#d8d8d8; border-bottom-color:#d8d8d8;}
.board .document_popup_menu a,
.board .comment_popup_menu a{ color:#8b8b8b; }
.board .boardNavigation{ border-color:#c9c9c9; }

/* Board Header
---------------------------------------------------------------------------------*/
.boardHeader a{  }
.boardHeader .boardTitle{ background:url(../img/white/bgHeadline.gif) left bottom repeat-x; }
.boardHeader .boardTitleText{ background:url(../img/white/icon_bbsHeadline.gif) left top no-repeat; }
.boardHeader .boardTitleText a{  }
.boardHeader .boardTitleText em{ color:#88cbcb; }
.boardHeader .boardTitleText .bbsComments { color:#999; }

/* Board Information
---------------------------------------------------------------------------------*/
.boardInformation .infoSum{ background:url(../img/white/headline_articles.gif) left 8px no-repeat; color:#88cbcb; }
.boardInformation em,
.boardInformation strong{ color:#0088cc;}
.boardInformation .infoView li.icon,
.boardInformation .infoView li.icon a{ background-image:url(../img/white/icons.gif); }
.boardInformation .infoView li.setup a{ background-image:url(../img/white/buttonSetup.gif); }

/* Board List Form
---------------------------------------------------------------------------------*/
.boardListForm em,
.boardListForm strong{ }

/* Board List
---------------------------------------------------------------------------------*/
.boardList{ border-color:#c9c9c9; }
.boardList .jumpTo button{ background-color:#fdfdfd; border-color:#eee; color:#555; }
.boardList .meta li{ background-image:url(../img/white/lineVr9.gif);}
.boardList .replyNum{ /*color:#559b9b;*/ color:#ff3636; }
.boardList .trackbackNum{ color:#88cbcb;}
.boardList .replyAnchor{  }
.boardList th{ border-color:#eee; background:#fdfdfd; }
.boardList th a{  }
.boardList td{ border-color:#eee; }
.boardList td.title a { color:#555; }
.boardList td.title a:hover { color:#000; }
.boardList td.title a.forum:link,
.boardList td.recommend{ color:#88cbcb;}
.boardList td.summary .thumb{ border-color:#ebebeb; background:#fff;}
.boardList td .notice{ background-image:url(../img/white/lineVr9.gif);}
.boardList td .category{ background-image:url(../img/white/lineVr9.gif);}
.boardList td .by{  }

.boardList.webZine td.title .author,
.boardList.webZine td.title .author a { color:#999; }
.boardList.webZine td.title .author a:hover { color:#000; }
.boardList.webZine td.title .thumb{ border-color:#eee;}

.thumbList{ border-color:#eee; }
.thumbList li .thumb{ background:#fff; border-color:#eee;}
.thumbList li .thumb a .text{  }
.thumbList li .thumb a .category{ background:#000; opacity:.6; filter:alpha(opacity=60); color:#fff; }
.thumbList li .thumb a .noPhoto{  }
.thumbList li .title a{ color:#555; }
.thumbList li .summary a{  }

.thumbListStudio{ background:#e2e2e2 url(../img/white/bgStudio.jpg) repeat-x; }
.thumbListStudio li .thumb{ background:#fff; border-color:#ccc;}
.thumbListStudio li .thumb a .text{  }
.thumbListStudio li .thumb a .sublayer{ background:#000; opacity:.8; filter:alpha(opacity=80); color:#fff; }
.thumbListStudio li .thumb a .noPhoto{  }
.thumbListStudio li .title a{ color:#555; }
.thumbListStudio li .summary a{  }

/* Search Form
---------------------------------------------------------------------------------*/
.boardSearchForm .infoEtc li a{ background-image:url(../img/common/buttonContributorsTaglist.gif);}

/* Board Read
---------------------------------------------------------------------------------*/
.boardReadHeader a{ }
.boardReadHeader .titleArea{ border-top-color:#c9c9c9; border-bottom-color:#eee; background:#fdfdfd url(../img/white/icon_subject.gif) 10px center no-repeat; }
.boardReadHeader .titleArea .category{ background-image:url(../img/white/lineVr9.gif);}
.boardReadHeader .titleArea .num{ }
.boardReadHeader .titleArea .date{ background-image:url(../img/white/lineVr9.gif);}

.boardReadBody .xe_content a,
.boardReadBody .xe_content a:visited { color:#88cbcb; }
.boardReadBody .xe_content a:hover,
.boardReadBody .xe_content a:active,
.boardReadBody .xe_content a:focus { color:#000; }

.boardReadFooter .memberSignature{ border-color:#eee; background-color:#fdfdfd;}
.boardReadFooter .memberSignature img.profile { border-color:#eee;} 
.boardReadFooter .tag dd a{  }
.boardReadFooter .trackbackURL dt{  }
.boardReadFooter .trackbackURL dd a{  }

.feedbackList{ border-color:#eee;}
.feedbackList .feedbackHeader { color:#88cbcb; background:url(../img/white/headline_comments.gif) left 11px no-repeat; }
.feedbackList .trackbackURL a{  }
.feedbackList .item{ border-color:#eee;}
.feedbackList .item.itemReply .indent{ background-image:url(../img/common/iconReply.gif);}
.feedbackList .item .header{ color:#0088cc; }
.feedbackList .item .header a{ color:#0088cc; }
.feedbackList .item .itemContent .delete{ background-image:url(../img/common/buttonDelete.gif);}
.feedbackList .item .itemAside img.profile{ border-color:#eee;}
.feedbackList .item .itemAside .meta{ color:#555; }
.feedbackList .item .itemAside .meta .ip { color:#999; }
.feedbackList .item .itemAside .vote *{  }

/* pagination
---------------------------------------------------------------------------------*/
.pagination a { color:#999; border:1px solid #eee; }
.pagination strong { border:1px solid #c9c9c9; background:#f7f7f7; color:#555; }
.pagination a:hover { color:#555; border:1px solid #c9c9c9; background:#f7f7f7; }

/* Time
---------------------------------------------------------------------------------*/
.time *{ color:#999;}
.time dt{ background:#fff;}

/* Attached File
---------------------------------------------------------------------------------*/
.attachedFile ul.files a{ padding-left:15px; background-image:url(../img/common/iconFile.gif); color:#999;}
.attachedFile dt a { color:#999;}
.attachedFile dt .fileToggle { color:#999; }
.attachedFile ul.files a .bubble{ border:1px solid #eee; background-color:#fff; color:#999;}

/* Editor */
.board .boardEditor{ border-color:#ddd; background:#f8f8f8;}

/* Extra Var Table
---------------------------------------------------------------------------------*/
.extraVarsList{ border-top:1px solid #c9c9c9; }
.extraVarsList caption{ color:#999;}
.extraVarsList em{ color:#0088cc; }
.extraVarsList th,
.extraVarsList td{ border-bottom:1px solid #eee; }
.extraVarsList th{ background:#fdfdfd; border-right:1px solid #eee; }
.extraVarsList td{ background:#fff;}
.extraVarsList td .inputNum{ border-color:#c9c9c9;}

/* Tag Cloud
---------------------------------------------------------------------------------*/
.tagCloud{ border-color:#eee;}
.tagCloud li.rank1 a{ color:#000;}
.tagCloud li.rank2 a{ color:#222;}
.tagCloud li.rank3 a{ color:#444;}
.tagCloud li.rank4 a{ color:#666;}
.tagCloud li.rank5 a{ color:#888;}

/* Layer
---------------------------------------------------------------------------------*/
#popup_menu_area{background:#fff; border-color:#eee;}
#popup_menu_area ul{ border-color:#c9c9c9;}
#popup_menu_area li a{ color:#000;}

/* Mouse Over Tooltip (Image Preview)
---------------------------------------------------------------------------------*/
#tooltip { border: 1px solid #c9c9c9; background-color: #fdfdfd; }
#tooltip h3 { color:#999; }
#tooltip div { color:#999; }

/* Button
---------------------------------------------------------------------------------*/
a.button.pxeWhite,
a.button.pxeWhite span,
span.button.pxeWhite,
span.button.pxeWhite button,
span.button.pxeWhite input { background-image:url(../img/white/mainButton.gif); color:#444;}
