@charset "utf-8";
#communicationModule { color:#aaa; }

#communicationModule h3 { border-bottom:1px solid #222; color:#aaa; }
#communicationModule h4 { background:url(../img/iconH3.gif) no-repeat left center;}
#communicationModule h4 span.vr { color:#AAA; }
#communicationModule h4 a.view { color:#777e86; }
#communicationModule p.summary, 
#communicationModule div.infoText { }
#communicationModule p.summary{ color:#888;}
#communicationModule p.summary a { color:#888; }
#communicationModule p.summary.red { color:#A54D4D; }
#communicationModule p.summary.red a { color:#A54D4D; }
#communicationModule div.infoText { color:#888;}
#communicationModule select { background:#111; border:1px solid #666; color:#aaa; }

#communicationModule .agreementBox { border:1px solid #2b2b2b; border-bottom:none; }
#communicationModule .agreementButton { background-color:#333; border:1px solid #2b2b2b; border-top:none; }

#communicationModule .localNavigation { border-bottom:1px solid #333;}
#communicationModule .localNavigation li { border:1px solid #333; border-bottom:none;  }
#communicationModule .localNavigation li a { background:url(../img/black/bgTab.gif) repeat-x left top #1e1f20; color:#aaa;}
#communicationModule .localNavigation li.active a { color:#ff5500;}
#communicationModule .localNavigation li.on {  }
#communicationModule .localNavigation li.on a { color:#ff5500; }

#communicationModule .layer { border:2px solid #222; background:#000;}
#communicationModule .layer * {  }
#communicationModule .layer h4 { background:#040404 !important; }
#communicationModule .layer .xButton { background-color:transparent; background:url(../img/buttonClose.gif) no-repeat; border:0; }
#communicationModule .layer .xButton span {  }
#communicationModule .layer .layerBody{}

#communicationModule .crossTable{ }
#communicationModule .crossTable th div { }
#communicationModule .crossTable th,
#communicationModule .crossTable td{ }
#communicationModule .crossTable thead th{ border-top:2px solid #2b2b2b; border-bottom:1px solid #222;background-image:url(../img/lineVrText.gif); background-repeat:no-repeat; background-position:left center;}
#communicationModule .crossTable thead th:first-child{ background-image:none;}
#communicationModule .crossTable tbody th{ border-bottom:1px solid #222;}
#communicationModule .crossTable td { border-bottom:1px solid #222;}

#communicationModule .colTable { border:1px solid #222; }
#communicationModule .colTable th div { }
#communicationModule .colTable th,
#communicationModule .colTable td{ }
#communicationModule .colTable th { border-bottom:1px solid #222; background:#040404; background-image:url(../img/lineVrText.gif); background-repeat:no-repeat; background-position:left center;}
#communicationModule .colTable th:first-child{ background-image:none;}
#communicationModule .colTable td { border-left:1px solid #222; border-bottom:1px solid #222;}

#communicationModule .xe_content { color:#aaa; }

#communicationModule .rowTable { border:1px solid #222; }
#communicationModule .rowTable th div { }
#communicationModule .rowTable th,
#communicationModule .rowTable td { background:#111; }
#communicationModule .rowTable tbody th {border-bottom:1px solid #222; }
#communicationModule .rowTable td {  border-left:1px solid #222; border-bottom:1px solid #222; }
#communicationModule .rowTable td input { border:1px solid #2b2b2b; background:#000; color:#aaa; }
#communicationModule .rowTable td input.dateRemover { color:#fff; }

#communicationModule .rowTable th.button, 
#communicationModule .colTable th.button, 
#communicationModule .crossTable th.button { background:#111; }

#communicationModule .colTable td a,
#communicationModule .rowTable td a,
#communicationModule .crossTable td a { color:#aaa;  }

#communicationModule .colTable td.wide, 
#communicationModule .rowTable td.wide, 
#communicationModule .crossTable td.wide { }

#communicationModule .rowTable th.title,
#communicationModule .crossTable th.title,
#communicationModule .colTable th.title { border-bottom:1px solid #222;  background:url(../img/black/bgTab.gif) repeat-x left top #1e1f20; color:#aaa; }

#communicationModule p { color:#aaa; }
#dummy_check_nick_name { color:red;  }
#communicationModule .require { color:red; }
#communicationModule .publicItem {  color:#aaa; }
#communicationModule .publicItem input { }

#communicationModule caption { color:#888; }

#communicationModule td.openids div {  }
#communicationModule td.openids div a { color:#AAA; }
#communicationModule .openid_user_id { background: url(../img/openid_login_bg.gif) left center no-repeat #000; border:1px solid #2b2b2b; color:#aaa; }
#communicationModule .insertOpenID { }
#communicationModule .savedContent { border:1px solid #2b2b2b; }

#communicationModule .pagination{  }
#communicationModule .pagination *{}
#communicationModule .pagination img{ }
#communicationModule .pagination a,
#communicationModule .pagination strong{ color:#aaa;}
#communicationModule .pagination a:hover,
#communicationModule .pagination a:active,
#communicationModule .pagination a:focus{ background-color:#040404 !important; }
#communicationModule .pagination strong{ color:#ff6600 !important;}
#communicationModule .pagination a.prev,
#communicationModule .pagination a.prevEnd,
#communicationModule .pagination a.next,
#communicationModule .pagination a.nextEnd{  }

#communicationModule .pagination.a1 a,
#communicationModule .pagination.a1 strong { }
#communicationModule .pagination.a1 a.prev{ background:url(../img/arrowPrevA1.gif) no-repeat left center; }
#communicationModule .pagination.a1 a.prevEnd{ background:url(../img/arrowPrevEndA1.gif) no-repeat left center; }
#communicationModule .pagination.a1 a.next{ background:url(../img/arrowNextA1.gif) no-repeat right center; }
#communicationModule .pagination.a1 a.nextEnd{ background:url(../img/arrowNextEndA1.gif) no-repeat right center; }

#communicationModule .regdate { color:#aaa; }
#communicationModule .readed_date  { color:#888; }

#communicationModule .xeMessages ,
#communicationModule .xeGroups { }
#communicationModule .xeMessages select ,
#communicationModule .xeGroups select {  }
#communicationModule .xeGroups .setupGroup, 
#communicationModule .xeMessages .setupMessage { }

#communicationModule .jumpMenu {  }