@charset "utf-8";

#communicationModule h3 {padding:5px 0; margin:0 0 10px 0; font-size:14px; }
#communicationModule h4 {padding:5px 0 5px 20px; }
#communicationModule h4 span.vr { font-size:11px; }
#communicationModule h4 a.view { font-size:11px; font-family:vertical; }
#communicationModule p.summary, 
#communicationModule div.infoText { margin:0 0 15px 0; line-height:1.6;}
#communicationModule p.summary{ }
#communicationModule p.summary a { text-decoration:none;  }
#communicationModule p.summary.red { }
#communicationModule p.summary.red a { text-decoration:none; }
#communicationModule div.infoText { }
#communicationModule select { height:22px; font-size:12px; }

#communicationModule .agreementBox { margin:10px 0 0 0; padding:10px; border-bottom:none; height:200px; overflow-y:scroll;}
#communicationModule .agreementButton { padding:10px; margin-bottom:10px;}

#communicationModule .localNavigation { *zoom:1; margin:0 0 20px 0px; padding:0; overflow:hidden; }
#communicationModule .localNavigation:after {content:""; display:block; clear:both;}
#communicationModule .localNavigation li { position:relative; list-style:none; float:left; margin:0 -1px 0 0; padding:0; height:30px; }
#communicationModule .localNavigation li a { float:left; padding:0 15px; line-height:30px; }
#communicationModule .localNavigation li a { text-decoration:none !important;}
#communicationModule .localNavigation li.active a { font-weight:bold; }
#communicationModule .localNavigation li.on { border:none; }
#communicationModule .localNavigation li.on a { height:19px; background:none;}

#communicationModule .layer { display:none; position:absolute; margin:0; font-size:12px;}
#communicationModule .layer * { margin:0; padding:0; font-size:12px; }
#communicationModule .layer h4 { font-size:14px !important; font-family:Dotum; padding:8px 30px 8px 15px !important; letter-spacing:-1px !important; }
#communicationModule .layer .xButton { position:absolute; top:9px; right:9px; width:15px; height:14px; border:0; cursor:pointer; overflow:hidden; background-color:transparent; }
#communicationModule .layer .xButton span { position:relative; z-index:-1; visibility:hidden; }
#communicationModule .layer .layerBody{ margin:15px;}

#communicationModule .crossTable{ width:100%; border:0; margin:0 0 20px 0; padding:0; border-collapse:collapse;}
#communicationModule .crossTable th div { white-space:nowrap; }
#communicationModule .crossTable th,
#communicationModule .crossTable td{ border:0; padding:5px 10px; vertical-align:top; font-weight:normal;}
#communicationModule .crossTable thead th{ }
#communicationModule .crossTable thead th:first-child{ background-image:none;}
#communicationModule .crossTable tbody th{ text-align:left;}
#communicationModule .crossTable td{ }

#communicationModule .colTable { width:100%; border:0; margin:0 0 20px 0; padding:0; border-collapse:collapse;}
#communicationModule .colTable th div { white-space:nowrap; }
#communicationModule .colTable th,
#communicationModule .colTable td { border:0; padding:5px 10px; vertical-align:top; font-weight:normal;}
#communicationModule .colTable th{ }
#communicationModule .colTable th:first-child{ background-image:none;}
#communicationModule .colTable td{ }

#communicationModule .rowTable{ width:100%; border:0; margin:0 0 20px 0; padding:0; border-collapse:collapse;}
#communicationModule .rowTable th div { white-space:nowrap; }
#communicationModule .rowTable th,
#communicationModule .rowTable td{ border:0; padding:10px 10px; text-align:left; vertical-align:top; font-weight:normal;}
#communicationModule .rowTable tbody th{ }
#communicationModule .rowTable td{ }
#communicationModule .rowTable td input { padding:2px; }
#communicationModule .rowTable td input.dateRemover { background:none; border:none; }

#communicationModule .rowTable th.button, 
#communicationModule .colTable th.button, 
#communicationModule .crossTable th.button { text-align:right; }

#communicationModule .colTable td a,
#communicationModule .rowTable td a,
#communicationModule .crossTable td a { text-decoration:none; }

#communicationModule .colTable td.wide, 
#communicationModule .rowTable td.wide, 
#communicationModule .crossTable td.wide { width:100%;}

#communicationModule .rowTable th.title,
#communicationModule .crossTable th.title,
#communicationModule .colTable th.title { padding:10px; font-weight:bold; text-align:center; }

#communicationModule p { margin:3px 0 0 0; padding:0;}
#dummy_check_nick_name { color:red; margin:3px 0 0 0; padding:0; }
#communicationModule .require { color:red; font-size:10px; font-family:tahoma; font-weight:bold; margin-left:5px; }
#communicationModule .publicItem { margin:5px 0 0 0; padding:0; }
#communicationModule .publicItem input { padding:0; margin: 0; }

#communicationModule caption{ font-size:11px; font-family:Tahoma; text-align:left;}

#communicationModule td.openids div { float:left; margin-right:10px; margin-bottom:10px; }
#communicationModule td.openids div a { text-decoration:none;}
#communicationModule .openid_user_id { padding:3px 3px 3px 18px; line-height:1em; vertical-align:middle; width:200px;}
#communicationModule .insertOpenID { clear:both; margin-top:10px; }
#communicationModule .savedContent { margin-top:10px; padding:10px; }

#communicationModule .pagination{ padding:15px 0; margin:0; text-align:center; clear:both; }
#communicationModule .pagination *{ margin:0; padding:0;}
#communicationModule .pagination img{ border:0;}
#communicationModule .pagination a,
#communicationModule .pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; font-family:Tahoma, Sans-serif; vertical-align:middle;}
#communicationModule .pagination a:hover,
#communicationModule .pagination a:active,
#communicationModule .pagination a:focus { }
#communicationModule .pagination strong{ }
#communicationModule .pagination a.prev,
#communicationModule .pagination a.prevEnd,
#communicationModule .pagination a.next,
#communicationModule .pagination a.nextEnd{ font-weight:normal !important; border:none !important; margin:0 !important; white-space:nowrap; }

#communicationModule .pagination.a1 a,
#communicationModule .pagination.a1 strong{ margin:0 -4px; padding:1px 10px 1px 8px; font-weight:bold; font-size:12px; }
#communicationModule .pagination.a1 a.prev{ padding-left:10px; }
#communicationModule .pagination.a1 a.prevEnd{ padding-left:15px; }
#communicationModule .pagination.a1 a.next{ padding-right:10px; }
#communicationModule .pagination.a1 a.nextEnd{ padding-right:15px; }

#communicationModule .regdate { font-size:10px; font-family:tahoma; }
#communicationModule .readed_date  { font-size:10px; font-family:tahoma; letter-spacing:-1px;}

#communicationModule .xeMessages ,
#communicationModule .xeGroups { position:relative; }
#communicationModule .xeMessages select ,
#communicationModule .xeGroups select { margin:0; padding:0; vertical-align:middle; }
#communicationModule .xeGroups .setupGroup, 
#communicationModule .xeMessages .setupMessage { position:absolute; right:0; top:0;}

#communicationModule .jumpMenu { margin-bottom:5px; text-align:right; }