@charset "utf-8";
#communicationModule { color:#333; }

#communicationModule h3 { border-bottom:1px solid #ccc; color:#666; }
#communicationModule h4 { background:url(../img/iconH3.gif) no-repeat left center;}
#communicationModule h4 span.vr { color:#AAA; }
#communicationModule h4 a.view { color:#777e86; }
#communicationModule p.summary, 
#communicationModule div.infoText { }
#communicationModule p.summary{ color:#888;}
#communicationModule p.summary a { color:#888; }
#communicationModule p.summary.red { color:#A54D4D; }
#communicationModule p.summary.red a { color:#A54D4D; }
#communicationModule div.infoText { color:#888;}
#communicationModule select{ }

#communicationModule .agreementBox { border:1px solid #CCC; border-bottom:none; }
#communicationModule .agreementButton { background-color:#EFEFEF; border:1px solid #CCC; border-top:none; }

#communicationModule .localNavigation { border-bottom:1px solid #ccc; }
#communicationModule .localNavigation li{ border:1px solid #ddd; border-bottom:none;}
#communicationModule .localNavigation li a { background:url(../img/bgTab.gif) left top repeat-x #f3f3f3; color:#666;}
#communicationModule .localNavigation li.active a{  color:#ff5500;}
#communicationModule .localNavigation li.on {  }
#communicationModule .localNavigation li.on a{ color:#ff5500; }

#communicationModule .layer { border:2px solid #777; background:#fff;}
#communicationModule .layer * {  }
#communicationModule .layer h4 { background:#f4f4f4 !important; }
#communicationModule .layer .xButton { background-color:transparent; background:url(../img/buttonClose.gif) no-repeat; border:0; }
#communicationModule .layer .xButton span {  }
#communicationModule .layer .layerBody{}

#communicationModule .crossTable{ }
#communicationModule .crossTable th div { }
#communicationModule .crossTable th,
#communicationModule .crossTable td{ }
#communicationModule .crossTable thead th{ border-top:2px solid #cfcfcf; border-bottom:1px solid #e5e5e5; background-image:url(../img/lineVrText.gif); background-repeat:no-repeat; background-position:left center;}
#communicationModule .crossTable thead th:first-child{ background-image:none;}
#communicationModule .crossTable tbody th{ border-bottom:1px solid #e5e5e5; }
#communicationModule .crossTable td{ border-bottom:1px solid #f0f0f0;}

#communicationModule .colTable { border:1px solid #e5e5e5; }
#communicationModule .colTable th div { }
#communicationModule .colTable th,
#communicationModule .colTable td{ }
#communicationModule .colTable th { border-bottom:1px solid #e5e5e5; background:#f4f4f4; background-image:url(../img/lineVrText.gif); background-repeat:no-repeat; background-position:left center;}
#communicationModule .colTable th:first-child{ background-image:none;}
#communicationModule .colTable td{ border-bottom:1px solid #f0f0f0;}

#communicationModule .xe_content { color:#333; }

#communicationModule .rowTable { border:1px solid #e5e5e5; }
#communicationModule .rowTable th div { }
#communicationModule .rowTable th,
#communicationModule .rowTable td{ border:0; }
#communicationModule .rowTable tbody th { border-bottom:1px solid #e5e5e5;}
#communicationModule .rowTable td {  border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
#communicationModule .rowTable td input { border:1px solid #e5e5e5; background:#fff; color:#666; }
#communicationModule .rowTable td input.dateRemover { color:#fff; }

#communicationModule .rowTable th.button, 
#communicationModule .colTable th.button, 
#communicationModule .crossTable th.button { background:#EAEAEA; }

#communicationModule .colTable td a,
#communicationModule .rowTable td a,
#communicationModule .crossTable td a { color:#000;  }

#communicationModule .colTable td.wide, 
#communicationModule .rowTable td.wide, 
#communicationModule .crossTable td.wide {}

#communicationModule .rowTable th.title,
#communicationModule .crossTable th.title,
#communicationModule .colTable th.title { border-bottom:1px solid #DDD;  background:url(../img/bgTab.gif) left top repeat-x #f3f3f3;;}

#communicationModule p { color:#666; }
#dummy_check_nick_name { color:red;  }
#communicationModule .require { color:red; }
#communicationModule .publicItem {  color:#aaa; }
#communicationModule .publicItem input { }

#communicationModule caption{ color:#888; }

#communicationModule td.openids div {  }
#communicationModule td.openids div a { color:#AAA; }
#communicationModule .openid_user_id { background: url(../img/openid_login_bg.gif) left no-repeat; background-color: #ffffff; background-position: 0 50%; border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; color:#666666; }
#communicationModule .insertOpenID { }
#communicationModule .savedContent { border:1px solid #EEE; }

#communicationModule .pagination{  }
#communicationModule .pagination *{}
#communicationModule .pagination img{ }
#communicationModule .pagination a,
#communicationModule .pagination strong{ color:#333;}
#communicationModule .pagination a:hover,
#communicationModule .pagination a:active,
#communicationModule .pagination a:focus{ background-color:#f4f4f4 !important; }
#communicationModule .pagination strong{ color:#ff6600 !important;}
#communicationModule .pagination a.prev,
#communicationModule .pagination a.prevEnd,
#communicationModule .pagination a.next,
#communicationModule .pagination a.nextEnd{  }

#communicationModule .pagination.a1 a,
#communicationModule .pagination.a1 strong{ border-left:1px solid #ccc; border-right:1px solid #ddd; background:#fff;}
#communicationModule .pagination.a1 a.prev{ background:#fff url(../img/arrowPrevA1.gif) no-repeat left center; }
#communicationModule .pagination.a1 a.prevEnd{ background:#fff url(../img/arrowPrevEndA1.gif) no-repeat left center; }
#communicationModule .pagination.a1 a.next{ background:#fff url(../img/arrowNextA1.gif) no-repeat right center; }
#communicationModule .pagination.a1 a.nextEnd{ background:#fff url(../img/arrowNextEndA1.gif) no-repeat right center; }

#communicationModule .regdate { color:#aaa; }
#communicationModule .readed_date  { color:#888; }

#communicationModule .xeMessages ,
#communicationModule .xeGroups { }
#communicationModule .xeMessages select ,
#communicationModule .xeGroups select {  }
#communicationModule .xeGroups .setupGroup, 
#communicationModule .xeMessages .setupMessage { }

#communicationModule .jumpMenu {  }