<block cond="$use_multilang_textarea">
	<style type="text/css">
		#langEditTextarea textarea { width: 258px; }
	</style>

	<div id="langEditTextarea" class="langEdit tgContent">
		<ul class="langList"></ul>
		<div class="langInput form">
			<h2>{$lang->multilingual} <strong>{$lang->cmd_modify}</strong> | <a href="#langEdit">{$lang->cmd_insert}</a></h2>
			<ul>
				{@
					/* move current language to the top */
					$a = array($lang_type=>$lang_supported[$lang_type]);
					unset($lang_supported[$lang_type]);
					$lang_supported = array_merge($a, $lang_supported);
				}
				<li loop="$lang_supported=>$code,$name" class="{$code}"><label for="{$code}_var1">{$name}</label> <textarea id="{$code}_var1"></textarea></li>
			</ul>
			<div class="action">
				<div class="btnArea">
					<span class="btn small"><input type="submit" value="{$lang->use}|{$lang->use_after_save}" /></span>
				</div>
				<p><a href="{getUrl('act','dispModuleAdminLangcode')}">{$lang->multilingual_manager}</a></p>
			</div>
		</div>
	</div>
</block>
