<include target="header.html" />
<load target="js/adminList.js" usecdn="true" />

<script type="text/javascript">
	xe.lang.confirm_delete = '{$lang->confirm_delete}';
</script>

<h2 class="h2">{$layout_info->title} ver {$layout_info->version} ({$layout_info->layout})</h2>
<div class="table even easyList">
	<table width="100%" border="1" cellspacing="0">
		<thead>
			<tr>
				<th scope="col">{$lang->no}</th>
				<th scope="col" class="title">{$lang->title}</th>
				<th scope="col">{$lang->regdate}</th>
				<th scope="col">{$lang->cmd_layout_management}</th>
				<th scope="col">{$lang->cmd_layout_edit}</th>
				<th scope="col">{$lang->cmd_delete}</th>
			</tr>
		</thead>
		<tbody>
			<tr loop="$layout_list => $no, $layout">
				<td>{$no+1}</td>
				<td class="title">{$layout->title}</td>
				<td>{zdate($layout->regdate, "Y-m-d")}</td>
				<td><a href="{getUrl('act', 'dispLayoutAdminModify', 'layout_srl', $layout->layout_srl)}">{$lang->cmd_layout_management}</a></td>
				<td><a href="{getUrl('act', 'dispLayoutAdminEdit', 'layout_srl', $layout->layout_srl)}">{$lang->cmd_layout_edit}</a></td>
				<td>
					<form class="layout_delete_form" ruleset="deleteLayout" action="./" method="post">
						<input type="hidden" name="module" value="layout" />
						<input type="hidden" name="act" value="procLayoutAdminDelete" />
						<input type="hidden" name="layout_srl" value="{$layout->layout_srl}" />

						<input class="text" type="submit" value="{$lang->cmd_delete}" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div cond="$layout_info->layout != 'faceoff'" class="btnArea">
	<span class="btn"><a href="{getUrl('act', 'dispLayoutAdminInsert', 'layout', $layout_info->layout)}">{$lang->cmd_insert}</a></span>
</div>
