<include target="header.html" />
<load target="css/adminEdit.css" usecdn="true" />
<load target="js/adminEdit.js" usecdn="true" />

<h2 class="h2">{$selected_layout->layout_title}</h2>

<h3 class="h3">{$selected_layout->title} ver {$selected_layout->version} ({$selected_layout->layout})</h3>
<p>{nl2br($lang->about_layout_code)}</p>

<h3 class="h3">{$lang->layout_image_repository}</h3>
<p>{nl2br($lang->about_layout_image_repository)}</p>

<fieldset class="section">
	<ul class="uploaded_image_list">
		<li loop="$layout_image_list => $no, $file">
			{@$ext=substr(strrchr($file,'.'),1)}
			<div class="a uploaded_image">
				<script cond="$ext == 'swf' || $ext == 'flv'" type="text/javascript">
					//<![CDATA[
					displayMultimedia('{getUrl('')}{$layout_image_path}{$file}', '100px', '100px');
					//]]>
				</script>
				<img cond="$ext != 'swf' && $ext != 'flv'" src="{getUrl('')}{$layout_image_path}{$file}" />
			</div>
			<div class="uploaded_image_path">{$layout_image_path}{$file}</div>
			<form action="./" method="post">
			<input type="hidden" name="module" value="layout" />
			<input type="hidden" name="act" value="procLayoutAdminUserImageDelete" />
			<input type="hidden" name="layout_srl" value="{$layout_srl}" />
			<input type="hidden" name="filename" value="{$file}" />

				<input class="text" type="submit" value="{$lang->cmd_delete}" />
			</form>
		</li>
	</ul>
	<form class="form" ruleset="imageUpload" action="./" method="post" enctype="multipart/form-data">
	<input type="hidden" name="module" value="layout" />
	<input type="hidden" name="act" value="procLayoutAdminUserImageUpload" />
	<input type="hidden" name="layout_srl" value="{$layout_srl}" />
		<ul>
			<li>
				<p class="a"><input type="file" name="user_layout_image" value="" /> <span class="desc">{$lang->msg_layout_image_target}</span></p>
			</li>
		</ul>
		<div class="btnArea">
			<span class="btn medium"><input type="submit" value="{$lang->cmd_save}" /></span>
		</div>
	</form>
</fieldset>

<block cond="$selected_layout->type == 'faceoff'">
	<fieldset class="section">
		<h3 class="h3">{$lang->faceoff_export}</h3>
		<p>{nl2br($lang->about_faceoff_export)}</p>
			<ul class="form">
				<li>
					<p class="q">{$lang->layout_export}</p>
					<p class="a"><span class="btn small"><a href="{getUrl('', 'act', 'procLayoutAdminUserLayoutExport', 'layout_srl', $layout_srl)}">{$lang->layout_btn_export}</a></span></p>
					<p class="desc">{$lang->about_layout_export}</p>
				</li>
			</ul>
	</fieldset>
</block>

<fieldset class="section">
	<form id="fo_layout" class="form" ruleset="codeUpdate" action="./" method="post">
	<input type="hidden" name="module" value="layout" />
	<input type="hidden" name="layout_srl" value="{$layout_srl}" />
	<input type="hidden" name="act" value="procLayoutAdminCodeUpdate" />

		<h3 class="h3">HTML</h3>
		<div>
			<textarea name="code" style="width:100%;height:300px;font-size:11px;">{$layout_code}</textarea>
			<span loop="$widget_list => $widget" class="btn"><a href="{getUrl('','module','admin','act','dispWidgetAdminGenerateCode','selected_widget',$widget->widget)}" target="_blank">{$widget->title}</a></span>
		</div>

		<h3 class="h3">CSS</h3>
		<div>
			<textarea name="code_css" style="width:100%;height:300px;font-size:11px;">{$layout_code_css}</textarea>
		</div>
		<div class="btnArea" style="float: left" >
			<span class="btn medium"><button type="submit" name="mode" value="reset">{$lang->cmd_reset}</button></span>
		</div>
		<div class="btnArea">
			<span class="btn medium"><button type="button" onclick="doPreviewLayoutCode();">{$lang->cmd_preview}</button></span>
			<span class="btn medium"><button type="submit" name="mode" value="save">{$lang->cmd_save}</button></span>
		</div>
	</form>
</fieldset>
