<!--%import("js/menu_admin.js")-->
<!--%import("../../common/css/popup.css")-->
<h1 class="h1">{$lang->cmd_search_mid}</h1>
<form action="./" method="get">
	<input type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="act" value="{$act}" />
	
	<select name="module_category_srl">
		<option value="">{$lang->module_category}</option>
		<!--@foreach($module_category as $key => $val)-->
		<option value="{$key}" <!--@if($module_category_srl==$key)-->selected="selected"<!--@end-->>{$val->title}</option>
		<!--@end-->
	</select>
	<select name="target_module">
		<option value="">{$lang->module}</option>
		<!--@foreach($module_list as $key => $val)-->
		<option value="{$val->module}" <!--@if($target_module ==$val->module)-->selected="selected"<!--@end-->>{$val->module}</option>
		<!--@end-->
	</select>
	<input type="submit" name="go_button" id="go_button" value="GO" />
	<div class="table">
		<table width="100%" border="1" cellspacing="0">
			<thead>
				<tr>
					<th scope="row">{$lang->module_category}</th>
					<th scope="row">{$lang->module}</th>
					<th scope="row" >{$lang->mid}</th>
					<th scope="row">{$lang->cmd_select}</th>
					</tr>
				</thead>
			<tbody>
				
				<!--@foreach($mid_list as $key => $val)-->
				<tr>
					<td>
						<!--@if(!$val->module_category_srl)-->
						{$lang->not_exists}
						<!--@else-->
						{$module_category[$val->module_category_srl]->title}
						<!--@end-->
						</td>
					<td>{$val->module}</td>
					<td>{$val->browser_title} ({$key})</td>
					<td><button type="button" onclick="doInsertMid('{$key}','{$menu_id}'); return false;">{$lang->cmd_select}</button></td>
					</tr>
				<!--@end-->
				</tbody>
		</table>
	</div>
</form>
