<!--#include("header.html")-->
<!--%import("filter/update_denied_id.xml")-->

<!-- 금지아이디의 삭제와 관련된 form -->
<form id="fo_denied_id_info" action="./" method="get">
<input type="hidden" name="user_id" value="" />
<input type="hidden" name="mode" value="" />
</form>

<!-- 목록 -->
<div class="table">
	<table width="100%" border="1" cellspacing="0">
		<thead>
			<tr>
				<th scope="col">{$lang->no}</th>
				<th scope="col">{$lang->user_id}</th>
				<th scope="col">{$lang->description}</th>
				<th scope="col">{$lang->regdate}</th>
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<!--@foreach($member_list as $no => $val)-->
			<tr class="row{$cycle_idx}">
				<td>{$no}</td>
				<td>{$val->user_id}</td>
				<td>{$val->description}&nbsp;</td>
				<td>{zdate($val->regdate,"Y-m-d")}</td>
				<td><a href="#" onclick="doUpdateDeniedID('{$val->user_id}','delete','{$lang->confirm_delete}');return false;" title="{$lang->cmd_delete}" class="buttonSet buttonDelete"><span>{$lang->cmd_delete}</span></a></td>
			</tr>
			<!--@end-->
		</tbody>
	</table>
</div>

<!-- 페이지 네비게이션 -->
<div class="pagination">
    <a href="{getUrl('page','','module_srl','')}" class="direction">&lsaquo; {$lang->first_page}</a> 
    <!--@while($page_no = $page_navigation->getNextPage())-->
        <!--@if($page == $page_no)-->
            <strong>{$page_no}</strong> 
        <!--@else-->
            <a href="{getUrl('page',$page_no,'module_srl','')}">{$page_no}</a> 
        <!--@end-->
    <!--@end-->
    <a href="{getUrl('page',$page_navigation->last_page,'module_srl','')}" class="direction">{$lang->last_page} &rsaquo;</a>
</div>

<!-- 금지 아이디 추가 -->
<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="insertDeniedId" action="./" method="post">
<input type="hidden" name="module" value="member" />
<input type="hidden" name="act" value="procMemberAdminInsertDeniedID" />
<input type="hidden" name="page" value="{$page}" />

<div class="table">
    <table width="100%" border="1" cellspacing="0">
    <tr>
        <th scope="row">{$lang->user_id}</th>
        <td ><input type="text" name="user_id" /></td>
    </tr>
    <tr>
        <th scope="row">{$lang->description}</th>
        <td ><textarea name="description"></textarea></td>
    </tr>
    </table>
</div>
<div class="btnArea">
	<span class="btn"><input type="submit" value="{$lang->cmd_registration}" /></span>
</div>
</form>
