<!--#include("header.html")-->
<!--%load_js_plugin("filebox")-->

<!-- 그룹 수정 -->
<!--@if($selected_group)-->
<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="updateGroup" action="./" method="post">
	<input type="hidden" name="module" value="member" />
	<input type="hidden" name="act" value="procMemberAdminUpdateGroup" />
	<input type="hidden" name="group_srl" value="{$selected_group->group_srl}" />
	<input type="hidden" name="mode" value="update" />
	<!--@if($selected_group->is_default=='Y')--><input type="hidden" name="is_default" value="Y" /><!--@end-->
    <div class="table">
    	<table width="100%" border="1" cellspacing="0">
    		<tr>
    			<th scope="row">{$lang->group_title}</th>
    			<td ><input type="text" name="title" id="title" value="{$selected_group->title}"/></td>
   			</tr>
    		<!--@if($selected_group->is_default!='Y' && $selected_group->is_admin!='Y')-->
    		<tr>
    			<th scope="row">{$lang->is_default}</th>
    			<td ><input type="checkbox" name="is_default" value="Y" class="checkbox" /> {$lang->about_member_default}</td>
   			</tr>
    		<!--@end-->
    		<tr>
    			<th scope="row">{$lang->description}</th>
    			<td ><textarea name="description">{$selected_group->description}</textarea></td>
   			</tr>
    		<tr>
    			<th scope="row">{$lang->group_image_mark}</th>
    			<td >
    				<div id="filebox_preview_image_mark" style="width:100px;height:100px;<!--@if(!$selected_group->image_mark)-->display:none<!--@endif-->"></div>
    				<input type="hidden" name="image_mark" value="{$selected_group->image_mark}" />
    				<span class="button black"><button type="button" onclick="XE.filebox.open(jQuery('[name=image_mark]').get(0), 'jpg,jpeg,gif,png')">{$lang->cmd_select}</button></span>
    				<span id="filebox_cancel_image_mark" class="button red"<!--@if(!$selected_group->image_mark)--> style="display:none" <!--@endif-->><button type="button" onclick="XE.filebox.cancel('image_mark')">{$lang->cmd_delete}</button></span>
    				<script type="text/javascript">//<![CDATA[
                XE.filebox.init('image_mark');
            //]]></script>
   				</td>
   			</tr>
   		</table>
   	</div>
    <div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_modify}" /></span>
	</div>
</form>
<!--@end-->
