<!--#include("header.html")-->
<!--%import("filter/update_join_form.xml")-->

<!-- 가입폼의 위/아래, 삭제와 관련된 form -->
<form id="fo_join_form_info" action="./" method="get">
    <input type="hidden" name="member_join_form_srl" value="" />
    <input type="hidden" name="mode" value="" />
</form>

<!-- 목록 -->
<div class="table even">
	<table width="100%" border="1" cellspacing="0">
		<thead>
			<tr>
				<th scope="col">{$lang->column_title}</th>
				<th scope="col">{$lang->column_name}</th>
				<th scope="col">{$lang->column_type}</th>
				<th scope="col">{$lang->is_active}</th>
				<th scope="col">{$lang->is_required}</th>
				<th scope="col">{$lang->regdate}</th>
				<th scope="col" colspan="4">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<!--@foreach($form_list as $no => $val)-->
			<tr>
				<td>{$val->column_title}</td>
				<td>{$val->column_name}</td>
				<td>{$lang->column_type_list[$val->column_type]}</td>
				<td>{$val->is_active}</td>
				<td>{$val->required}</td>
				<td>{zdate($val->regdate,"Y-m-d")}</td>
				<td>
					<button type="button" class="text" onclick="doUpdateJoinForm('{$val->member_join_form_srl}','up');return false;">{$lang->cmd_move_up}</button>
					<button type="button" class="text" onclick="doUpdateJoinForm('{$val->member_join_form_srl}','down');return false;">{$lang->cmd_move_down}</button>
					<a href="{getUrl('member_join_form_srl',$val->member_join_form_srl,'act','dispMemberAdminInsertJoinForm')}">{$lang->cmd_modify}</a>
					<button type="button" class="text" onclick="doUpdateJoinForm('{$val->member_join_form_srl}','delete','{$lang->confirm_delete}');return false;">{$lang->cmd_delete}</button>
				</td>
			</tr>
			<!--@end-->
		</tbody>
	</table>
</div>
<div class="btnArea">
	<span class="btn"><a href="{getUrl('act','dispMemberAdminInsertJoinForm','member_join_form_srl','')}">{$lang->cmd_make}</a></span>
</div>
