{@ Context::loadFile(array("./common/js/jquery.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/js_app.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/common.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/xml_handler.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/xml_js_filter.js", 'head', '', -100000), true) }

<load target="css/msignup.css" usecdn="true" />
<!--%import("../skins/default/filter/leave_member.xml")-->
<load target="../skins/default/js/member.js" usecdn="true" />
<div class="bd">
    <h2 class="h2">{$member_title = $lang->msg_leave_member}</h2>
    <form id="fo_insert_member" action="./" method="get" onsubmit="return procFilter(this, leave_member)">
	<input type="hidden" name="mid" value="{$mid}" />
    <input type="hidden" name="document_srl" value="{$document_srl}" />
    <input type="hidden" name="page" value="{$page}" />
	<fieldset class="sn">
		<ul>
			<li><label for="uid" class="db fb al">{$lang->user_id}</label><div id="uid">{$member_info->user_id}</div></li>
			<li><label for="pw" class="db fb al">{$lang->password}</label><input id="pw" type="password" name="password" class="itx" /></li>
		</ul>
	</fieldset>
	<div class="cm">
		<input type="submit" value="{$lang->cmd_leave}" accesskey="s" class="bn"/>
		<a href="{getUrl('act','dispMemberInfo','member_srl','')}" class="bn"><span>{$lang->cmd_back}</span></a>
	</div>

</form>
</div>
