<h1 class="h1">{$lang->member_info}</h1>
<div class="table even">
	<table width="100%" border="1" cellspacing="0">
		<!--@foreach($member_config->signupForm as $no=>$formInfo)-->
		<!--@if($formInfo->isDefaultForm)-->
{@$title = $formInfo->title}
{@$value = $memberInfo[$formInfo->name]}
			<!--@if($formInfo->name == 'find_account_question')-->
{@$value = $lang->find_account_question_items[$value].' : '.$memberInfo['find_account_answer']}
			<!--@elseif($formInfo->name == 'profile_image' && $memberInfo['profile_image'])-->
{@$target = $memberInfo['profile_image']}
{@$value = '<img src="'.$target->src.'" />'}
			<!--@elseif($formInfo->name == 'image_name' && $memberInfo['image_name'])-->
{@$target = $memberInfo['image_name']}
{@$value = '<img src="'.$target->src.'" />'}
			<!--@elseif($formInfo->name == 'image_mark' && $memberInfo['image_mark'])-->
{@$target = $memberInfo['image_mark']}
{@$value = '<img src="'.$target->src.'" />'}
			<!--@end-->
		<!--@else-->
{@$title = $extend_form_list[$formInfo->member_join_form_srl]->column_title}
{@$orgValue = $extend_form_list[$formInfo->member_join_form_srl]->value}
			<!--@if($formInfo->type=='tel')-->
				{@$value = htmlspecialchars($orgValue[0])}
					<!--@if($orgValue[1])-->-<!--@end-->
				{@$value .= htmlspecialchars($orgValue[1])}
					<!--@if($orgValue[2])-->-<!--@end-->
				{@$value .= htmlspecialchars($orgValue[2])}
			<!--@elseif($formInfo->type=='kr_zip')-->
				{@$value = htmlspecialchars($orgValue[0])}<!--@if($orgValue[1]&&$orgValue[0])--><br /><!--@end-->{@$value .= htmlspecialchars($orgValue[1])}
			<!--@elseif($formInfo->type=='checkbox' && is_array($orgValue))-->
				{@$value = htmlspecialchars(implode(", ",$orgValue))}
			<!--@elseif($formInfo->type=='date')-->
				{@$value = zdate($orgValue, "Y-m-d")}
			<!--@else-->
				{@$value = nl2br(htmlspecialchars($orgValue))}
			<!--@end-->
		<!--@end-->

		<tr cond="$formInfo->isUse && $formInfo->name != 'password'">
			<th scope="row" >{$title} <em cond="$formInfo->required || $formInfo->mustRequired">*</em></th>
			<td class="text">{$value}</td>
		</tr>
		<!--@end-->
		<tr>
			<th scope="row">{$lang->allow_mailing}</th>
			<td class="text"><!--@if($memberInfo['allow_mailing'] == 'Y')-->{$lang->cmd_yes}<!--@else-->{$lang->cmd_no}<!--@end--></td>
		</tr>
		<tr>
			<th scope="row">{$lang->allow_message}</th>
			<td class="text">{$lang->allow_message_type[$memberInfo['allow_message']]}</td>
		</tr>
		<tr>
			<th scope="row">{$lang->denied}</th>
			<td class="text"><!--@if($memberInfo['denied'] == 'N')-->{$lang->cmd_no}<!--@else-->{$lang->cmd_yes}<!--@end--></td>
		</tr>
		<tr cond="$memberInfo['limit_date']">
			<th scope="row">{$lang->limit_date}</th>
			<td class="text">{zdate($memberInfo['limit_date'],"Y-m-d H:i")}</td>
		</tr>
		<tr cond="$memberInfo['is_admin'] == 'Y'">
			<th scope="row">{$lang->is_admin}</th>
			<td class="text">{$lang->cmd_yes}</td>
		</tr>
		<tr>
			<th scope="row">{$lang->member_group}</th>
			<td class="text">{implode(', ', $memberInfo['group_list'])}</td>
		</tr>
		<tr cond="$memberInfo['description']">
			<th scope="row"><div>{$lang->description}</div></th>
			<td>{$memberInfo['description']}&nbsp;</td>
		</tr>
	</table>
</div>
<div class="btnArea">
	<span class="btn medium"><a href="{getUrl('', 'module', 'admin', 'act', 'dispMemberAdminInsert', 'member_srl', $member_srl)}">{$lang->cmd_modify}...</a></span>
</div>
