{@ Context::loadFile(array("./common/js/jquery.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/js_app.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/common.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/xml_handler.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/xml_js_filter.js", 'head', '', -100000), true) }

<load target="css/msignup.css" usecdn="true" />
<load target="js/signup_check.js" usecdn="true" />
<load target="js/krzip_search.js" usecdn="true" />
<!--%import("../skins/default/filter/modify_info.xml")-->
<load target="../skins/default/js/member.js" usecdn="true" />

<!--@if($member_config->profile_image == 'Y')-->
    <!--%import("../skins/default/filter/delete_profile_image.xml")-->
<!--@end-->

<!--@if($member_config->image_name == 'Y')-->
    <!--%import("../skins/default/filter/delete_image_name.xml")-->
<!--@end-->

<!--@if($member_config->image_mark == 'Y')-->
    <!--%import("../skins/default/filter/delete_image_mark.xml")-->
<!--@end-->

<!--@if($member_config->enable_openid=="Y")-->
    <!--%import("../skins/default/filter/add_openid_to_member.xml")-->
    <!--%import("../skins/default/filter/delete_openid_from_member.xml")-->
<!--@end-->
<div class="bd">
	<h2 class="h2">{$lang->msg_update_member}</h2>
	<h3 class="h3">{$lang->member_default_info}</h3>
    <form id="fo_insert_member" action="./" method="GET" onsubmit="return procFilter(this, modify_info)" <!--@if($member_config->profile_image == 'Y' || $member_config->image_name=='Y' || $member_config->image_mark=='Y')-->enctype="multipart/form-data"<!--@end--> target="tmp_upload_iframe">
    <input type="hidden" name="act" value="" />
    <input type="hidden" name="module" value="member" />
    <input type="hidden" name="member_srl" value="{$member_info->member_srl}" />
    <input type="hidden" name="signature" value="{htmlspecialchars($member_info->signature)}" />
    <input type="hidden" name="page" value="{$page}" />

    <fieldset class="sn">
		<ul>
			<li><label for="uid" class="db fb al">{$lang->user_id}</label><div id="uid">{htmlspecialchars($member_info->user_id)}</div></li>
			<li><label for="uname" class="db fb al">{$lang->user_name}</label><input type="text" name="user_name" id="uname" class="itx" value="{htmlspecialchars($member_info->user_name)}" /> <p style="color:#666">{$lang->about_user_name}</p></li>
			<li><label for="nname" class="db fb al">{$lang->nick_name}</label><input type="text" name="nick_name" id="nname" class="itx" value="{htmlspecialchars($member_info->nick_name)}" /> <p style="color:#666">{$lang->about_nick_name}</p></li>
			<li><label for="email" class="db fb al">{$lang->email_address}</label><input type="text" name="email_address" id="email" class="itx" value="{htmlspecialchars($member_info->email_address)}" /><p style="color:#666">{$lang->about_email_address}</p></li>
		<!--@if($member_config->profile_image == 'Y')-->
			<li><label for="p_image" class="db fb al">{$lang->profile_image}</label>
				<!--@if($member_info->profile_image->src)-->
				<div id="p_image">
					<img src="{$member_info->profile_image->src}" border="0" alt="profile_image" />
					<button type="button" onclick="doDeleteProfileImage({$member_info->member_srl});">{$lang->cmd_delete}</button>
				</div>
				<!--@end-->
				<div id="p_image">
					<input type="file" name="profile_image" value="" />
					<a href="#" onclick="doUploadProfileImage();return false;" class="bn"><span>{$lang->cmd_registration}</span></a>
				</div>
				<p style="color:#666">{$lang->profile_image_max_width} : {$member_config->profile_image_max_width}px, {$lang->profile_image_max_height} : {$member_config->profile_image_max_height}px</p>
			</li>
			<!--@end-->
			<!--@if($member_config->image_name == 'Y')-->
			<li><label for="p_image" class="db fb al">{$lang->image_name}</label>
				<!--@if($member_info->image_name->src)-->
				<div id="p_image">
					<div><img src="{$member_info->image_name->src}" border="0" alt="image_name" /></div>
					<button type="button" onclick="doDeleteImageName({$member_info->member_srl});">{$lang->cmd_delete}</button>
				</div>
				<!--@end-->
				<div id="p_image">
					<input type="file" name="image_name" value="" />
					<a href="#" onclick="doUploadImageName();return false;" class="bn"><span>{$lang->cmd_registration}</span></a>
				</div>
				<p style="color:#666">{$lang->image_name_max_width} : {$member_config->image_name_max_width}px, {$lang->image_name_max_height} : {$member_config->image_name_max_height}px</p>
			</li>
			<!--@end-->
			<!--@if($member_config->image_mark == 'Y')-->
			<li><label for="image_mark" class="db fb al">{$lang->image_mark}</label>
				<!--@if($member_info->image_mark->src)-->
				<div id="image_mark">
					<img src="{$member_info->image_mark->src}" border="0" alt="image_mark" />
					<button type="button" onclick="doDeleteImageMark({$member_info->member_srl});return false;">{$lang->cmd_delete}</button>
				</div>
				<!--@end-->

				<div id="image_mark">
					<input type="file" name="image_mark" value="" />
					<a href="#" onclick="doUploadImageMark();return false;" class="bn"><span>{$lang->cmd_registration}</span></a>
				</div>
				<p style="color:#666">{$lang->image_mark_max_width} : {$member_config->image_mark_max_width}px, {$lang->image_mark_max_height} : {$member_config->image_mark_max_height}px</p>
			</li>
			<!--@end-->
			<li><label for="hpage" class="db fb al">{$lang->homepage}</label><input type="text" id="hpage" name="homepage" value="{htmlspecialchars($member_info->homepage)}" class="itx" /> <p style="color:#666">{$lang->about_homepage}</p></li>
			<li><label for="bpage" class="db fb al">{$lang->blog}</label><input type="text" id="bpage" name="blog" value="{htmlspecialchars($member_info->blog)}" class="itx" /> <p style="color:#666">{$lang->about_blog_url}</p></li>
			<li><label for="bday" class="db fb al">{$lang->birthday}</label><input name="birthday" type="text" id="bday" class="itx" value="{$member_info->birthday}" /><p style="color:#666">{$lang->about_birthday}</p></li>

			<li><label for="mailing" class="db fb al">{$lang->allow_mailing}</label><input id="mailing" type="checkbox" name="allow_mailing" value="Y" class="checkbox" <!--@if($member_info->allow_mailing!='N')-->checked="checked"<!--@end--> /> <p style="color:#666">{$lang->about_allow_mailing}</p></li>
			<!--@if($member_config->signature != 'N')-->
				<li><label for="signature" class="db fb al">{$lang->signature}</label><textarea name="signature" class="itxx" value=""></textarea></li>
			<!--@end-->
		</ul>
	</fieldset>
	<!--@if($extend_form_list)-->
	<h3 class="h3">{$lang->member_extend_info}</h3>
	<fieldset class="sn">
		<ul>
			<!--@foreach($extend_form_list as $key => $val)--><!--@if($val->is_active=='Y')-->
			<li><label class="db fb al">{htmlspecialchars($val->column_title)}</label>
			<!--// 일반 text -->
				<!--@if($val->column_type == 'text')-->
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value)}" class="itx" />
				<!--// 홈페이지 주소 -->
				<!--@elseif($val->column_type == 'homepage')-->
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value)}" class="itx" />
				<!--// Email 주소 -->
				<!--@elseif($val->column_type == 'email_address')-->
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value)}" class="itx" />
				<!--// 전화번호 -->
				<!--@elseif($val->column_type == 'tel')-->
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value[0])}" size="4"/>
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value[1])}" size="4"/>
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value[2])}" size="4"/>
				<!--// textarea -->
				<!--@elseif($val->column_type == 'textarea')-->
					<textarea name="{$val->column_name}" class="itxx">{htmlspecialchars($val->value)}</textarea>
				<!--// 다중 선택 -->
				<!--@elseif($val->column_type == 'checkbox')-->
					<!--@if($val->default_value)-->
						<!--@foreach($val->default_value as $v)-->
							<input type="checkbox" id="{$v}" name="{$val->column_name}" value="{$v}" <!--@if(is_array($val->value)&&in_array($v, $val->value))-->checked="checked"<!--@end-->/><label for="{$v}">{$v}</label>
						<!--@end-->
					<!--@end-->
				<!--@elseif($val->column_type == 'radio')-->
					<!--@if($val->default_value)-->
					   <!--@foreach($val->default_value as $v)-->
							<input type="radio" name="{$val->column_name}" value="{$v}" <!--@if(is_array($val->value)&&in_array($v, $val->value))-->checked="checked"<!--@end-->/><label for="{$v}">{$v}</label>
						<!--@end-->
					<!--@end-->

				<!--// 단일 선택 -->
				<!--@elseif($val->column_type == 'select')-->
					<select name="{$val->column_name}">
					<!--@if($val->default_value)-->
						<!--@foreach($val->default_value as $v)-->
							<option value="{$v}" <!--@if($v == $val->value)-->selected="selected"<!--@end-->>{$v}</option>
						<!--@end-->
					<!--@end-->
					</select>

				<!--// 한국 주소 검색 -->
				<!--@elseif($val->column_type == 'kr_zip')-->
					<div class="krZip">
						<div id="zone_address_1_{$val->column_name}" style="display:<!--@if($val->value[0])-->inline<!--@else-->none<!--@end-->;">
							<input type="text" name="{$val->column_name}" value="{$val->value[0]}" class="itx"/>
							<a href="#" onclick="doHideKrZipList('{$val->column_name}'); return false;" class="bn"><span>{$lang->cmd_cancel}</span></a>
						</div>
						<div id="zone_address_list_{$val->column_name}" style="display:none">
							<select name="_tmp_address_list_{$val->column_name}"></select>
							<a href="#" onclick="doSelectKrZip('{$val->column_name}'); return false;" class="bn"><span>{$lang->cmd_select}</span></a>
							<a href="#" onclick="doHideKrZipList('{$val->column_name}'); return false;" class="bn"><span>{$lang->cmd_cancel}</span></a>
						</div>
						<div id="zone_address_search_{$val->column_name}" style="display:<!--@if($val->value[0])-->none<!--@else-->inline<!--@end-->;">
							<input type="text" name="_tmp_address_search_{$val->column_name}" class="itx" value="" />
							<a href="#" onclick="doSearchKrZip('{$val->column_name}'); return false;" class="bn"><span>{$lang->cmd_search}</span></a>
						</div>

						<div class="address2">
							<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value[1])}" class="itx" />
						</div>
					</div>
				<!--// 일본 주소 검색 -->
				<!--@elseif($val->column_type == 'jp_zip')-->
					<input type="text" name="{$val->column_name}" value="{htmlspecialchars($val->value)}" />
				<!--// 날짜 입력 -->
				<!--@elseif($val->column_type == 'date')-->
					<input type="hidden" name="{$val->column_name}" id="date_{$val->column_name}" value="{$val->value}" />
					<input type="text" class="inputDate inputTypeText" value="" />
				<!--@end-->
				<p style="color:#666">{$val->description}</p>
				<!--// 공개 필드 css확인 필요 -->
				<!--input type="checkbox" class="checkbox" name="open_{$val->column_name}" value="Y" id="open_{$val->column_name}" /><label for="open_{$val->column_name}">{$lang->public}</label--></li>
		<!--@end--><!--@end-->
		</ul>
	</fieldset>
	<!--@end-->
	<!--@if($member_config->enable_openid=="Y")-->
	<h3 class="h3">{$lang->openid}</h3>
	<fieldset class="sn">
		<ul>
			<!--@foreach($openids as $openid)-->
				<li><a href="{$openid->bookmarklet}">{$openid->openid}</a> <a onclick="doDeleteOpenIDFromMember('{$openid->openid}')" class="bn"><span>{$lang->cmd_delete}</span></a></li>
			<!--@end-->

				<li>
					<input name="openid" type="text" class="itx" />
					<input name="openid_to_delete" type="hidden" />
					<a onclick="doAddOpenIDToMember()" class="bn"><span>{$lang->cmd_insert}</span></a>
				</li>
		</ul>
	</fieldset>
	<!--@end-->
	<div class="cm">
		<input type="submit" value="{$lang->cmd_registration}" accesskey="s" class="bn"/>
		<a href="{getUrl('act','dispMemberInfo','member_srl','')}" class="bn"><span>{$lang->cmd_cancel}</span></a>
	</div>
	</form>
</div>
