{@ Context::loadFile(array("./common/js/jquery.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/js_app.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/common.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/xml_handler.js", 'head', '', -100000), true) }
{@ Context::loadFile(array("./common/js/xml_js_filter.js", 'head', '', -100000), true) }

<load target="css/msignup.css" usecdn="true" />
<!--%import("../skins/default/filter/modify_password.xml")-->
<load target="../skins/default/js/member.js" usecdn="true" />
<div class="bd">
    <h2 class="h2">{$member_title = $lang->cmd_modify_member_password}</h2>
    <form id="fo_insert_member" action="./" method="get" onsubmit="return procFilter(this, modify_password)">
    <input type="hidden" name="mid" value="{$mid}" />
    <input type="hidden" name="document_srl" value="{$document_srl}" />
    <input type="hidden" name="page" value="{$page}" />
	<fieldset class="sn">
		<ul>
			<li><label for="uid" class="db fb al">{$lang->user_id}</label><div id="uid">{htmlspecialchars($member_info->user_id)}</div></li>
			<li><label for="cpw" class="db fb al">{$lang->current_password}</label><input type="password" name="current_password" id="cpw" class="itx" /></li>
			<li><div><label for="npw1" class="db fb al">{$lang->password1}</label><input type="password" name="password1" id="npw1" class="itx" /></div>
			<div><label for="npw1" class="db fb al">{$lang->password2}</label><input type="password" name="password2" id="npw2" class="itx" /></div>
			<p style="color:#666">{$lang->about_password}</p></li>
		</ul>
	</fieldset>
	<div class="cm">
	   <input type="submit" value="{$lang->cmd_registration}" accesskey="s" class="bn"/><a href="{getUrl('act','dispMemberInfo','member_srl','')}" class="bn"><span>{$lang->cmd_back}</span></a>
	</div>

	</form>
</div>