<load target="css/msignup.css" usecdn="true" />
<load target="js/signup_check.js" usecdn="true" />
<!--%load_js_plugin("ui")-->
<!--%load_js_plugin("ui.datepicker")-->
<div class="bd">
	<div class="hx h2">
		<h2>{$lang->cmd_signup}</h2>
	</div>
	<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
		<p>{$XE_VALIDATOR_MESSAGE}</p>
	</div>
    <form ruleset="@insertMember" id="fo_insert_member" class="ff" action="./" method="post" enctype="multipart/form-data">
		<input type="hidden" name="module" value="member" />
		<input type="hidden" name="act" value="procMemberInsert" />
		<!--@if(!$is_logged && $member_config->agreement)-->
		<div class="agreement">
			<div class="text">
				{$member_config->agreement}
			</div>
			<div class="confirm">
				<input type="checkbox" name="accept_agreement" value="Y" id="accept_agree" />
				<label for="accept_agree">{$lang->about_accept_agreement}</label>
			</div>
		</div>
		<!--@end-->
		<ul>
			<li> 
				<label for="{$identifierForm->name}">{$identifierForm->title} <em style="color:red">*</em></label>
				<input type="text" name="{$identifierForm->name}" id="{$identifierForm->name}" value="{$identifierForm->value}" />
			</li>
			<li> 
				<label for="password">{$lang->password} <em style="color:red">*</em></label>
				<input type="password" name="password" id="password" value=""/>
			</li>
			<li> 
				<label for="password2">{$lang->password2} <em style="color:red">*</em></label>
				<input type="password" name="password2" id="password2" value=""/>
			</li>
			<li loop="$formTags=>$formTag"> 
				<label>{$formTag->title}</label>
				<block cond="$formTag->name != 'signature'">{$formTag->inputTag}</block>
				<block cond="$formTag->name =='signature'">{$editor}</block>
			</li>
			<li> 
				<label>{$lang->allow_mailing}</label>
				<input type="radio" name="allow_mailing" id="mailingYes" value="Y" checked="checked"|cond="$member_info->allow_mailing == 'Y'"> <label for="mailingYes">{$lang->cmd_yes}</label>
				<input type="radio" name="allow_mailing" id="mailingNo" value="N" checked="checked"|cond="$member_info->allow_mailing != 'Y'" > <label for="mailingNo">{$lang->cmd_no}</label>
			</li>
			<li> 
				<label>{$lang->allow_message}</label>
				<block loop="$lang->allow_message_type=>$key,$val">
					<input type="radio" name="allow_message" value="{$key}" checked="checked"|cond="$member_info->allow_message == $key" id="allow_{$key}" /> <label for="allow_{$key}">{$val}</label>
				</block>
			</li>
		</ul>
	<div class="bna">
		<input type="submit" class="bn dark" value="{$lang->cmd_registration}" accesskey="s" />
	</div>
	</form>
</div>
	<script type="text/javascript">
	(function($){
		$(function(){
			var option = { changeMonth: true, changeYear: true, gotoCurrent: false,yearRange:'-100:+10', dateFormat:'yy-mm-dd', onSelect:function(){
	
				$(this).prev('input[type="hidden"]').val(this.value.replace(/-/g,""))}
			};
			$.extend(option,$.datepicker.regional['{$lang_type}']);
			$(".inputDate").datepicker(option);
			$(".dateRemover").click(function() {
				$(this).parent().prevAll('input').val('');
				return false;});
		});
	})(jQuery);
	</script>
