@charset "utf-8";
/* NHN (developers@xpressengine.com) */

/* Board Reset */
.board {font-family:Tahoma, Sans-serif;line-height:normal;font-size:12px}
.board .inputText,
.board textarea,
.board select {border:1px solid}
.board label {cursor:pointer}
.board img {border:0}
.board .document_popup_menu,
.board .comment_popup_menu {text-align:right;font-size:11px}
.board .document_popup_menu {margin:1em 0}
.board .comment_popup_menu {margin:1em 0}
.board .document_popup_menu a,
.board .comment_popup_menu a {text-decoration:underline}
.board .hr {display:none}
/* Board Header */
.boardHeader * {margin:0 0 20px 0;padding:0}
.boardHeader a {text-decoration:none}
.boardHeader a:hover,
.boardHeader a:active,
.boardHeader a:focus {text-decoration:underline}
.boardHeader .boardTitle {letter-spacing:-.1em;margin-bottom:10px;border-bottom:3px solid;*zoom:1;
background-repeat:no-repeat;background-position:left 8px}
.boardHeader .boardTitle:after {content:"";display:block;clear:both}
.boardHeader .boardTitleText {font-size:18px;float:left;clear:both;margin-bottom:-3px;padding:5px 15px 5px 5px;border-bottom:3px solid;background-repeat:no-repeat;background-position:right bottom}
.boardHeader .boardTitleText a {text-decoration:none}
.boardHeader .boardTitleText em {font-style:normal;font-weight:normal}
.boardHeader .boardDescription {padding:7px 15px;-moz-border-radius:3px;-webkit-border-radius:3px;position:relative}
/* Board Information */
.boardInformation {width:100%;padding:15px 0;font-size:1em;line-height:normal;*zoom:1;
}
.boardInformation * {margin:0;padding:0}
.boardInformation a {text-decoration:none}
.boardInformation a:hover,
.boardInformation a:active,
.boardInformation a:focus {text-decoration:underline}
.boardInformation:after {content:"";display:block;float:none;clear:both}
.boardInformation ul {overflow:hidden}
.boardInformation .infoSum {float:left;font-size:16px;font-weight:bold}
.boardInformation .infoView {float:right}
.boardInformation .infoView li {position:relative;float:left;margin-left:3px;display:inline}
.boardInformation .infoView li.icon a {display:block;float:left;width:23px;height:23px;overflow:hidden;background-repeat:no-repeat}
.boardInformation .infoView li.icon a span {position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.boardInformation .infoView li.listTypeClassic a {background-position:0 0}
.boardInformation .infoView li.listTypeClassic.active a {background-position:0 -23px}
.boardInformation .infoView li.listTypeZine a {background-position:-23px 0}
.boardInformation .infoView li.listTypeZine.active a {background-position:-23px -23px}
.boardInformation .infoView li.listTypeGallery a {background-position:-46px 0}
.boardInformation .infoView li.listTypeGallery.active a {background-position:-46px -23px}
.boardInformation .infoView li.setup {margin:0 7px}
.boardInformation .infoView li.setup a {display:block;float:left;width:43px;height:23px;background-repeat:no-repeat}
.boardInformation .infoView li.setup a span {position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
/* Board List Form */
.boardListForm {margin:0;line-height:normal}
.boardListForm * {margin:0;padding:0}
.boardListForm fieldset {border:0;clear:both}
.boardListForm fieldset:after {content:"";display:block;float:none;clear:both}
.boardListForm legend {position:absolute;width:0;height:0;overflow:hidden;font:0/0 Sans-serif;visibility:hidden}
.boardListForm em,
.boardListForm strong {font-style:normal}
.boardListForm strong.trackback {color:#423CC4}
/* Board List */
.boardList {border:0;border-top:1px solid;width:100%}
.boardList a {text-decoration:none}
.boardList a:hover,
.boardList a:active,
.boardList a:focus {text-decoration:underline}
.boardList .inputCheck {width:13px;height:13px}
.boardList .jumpTo {float:left}
.boardList .jumpTo * {vertical-align:middle;*vertical-align:top;
}
.boardList .jumpTo select {height:20px;font-size:12px;*margin-right:5px;
}
.boardList .jumpTo button {width:22px;height:20px;line-height:18px;_line-height:normal;border:1px solid;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0;padding:0;text-align:center;background-repeat:no-repeat;font-size:11px;cursor:pointer;overflow:visible}
.boardList .meta {position:relative;overflow:hidden;margin:0 0 5px 0;padding:0;list-style:none;white-space:nowrap}
.boardList .meta li {position:relative;left:-10px;display:inline;padding:0 5px 0 10px;background-repeat:no-repeat;background-position:left center;font-size:11px}
.boardList .meta li.author {font-size:11px}
.boardList .meta li.date {font:9px Tahoma}
.boardList .meta li em {font-size:9px}
.boardList .replyNum,
.boardList .trackbackNum {font:9px Verdana}
.boardList th {border:0;border-bottom:1px solid;padding:8px 6px 7px 6px;*padding:8px 6px 6px 6px;
white-space:nowrap;text-align:center;line-height:normal;font-weight:normal}
.boardList th.title {width:100%}
.boardList th a .sort {vertical-align:middle;margin:0 5px}
.boardList td {border:0;border-bottom:1px solid;padding:8px 6px 7px 6px;*padding:8px 6px 6px 6px;
white-space:nowrap;text-align:center;line-height:normal;vertical-align:top}
.boardList td.notice {font-size:11px;font-weight:bold}
.boardList td.num {font:9px Tahoma}
.boardList td.check {font:11px Tahoma}
.boardList td.title {width:100%;white-space:normal;text-align:left}
.boardList td.title img {vertical-align:middle;margin:0 1px}
.boardList td.title .author {font-size:11px}
.boardList td.author {font-size:11px;text-align:left}
.boardList td.replies {font:9px Tahoma}
.boardList td.reading {font:9px Tahoma}
.boardList td.recommend {font:bold 9px Tahoma}
.boardList td.date {font:9px Tahoma}
.boardList td.summary {text-align:left;border-top-style:dotted;white-space:normal}
.boardList td.summary .thumb {display:block;float:left;padding:2px;border:1px solid;margin-right:10px}
.boardList td.summary .thumb img {display:block}
.boardList td.lastReply {text-align:left;font-size:11px}
.boardList td .notice {font-size:11px;padding-right:7px;margin-right:2px;background-repeat:no-repeat;background-position:right center}
.boardList td .category {font-weight:normal;font-size:11px;padding-right:7px;margin-right:2px;background-repeat:no-repeat;background-position:right center}
.boardList td .replyAnchor {position:relative;font-size:9px}
.boardList td .by {font:9px Tahoma}
.boardList.webZine tr.bg1 td,
.boardList.webZine tr.bg2 td {padding:22px 6px 22px 6px;*padding:22px 6px 21px 6px;
}
.boardList.webZine td.title p.title {margin-bottom:9px}
.boardList.webZine td.title p.title .category {font-size:12px}
.boardList.webZine td.title p.title a.title {font-weight:bold}
.boardList.webZine td.title p.summary {line-height:18px;margin-bottom:8px}
.boardList.webZine td.title p.summary a {text-decoration:none}
.boardList.webZine td.title .thumb {float:right;clear:right;border:1px solid;padding:8px;margin-left:50px}
.boardList.webZine td.title .by {font:9px Tahoma}
.thumbList {border-bottom:1px solid;border-top:0;*zoom:1;
margin-right:-30px;padding:25px 0 0 0}
.thumbList:after {content:"";display:block;clear:both}
.thumbList li {position:relative;margin:0 17px 10px 17px;padding:0;list-style:none;overflow:hidden;float:left;display:inline}
.thumbList li .num {color:#888;font-size:9px;margin-bottom:6px}
.thumbList li .thumb {position:relative;float:left;clear:both;overflow:hidden;padding:8px;margin-bottom:14px;border:1px solid}
.thumbList li .thumb a {display:block;position:relative;*zoom:1;
text-decoration:none !important}
.thumbList li .thumb a * {cursor:pointer}
.thumbList li .thumb a img {display:block}
.thumbList li .thumb a .text {position:absolute;left:0;top:50%;margin-top:-.8em;*margin-top:-1.5em;
display:block;width:100%;text-align:center;font-size:2em;font-weight:bold;white-space:nowrap;letter-spacing:-1px}
.thumbList li .thumb a .category {position:absolute;left:0;bottom:0;width:100%;overflow:hidden;padding:3px 0;white-space:nowrap;text-indent:5px;font-weight:normal;font-size:11px}
.thumbList li .thumb a .noPhoto {display:inline-block;font-size:11px;text-align:center}
.thumbList li .title {font-weight:bold;clear:both;white-space:nowrap;margin-bottom:3px}
.thumbList li .title input {width:13px;height:13px;vertical-align:middle;white-space:nowrap}
.thumbList li .summary {line-height:16px;margin-bottom:8px}
.thumbList li .summary a {text-decoration:none}
.thumbList li .meta {position:relative;white-space:normal;*zoom:1;
text-align:left;overflow:visible}
.thumbList li .meta li {float:none;display:inline;margin:0;white-space:nowrap;*zoom:1;;
}
.thumbList .lastReply {text-align:left;font-size:11px}
.thumbList .lastReply a {display:block}
.thumbList .by {font:9px Tahoma}
/* Board Navigation */
.board .boardNavigation {padding:30px 0;margin:-1px 0 0 0;text-align:center;border-top:1px solid;*zoom:1;
_zoom:0}
.board .boardNavigation:after {content:"";display:block;float:none;clear:both}
.board .boardNavigation .pagination {padding:5px 0}
.board .boardNavigation .buttonLeft {float:left;text-align:left}
.board .boardNavigation .buttonRight {float:right;text-align:right}
/* Search Form */
.boardSearchForm {position:relative;margin:0;padding:1px 0;line-height:normal}
.boardSearchForm * {margin:0;padding:0}
.boardSearchForm fieldset {border:0;clear:both;text-align:center;position:relative}
.boardSearchForm fieldset:after {content:"";display:block;float:none;clear:both}
.boardSearchForm fieldset * {vertical-align:top}
.boardSearchForm legend {position:absolute;width:0;height:0;overflow:hidden;font:0/0 Sans-serif;visibility:hidden}
.boardSearchForm select {font-size:12px;height:23px;border:1px solid}
.boardSearchForm .inputText {width:140px;height:15px;padding:4px 4px 2px 4px;font-size:12px;*margin:-1px 0;
}
.boardSearchForm .infoEtc {position:absolute;top:7px;right:0}
.boardSearchForm .infoEtc li {display:inline}
.boardSearchForm .infoEtc li a {display:inline-block;height:11px;background-repeat:no-repeat;overflow:hidden}
.boardSearchForm .infoEtc li a span {position:absolute;width:0;height:0;overflow:hidden;font-size:0;line-height:0;visibility:hidden}
.boardSearchForm .infoEtc li.contributors a {width:12px;background-position:0 0}
.boardSearchForm .infoEtc li.tag a {width:42px;background-position:-11px 0}
/* Board Read */
.boardReadHeader {*zoom:1;
}
.boardReadHeader a {text-decoration:none}
.boardReadHeader a:hover,
.boardReadHeader a:active,
.boardReadHeader a:focus {text-decoration:underline}
.boardReadHeader:after {content:"";display:block;float:none;clear:both}
.boardReadHeader * {margin:0;padding:0}
.boardReadHeader .titleArea {
*zoom:1;padding:7px 0;border-top:1px solid;border-bottom:1px solid}
.boardReadHeader .titleArea:after {content:"";display:block;clear:both}
.boardReadHeader .titleArea .title {float:left;font-size:16px;margin-right:10px}
.boardReadHeader .titleArea .category {float:left;padding-left:10px;margin-top:4px;font-size:12px;background-repeat:no-repeat;background-position:left center}
.boardReadHeader .titleArea .sum {float:right;white-space:nowrap;margin-top:2px}
.boardReadHeader .titleArea .sum .read,
.boardReadHeader .titleArea .sum .vote {font-size:11px;margin-right:5px}
.boardReadHeader .titleArea .sum .num {font-size:9px}
.boardReadHeader .titleArea .sum .date {padding-left:10px;font-size:9px;background-repeat:no-repeat;background-position:left center}
.boardReadHeader .authorArea {
*zoom:1;padding:10px 0}
.boardReadHeader .authorArea:after {content:"";display:block;clear:both}
.boardReadHeader .authorArea .author {float:left;margin-right:10px}
.boardReadHeader .authorArea .ipAddress {float:left;font-size:9px;margin-top:3px}
.boardReadHeader .authorArea .permaLink {float:right;font-size:9px;margin-top:3px}
.boardReadBody {overflow:hidden;*zoom:1;
}
.boardReadBody .xe_content {overflow:hidden}
.boardReadBody .xe_content a {text-decoration:underline}
.boardReadFooter .memberSignature {border:1px solid;padding:10px;margin:1em 0;overflow:hidden;*zoom:1;
clear:both;-moz-border-radius:5px;-webkit-border-radius:5px}
.boardReadFooter .memberSignature img.profile {margin:0 1em 0 0;border:1px solid}
.boardReadFooter .tag {margin:1em 0;clear:both}
.boardReadFooter .tag * {display:inline;margin:0;padding:0;font-size:11px;vertical-align:middle}
.boardReadFooter .tag dt {margin-right:10px}
.boardReadFooter .tag dd {margin-right:5px}
.boardReadFooter .trackbackURL {margin:1em 0;clear:both}
.boardReadFooter .trackbackURL * {display:inline;margin:0;padding:0}
.boardReadFooter .trackbackURL dt {margin-right:5px;font-size:11px}
.boardReadFooter .trackbackURL dd {font-size:9px;text-decoration:none}
.boardReadFooter .trackbackURL a {text-decoration:none}
.boardReadFooter .trackbackURL a:hover,
.boardReadFooter .trackbackURL a:active,
.boardReadFooter .trackbackURL a:focus {text-decoration:underline}
.boardRead .boardNavigation {border-top:1px solid}
/* Feedback List */
.feedbackList {overflow:hidden;padding-top:15px;margin-bottom:10px;border-top:1px solid}
.feedbackList .feedbackHeader {float:left;font-weight:bold;margin:1em 1em .5em 0;font-size:16px}
.feedbackList .feedbackHeader em {font-style:normal}
.feedbackList .trackbackURL {position:relative;top:1.5em;float:left;font-size:9px}
.feedbackList .trackbackURL a {text-decoration:none}
.feedbackList .trackbackURL a:hover,
.feedbackList .trackbackURL a:active,
.feedbackList .trackbackURL a:focus {text-decoration:underline}
.feedbackList .trackbackList,
.feedbackList .replyList {clear:both}
.feedbackList .item {position:relative;border-top:1px dashed;*zoom:1;
}
.feedbackList .item .indent {position:relative;*zoom:1;
}
.feedbackList .item .indent:after {content:"";display:block;clear:both}
.feedbackList .item.itemReply .indent {padding-left:15px;background-repeat:no-repeat;background-position:0 1.2em}
.feedbackList .item .author {margin:0 0 5px 0}
.feedbackList .item .author a {font-size:12px;text-decoration:none}
.feedbackList .item .author a:hover,
.feedbackList .item .author a:active,
.feedbackList .item .author a:focus {text-decoration:underline}
.feedbackList .item .itemContent {position:relative;padding:1em 0 1em 120px;*zoom:1;
z-index:1}
.feedbackList .item .itemContent:after {content:"";display:block;clear:both}
.feedbackList .item .itemContent .xe_content {width:auto !important}
.feedbackList .item .itemContent .xe_content * {margin-top:0}
.feedbackList .item .itemContent .xe_content a {text-decoration:underline}
.feedbackList .item .itemContent .option {position:relative;margin:1em 0;padding:0;list-style:none;white-space:nowrap;overflow:hidden;*zoom:1;
float:right}
.feedbackList .item .itemContent .option li {position:relative;left:-1px;display:inline;padding:0 0 0 5px;background-repeat:no-repeat;background-position:left center;font-size:11px}
.feedbackList .item .itemContent .option li.wouldYou {background:none}
.feedbackList .item .itemContent .option li a {text-decoration:none}
.feedbackList .item .itemContent .option li a:hover,
.feedbackList .item .itemContent .option li a:active,
.feedbackList .item .itemContent .option li a:focus {text-decoration:underline}
.feedbackList .item .itemContent .delete {position:relative;display:inline-block;width:13px;height:13px;background-repeat:no-repeat;background-position:center center;vertical-align:middle}
.feedbackList .item .itemContent .delete span {position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
.feedbackList .item.itemOnly {border-top:0}
.feedbackList .item .itemAside {position:relative;float:left;width:100px;margin-right:-100px;padding:1em 0 0 0;*zoom:1;
text-align:left;z-index:2}
.feedbackList .item .itemAside a {text-decoration:none}
.feedbackList .item .itemAside a:hover,
.feedbackList .item .itemAside a:active,
.feedbackList .item .itemAside a:focus {text-decoration:underline}
.feedbackList .item .itemAside img.profile {display:block;border:1px solid;margin-bottom:5px;width:80px;height:80px }
.feedbackList .item .itemAside .meta {font-size:9px;margin:0 0 5px 0;white-space:nowrap}
.feedbackList .item .itemAside .vote {margin:0;*zoom:1;
overflow:hidden}
.feedbackList .item .itemAside .vote:after {content:"";display:block;clear:both}
.feedbackList .item .itemAside .vote * {margin:0;padding:0}
.feedbackList .item .itemAside .vote dt {position:relative;left:-5px;float:left;width:10px;height:9px;margin-right:2px;padding-left:5px;background-image:url(../img/common/iconLove.gif);background-repeat:no-repeat;overflow:hidden;border-left:1px solid #e5e5e5}
.feedbackList .item .itemAside .vote dt.love {background-position:5px 1px}
.feedbackList .item .itemAside .vote dt.hate {background-position:5px -19px}
.feedbackList .item .itemAside .vote dt span {position:absolute;width:0;height:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden}
.feedbackList .item .itemAside .vote dd {position:relative;left:-5px;float:left;margin-right:5px;font-size:9px;font-weight:bold}
.feedbackList .item .secretMessage {margin:0;padding:1em 3em}
.feedbackList .item .secretMessage p {text-align:center;margin:1em 0;font-size:18px}
.feedbackList .item .secretMessage dl {text-align:center;margin:1em 0}
.feedbackList .item .secretMessage dt {font-weight:bold;display:inline}
.feedbackList .item .secretMessage dd {margin:0;display:inline}
.feedbackList .item .secretMessage dd .inputText {padding:3px 4px;height:15px;vertical-align:middle;margin-right:5px}
/* Attached File */
.attachedFile {position:relative;float:left;width:100%}
.attachedFile * {margin:0;padding:0;font-size:11px;vertical-align:middle}
.attachedFile dt img {margin-right:10px}
.attachedFile dt .fileToggle {border:0;padding:0;overflow:visible;cursor:pointer;font-size:11px;background:none;vertical-align:middle}
.attachedFile dd {position:relative;margin-right:5px;display:none;margin-top:5px;padding-left:40px}
.attachedFile.open dd {display:block}
.attachedFile ul.files {position:relative;margin:0 0 1em 0;padding:0;clear:both;list-style:none;text-align:left}
.attachedFile ul.files * {display:inline-block;*display:inline;
padding:0;margin:0;font-size:11px}
.attachedFile ul.files li {position:relative;margin:0 10px 0 0}
.attachedFile ul.files a {position:relative;background-repeat:no-repeat;background-position:left center;*zoom:1;
text-decoration:none !important}
.attachedFile ul.files a .bubble {display:none;position:absolute;top:-20px;left:0;padding:2px 5px;z-index:100;white-space:nowrap}
.attachedFile ul.files a:hover .bubble,
.attachedFile ul.files a:active .bubble,
.attachedFile ul.files a:focus .bubble {display:block}
/* Board Write */
.boardWrite fieldset {border:0}
.boardWrite legend {position:absolute;width:0;height:0;overflow:hidden;font:0/0 Sans-serif;visibility:hidden}
.boardWrite .boardWriteHeader {margin:0 0 1em 0}
.boardWrite .boardWriteHeader * {vertical-align:middle}
.boardWrite .boardWriteHeader select {font-size:12px;vertical-align:top;height:23px}
.boardWrite .boardWriteHeader .inputText {width:400px;padding:3px 4px;height:15px;font-size:12px;*margin-top:-1px;
}
.boardWrite .tag {clear:both;margin-bottom:10px;*zoom:1;
}
.boardWrite .tag:after {content:"";display:block;float:none;clear:both}
.boardWrite .tag .inputText {float:left;width:330px;padding:4px 4px 2px 4px;margin-right:10px;font-size:12px}
.boardWrite .tag p {float:left;margin:3px 0}
/* Editor */
.board .boardEditor {border:1px solid;margin-bottom:20px;-moz-border-radius:5px;-webkit-border-radius:5px}
.board .boardEditor .commentEditor {margin:15px;*zoom:1;
position:relative}
/* Editor Option */
.board .editOption {margin:1em 0;text-align:left}
.board .editOption * {vertical-align:middle}
.board .editOption select {margin-right:10px;font-size:12px}
.board .editOption label {margin-right:10px}
.board .editOption .inputText {padding:3px 4px;height:15px;margin:0 10px 5px 0;font-size:12px;vertical-align:middle}
.board .editOption .inputText.userName {width:100px}
.board .editOption .inputText.userPw {width:50px;font:11px Tahoma}
.board .editOption .inputText.emailAddress {width:140px;font:11px Tahoma}
.board .editOption .inputText.homePage {width:140px;font:11px Tahoma}
/* Require Password */
.board .requirePassword {text-align:center}
.board .requirePassword fieldset {border:0;padding:3em 0 4em 0}
.board .requirePassword h3 {font-size:16px}
.board .requirePassword .inputText {height:15px;width:150px;padding:3px 4px}
/* Extra Var Table */
.extraVarsList {width:100%;border:0;border-bottom:1px solid;margin-bottom:15px}
.extraVarsList caption {text-align:right}
.extraVarsList em {font-style:normal;font-weight:normal}
.extraVarsList th,
.extraVarsList td {border:0;padding:5px 10px;text-align:left;border-top:1px solid;vertical-align:top}
.extraVarsList th {white-space:nowrap}
.extraVarsList td {width:100%}
.extraVarsList td p {display:block;*display:block;
margin:3px 0}
.extraVarsList td * {vertical-align:middle}
.extraVarsList td li {display:inline;margin-right:10px}
.extraVarsList td .inputText {padding:3px 4px;font-size:12px;width:96%;display:block}
.extraVarsList td .inputNum {padding:3px 4px;font-size:12px;width:50px;border:1px solid}
.extraVarsList td .inputCheck {width:13px;height:13px;margin-right:5px}
.extraVarsList td select {font-size:12px}
.extraVarsList td textarea {padding:3px 4px;font-size:12px;width:96%;display:block;overflow:auto}
/* Tag Cloud */
.tagCloud {padding:3em 0;border-top:1px solid;border-bottom:1px solid}
.tagCloud * {margin:0;padding:0}
.tagCloud ul {text-align:justify}
.tagCloud li {display:inline;list-style:none;margin:0 5px}
.tagCloud li.rank1 a {font-weight:bold;font-size:24px}
.tagCloud li.rank2 a {font-weight:bold;font-size:18px}
.tagCloud li.rank3 a {font-weight:bold;font-size:14px}
.tagCloud li.rank4 a {font-size:12px}
.tagCloud li.rank5 a {font-size:11px}
/* 확장 변수 폼 */
.extraVarsList tr td input,
.extraVarsList tr td textarea {font-size:12px}
.extraVarsList tr td .text {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:90%}
.extraVarsList tr td .email_address {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:300px}
.extraVarsList tr td .homepage {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:300px}
.extraVarsList tr td .tel {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:40px;margin-right:10px}
.extraVarsList tr td .textarea {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:90%;height:80px}
.extraVarsList tr td ul {margin:0;padding:0;list-style:none}
.extraVarsList tr td ul li {display:inline-block;margin-right:10px}
.extraVarsList tr td ul li input {margin-right:5px;vertical-align:middle}
.extraVarsList tr td .date {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:100px}
.extraVarsList tr td .address {border:1px solid;border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6;padding:3px;margin-right:10px;width:300px}
