@charset "utf-8";
/* NHN (developers@xpressengine.com) */

/* XE White Theme */

/* Board Reset */
.board{background:#fff;color:#333}
.board .inputText,
.board textarea,
.board select{background:#fff;color:#333;border-top-color:#a6a6a6;border-left-color:#a6a6a6;border-right-color:#d8d8d8;border-bottom-color:#d8d8d8}
.board .document_popup_menu a,
.board .comment_popup_menu a{color:#8b8b8b}
.board .boardNavigation{border-color:#bababa}
/* Board Header */
.boardHeader a{color:#4d4d4d}
.boardHeader .boardTitle{border-color:#ddd}
.boardHeader .boardTitleText{border-color:#666;background-image:url(../img/white/lineVr11.gif)}
.boardHeader .boardTitleText a{color:#000}
.boardHeader .boardTitleText em{color:#666}
.boardHeader .boardDescription{background:#f8f8f8}
/* Board Information */
.boardInformation em,
.boardInformation strong{color:#ff6600}
.boardInformation .infoView li.icon a{background-image:url(../img/common/icons.gif)}
.boardInformation .infoView li.setup a{background-image:url(../img/common/buttonSetup.gif)}
/* Board List Form */
.boardListForm em,
.boardListForm strong{color:#ff3636}
/* Board List */
.boardList{border-color:#bababa}
.boardList a{color:#4d4d4d}
.boardList .jumpTo button{background-color:#eee;border-color:#ccc;color:#000}
.boardList .meta li{background-image:url(../img/white/lineVr9.gif)}
.boardList .replyNum{color:#ff3636}
.boardList .trackbackNum{color:#66c}
.boardList .replyAnchor{color:#06C}
.boardList th{border-color:#dcdcdc;color:#4d4d4d}
.boardList th a{color:#66c}
.boardList td{border-color:#eee;color:#4d4d4d}
.boardList td.title a.forum:link,
.boardList td.recommend{color:#ff3636}
.boardList td.summary .thumb{border-color:#ddd;background:#fff}
.boardList td .notice{background-image:url(../img/white/lineVr9.gif)}
.boardList td .category{color:#888;background-image:url(../img/white/lineVr9.gif)}
.boardList td .by{color:#ccc}
.boardList.webZine td.title p.summary a{color:#888}
.boardList.webZine td.title .thumb{border-color:#e0e0e0}
.thumbList{border-color:#ddd}
.thumbList li .thumb{background:#fff;border-color:#ddd}
.thumbList li .thumb a .text{color:#ccc}
.thumbList li .thumb a .category{background:#000;opacity:.6;filter:alpha(opacity=60);color:#fff}
.thumbList li .thumb a .noPhoto{background:#eee}
.thumbList li .title a{color:#262626}
.thumbList li .summary a{color:#888}
/* Search Form */
.boardSearchForm .infoEtc li a{background-image:url(../img/common/buttonContributorsTaglist.gif)}
/* Board Read */
.boardReadHeader a{color:#262626}
.boardReadHeader .titleArea{border-top-color:#bababa;border-bottom-color:#dcdcdc}
.boardReadHeader .titleArea .category{color:#4d4d4d;background-image:url(../img/white/lineVr9.gif)}
.boardReadHeader .titleArea .num{color:#adadad}
.boardReadHeader .titleArea .date{color:#adadad;background-image:url(../img/white/lineVr9.gif)}
.boardReadHeader .authorArea .ipAddress{color:#adadad}
.boardReadHeader .authorArea .permaLink{color:#adadad}
.boardReadFooter .memberSignature{border-color:#f0f0f0;background-color:#fdfdfd}
.boardReadFooter .memberSignature img.profile{border-color:#eee}
.boardReadFooter .tag dd a{color:#4d4d4d}
.boardReadFooter .trackbackURL dt{color:#4d4d4d}
.boardReadFooter .trackbackURL dd a{color:#adadad}
.feedbackList{border-color:#f0f0f0}
.feedbackList .feedbackHeader a{color:#000}
.feedbackList .feedbackHeader em{color:#ff6600}
.feedbackList .trackbackURL a{color:#adadad}
.feedbackList .item{border-color:#f0f0f0}
.feedbackList .item.itemReply .indent{background-image:url(../img/common/iconReply.gif)}
.feedbackList .item .author{color:#8b8b8b}
.feedbackList .item .author a{color:#262626}
.feedbackList .item .itemContent .option li{background-image:url(../img/white/lineVr9.gif)}
.feedbackList .item .itemContent .option li a{color:#666}
.feedbackList .item .itemContent .delete{background-image:url(../img/common/buttonDelete.gif)}
.feedbackList .item .itemAside img.profile{border-color:#eee}
.feedbackList .item .itemAside .meta{color:#adadad}
.feedbackList .item .itemAside .vote *{color:#8b8b8b}
/* Time */
.time *{color:#666}
.time dt{background:#fff}
/* Attached File */
.attachedFile ul.files a{padding-left:15px;background-image:url(../img/common/iconFile.gif);color:#4d4d4d}
.attachedFile dt a{color:#4d4d4d}
.attachedFile ul.files a .bubble{border:1px solid #ddd;background-color:#fff;color:#4d4d4d}
/* Editor */
.board .boardEditor{border-color:#ddd;background:#f8f8f8}
/* Extra Var Table */
.extraVarsList{border-color:#ddd}
.extraVarsList caption{color:#999}
.extraVarsList em{color:#ff6600}
.extraVarsList th,
.extraVarsList td{border-color:#ddd}
.extraVarsList th{background:#f4f4f4}
.extraVarsList td{background:#fff}
.extraVarsList td .inputNum{border-color:#ccc}
/* Tag Cloud */
.tagCloud{border-color:#bababa}
.tagCloud li.rank1 a{color:#000}
.tagCloud li.rank2 a{color:#222}
.tagCloud li.rank3 a{color:#444}
.tagCloud li.rank4 a{color:#666}
.tagCloud li.rank5 a{color:#888}
/* Layer */
#popup_menu_area{background:#fff;border-color:#eee}
#popup_menu_area ul{border-color:#ddd}
#popup_menu_area li a{color:#000}
