@charset "utf-8";

/* CSS Document */
#memberModule							{font-family:Arial, Helvetica, sans-serif;}
.fr										{float:right;}
#memberModule caption{ padding-bottom:5px;font-size:11px; font-family:Tahoma; color:#888; text-align:left;}
/* Button */
a.grayBtn								{display:inline-block;height:29px;padding-left:4px; _margin-top:2px;_vertical-align:middle;background:url(../images/btn_gray_left.gif) no-repeat top left; text-decoration:none;cursor:pointer;}
a.grayBtn span							{display:inline-block;height:24px;padding:5px 14px 0 11px;_padding-top:7px;white-space:nowrap;color:#FFF;font-weight:bold;background:url(../images/btn_gray_right.gif) no-repeat top right;}
a.whiteBtn								{display:inline-block;height:29px;padding-left:4px; _margin-top:2px;_vertical-align:middle;background:url(../images/btn_white_left.gif) no-repeat top left; text-decoration:none;cursor:pointer;}
a.whiteBtn span							{display:inline-block;height:24px;padding:5px 14px 0 11px;_padding-top:7px;white-space:nowrap;color:#808080;font-weight:bold;background:url(../images/btn_white_right.gif) no-repeat top right;}
span.grayBtn							{display:inline-block;_margin-top:1px !important;height:27px;_padding-top:-3px;padding-left:4px; vertical-align:middle; _vertical-align:baseline; white-space:nowrap; background:url(../images/btn_gray_left.gif) no-repeat top left; text-decoration:none;cursor:pointer;}
span.grayBtn input						{display:inline-block;margin:0;;padding:0 12px 0 7px;height:26px;white-space:nowrap;color:#808080;font-weight:bold;background:url(../images/btn_gray_right.gif) no-repeat top right;cursor:pointer; border:0 none;font-size:12px;font-family:Arial, Helvetica, sans-serif; vertical-align:middle;color:#FFF; text-align: line-height:11px;}
span.whiteBtn							{display:inline-block;_margin-top:1px !important;height:27px;_padding-top:-3px;padding-left:4px; vertical-align:middle; _vertical-align:baseline; white-space:nowrap; background:url(../images/btn_white_left.gif) no-repeat top left; text-decoration:none;cursor:pointer;}
span.whiteBtn input						{display:inline-block;margin:0;;padding:0 12px 0 7px;height:26px;white-space:nowrap;color:#808080;font-weight:bold;background:url(../images/btn_white_right.gif) no-repeat top right;cursor:pointer; border:0 none;font-size:12px;font-family:Arial, Helvetica, sans-serif; vertical-align:middle;color:#FFF; text-align: line-height:11px;}






.localNavigation						{width:100%;height:31px;margin:0;padding:1px 0 0 0;background: url(../images/title_bg_repeat.gif) repeat-x top left;}
.localNavigation li						{float:left;list-style:none;}
.localNavigation .mLeft					{width:4px;height:31px;margin-top:-1px;float:left;}
.localNavigation .mRight				{width:5px;height:31px;margin-top:-1px;float:right;}
.localNavigation .item					{height:24px; margin:0;background:url(../images/title_item_vr.gif) no-repeat top right;}
.localNavigation .item a				{display:inline-block;height:19px;padding:5px 16px 0 14px;outline:none; font-family:Arial, Helvetica, sans-serif;color:#5a5a5a;text-decoration:none;}
.localNavigation .l_on					{background:none;margin-left:-2px;margin-top:1px;}
.localNavigation .l_on .l_on_left		{display:block;width:3px;height:24px;float:left;background:url(../images/title_on_left.gif) no-repeat top left;}
.localNavigation .l_on a				{ color:#FFF;_margin-left:-3px;background:url(../images/title_on_right.gif) no-repeat top right;}
.localNavigation .l_last				{background:none;}


#memberModule h3.pTitle					{height:23px;margin:0 0 5px 0;padding:0 0 0 10px;color:#3f3f3f; font-size:12px;font-family:Arial, Helvetica, sans-serif;}
#memberModule h3.pTitle1				{height:23px;margin:20px 0 12px 0;padding:8px 0 0 37px;border-bottom:#9b989a solid 1px;color:#3f3f3f; background:url(../images/icon_member_info.gif) no-repeat 13px 6px; font-size:12px;font-family:Arial, Helvetica, sans-serif;}
#memberModule h3.pTitle2				{}
#memberModule h3.pTitle3				{}
#memberModule .gap1						{margin-bottom:10px;}
#memberModule .rowTable					{width:100%; border-bottom:#c3c1c2 solid 1px;}
.rowTable th							{border-bottom:#E5E5E5 solid 1px;vertical-align:top;padding:13px 11px;;text-align:left;width: 10%;}
.rowTable th div						{white-space:nowrap;color:#5a5a5a;}
.rowTable td							{width:100%; padding:13px 10px 13px 25px;border-bottom:#E5E5E5 solid 1px;color:#000000;}
.rowTable td input.txt					{border:#C1C1C1 solid 1px;height:20px;}

#memberModule .col_table				{width:100%;border-bottom:#c9c7c8 solid 1px;}
.col_table tr							{height:27px;}
.col_table thead tr						{height:25px;background:url(../images/coltable_head_bg.gif) repeat-x top left;}
.col_table thead th						{height:25px;background:url(../images/coltable_head_bg.gif) repeat-x top left;}
.col_table .chk						{background:transparent url(../images/coltable_head_left.gif) no-repeat top left;}
.col_table input						{margin:0;padding:0;}
.col_table td							{text-align:center;}
.col_table .subject						{text-align:left;padding-left:20px;}
.col_table .subject a					{text-decoration:none;color:#333;font-weight:bold;}
.col_table .subject em					{font-size:10px;font-style:italic;}
.col_table .subject em.red				{color:#C00;}
.col_table .subject em.green			{color:#390;}
.col_table .l_date						{padding-left:20px;text-align:left;}
.col_table th.th_right					{background-color:transparent; background:url(../images/coltable_head_right.gif) no-repeat top right;}
.col_table .savedContent				{padding:10px;}
.col_table .doc_title					{}
.col_table .doc_title a					{text-decoration:none;color:#333;font-weight:bold;}
.col_table th.button_col					{padding:6px 0 8px 0;border-top:#EEE solid 1px;}

#memberModule h3.signup_head			{color:#3c3d41;word-spacing:2px;letter-spacing:-1px;}
#memberModule .signupTable				{width:958px;background:url(../images/table_bg_repeat.gif) repeat-y top left;}
.signupTable caption					{width:958px;padding:0 !important;border:0 none;margin:0;height:12px;background:url(../images/table_bg_top.gif) no-repeat top left;}
.signupTable caption span				{visibility:hidden;}
.signupTable th							{vertical-align:top;}
.signupTable th	div						{text-align:left;padding-left:45px;}
.signupTable .title	div					{height:20px;padding-top:10px;text-align:center;}
.signupTable th.button_col					{height:90px;text-align:center;background:url(../images/table_bg_bottom.gif) no-repeat top left;}
.signupTable td input.iText				{width:200px;border:#C1C1C1 solid 1px;height:20px;}
#memberModule .signupTable em.require		{ color:red; margin-left:5px; }
.signupTable .wide p					{margin:10px 0 15px 0;}
.signupTable td							{padding:10px 0;}
.signupTable tr.agreement				{}
.signupTable th.agreement				{padding:5px 20px;}
.signupTable th.agreement p				{text-align:justify;font-weight:normal;margin:0;}
.signupTable th.agreement div.agreementButton	{margin:10px 0;}
.signupTable .btnbar_vat				{height:70px !important;vertical-align:top;padding-top:20px;}
.signupTable .btnbar_vat span.button	{margin-top:20px;}

#memberModule .find_account				{padding-left:11px;height:482px;background:url(../images/find_bg_left.png) no-repeat top left;}
#memberModule p.tDesc					{margin:0 0 10px 0;padding:0;}
#memberModule .findTable				{width:100%; height:482px; background:url(../images/find_bg_right.png) no-repeat top right;}
.findTable th							{padding:9px 18px 9px 40px;text-align:left;background:none;vertical-align:top;}
.findTable td							{padding:9px 18px 9px 40px;background:none;}
.findTable .btnLine	td					{height:30px;padding-bottom:20px !important;}
.findTable .sLine						{height:40px;}
.findTable .mLine						{height:50px;}
.findTable .bLine						{text-align:center;}
.findTable .tInput						{width:185px;height:17px;font-size:12px;border:#CECECE solid 1px;}
.btn_bar_r								{text-align:right;margin:16px 0;}
.btn_bar_l								{text-align:left;}


.signPanel								{width:318px; height:191px; margin:10px auto; background:#093 url(../images/login_panel_bg.gif) no-repeat top left;}
.signPanel .left						{width:192px;height:138px;padding:18px 0 0 23px; _padding-top:28px;_height:128px;float:left;}
.signPanel .right						{width:100px;height:111px;padding-top:45px;float:right;}
.signPanel .left .tInBox				{width:185px;height:18px;padding:0 0 0 4px;background:url(../images/signPanel_input_bg.gif) no-repeat top left;}
.signPanel .left .tInBox img			{padding-top:3px;}
.signPanel .left .tInBox input			{width:160px;padding-left:5px;height:18px;border:0 none;background:none;}
.signPanel .left label					{display:block;margin:10px 0 3px 0;}
.signPanel .left label input			{margin:0 7px 0 0;padding:0;}
.signPanel .left .lb_chk				{margin-top:10px;_margin:0;padding:0;}
.signPanel .bottom_bar					{width:245px;text-align:center;padding:9px 0 0 73px;float:left;border-top:#e1e1e1 solid 1px;}
.signPanel .bottom_bar a				{dispaly:block;padding-left:10px;float:left;text-decoration:none;color:#757575;}
.signPanel .bottom_bar a.vr				{padding-right:10px;border-right:#a8a8a8 solid 1px;}



#memberModule .pagination{ padding:15px 0; margin:0; text-align:center; clear:both; }
#memberModule .pagination *{ margin:0; padding:0;}
#memberModule .pagination img{ border:0;}
#memberModule .pagination a,
#memberModule .pagination strong{ position:relative; display:inline-block; text-decoration:none; line-height:normal; color:#333; font-family:Tahoma, Sans-serif; vertical-align:middle;}
#memberModule .pagination a:hover,
#memberModule .pagination a:active,
#memberModule .pagination a:focus{ background-color:#f4f4f4 !important; }
#memberModule .pagination strong{ color:#ff6600 !important;}
#memberModule .pagination a.prev,
#memberModule .pagination a.prevEnd,
#memberModule .pagination a.next,
#memberModule .pagination a.nextEnd{ font-weight:normal !important; border:none !important; margin:0 !important; white-space:nowrap; }

#memberModule .pagination.a1 a,
#memberModule .pagination.a1 strong{ margin:0 -4px; padding:1px 10px 1px 8px; border:none; border-left:1px solid #ccc; border-right:1px solid #ddd; font-weight:bold; font-size:12px; background:#fff;}
#memberModule .pagination.a1 a.prev{ padding-left:10px; background:#fff url(../images/arrowPrevA1.gif) no-repeat left center; }
#memberModule .pagination.a1 a.prevEnd{ padding-left:15px; background:#fff url(../images/arrowPrevEndA1.gif) no-repeat left center; }
#memberModule .pagination.a1 a.next{ padding-right:10px; background:#fff url(../images/arrowNextA1.gif) no-repeat right center; }
#memberModule .pagination.a1 a.nextEnd{ padding-right:15px; background:#fff url(../images/arrowNextEndA1.gif) no-repeat right center; }
