<include target="_header.html" />
<div cond="$oDocument->isExists()" class="context_data">
	<h3 class="title">{$oDocument->getTitle()}</h3>
	<p class="author">
		<strong>{$oDocument->getNickName()}</strong>
	</p>
</div>
<form action="./" method="get" onsubmit="return procFilter(this, delete_document)" class="context_message">
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<h1>{$lang->cmd_document_do} {$lang->confirm_delete}</h1>
	<div class="btnArea">
		<span class="btn25 blue"><input type="submit" value="{$lang->cmd_delete}" /></span>
		<span class="btn25"><button type="button" onclick="history.back()">{$lang->cmd_cancel}</button></span>
	</div>
</form>
<include target="_footer.html" />