<include target="_header.html" />
<form action="./" method="get" onsubmit="return procFilter(this, input_password)" class="context_message">
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="document_srl" value="{$document_srl}" />
	<input type="hidden" name="comment_srl" value="{$comment_srl}" />
	<h1>{$lang->msg_input_password}</h1>
	<input type="password" name="password" title="{$lang->password}" class="iText" />
	<span class="btn25 blue"><input type="submit" value="{$lang->cmd_input}" /></span>
</form>
<include target="_footer.html" />
