<include target="_header.html" />
<div class="tagList">
	<!--@foreach($tag_list as $val)-->
		<!--@if($val->count>5)-->
			{@ $tag_class = "rank1" }
		<!--@elseif($val->count>3)-->
			{@ $tag_class = "rank2" }
		<!--@elseif($val->count>2)-->
			{@ $tag_class = "rank3" }
		<!--@elseif($val->count>1)-->
			{@ $tag_class = "rank4" }
		<!--@else-->
			{@ $tag_class = "rank5" }
		<!--@end-->

		<!--@if($layout_info->mid)-->
			<a class="{$tag_class}"|cond="$tag_class" href="{getUrl('','mid',$layout_info->mid,'search_target','tag','search_keyword',$val->tag)}">{htmlspecialchars($val->tag)}</a>
		<!--@else-->
			<a class="{$tag_class}"|cond="$tag_class" href="{getUrl('','mid',$mid,'search_target','tag','search_keyword',$val->tag)}">{htmlspecialchars($val->tag)}</a>
		<!--@end-->

	<!--@end-->
</div>
<div class="tagFooter">
    <span class="btn25 black"><a href="{getUrl('act','')}">{$lang->cmd_back}</a></span>
</div>
<include target="_footer.html" />
