<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>

        {@ $_col_count = 2; }
        <!--@if($module_info->display_number!='N')-->{@ $_col_count++ }<!--@end-->
        <!--@if($grant->manager)-->{@ $_col_count++}<!--@end-->
        <!--@if($module_info->display_author!='N')-->{@ $_col_count++ }<!--@end-->
        <!--@if($module_info->display_readed_count!='N')-->{@ $_col_count++ }<!--@end-->
        <!--@if($module_info->display_voted_count!='N')-->{@ $_col_count++ }<!--@end-->
        <!--@if($module_info->display_regdate != 'N')-->{@ $_col_count++ }<!--@end-->
        <!--@if($module_info->display_last_update == 'Y')-->{@ $_col_count++ }<!--@end-->

        <table cellspacing="0" border="1" summary="List of Articles" class="boardList">
        <!--@if($_col_count>2)-->
        <thead>
            {@ $no_line_class = " no_line" }
            <tr>
                <!--@if($module_info->display_number!='N')--><th scope="col">{$lang->no}</th>{@ $no_line_class=""}<!--@end-->

                <!--@if($grant->manager)--><th scope="col"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" /></th>{@ $no_line_class=""}<!--@end-->

                <th scope="col" class="title">

                    <!--@if($module_info->use_category == "Y")-->
                    <span class="jumpTo">
                        <select name="category" id="board_category">
                            <option value="" >{$lang->category}</option>
                            <!--@foreach($category_list as $val)-->
                            <option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
                            <!--@end-->
                        </select>
                        <button type="button" name="go_button" id= "go_button" onclick="doChangeCategory(); return false;">Go</button>
                    </span>
                    <!--@end-->
                    {$lang->title}
                </th>
                <!--@if($module_info->display_author!='N')--><th scope="col">{$lang->writer}</th><!--@end-->
                <!--@if($module_info->display_readed_count!='N')--><th scope="col"><a href="{getUrl('sort_index','readed_count','order_type',$order_type)}">{$lang->readed_count}<!--@if($sort_index=='readed_count')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th><!--@end-->
                <!--@if($module_info->display_voted_count!='N')--><th scope="col"><a href="{getUrl('sort_index','voted_count','order_type',$order_type)}">{$lang->voted_count}<!--@if($sort_index=='voted_count')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th><!--@end-->
                <!--@if($module_info->display_regdate != 'N')--><th scope="col"><a href="{getUrl('sort_index','regdate','order_type',$order_type)}">{$lang->date}<!--@if($sort_index=='regdate')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th><!--@end-->
                <!--@if($module_info->display_last_update=='Y')--><th scope="col"><a href="{getUrl('sort_index','last_update','order_type',$order_type)}">{$lang->last_update}<!--@if($sort_index=='last_update')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th><!--@end-->
            </tr>
        </thead>
        <!--@end-->

        <tbody>

        <!--@if(!$document_list && !$notice_list)-->
        <tr>
            <td colspan="{$_col_count}">
                {$lang->no_documents}
            </td>
        </tr>
        <!--@else-->
        
        <!--@foreach($notice_list as $no => $document)-->
        <tr class="notice">
            <!--@if($module_info->display_number!='N')--><td class="notice">{$lang->notice}</td><!--@end-->
            <!--@if($grant->manager)--><td class="checkbox"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td><!--@end-->
            <td class="title">
                <!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->
                <strong class="category">{$category_list[$document->get('category_srl')]->title}</strong>
                <!--@end-->

                <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">{$document->getTitle($module_info->subject_cut_size)}</a>
                
				<!--@if($document->getCommentCount())-->
                        <a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies"><strong>[{$document->getCommentCount()}]</strong></span></a>
				<!--@end-->

				<!--@if($document->getTrackbackCount())-->
                    <a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="replyNum" title="Trackbacks"><strong class="trackback">[{$document->getTrackbackCount()}]</strong></span></a>
				<!--@end-->
                
                {$document->printExtraImages(60*60*$module_info->duration_new)}
            </td>
            <!--@if($module_info->display_author!='N')--><td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td><!--@end-->
            <!--@if($module_info->display_readed_count!='N')--><td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td><!--@end-->
            <!--@if($module_info->display_voted_count!='N')--><td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td><!--@end-->
            <!--@if($module_info->display_regdate!='N')--><td class="date">{$document->getRegdate('Y-m-d')}</td><!--@end-->
            <!--@if($module_info->display_last_update=='Y')--><td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td><!--@end-->
        </tr>
        <!--@end-->

        <!--// 일반 글 출력 -->
        <!--@foreach($document_list as $no => $document)-->
            <tr class="bg{($no+1)%2+1}">

                <!--@if($module_info->display_number!='N')--><td class="num" rowspan="2"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@else-->{$no}<!--@end--></td><!--@end-->

                <!--@if($grant->manager)--><td class="check" rowspan="2"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td><!--@end-->

                <td class="title">
                    <!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->
                    <strong class="category">{$category_list[$document->get('category_srl')]->title}</strong>
                    <!--@end-->

                    <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">{$document->getTitle($module_info->subject_cut_size)}</a>
                    
                    <!--@if($document->getCommentCount())-->
                        <a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies"><strong>[{$document->getCommentCount()}]</strong></span></a>
                    <!--@end-->

                    <!--@if($document->getTrackbackCount())-->
                        <a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="replyNum" title="Trackbacks"><strong class="trackback">[{$document->getTrackbackCount()}]</strong></span></a>
                    <!--@end-->

                    {$document->printExtraImages(60*60*$module_info->duration_new)}
                </td>
                <!--@if($module_info->display_author!='N')--><td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td><!--@end-->
                <!--@if($module_info->display_readed_count!='N')--><td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td><!--@end-->
                <!--@if($module_info->display_voted_count!='N')--><td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td><!--@end-->
                <!--@if($module_info->display_regdate!='N')--><td class="date">{$document->getRegdate('Y-m-d')}</td><!--@end-->
                <!--@if($module_info->display_last_update=='Y')--><td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td><!--@end-->
            </tr>
            {@ $_col_count = 1; }
            <!--@if(!$document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->{@ $_col_count++}<!--@end-->
            <!--@if($module_info->display_author!='N')-->{@ $_col_count++ }<!--@end-->
            <!--@if($module_info->display_readed_count!='N')-->{@ $_col_count++ }<!--@end-->
            <!--@if($module_info->display_voted_count!='N')-->{@ $_col_count++ }<!--@end-->
            <!--@if($module_info->display_regdate != 'N')-->{@ $_col_count++ }<!--@end-->
            <!--@if($module_info->display_last_update == 'Y')-->{@ $_col_count++ }<!--@end-->
            <tr class="bg{($no+1)%2+1}">
                <td colspan="{$_col_count}" class="summary">
                    <!--@if($document->thumbnailExists($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type))-->
                    <a href="{getUrl('document_srl',$document->document_srl,'listStyle',$listStyle, 'cpage','')}" class="thumb"><img src="{$document->getThumbnail($module_info->thumbnail_width, $module_info->thumbnail_height, $module_info->thumbnail_type)}" alt="" /></a>
                    <!--@end-->
                    <!--@if($grant->view)-->
                    <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">{$document->getSummary($module_info->content_cut_size)}</a>
                    <!--@end-->
                    &nbsp;
                </td>
            </tr>
        <!--@end-->
        <!--@end-->
        </tbody>
        </table>
    </fieldset>
</form>
