<form action="./" method="get" class="boardListForm">
    <fieldset>
        <legend>List of Articles</legend>

        <table cellspacing="0" border="1" summary="List of Articles" class="boardList">
        <thead>
            <tr>
                <!--@if($grant->manager)--><th scope="col"><input type="checkbox" onclick="XE.checkboxToggleAll({ doClick:true }); return false;" /></th><!--@end-->

                <!--// 목록 설정으로 table theader 생성 -->
                <!--@foreach($list_config as $key => $val)-->
                    <!--// 기본 컨텐츠일 경우 -->
                    <!--@if($val->idx == -1)-->

                        <!--// 컨텐츠 종류에 따라서 출력 -->
                        <!--@if($val->type == 'no')-->
                            <th scope="col">{$lang->no}</th>
                        <!--@elseif($val->type == 'title')-->
                            <th scope="col" class="title">
                                <!--@if($module_info->use_category == "Y")-->
                                <span class="jumpTo">
                                    <select name="category" id="board_category">
                                        <option value="">{$lang->category}</option>
                                        <!--@foreach($category_list as $val)-->
                                        <option value="{$val->category_srl}" <!--@if($category==$val->category_srl)-->selected="selected"<!--@end-->>{str_repeat("&nbsp;&nbsp;",$val->depth)} {$val->title} <!--@if($val->document_count)-->({$val->document_count})<!--@end--></option>
                                        <!--@end-->
                                    </select>
                                    <button type="button" name="go_button" id="go_button" onclick="doChangeCategory(); return false;">Go</button>
                                </span>
                                <!--@end-->
                                {$lang->title}
                            </th>
                        <!--@elseif($val->type == 'regdate')-->
                            <th scope="col"><a href="{getUrl('sort_index','regdate','order_type',$order_type)}">{$lang->date}<!--@if($sort_index=='regdate')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
                        <!--@elseif($val->type == 'last_update')-->
                            <th scope="col"><a href="{getUrl('sort_index','last_update','order_type',$order_type)}">{$lang->last_update}<!--@if($sort_index=='last_update')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
                        <!--@elseif($val->type == 'nick_name')-->
                            <th scope="col">{$lang->writer}</th>
                        <!--@elseif($val->type == 'user_id')-->
                            <th scope="col">{$lang->user_id}</th>
                        <!--@elseif($val->type == 'user_name')-->
                            <th scope="col">{$lang->user_name}</th>
                        <!--@elseif($val->type == 'readed_count')-->
                            <th scope="col"><a href="{getUrl('sort_index','readed_count','order_type',$order_type)}">{$lang->readed_count}<!--@if($sort_index=='readed_count')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
                        <!--@elseif($val->type == 'voted_count')-->
                            <th scope="col"><a href="{getUrl('sort_index','voted_count','order_type',$order_type)}">{$lang->voted_count}<!--@if($sort_index=='voted_count')--><img src="./images/common/{$order_icon}" alt="sort" width="5" height="3" class="sort" /><!--@end--></a></th>
                        <!--@end-->
                    <!--// 사용자 선언 확장변수일 경우 -->
                    <!--@else-->
                            <th scope="col"><div>{$val->name}</div></th>
                    <!--@end-->
                <!--@end-->
            </tr>
        </thead>

        <tbody>

        <!--@if(!$document_list && !$notice_list)-->
            <tr>
                <td colspan="<!--@if($grant->manager)-->{count($list_config)+1}<!--@else-->{count($list_config)}<!--@end-->">
                    {$lang->no_documents}
                </td>
            </tr>
        <!--@else-->
        
            <!--@foreach($notice_list as $no => $document)-->
                <tr class="notice">
                    <!--@if($grant->manager)-->
                        <td class="check"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td>
                    <!--@end-->

                    <!--// 목록 설정으로 table theader 생성 -->
                    <!--@foreach($list_config as $key => $val)-->

                        <!--// 기본 컨텐츠일 경우 -->
                        <!--@if($val->idx == -1)-->

                            <!--// 컨텐츠 종류에 따라서 출력 -->
                            <!--@if($val->type == 'no')-->
                                <td class="notice"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@else-->{$lang->notice}<!--@end--></td>
                            <!--@elseif($val->type == 'title')-->
                                <td class="title">
                                    
                                    <!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->
                                    <strong class="category">{$category_list[$document->get('category_srl')]->title}</strong>
                                    <!--@end-->

                                    <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">{$document->getTitle($module_info->subject_cut_size)}</a>
                                    
                                    <!--@if($document->getCommentCount())-->
                                        <a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies"><strong>[{$document->getCommentCount()}]</strong></span></a>
                                    <!--@end-->

                                    <!--@if($document->getTrackbackCount())-->
                                        <a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="replyNum" title="Trackbacks"><strong class="trackback">[{$document->getTrackbackCount()}]</strong></span></a>
                                    <!--@end-->

                                    {$document->printExtraImages(60*60*$module_info->duration_new)}
                                </td>
                            <!--@elseif($val->type == 'regdate')-->
                                <td class="date">{$document->getRegdate('Y-m-d')}</td>
                            <!--@elseif($val->type == 'last_update')-->
                                <td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td>
                            <!--@elseif($val->type == 'nick_name')-->
                                <td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td>
                            <!--@elseif($val->type == 'user_id')-->
                                <td class="author">{$document->getUserID()}</a></td>
                            <!--@elseif($val->type == 'user_name')-->
                                <td class="author">{$document->getUserName()}</a></td>
                            <!--@elseif($val->type == 'readed_count')-->
                                <td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td>
                            <!--@elseif($val->type == 'voted_count')-->
                                <td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td>
                            <!--@end-->

                        <!--// 사용자 선언 확장변수일 경우 -->
                        <!--@else-->
                                <td>{$document->getExtraValueHTML($val->idx)}&nbsp;</td>
                        <!--@end-->
                    <!--@end-->
                </tr>
            <!--@end-->

            <!--@foreach($document_list as $no => $document)-->
                <tr class="bg{($no+1)%2+1}">
                    <!--@if($grant->manager)--><td class="checkbox"><input type="checkbox" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this)" <!--@if($document->isCarted())-->checked="checked"<!--@end--> /></td><!--@end-->
                    <!--// 목록 설정으로 table theader 생성 -->
                    <!--@foreach($list_config as $key => $val)-->

                        <!--// 기본 컨텐츠일 경우 -->
                        <!--@if($val->idx == -1)-->

                            <!--// 컨텐츠 종류에 따라서 출력 -->
                            <!--@if($val->type == 'no')-->
                                <td class="num"><!--@if($document_srl == $document->document_srl)-->&raquo;<!--@else-->{$no}<!--@end--></td>
                            <!--@elseif($val->type == 'title')-->
                                <td class="title">
                                    <!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->
                                    <strong class="category">{$category_list[$document->get('category_srl')]->title}</strong>
                                    <!--@end-->

                                    <a href="{getUrl('document_srl',$document->document_srl, 'listStyle', $listStyle, 'cpage','')}">{$document->getTitle($module_info->subject_cut_size)}</a>
                                    
                                    <!--@if($document->getCommentCount())-->
                                        <a href="{getUrl('document_srl', $document->document_srl)}#comment"><span class="replyNum" title="Replies"><strong>[{$document->getCommentCount()}]</strong></span></a>
                                    <!--@end-->

                                    <!--@if($document->getTrackbackCount())-->
                                        <a href="{getUrl('document_srl', $document->document_srl)}#trackback"><span class="replyNum" title="Trackbacks"><strong class="trackback">[{$document->getTrackbackCount()}]</strong></span></a>
                                    <!--@end-->

                                    {$document->printExtraImages(60*60*$module_info->duration_new)}
                                </td>
                            <!--@elseif($val->type == 'nick_name')-->
                                <td class="author"><a href="#popup_menu_area" class="member_{$document->get('member_srl')}" onclick="return false">{$document->getNickName()}</a></td>
                            <!--@elseif($val->type == 'user_id')-->
                                <td class="author">{$document->getUserID()}</a></td>
                            <!--@elseif($val->type == 'user_name')-->
                                <td class="author">{$document->getUserName()}</a></td>
                            <!--@elseif($val->type == 'regdate')-->
                                <td class="date">{$document->getRegdate('Y-m-d')}</td>
                            <!--@elseif($val->type == 'last_update')-->
                                <td class="date">{zdate($document->get('last_update'),'Y-m-d H:i')}</td>
                            <!--@elseif($val->type == 'readed_count')-->
                                <td class="reading">{$document->get('readed_count')>0?$document->get('readed_count'):'&nbsp;'}</td>
                            <!--@elseif($val->type == 'voted_count')-->
                                <td class="recommend">{$document->get('voted_count')!=0?$document->get('voted_count'):'&nbsp;'}</td>
                            <!--@end-->

                        <!--// 사용자 선언 확장변수일 경우 -->
                        <!--@else-->
                                <td>{$document->getExtraValueHTML($val->idx)}&nbsp;</td>
                        <!--@end-->
                    <!--@end-->
                </tr>
            <!--@end-->
        <!--@end-->

        </tbody>
        </table>
    </fieldset>
</form>

