@charset "utf-8";
/* NHN (developers@xpressengine.com) */
/* Element Reset */
html, body{margin:0}
body, input, textarea, select, table, button {font-family:Tahoma, Geneva, sans-serif;font-size:12px}
img, fieldset {border:0}
form, fieldset {margin:0;padding:0}
em, address {font-style:normal}
button{margin:0;padding:0;overflow:visible;cursor:pointer}
a {text-decoration:none}
a:hover, a:active, a:focus {text-decoration:underline}
/* Common Class */
.iText{border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.iCheck, .iRadio{width:13px;height:13px;margin:0;padding:0;vertical-align:middle}
.hide{position:absolute;left:0;top:0;width:1px;height:1px;font-size:0;line-height:0;visibility:hidden}
/* Layout */
html{height:100%;background:url(../img/bgHtml.gif) repeat-x 0 0}
#xei{width:800px;margin:0 auto;padding:120px 0 0 0}
#xei #header{position:relative;background:#444;margin:0 0 1px 0;padding:10px 20px;color:#fff}
#xei #header h1{margin:0}
#xei #header em{position:absolute;top:10px;right:20px;font-weight:bold;font-size:14px;color:#eee}
#xei #header em strong{font-size:20px;color:#F60}
#xei #body{width:580px;padding:0 0 0 220px;position:relative;overflow:hidden;*zoom:1}
#xei #body:after{content:"";display:block;clear:both}
#xei #body .dummy{position:absolute;left:0;top:287px;display:block;width:219px;height:1000px;background:#484848;*zoom:1}
#xei #progress{position:absolute;left:0;top:0;width:219px}
#xei #progress ul{list-style:none;margin:0;padding:0}
#xei #progress li{position:relative;margin:0 0 1px 0;vertical-align:top;line-height:40px;color:#999;text-indent:30px;background-color:#555;background-image:url(../img/icoStatus.gif);background-repeat:no-repeat;background-position:10px 0;*zoom:1}
#xei #progress li.done{background-position:10px -40px}
#xei #progress li.active{background-color:#666;background-position:10px -80px;font-weight:bold;color:#fff;margin-right:-1px}
#xei #content{position:relative;width:580px;min-height:328px;_height:328px;padding:20px 0 60px 0;background:#666}
/* Button */
.ibtn,
.ibtn *{position:relative;margin:0;padding:0;display:inline-block;height:30px;line-height:30px;text-decoration:none !important;border:0;font-size:12px;font-family:Tahoma, Sans-serif;white-space:nowrap;background:url(../img/btnPack.gif) no-repeat;vertical-align:top;overflow:visible;color:#eee}
.ibtn {margin-right:4px;background-position:left -30px}
.ibtn *{left:4px;cursor:pointer;_cursor:hand;padding:0 10px 0 6px;background-position:right -30px}
.ibtn *:hover,
.ibtn *:active,
.ibtn *:focus{color:#ff0}
.ibtn.strong *{font-weight:bold !important}
.ibtn.icon *{padding-left:20px}
.ibtn.icon span{width:20px;margin-right:-18px;padding:0 !important}
.ibtn .check{background-position:4px -146px}
.ibtn .back{background-position:-14px -146px}
.ibtn .monitor{background-position:-37px -147px}
/* Button Area */
.ibtnArea{position:absolute;bottom:0;right:0;width:540px;margin:0;padding:15px 20px;text-align:center;*zoom:1;color:#fff;border-top:1px solid #444;background:#555}
.ibtnArea:after{content:"";display:block;clear:both}
.ibtnArea .fLeft{float:left}
.ibtnArea .fRight{float:right}
.ibtnArea label{font-weight:bold}
.ibtnArea select{background:#666;color:#fff}
/* table */
.table{margin:0 20px 20px 20px}
.table table{width:100%;border:0;border-top:1px solid #484848}
.table caption{padding:8px 0;font-weight:bold;text-align:left;color:#fff}
.table th,
.table td{border:0;padding:8px 15px;vertical-align:top;text-align:left}
.table th{color:#eee}
.table td{color:#eee}
.table td strong {color:#f60}
.table thead th{border-bottom:1px solid #484848;background:#f8f8f8}
.table tbody th{border-bottom:1px solid #484848;background:#555;white-space:nowrap}
.table tfoot th{border-bottom:1px solid #484848}
.table tbody td{border-bottom:1px solid #484848}
.table tfoot td{border-bottom:1px solid #484848;font-weight:bold;color:#333}
/* Select */
.select{position:relative;line-height:normal;display:inline-block;*display:inline;vertical-align:middle;background:#555;text-align:left;*zoom:1}
.select *{margin:0;padding:0;cursor:pointer;font-size:12px;font-family:Tahoma, Sans-serif}
.select .myValue{position:relative;z-index:2;left:0;top:0;border:1px solid #999;color:#eee;line-height:19px;_line-height:normal;text-align:left;overflow:visible;background:transparent}
.select .myValue.selected{font-weight:bold}
.select.open .myValue,
.select .myValue.outLine{border:1px solid #ccc}
.select button.myValue{height:21px;width:100%;text-indent:5px;*text-indent:0;*padding-left:5px}
.select div.myValue{height:19px;text-indent:8px}
.select .ctrl{position:absolute;top:0;right:0;width:18px;height:19px;border:1px solid #999;border-left:1px solid #999;background:#444}
.select .arrow{position:absolute;width:0;height:0;top:9px;right:6px;line-height:0;font-size:0;border-top:3px solid #999;border-left:3px solid #444;border-right:3px solid #444}
.select ul{position:absolute;top:20px;left:0;width:100%;list-style:none;border:0;border-top:1px solid #bababa;border-bottom:1px solid #bababa;background:#fff;overflow:auto;height:200px;}
.select ul.aList{display:none}
.select.open ul.aList{display:block}
.select ul.iList{left:-2000%}
.select.open ul.iList{left:0}
.select li{position:relative;overflow:hidden;white-space:nowrap;height:18px;margin:0 !important;border-left:1px solid #bababa;border-right:1px solid #bababa}
.select li input.option{position:absolute;width:100%;height:20px;line-height:20px}
.select li label{position:absolute;left:0;top:0;width:100%;text-indent:8px;*text-indent:6px;height:18px;line-height:18px;color:#eee;background:#555;font-weight:normal !important}
.select li a{display:block;text-indent:8px;*text-indent:6px;height:18px;line-height:18px;color:#eee;background:#555;text-decoration:none !important}
.select li.hover *{background:#444;color:#fff}
.selectGo{border:1px solid #bababa;height:21px;width:28px;padding:0;*margin:-1px 0 -1px 4px;overflow:visible;background:#eee;vertical-align:middle;cursor:pointer;font:bold 11px Tahoma;line-height:19px;_line-height:normal;color:#767676}
/* Content */
.h2{font-size:18px;margin:0 20px 15px 20px;color:#ff9}
.item{position:relative}
.iLabel{display:block;position:static;top:4px;left:5px;color:#eee}
.iText{position:relative;padding:3px 4px;border:1px solid #444;border-right-color:#555;border-bottom-color:#555;background:transparent;color:#fff}
.form{padding:0;margin:0 20px 20px 20px;list-style:none}
.form li{margin:0 0 10px 0}
.form.formFtp label,
.form.formDbInfo label,
.form.formAdmin label{display:block;margin:0 0 2px 0;color:#eee;font-weight:bold}
.form.formDbSelect label,
.form.formXe label{margin:0 0 2px 0;color:#eee;font-weight:bold}
.form .iText{background:#555;padding:5px 10px;width:518px}
.form select{background:#555;color:#fff}
.form p{color:#ddd;margin:3px 0 15px 17px}
.form strong{color:#f60}
.form em{font-style:normal;color:#ffc}
.form a{color:#fff;text-decoration:underline}
.desc{padding:10px 20px;margin:0 20px 20px 20px;background:#555;color:#eee}
.desc ul{margin:0 0 0 20px;padding:0}
.desc strong{color:#F60}
.agreement{color:#eee}
.agreement label{font-weight:bold;vertical-align:middle;cursor:pointer}
.agreement a{color:#6CF;text-decoration:underline;vertical-align:middle}
.agreement em{color:#f60}
.agreement p{line-height:1.5}
/* Waiting for server response */
.wfsr{display:none;position:absolute;position:fixed;left:0;top:0;z-index:100; border:1px solid #EAE9DC;background:#FFFDEF url(../../common/img/msg.update.png) no-repeat 1em .5em;margin:1em;padding:1em 1em 1em 55px;border-radius:5px;line-height:1.4;font-size:12px}
