@charset "utf-8";
/* Element Reset */
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block}
.x,
.x table,
.x input,
.x textarea,
.x select,
.x button{font-family:Tahoma,Geneva,sans-serif;font-size:12px;color:#333}
.x button,
.x input[type=submit],
.x input[type=reset],
.x input[type=button]{cursor:pointer;overflow:visible}
.x img{border:0}
.x p{line-height:1.5}
/* Section & Heading */
.x .section{margin:1em 0;padding:0;border:0}
.x .h1, 
.x .h2, 
.x .h3, 
.x .h4{position:relative;border-bottom-style:solid;zoom:1}
.x .h1{border-bottom-width:4px;font-size:24px;border-bottom-color:#666}
.x .h2{border-bottom-width:3px;font-size:20px;border-bottom-color:#888}
.x .h3{border-bottom-width:2px;font-size:16px;border-bottom-color:#aaa}
.x .h4{border-bottom-width:1px;font-size:12px;border-bottom-color:#ccc}
.x .h1 + ul,
.x .h2 + ul,
.x .h3 + ul,
.x .h4 + ul,
.x .h1 + .table table, 
.x .h2 + .table table, 
.x .h3 + .table table, 
.x .h4 + .table table{border-top:0 !important;margin-top:-1em !important}
/* Portlet */
.x .portlet{position:relative;border:1px solid #e9e9e9;margin:1em 0;padding:0;background:#fff;zoom:1;overflow:hidden;border-radius:5px}
.x .portlet h2, 
.x .portlet h3{margin:0;padding:.5em 1em;font-size:14px;border:1px solid #fff;border-bottom:1px solid #e9e9e9;background:#f7f7f7;border-radius:5px 5px 0 0}
.x .portlet p{margin:1em 1.2em}
.x .portlet li{position:relative;padding-right:8em}
.x .portlet .lined{margin:1px !important;padding:0;list-style:none}
.x .portlet .lined li{padding:.5em 8em .5em 1em;border-top:1px solid #eee;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.x .portlet .lined li:first-child{border:0}
.x .portlet .side{position:absolute;top:0;_top:1px;right:0;color:#666;background:#fff;padding:0 1em}
.x .portlet .lined .side{padding:.5em 1em}
.x .portlet .more{position:absolute;top:.5em;right:1em;text-decoration:none !important;color:#666}
.x .portlet .more span{color:#999}
.x .portlet .action{text-align:right;top:0;right:0;padding:.5em 1em .5em 3em;background:#fff;background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)), color-stop(15%, #fff));background:-moz-linear-gradient(left, rgba(255,255,255,0) 0, rgba(255,255,255,1) 15%)}
.x .portlet .action a,
.x .portlet .action button{margin-left:1em}
.x .portlet .btnArea{border-top:1px solid #ddd;margin:0;padding:.5em 1em;margin:0 1px 1px 1px;background:#f7f7f7;border-radius:0 0 5px 5px}
/* Table */
.x .table{margin:1em 0}
.x .table table{width:100%;border:0;border-collapse:collapse;border-top:2px solid #ccc}
.x .table caption{font-weight:bold;text-align:left;line-height:22px;padding:5px 0}
.x .table caption:after{content:"";display:block;clear:both}
.x .table caption a{font-weight:normal}
.x .table caption em{float:right;margin-left:1em}
.x .table caption strong{color:#e00}
.x .table caption .side{float:right;font-weight:normal;margin-left:1em}
.x .table th,
.x .table td{border:0;padding:8px;vertical-align:top;text-align:left;border-bottom:1px solid #ddd;white-space:nowrap}
.x .table th{background:#f8f8f8}
.x .table thead th{border-bottom:1px solid #999}
.x .table tfoot td{font-weight:bold;background:#f8f8f8}
.x .table.even tbody tr:nth-of-type(even) td{background-color:#fafafa}
.x .table td>input[type=text]{margin:-1px 0 !important;vertical-align:middle}
.x .table img{vertical-align:middle}
.x .table em{font-style:normal;font-weight:normal;color:#e00}
.x .table th.title,
.x .table td.title,
.x .table th.text,
.x .table td.text{white-space:normal;width:100%}
/* Form */
.x .form{margin:1em 0;padding:0}
.x .form fieldset{margin:0 0 2em 0;padding:0;border:0}
.x .form.search fieldset{border:1px solid #ccc;padding:5px 15px;border-radius:3px}
.x .form em{font-style:normal;color:#e00}
.x .form label{line-height:1;vertical-align:middle}
.x .form input[type=radio]+label,
.x .form input[type=checkbox]+label{margin-right:1em}
.x .form input[type=checkbox]+label,
.x .form input[type=radio]+label,
.x .form input[type=file]{cursor:pointer}
.x .form ul{position:relative;margin:1em 0;padding:0;list-style:none;border-top:2px solid #ccc;border-bottom:1px solid #ccc;zoom:1}
.x .form li{list-style:none;border:1px solid #ddd;border-left:0;border-right:0;margin:-1px 0;padding:8px 0;vertical-align:top;zoom:1}
.x .form li:first-child{border-top:0}
.x .form li>label:first-child{display:block;font-weight:bold}
.x .form li label em{font-weight:normal}
.x .form label.overlap{position:absolute;color:#aaa}
.x .form input[type=text],
.x .form input[type=password],
.x .form input[type=file],
.x .form textarea{position:relative;width:280px;margin:2px 0;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.x .form input[type=text],
.x .form input[type=password],
.x .form input[type=file]{height:22px;line-height:22px;vertical-align:middle;padding:0 4px}
.x .form input[type=text].loading,
.x .form input.loading[type=password]{padding-right:24px;width:260px;background:transparent url(../img/preLoader16.gif) no-repeat 265px center}
.x .form input[type=checkbox],
.x .form input[type=radio]{margin:0;padding:0;width:13px;height:13px;vertical-align:middle}
.x .form input[type=text][disabled=disabled],
.x .form input[type=password][disabled=disabled],
.x .form input[type=radio][disabled=disabled],
.x .form input[type=checkbox][disabled=disabled],
.x .form select[disabled=disabled],
.x .form textarea[disabled=disabled]{background:#ddd;text-shadow:1px 1px 0 #fff}
.x .form textarea{padding:3px 4px;vertical-align:top}
.x .form span.desc, 
.x .form em.desc{line-height:22px;vertical-align:middle;margin:0 10px}
.x .form p.desc{margin:.25em 0;line-height:1.4}
.x .form .q{font-weight:bold;margin:0 0 5px 0}
.x .form .a{margin:0 0 5px 0}
.x .form .tgForm{margin-right:1em}
/* Global Navigation Bar */
.x .gnb{position:relative;clear:both;border:1px solid #c1c1c1;border-left:0;border-right:0;background-color:#efefef;background:#efefef -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dcdcdc));background:#efefef -moz-linear-gradient(top, #efefef, #dcdcdc);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#efefef, endColorStr=#dcdcdc);zoom:1}
.x .gnb ul{margin:0;padding:0 0 0 20px;list-style:none;border:1px solid #fff;border-left:0;border-right:0;zoom:1}
.x .gnb ul ul{position:absolute;top:30px;left:0;border:1px solid #ccc;border-top:0;padding:1px 0 0 0;background:#fff}
.x .gnb ul:after{content:"";display:block;clear:both}
.x .gnb li{position:relative;float:left;border:1px solid #fff;border-top:0;border-bottom:0;margin:0 -1px 0 0}
.x .gnb li li{float:none;clear:both;overflow:hidden;border:0;border-top:1px dotted #ccc;margin:0;padding:2px}
.x .gnb li li:first-child{border:0}
.x .gnb li a{float:left;font-weight:bold;color:#333;font-size:12px;height:14px;padding:8px 18px;white-space:nowrap;text-decoration:none;text-shadow:0 1px 0 #fff;zoom:1}
.x .gnb li a:hover,
.x .gnb li a:active,
.x .gnb li a:focus,
.x .gnb li.active a{background:#f4f4f4;border:1px solid #ccc;border-bottom:0;padding:7px 17px 8px 17px}
.x .gnb li.activeOn a{background:#fff;border:1px solid #ccc;border-bottom:0;padding:7px 17px 8px 17px}
.x .gnb li.active li a{display:block;float:none;color:#555;background:#fff;padding:5px 15px !important;font-weight:normal !important;border:0 !important}
.x .gnb li.active li a:hover,
.x .gnb li.active li a:active,
.x .gnb li.active li a:focus{border:0;background:#eee}
.x .gnb .setting{position:absolute;top:8px;right:2em;width:16px;height:0;padding:16px 0 0 0;overflow:hidden;background:url(../img/iconSetting.gif) no-repeat center}
.x .gnb.jx ul{display:block;position:static;padding:0}
.x .gnb.jx li{float:none;clear:both;border-top:1px solid #ccc}
.x .gnb.jx ul ul{border:0}
.x .gnb.jx li li{border:0}
.x .gnb.jx li a{float:none;display:block}
.x .gnb.jx li a:hover,
.x .gnb.jx li a:active,
.x .gnb.jx li a:focus{background:none}
.x .gnb.jx li.activeOn>a{background:#ddd}
@media only all and (max-width:860px){
.x .gnb ul{padding-left:1em}
.x .gnb .setting{right:1em}
}
@media only all and (max-width:640px){
.x .gnb ul{display:block;position:static;padding:0}
.x .gnb li{float:none;clear:both;border-top:1px solid #ccc}
.x .gnb ul ul{border:0;position:static}
.x .gnb li li{border:0}
.x .gnb li a{float:none;display:block}
.x .gnb li a:hover,
.x .gnb li a:active,
.x .gnb li a:focus{background:none}
.x .gnb li.activeOn>a{background:#ddd}
}
/* Favorite */
.x .bmk{position:absolute;right:20px;bottom:10px;padding:0 0 0 20px;background:url(../img/iconFavorite.gif) no-repeat 0 -16px}
.x .bmk>a{text-shadow:0 1px 0 #fff}
.x .bmk ul{position:absolute;top:140%;right:0;list-style:none;margin:0;padding:5px 10px;border:1px solid #aaa;border-radius:5px;background:#fff;box-shadow:1px 1px 3px #aaa}
.x .bmk li{position:relative;padding:3px 30px 3px 0;white-space:nowrap}
.x .bmk li .action{position:absolute;top:0;right:0}
.x .bmk li .action .text{text-decoration:none;width:16px;text-align:center;margin:0}
@media only all and (max-width:640px){
.x .bmk{position:static;background-color:#fff;padding:10px 20px;background:#fff}
.x .bmk .tgAnchor{display:block}
.x .bmk ul{position:relative;border:0;border-top:1px solid #ccc;border-radius:0;box-shadow:none;padding:0;margin:5px 0 0 0}
.x .bmk li{position:relative;top:-1px;border-top:1px dotted #ccc}
}
/* Local Navigation */
.x .lnb{position:relative;float:left;width:210px;margin:1em 0 1em -240px;line-height:normal;zoom:1;display:inline}
.x .lnb .h2{margin-top:0}
.x .lnb ul{margin:0 !important;padding:0;list-style:none}
.x .lnb li{position:relative;margin:0 0 -1px 0;vertical-align:top;zoom:1}
.x .lnb li a{display:block;position:relative;padding:8px 10px;text-decoration:none;color:#666;font-weight:bold;background:#fafafa;border:1px solid #eee;zoom:1}
.x .lnb li a .i{position:absolute;top:50%;left:100%;margin:-4px 0 0 -16px;width:8px;height:8px;color:#ccc;background:url(../img/iconNavVr.gif) no-repeat left top}
.x .lnb li ul{padding:5px 0;background:#fff}
.x .lnb li li{margin:0;border-top:1px dotted #ddd}
.x .lnb li li:first-child{border:0}
.x .lnb li li a{font-weight:normal;background:#fff;padding:5px 10px;border:0}
.x .lnb li li a span{color:#666}
.x .lnb li.active{border:1px solid #ccc;z-index:2}
.x .lnb li li.active{border:0}
.x .lnb li.active a{color:#000;border:0}
.x .lnb li.active .i{background-position:0 -44px}
.x .lnb li.active li a{border:0}
.x .lnb li.active ul{display:block;border-top:1px solid #eee}
.x .lnb li.active li.active a span{color:#13b200;font-weight:bold;letter-spacing:-1px}
/* Content Navigation */
.x .cnb{margin:1em 0;position:relative;zoom:1}
.x .cnb:after{content:"";display:block;clear:both}
.x .cnb ul{list-style:none;margin:0;padding:0}
.x .cnb li{display:inline}
.x .cnb li:before{content:"| ";color:#ccc}
.x .cnb li:first-child:before{content:""}
.x .cnb .active,
.x .cnb .active a{font-weight:bold;color:#333;text-decoration:none}
.x .cnb .side{float:right}
/* Pagination */
.x .pagination{margin:1em 0;text-align:center;line-height:normal}
.x .pagination *{vertical-align:middle}
.x .pagination a,
.x .pagination strong{position:relative;display:inline-block;padding:2px 4px;font-weight:bold;text-decoration:none;line-height:normal;color:#333 !important;vertical-align:middle}
.x .pagination a:hover,
.x .pagination a:active,
.x .pagination a:focus{border:1px solid #ddd;margin:0 -1px}
.x .pagination strong{color:#e00 !important;font-size:20px}
.x .pagination .direction{font-weight:normal;white-space:nowrap}
.x .pagination .direction:hover,
.x .pagination .direction:active,
.x .pagination .direction:focus{border:0;margin:0;text-decoration:underline}
.x .pagination input{width:30px;text-align:center}
.x .pagination button{overflow:visible}
/* Star Rating */
.x .starRating, 
.x .starRating span{display:inline-block;height:14px;background:transparent url(../img/iconStarRating.gif) no-repeat;overflow:hidden}
.x .starRating{width:79px;vertical-align:top}
.x .starRating span{font-size:0;line-height:0;vertical-align:top;text-indent:-100px;*text-indent:0;background-position:0 -14px}
/* Progress */
.x .prgrs{white-space:nowrap;line-height:normal;vertical-align:middle}
.x .prgrs *{vertical-align:middle}
.x .prgrs .pBar{position:relative;display:inline-block;background:#e9e9e9;margin:0 5px 0 0}
.x .prgrs .pAction{display:inline-block;vertical-align:top;background:#99a6b6}
.x .prgrs .pNum{position:absolute;width:100%;left:0;top:0;text-align:center;text-shadow:1px 1px 0 #fff}
.x .prgrs.prgrsSmall{font-size:14px;line-height:14px}
.x .prgrs.prgrsSmall .pBar,
.x .prgrs.prgrsSmall .pAction,
.x .prgrs.prgrsSmall .pNum{height:16px;line-height:16px;font-size:11px}
.x .prgrs.prgrsMedium{font-size:24px;line-height:24px}
.x .prgrs.prgrsMedium .pBar,
.x .prgrs.prgrsMedium .pAction,
.x .prgrs.prgrsMedium .pNum{height:22px;line-height:22px;font-size:12px}
.x .prgrs.prgrsLarge{font-size:38px;line-height:38px}
.x .prgrs.prgrsLarge .pBar,
.x .prgrs.prgrsLarge .pAction,
.x .prgrs.prgrsLarge .pNum{height:34px;line-height:34px;font-size:14px}
/* Modal Window */
.modal{position:absolute;top:0;left:0;width:100%;_height:100%;min-height:100%;z-index:100}
.modal .bg{position:absolute;background:#000;_background:none;width:100%;height:100%;opacity:.5;z-index:2;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);zoom:1}
.modal .fg{position:relative;width:80%;margin:5em auto;background:#fff;padding:0 1em;*padding:1em;border:8px solid #ddd;z-index:3;zoom:1;border-radius:5px;box-shadow:0 0 6px #000}
.modal ul, 
.modal ol, 
.modal .lined, 
.modal .table{margin-bottom:1em}
.modal .ie6{position:absolute;left:0;top:0;width:100%;height:100%;border:0;opacity:0;filter:alpha(opacity=0);z-index:1}
.modalClose{position:absolute;right:-8px;top:-8px;border:0;background:#ddd;padding:0;width:28px;height:28px;font-size:14px;font-weight:bold;cursor:pointer;color:#999;border-radius:5px}
.modalBlur{position:absolute;top:0;right:0;border:0;background:none;padding:0;width:1px;height:1px;overflow:hidden}
html.modalContainer,
body.modalContainer{_height:100%;_width:100%} /* IE6 only */ 
/* Layer */
.x .layer,
.x.layer{position:absolute;background:#fff;padding:0 1em;*padding:1em;border:8px solid #ddd;z-index:2;zoom:1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 0 6px #666;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135, strength=5)}
.x .layer h2{font-size:14px}
.x .layer ul, 
.x .layer ol, 
.x .layer .lined, 
.x .layer .table{margin-bottom:1em}
.x .layerClose{position:absolute;right:-8px;top:-8px;border:0;background:#ddd;padding:0;width:28px;height:28px;font-size:14px;font-weight:bold;cursor:pointer;color:#999;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.x .layerBlur{position:absolute;top:0;right:0;border:0;background:none;padding:0;width:1px;height:1px;overflow:hidden}
/* H2 Anchor */
.x .h2Anchor{position:absolute;right:0;border:0;background:none;color:#00f;text-decoration:underline}
/* Skip Navigation */
.x .skipNav{margin:0;text-align:center}
.x .skipNav a{position:absolute;width:1px;height:1px;display:block;font-weight:bold;padding:10px 0}
.x .skipNav a:hover,
.x .skipNav a:active,
.x .skipNav a:focus{position:relative;width:auto;height:auto}
/* Header */
.x .header{position:relative;z-index:2;padding:30px 0 0 0;background:#4c4c4c;box-shadow:0 0 10px #aaa;zoom:1;border-radius:5px 5px 0 0}
.x .header:after{content:"";display:block;clear:both}
.x .header a{text-decoration:none}
.x .header h1{margin:0 15px 10px 20px;font-size:24px;line-height:32px;display:inline-block;zoom:1}
.x .header h1 *{vertical-align:middle}
.x .header h1 a{color:#fff;text-shadow:1px 1px 0 #000;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color=#000000, Positive=true);zoom:1}
.x .header h1 .url{font-size:12px;font-weight:normal}
.x .header .site{margin:0;display:inline-block;zoom:1}
.x .header .site a{color:#fff;text-decoration:underline}
.x .header #moveSiteList{padding:10px 1em 5px 1em;margin:0}
.x .header #moveSiteList ul{list-style:none;margin:0;padding:0}
.x .header #moveSiteList li{white-space:nowrap;margin:0;padding:4px 0;border-bottom:1px dotted #ccc}
.x .header #siteMapList{padding:0 1em 1em 1em;margin:0}
.x .header #siteMapList li{white-space:nowrap}
.x .header .account{position:absolute;z-index:3;width:100%;top:0;right:0;white-space:nowrap;text-align:right;background:#333;border-bottom:1px solid #656565;color:#fff;font-size:12px;border-radius:5px 5px 0 0}
.x .header .account ul{margin:0 2px 0 0;padding:5px 20px 5px 0;list-style:none}
.x .header .account li{position:relative;display:inline;border-left:1px solid #666;padding:0 6px 0 10px}
.x .header .account li:first-child{border:0}
.x .header .account a{color:#fff;display:inline-block;height:14px}
.x .header .account a.language{padding-right:16px;background:url(../img/iconArrow.gif) no-repeat right -160px}
.x .header #language{position:absolute;top:19px;right:-2em;padding:6px 4px !important;border:1px solid #666;border-top:0;background:#333}
.x .header #language li{border:0;display:block;padding:1px 8px 1px 10px;text-align:left;line-height:1}
.x .header #language li.selected{background:url(../img/iconCheck.gif) no-repeat left center}
.x .header #language li.selected a{text-decoration:underline}
.x .header h1 a:hover,
.x .header h1 a:active,
.x .header h1 a:focus,
.x .header .account a:hover,
.x .header .account a:active,
.x .header .account a:focus{color:#6e9cf2;text-decoration:underline}
/* Footer */
.x .footer{border-top:1px solid #ddd;text-align:center;font-size:12px;padding:1.5em 0;zoom:1}
.x .footer:after{content:"";display:block;clear:both}
.x .footer p{margin:0}
.x .footer .power{float:left}
.x .footer .cache{float:right}
/* Body */
.x .body{position:relative;z-index:1;padding:1em 20px 1em 260px;zoom:1}
.x .body:after{content:"";display:block;clear:both}
/* Content */
.x .content{float:right;width:100%;margin-left:-230px;zoom:1}
.x .content:after{content:"";display:block;clear:both}
.x .content a{color:#33a}
.x .content a:hover,
.x .content a:active,
.x .content a:focus{color:#a33}
.x .content .portlet a{text-decoration:none}
.x .content .portlet a:hover,
.x .content .portlet a:active,
.x .content .portlet a:focus{text-decoration:underline}
/* Dashboard */
.x .dashboard{position:relative;float:none;width:auto;margin-left:-230px}
.x .dashboard .portlet{float:left;width:48%;margin-right:1em}
.x .dashboard .portlet:nth-of-type(odd){float:left;width:49%;margin-right:0}
.x .dashboard .portlet:nth-of-type(even){float:right;width:49%;margin-right:0}
@media only all and (min-width:1300px){
.x .dashboard .portlet{float:left !important;width:32% !important;margin-right:1em !important}
}
/* Single Column*/
.x .single{position:relative;float:none;width:auto;margin-left:-240px}
/* Search */
.x .search{zoom:1}
.x .search:after{content:"";display:block;clear:both}
.x .search .pagination{float:left;text-align:left}
.x .search form{float:right;margin:1em 0}
.x .search form *{vertical-align:middle}
/* Site Map */
.x .siteMap h2 input{font-size:14px;font-weight:bold;padding:0 .5em}
.x .siteMap label{cursor:text}
.x .siteMap .lined ul{padding:0;margin:0;border-top:1px solid #eee;zoom:1}
.x .siteMap .lined li{position:relative;padding:0;margin:0;cursor:all-scroll;list-style:none;zoom:1}
.x .siteMap .lined li li{border-top:1px solid #eee}
.x .siteMap li li{text-indent:18px}
.x .siteMap li li li{text-indent:36px}
.x .siteMap li li li li{text-indent:54px}
.x .siteMap li li li li li{text-indent:72px}
.x .siteMap li li li li li li{text-indent:90px}
.x .siteMap li li li li li li li{text-indent:108px}
.x .siteMap li li li li li li li li{text-indent:126px}
.x .siteMap li li li li li li li li li{text-indent:144px}
.x .siteMap li li li li li li li li li li{text-indent:162px}
.x .siteMap li li li li li li li li li li li{text-indent:180px}
.x .siteMap li li li li li li li li li li li li{text-indent:198px}
.x .siteMap li *{vertical-align:middle}
.x .siteMap li .moveTo+input{width:200px;border:0;padding:0 .5em}
.x .siteMap li .moveTo+input:hover,
.x .siteMap li .moveTo+input:active,
.x .siteMap li .moveTo+input:focus{border:1px dotted #ccc;overflow:visible}
.x .siteMap .moveTo{position:relative;z-index:2;width:22px;height:32px;padding:32px 0 0 0;margin:0 3px;_margin-top:-1px;overflow:hidden;background:#fff url(../img/iconMoveTo.gif) no-repeat center 0;border:0;cursor:move}
.x .siteMap li.active,
.x .siteMap li.active .moveTo{background-color:#f7f7f7}
.x .siteMap li.active li,
.x .siteMap li.active ul{border-top-color:#f7f7f7}
.x .siteMap li.active .moveTo{background-position:center -32px}
.x .siteMap .vr,
.x .siteMap .hr{display:none;position:absolute;z-index:1;left:14px;border:0px solid #ccc;overflow:hidden}
.x .siteMap .vr{top:-16px;height:100%;border-left-width:1px}
.x .siteMap .hr{top:16px;width:16px;border-top-width:1px}
.x .siteMap li.active .vr,
.x .siteMap li.active li .hr{display:block}
.x .siteMap li li .vr,
.x .siteMap li li li .hr{left:32px}
.x .siteMap li li li .vr,
.x .siteMap li li li li .hr{left:50px}
.x .siteMap li li li li .vr,
.x .siteMap li li li li li .hr{left:68px}
.x .siteMap li li li li li .vr,
.x .siteMap li li li li li li .hr{left:86px}
.x .siteMap li li li li li li .vr,
.x .siteMap li li li li li li li .hr{left:104px}
.x .siteMap li li li li li li li .vr,
.x .siteMap li li li li li li li li .hr{left:122px}
.x .siteMap li li li li li li li li .vr,
.x .siteMap li li li li li li li li li .hr{left:140px}
.x .siteMap li li li li li li li li li .vr,
.x .siteMap li li li li li li li li li li .hr{left:158px}
.x .siteMap li li li li li li li li li li .vr,
.x .siteMap li li li li li li li li li li li .hr{left:176px}
.x .siteMap li li li li li li li li li li li .vr,
.x .siteMap li li li li li li li li li li li li .hr{left:336px}
.x .siteMap .side{padding-top:0 !important;padding-bottom:0 !important;line-height:30px;background:transparent !important}
.x .siteMap .side button{text-indent:0;line-height:1}
.x .siteMap .tgMap{position:absolute;top:12px;right:1em;padding:0 16px 0 0;line-height:16px;background:url(../img/iconArrow.gif) no-repeat right -126px}
.x .siteMap.fold .tgMap{background-position:right -158px}
.x .siteMap.fold .h2{border-bottom-color:#fff;border-radius:5px}
.x .siteMap .placeholder{background:#bbb}
.x .siteMap .draggable,
.x .siteMap .draggable .moveTo{background-color:#ddd}
.x .siteMap .draggable .summary{border-left:1px solid #ccc;padding-left:10px;margin-left:10px;font-size:11px;color:#999}
.x .siteMap a.ms{text-decoration:underline}
/* Multilingual */
.x .langEdit{background:#fff;position:absolute;*left:0;*margin-top:28px;z-index:10}
.x .langEdit ul{border-top:1px solid #ccc;border-left:1px solid #eee;border-right:1px solid #eee;margin:0}
.x .langEdit li{padding:.5em 10px}
.x .langEdit input[type=text]{width:220px;padding-right:40px}
.x .langEdit label{left:15px !important}
.x .langEdit .action{border:1px solid #eee;width:268px;padding:0 10px}
.x .langEdit p, 
.x .langEdit .btnArea{white-space:normal}
.x .langEdit .langList,
.x .langEdit .langEditControls{box-shadow:3px 3px 6px #999;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135, strength=5)}
.x .langEdit .langList{margin:0 -1px 0 0;display:none}
.x .langEdit .langList li{white-space:nowrap;color:#ccc;width:270px} 
.x .langEdit .langList li span{display:inline-block;width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#767676}
.x .langEdit .langList li a{display:inline-block;width:80px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.x .langEdit .langList li.active{background:url(../img/iconArrow.gif) no-repeat right -188px}
.x .langEdit.showChild .langList{display:block}
.x .langEdit .langInput{background:#fff}
.x .langEdit .langInput h2{padding:5px 10px;margin:0 0 -1px 0;font-size:12px;font-weight:normal;color:#666;border:1px solid #eee;border-top-color:#ccc}
.x .langEdit .langInput h2 strong{color:#000;font-size:14px}
.x .langEdit.showChild .langInput{position:absolute;left:285px;top:0}
.x .langEdit li.en input, 
.x .langEdit li.en textarea, 
.x .mLangEdit li.en textarea{background:url(../img/flag.us.gif) no-repeat 99% 5px}
.x .langEdit li.ko input, 
.x .langEdit li.ko textarea, 
.x .mLangEdit li.ko textarea{background:url(../img/flag.kr.gif) no-repeat 99% 5px}
.x .langEdit li.jp input, 
.x .langEdit li.jp textarea, 
.x .mLangEdit li.jp textarea{background:url(../img/flag.jp.gif) no-repeat 99% 5px}
.x .langEdit li.fr input, 
.x .langEdit li.fr textarea, 
.x .mLangEdit li.fr textarea{background:url(../img/flag.fr.gif) no-repeat 99% 5px}
.x .langEdit li.de input, 
.x .langEdit li.de textarea, 
.x .mLangEdit li.de textarea{background:url(../img/flag.de.gif) no-repeat 99% 5px}
.x .langEdit li.ru input, 
.x .langEdit li.ru textarea, 
.x .mLangEdit li.ru textarea{background:url(../img/flag.ru.gif) no-repeat 99% 5px}
.x .langEdit li.es input, 
.x .langEdit li.es textarea, 
.x .mLangEdit li.es textarea{background:url(../img/flag.es.gif) no-repeat 99% 5px}
.x .langEdit li.tr input, 
.x .langEdit li.tr textarea, 
.x .mLangEdit li.tr textarea{background:url(../img/flag.tr.gif) no-repeat 99% 5px}
.x .langEdit li.vi input, 
.x .langEdit li.vi textarea, 
.x .mLangEdit li.vi textarea{background:url(../img/flag.vn.gif) no-repeat 99% 5px}
.x .langEdit li.mn input, 
.x .langEdit li.mn textarea, 
.x .mLangEdit li.mn textarea{background:url(../img/flag.mn.gif) no-repeat 99% 5px}
.x .langEdit li.zh-CN input, 
.x .langEdit li.zh-CN textarea, 
.x .mLangEdit li.zh-CN textarea{background:url(../img/flag.cn.gif) no-repeat 99% 5px}
.x .langEdit li.zh-TW input, 
.x .langEdit li.zh-TW textarea, 
.x .mLangEdit li.zh-TW textarea{background:url(../img/flag.tw.gif) no-repeat 99% 5px}
.x .mLangEdit.en strong{background:url(../img/flag.us.gif) no-repeat 0 10px}
.x .mLangEdit.ko strong{background:url(../img/flag.kr.gif) no-repeat 0 10px}
.x .mLangEdit.jp strong{background:url(../img/flag.jp.gif) no-repeat 0 10px}
.x .mLangEdit.fr strong{background:url(../img/flag.fr.gif) no-repeat 0 10px}
.x .mLangEdit.de strong{background:url(../img/flag.de.gif) no-repeat 0 10px}
.x .mLangEdit.ru strong{background:url(../img/flag.ru.gif) no-repeat 0 10px}
.x .mLangEdit.es strong{background:url(../img/flag.es.gif) no-repeat 0 10px}
.x .mLangEdit.tr strong{background:url(../img/flag.tr.gif) no-repeat 0 10px}
.x .mLangEdit.vi strong{background:url(../img/flag.vn.gif) no-repeat 0 10px}
.x .mLangEdit.mn strong{background:url(../img/flag.mn.gif) no-repeat 0 10px}
.x .mLangEdit.zh-CN strong{background:url(../img/flag.cn.gif) no-repeat 0 10px}
.x .mLangEdit.zh-TW strong{background:url(../img/flag.tw.gif) no-repeat 0 10px}
.x .mLangEdit ul ul{border:0}
.x .mLangEdit li{position:relative;padding:0}
.x .mLangEdit li strong{display:inline-block;padding:6px 100px 8px 24px;font-weight:normal;line-height:1.5}
.x .mLangEdit li .side{position:absolute;top:8px;right:0;padding-right:18px;background:url(../img/iconArrow.gif) no-repeat right -160px}
.x .mLangEdit li li{border:0;padding-right:36px}
.x .mLangEdit li textarea{width:100%;height:16px;padding-right:30px;resize:vertical;line-height:1.4}
.x .mLangEdit li label{top:8px !important}
.x .mLangEdit li.active{background:#FFFDEF}
.x .mLangEdit li.active strong{font-weight:bold}
.x .mLangEdit li.active .side{background-position:right -128px}
.modal .mLangEdit ul{padding-bottom:1em}
.modal .mLangEdit li{border:0;padding-right:36px}
/* Suggestion */
.x .suggestion{display:none;position:absolute;background:#fff;z-index:10;_height:200px;max-height:200px;overflow:auto;*left:0;*margin-top:28px;box-shadow:3px 3px 6px #999;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135, strength=5)}
.x .suggestion ul{border-top:1px solid #ccc;border-left:1px solid #eee;border-right:1px solid #eee;margin:0}
.x .suggestion li{padding:0}
.x .suggestion li:last-child{border-bottom:0}
.x .suggestion li button{border:0;background:#fff;text-align:left;width:288px;padding:2px 4px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.x .suggestion li button:hover,
.x .suggestion li button:active,
.x .suggestion li button:focus,
.x .suggestion li button.active{background:#eee}
/* Image Mark */
.x #imageMark{right:0}
/* Easy Installer */
.x .easyNav{position:relative;border:1px solid #e9e9e9;zoom:1}
.x .easyNav:after{content:"";display:block;clear:both}
.x .easyNav h2{font-size:16px}
.x .easyNav .category{width:30%;float:left;margin:0 2em;display:inline}
.x .easyNav .filter{position:absolute;top:0;right:0;margin:1em 2em;text-align:right}
.x .easyList td p{margin-top:0}
.x .easyList td p.update{background:#ffc;padding:.5em 1em;border:1px solid #fc9;border-left:0;border-right:0;text-align:center}
/* Font Preview */
.x .fontPreview{width:96%;border:1px solid #e9e9e9;zoom:1;padding:1em 2em;margin:.5em 0}
/* FTP Suggestion */
.x #ftpSuggestion{background:#fff;box-shadow:3px 3px 6px #999;filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=135, strength=5)}
.x #ftpSuggestion ul{border-left:1px solid #eee;border-right:1px solid #eee}
.x #ftpSuggestion li{padding:0}
.x #ftpSuggestion li button{border:0;background:#fff;text-align:left;width:288px}
.x #ftpSuggestion li button:hover,
.x #ftpSuggestion li button:active,
.x #ftpSuggestion li button:focus{background:#eee}
/* Theme & Skin Preview */
.x .thumbPreview li{position:relative;padding-left:10px;padding-right:10px}
.x .thumbPreview li.active.highlight{background:#f9f9f9}
.x .thumbPreview .prevToggle{position:absolute;top:8px;right:10px;line-height:16px;padding:0 18px 0 0;text-decoration:none;background:url(../img/iconArrow.gif) no-repeat right -32px}
.x .thumbPreview li.active .prevToggle{background-position:right 0}
.x .thumbPreview .a{border:0;margin:0;zoom:1}
.x .thumbPreview .a:after{content:"";display:block;clear:both}
.x .thumbPreview .i{float:left;vertical-align:top;margin:0 1em 1em 0;padding:0;border:0;zoom:1}
.x .thumbPreview .i:after{content:"";display:block;clear:both}
.x .thumbPreview .i .thumb{position:relative;width:124px;height:84px;padding:0;margin-bottom:3px;text-align:center;overflow:hidden;border:1px solid #ddd;display:block;cursor:pointer;background:#fff}
.x .thumbPreview .i .thumb .frame{position:absolute;width:120px;height:80px;left:0;top:0;border:2px solid #fff;overflow:hidden}
.x .thumbPreview .i .thumb img{width:120px;margin:0}
.x .thumbPreview .i label{display:block;position:relative;top:0;left:2px;width:122px;height:1.1em;margin:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.x .thumbPreview .i input{display:none}
.x .thumbPreview .i ul{display:none}
.x .thumbPreview .selected .i{display:block;float:none}
.x .thumbPreview .selected .i .thumb{float:left;width:186px;height:126px;margin:0 1em 0 0;border:2px solid #eee}
.x .thumbPreview .selected .i .thumb .frame{width:180px;height:120px;border-width:3px}
.x .thumbPreview li.active.highlight .selected .i .thumb{border-color:#5ea8f6}
.x .thumbPreview .selected .i .thumb img{width:180px;position:relative}
.x .thumbPreview li.active .selected .i .thumb img{z-index:auto}
.x .thumbPreview .selected .i label{cursor:text}
.x .thumbPreview .selected .i ul{display:block;list-style:none;border:0;margin:1em 0 1em 200px}
.x .thumbPreview .selected .i li{border:0;padding:0;margin:0 0 .2em 0}
.x .thumbPreview.jx .i label{display:inline;width:auto}
.x .thumbPreview.jx .i.noDirection{display:none}
.x .thumbPreview.jx .i input{display:inline}
.x #skin .showAll{float:right;border:0;overflow:visible;padding:0 18px 0 0;cursor:pointer;color:#00f;background:url(../img/iconArrow.gif) no-repeat right -32px}
.x #skin .showAll.hideAll{background-position:right 0}
/* Favorite On | Off */
.x .fvOff,
.x .fvOn{display:inline-block;width:16px;height:16px;overflow:hidden;text-indent:16px;background:url(../img/iconFavorite.gif) no-repeat}
.x .fvOn{background-position:0 -16px}
/* Up-Down Dragable */
.x .uDrag .wrap{position:relative;padding-left:20px}
.x .uDrag li>.wrap{margin:0 0 0 8px}
.x .uDrag .dragActive{background:#FFD}
.x .uDrag .dragActive th,
.x .uDrag .dragActive td{background:none !important}
.x .uDrag .dragBtn{position:absolute;width:8px;height:100%;padding:0;overflow:hidden;background:url(../img/bgDragable.gif);top:1px;left:0;text-indent:12px;border:0;cursor:n-resize;white-space:nowrap}
/* Favicon Preview */
.x .faviconPreview{position:relative;padding:60px 0 0 200px;background:url(../img/bgFavicon.gif) no-repeat}
.x .faviconPreview img{position:absolute}
.x .faviconPreview .fn1{top:30px;left:12px}
.x .faviconPreview .fn2{top:55px;left:68px}
/* Mobile Icon Preview */
.x .mobiconPreview{position:relative;padding:252px 0 0 200px;background:url(../img/bgMobileTop.png) no-repeat}
.x .mobiconPreview img{position:absolute;top:20px;left:10px}
.x .mobiconPreview span{position:absolute;width:32px;text-align:center;top:52px;left:10px;color:#fff;font-size:9px}
/* Text List */
.x .textList{border:1px solid #ddd !important;line-height:1.5em;height:18.5em;overflow:auto}
.x .textList li{border:0;padding:.25em 1em;height:1.5em;white-space:nowrap;overflow:hidden}
.x .textList li:nth-child(even){background:#eee}
.x .textList li a{float:right}
/* File Box */
.x .fileBox li{position:relative}
.x .fileBox li img{max-width:100%}
.x .fileBox .portlet ul{margin:1em;list-style:none;padding:0;border:0}
.x .fileBox .portlet li{border-top:1px solid #ddd;border-bottom:0;padding:8px 0}
.x .fileBox .side{position:absolute;top:8px;right:0}
/* Messages */
.x .desc.error{color:#f00}
.x .desc.success{color:#080}
/* Icon Button */
.x a.iSetting{display:inline-block;width:16px;height:0;padding:16px 0 0 0;overflow:hidden;vertical-align:middle;background:url(../img/iconSetting.gif) no-repeat}
.x a.cMenu{display:inline-block;width:16px;height:0;padding:16px 0 0 0;overflow:hidden;vertical-align:middle;background:url(../../../../common/img/icon.bubble.png) no-repeat}
/* Responsive Layout */
@media only all and (max-width:860px){
.x .header h1{margin-left:.7em}
.x .header .account ul{padding-right:10px}
.x .body{padding:0}
.x .content{float:none;margin-left:0}
.x .lnb{float:none;width:auto;margin:1em 0}
.x .dashboard .portlet{float:none !important;width:auto !important;margin-right:0}
.modal .fg,
.wfsr .fg{width:auto}
.x .easyNav .category{float:none;display:block;width:auto}
.x .easyNav .filter{position:static}
}
@media only all and (max-width:640px){
.x .skipNav a{position:relative;width:auto;height:auto}
.modal{position:absolute}
}
/* Legacy Code (Don't use it. It will be removed as soon as possible.) */
.x h3.xeAdmin,
.x h4.xeAdmin{position:relative;border-bottom-style:solid;border-bottom-color:#ccc;zoom:1}
.x h3.xeAdmin{border-bottom-width:4px;font-size:24px}
.x h4.xeAdmin{border-bottom-width:3px;font-size:20px}
.x h5.xeAdmin{border-bottom-width:2px;font-size:16px}
.x h6.xeAdmin{border-bottom-width:1px;font-size:12px}
.x .adminSearch{margin:1em 0}
.x .adminSearch fieldset{border:1px solid #ccc;margin:0;padding:.5em 1em}
.x .localNavigation{padding:0;list-style:none}
.x .localNavigation li{display:inline}
.x .localNavigation li.on a{font-weight:bold;color:#333;text-decoration:none}
.x .localNavigation li:before{content:"| "}
.x .localNavigation li:first-child:before{content:""}
.x .summary{margin:1em 0}
.x .rowTable,
.x .colTable,
.x .crossTable{margin:1em 0;border:0;border-collapse:collapse;border-top:2px solid #ccc;width:100%}
.x .rowTable caption,
.x .colTable caption,
.x .crossTable caption{font-weight:bold;text-align:left;line-height:22px;padding:5px 0}
.x .rowTable caption:after,
.x .colTable caption:after,
.x .crossTable caption:after{content:"";display:block;clear:both}
.x .rowTable caption a,
.x .colTable caption a,
.x .crossTable caption a{font-weight:normal}
.x .rowTable caption em,
.x .colTable caption em,
.x .crossTable caption em{float:right;font-style:normal;font-weight:normal;color:#e00;margin-left:1em}
.x .rowTable caption strong,
.x .colTable caption strong,
.x .crossTable caption strong{color:#e00}
.x .rowTable caption .side,
.x .colTable caption .side,
.x .crossTable caption .side{float:right;font-weight:normal;margin-left:1em}
.x .rowTable th,
.x .rowTable td,
.x .colTable th,
.x .rowTable td,
.x .crossTable th,
.x .rowTable td{border:0;padding:8px;vertical-align:top;text-align:left;border-bottom:1px solid #ddd}
.x .rowTable th,
.x .colTable th,
.x .crossTable th{background:#f8f8f8;white-space:nowrap}
.x .rowTable thead th,
.x .colTable thead th,
.x .crossTable thead th{border-bottom:1px solid #999}
.x .rowTable tfoot td,
.x .colTable tfoot td,
.x .crossTable tfoot td{font-weight:bold;background:#f8f8f8}
.x .rowTable.even tbody tr:nth-of-type(even) td,
.x .colTable.even tbody tr:nth-of-type(even) td,
.x .crossTable.even tbody tr:nth-of-type(even) td{background-color:#fafafa}
.x .rowTable td>input[type=text],
.x .colTable td>input[type=text],
.x .crossTable td>input[type=text]{margin:-1px 0 -3px 0 !important;vertical-align:middle}
.x .rowTable img,
.x .colTable img,
.x .crossTable img{vertical-align:middle}
.x .rowTable .title,
.x .colTable .title,
.x .crossTable .title,
.x .rowTable .text,
.x .colTable .text,
.x .crossTable .text{white-space:normal}
.x .rowTable input[type=text],
.x .colTable input[type=text],
.x .crossTable input[type=text],
.x .rowTable input[type=password],
.x .colTable input[type=password],
.x .crossTable input[type=password],
.x .rowTable input[type=file],
.x .colTable input[type=file],
.x .crossTable input[type=file],
.x .rowTable textarea,
.x .colTable textarea,
.x .crossTable textarea{position:relative;width:280px;margin:2px 0;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;background:transparent}
.x .rowTable input[type=text],
.x .colTable input[type=text],
.x .crossTable input[type=text],
.x .rowTable input[type=password],
.x .colTable input[type=password],
.x .crossTable input[type=password],
.x .rowTable input[type=file],
.x .colTable input[type=file],
.x .crossTable input[type=file]{height:22px;line-height:22px;vertical-align:middle;padding:0 4px}
.x .clear:after{content:"";display:block;clear:both}
