@charset "utf-8";
.fr {float:right}

.w40 {width:40px !important}
.wp80 {width:80% !important}

.colRed {color:red !important;}
.colBlue {color:blue !important;}

.x .table th {width:120px}

.x .content{float:left !important;margin-left:0 !important;}
.x .single{width:100% !important;}
.x .lnb li.module a {color:#A33;background:#fff}

.modal {display:none}

.table th,
.table td {white-space:nowrap;}
.table .wide {width:100%; white-space:normal;}
.table .select_th {vertical-align:middle !important;padding:0 2px !important;}
.table .select_th select {font-weight: bold;border:0;color:#333;background:#F8F8F8}

.x .sortable td {padding:5px 1em !important}
.x .sortable .wrap .side {position:absolute;top:0;_top:1px;right:0;color:#666}
.x .sortable .wrap .side label {margin-left:10px}
.x .sortable .uDrag td:hover,
.x .sortable .uDrag td:active,
.x .sortable .uDrag td:focus{background-color:#dedede !important}

.siteMap h2 .cbSelect {position:absolute; top:9px;margin-left:5px}
.siteMap .side a {border:1px solid #ccc;margin-left:5px;padding:2px 5px}

.cbSelect {overflow:hidden;display:inline-block;border:1px solid #ccc;zoom:1;height:16px;width:56px;padding:2px 5px;background:url(../../../admin/tpl/img/iconArrow.gif) no-repeat right -158px}
.cbSelect:after {content:""; display:block; clear:both;}
.cbSelect ._title {line-height: 16px;text-indent:0;float:left}
dl.cbLayer {position:absolute; z-index:1;display:inline-block;border:2px solid #ccc;min-width:60px;_width:60px;padding:2px;background-color:#f8f8f8;display:none;}
dl.cbLayer dt {padding:3px;white-space:nowrap}
dl.cbLayer dt:hover,
dl.cbLayer dt:active,
dl.cbLayer dt:focus{background-color:#ddd}
.cbSelect,
.cbSelect ._title,
dl.cbLayer dt {cursor:pointer !important}

input.color-indicator {width:65px !important;}

.extraKeys .uDrag .wrap {height:50px !important}
.extraKeys thead th {padding-left:38px !important}
.extraKeys thead th span {display:inline-block;width:135px;margin-right:5px}
.extraKeys .side a {border:1px solid #ccc;margin-left:5px;padding:2px 5px}
.extraKeys .side select {margin-top:10px !important}
.extraKeys .itxt.blue {background:#eaeaff;border-width:1px;padding:1px}
