
<input type="hidden" name="category_srl" value="{$category_info->category_srl}" />
<input type="hidden" name="parent_srl" value="{$category_info->parent_srl}" />
<div class="layer">
	<button type="button" class="layerClose" title="Close this layer." onclick="jQuery(this).closest('#category_info').hide();">X</button>
	<h3 class="h3">{$lang->category}</h3>
	<div class="table">
		<table width="100%" border="1" cellspacing="0">
			<!--@if($category_info->parent_category_title)-->
			<tr>
				<th scope="row">{$lang->parent_category_title}</th>
				<td >{$category_info->parent_category_title}</td>
			</tr>
			<!--@end-->
			<tr>
				<th scope="row">{$lang->category_title}</th>
				<td>
					<input type="text" name="category_title" id="category_name" value="{$category_info->title}"  />
					<a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','category_name')}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
				</td>
			</tr>
			<tr>
				<th scope="row">{$lang->category_color}</th>
				<td>
					<input type="text" name="category_color" value="{htmlspecialchars($category_info->color)}" class="color-indicator inputTypeText" />
					<p>{$lang->about_category_color}</p>
				</td>
			</tr>
			
			<tr>
				<th scope="row">{$lang->category_description}</th>
				<td >
					<textarea name="category_description" id="category_description" >{htmlspecialchars($category_info->description)}</textarea>
					<a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','category_description')}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
					<p>{$lang->about_category_description}</p>				
				</td>
			</tr>
			
			<tr>
				<th scope="row">{$lang->expand}</th>
				<td>
					<input type="checkbox" name="expand" value="Y" <!--@if($category_info->expand=="Y")-->checked="checked"<!--@end--> class="checkbox" />
					<p>{$lang->about_expand}</p>
				</td>
			</tr>
			<tr >
				<th scope="row2">{$lang->category_group_srls}</th>
				<td>
					<!--@foreach($group_list as $key=>$val)-->
					<div><input type="checkbox" name="group_srls[]" value="{$key}" id="group_{$key}" <!--@if(is_array($category_info->group_srls)&&in_array($key, $category_info->group_srls))-->checked="checked"<!--@end--> class="checkbox" /> <label for="group_{$key}">{$val->title}</label></div>
					<!--@end-->
					<p>{$lang->about_category_group_srls}</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_save}" /></span>
	</div>
</div>
<script type="text/javascript">
jQuery(function(){
    jQuery('input.color-indicator').xe_colorpicker();
});
</script>
