<!--%import("filter/delete_category.xml")-->
<!--%import("filter/move_category.xml")-->

<!--// tree javascript plugin load -->
<!--%load_js_plugin("ui.tree")-->

<load target="js/document_category.js" usecdn="true" />
<load target="css/document.css" usecdn="true" />
<!--%load_js_plugin("ui.colorpicker")-->
<script type="text/javascript">
    var category_title = "{$lang->category}";
</script>


<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form ruleset="insertCategory" id="fo_category" action="./" method="post">
<input type="hidden" name="module" value="document" />
<input type="hidden" name="act" value="procDocumentInsertCategory" />
<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
<input type="hidden" name="xml_file" value="{$category_xml_file}" />
<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
	<div id="category_info" class="x" style="position:absolute"></div>
</form>
<div id="menu">
	<ul class="simpleTree">
		<li class="root" id='tree_0'><span>{$lang->category}</span></li>
	</ul>
</div>
<div class="btnArea">
	<span class="btn"><button type="button" onclick="doReloadTreeCategory('{$module_info->module_srl}');return false;">{$lang->cmd_remake_cache}</button></span>
</div>
<script type="text/javascript">
    var simpleTreeCollection;
    var max_menu_depth = 999;
    var lang_confirm_delete = "{$lang->confirm_delete}";
    var xml_url = "{$category_xml_file}";
    doCategoryFormMove();
    Tree(xml_url);
</script>
