<!--%import("filter/manage_checked_document.xml")-->
<load target="js/document_admin.js" usecdn="true" />
<load target="css/document.css" usecdn="true" />
<h1 class="h1">{$lang->cmd_manage_document}</h1>
<form action="./" method="get" id="fo_management">
<input type="hidden" name="module" value="document" />
<input type="hidden" name="type" value="" />

<!--@if(count($document_list)==0)-->
{$lang->msg_not_selected_document}
<!--@else-->
<div class="table">
	<table width="100%" border="1" cellspacing="0">
	<tr>
		<th scope="row"><label for="textfield1">{$lang->checked_count} ({count($document_list)})</label></th>
		<td>
			<input type="checkbox" onclick="XE.checkboxToggleAll()" checked="checked"/> {$lang->cmd_select}
			<ul class="document_list_box">
				<!--@foreach($document_list as $key => $document)-->
				<li class="document_list"><input type="checkbox" checked="checked" name="cart" value="{$document->document_srl}" onclick="doAddDocumentCart(this);"/> <address>{$document->getNickName()}</address> <span class="document_title">{$document->getTitle()}</span></li>
				<!--@end-->
			</ul>
		</td>
	</tr>
	<tr>
		<th scope="row">{$lang->move_target_module}</th>
		<td>
			<input type="hidden" name="target_module" id="target_module" value="{$module_srl}" />
			<input type="text" name="_target_module" id="_target_module" value="{$mid} ({$browser_title})" readonly="readonly" /><a href="{getUrl('','module','module','act','dispModuleSelectList','id','target_module','type','single')}" onclick="popopen(this.href,'ModuleSelect');return false;" class="button green"><span>{$lang->cmd_select}</span></a>
		</td>
	</tr>
	<tr>
		<th scope="row">{$lang->category}</th>
		<td>
		  <select id="target_category" name="target_category">
		  </select>
		</td>
	</tr>
	<tr>
		<th scope="row">{$lang->cmd_send_message}</th>
		<td>
			<textarea name="message_content" cols="45" rows="5"></textarea>
		</td>
	</tr>
	</table>
</div>

<div class="btnArea">
    <button type="button" onclick="doManageDocument('trash');">{$lang->cmd_trash}</button>
    <button type="button" onclick="doManageDocument('delete');">{$lang->cmd_delete}</button>
    <button type="button" onclick="doManageDocument('move');">{$lang->cmd_move}</button>
    <button type="button" onclick="doManageDocument('copy');">{$lang->cmd_copy}</button>
</div>

<script type="text/javascript">
    jQuery(function() { doGetCategoryFromModule({$module_srl}); } );
</script>
<!--@end-->
</form>
