<load target="./js/document_admin.js" usecdn="true" />
<load target="./css/document.css" usecdn="true" />
{$content}
<div class="btnArea">
	<span class="btn"><button type="button" onclick="window.close();return false;">{$lang->cmd_close}</button></span>
</div>
