<div class="hx h2">
	<h2><a href="{getUrl('','vid',$vid,'mid',$mid)}">{$module_info->browser_title}</a> <em>[{number_format($total_count)}]</em></h2>
	<!--@if($module_info->use_category == "Y")--><a href="{getUrl('page','','act','dispBoardCategory','')}" class="ca">{$lang->category}</a><!--@endif-->
	<a href="{getUrl('act','dispBoardWrite','document_srl','')}" class="write">{$lang->cmd_write}</a>
</div>
<ul class="lt">
	<!--@foreach($notice_list as $no => $document)-->
	<li>
		<a href="{getUrl('document_srl', $document->document_srl)}">
		<span class="title"><span class="notice">{$lang->notice}</span> <!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->{$category_list[$document->get('category_srl')]->title} &rsaquo;<!--@end--> <strong>{$document->getTitle($module_info->subject_cut_size)}</strong> <!--@if($document->getCommentCount())--><em>[{$document->getCommentCount()}]</em><!--@endif--></span>
			<span class="auth"><strong>{$document->getNickName()}</strong> <span class="time">{$document->getRegDate("Y.m.d")}</span></span>
		</a>
	</li>
	<!--@end-->
	<!--@foreach($document_list as $no => $document)-->
	<li>
		<a href="{getUrl('document_srl', $document->document_srl)}">
			<span class="title"><!--@if($module_info->use_category == "Y" && $document->get('category_srl'))-->{$category_list[$document->get('category_srl')]->title} &rsaquo;<!--@end--> <strong>{$document->getTitle($module_info->subject_cut_size)}</strong> <!--@if($document->getCommentCount())--><em>[{$document->getCommentCount()}]</em><!--@endif--></span>
			<span class="auth"><strong>{$document->getNickName()}</strong> <span class="time">{$document->getRegDate("Y.m.d")}</span></span>
		</a>
	</li>
	<!--@end-->
</ul>
<div class="pn">
	<!--@if($page != 1)-->
	<a href="{getUrl('page',$page-1,'document_srl','','division',$division,'last_division',$last_division,'entry','')}" class="prev">{$lang->cmd_prev}</a> 
	<!--@endif-->
	<strong>{$page} / {$page_navigation->last_page}</strong>
	<!--@if($page != $page_navigation->last_page)-->
	<a href="{getUrl('page',$page+1,'document_srl','','division',$division,'last_division',$last_division,'entry','')}" class="next">{$lang->cmd_next}</a>
	<!--@endif-->
</div>
<div class="sh">
	<form action="{getUrl()}" method="get">
		<input type="hidden" name="vid" value="{$vid}" />
		<input type="hidden" name="mid" value="{$mid}" />
		<input type="hidden" name="category" value="{$category}" />
		<select name="search_target">
			<!--@foreach($search_option as $key => $val)-->
			<option value="{$key}" <!--@if($search_target==$key)-->selected="selected"<!--@end-->>{$val}</option>
			<!--@end-->
		</select>
		<input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" accesskey="S" title="{$lang->cmd_search}" />
		<button type="submit" class="shbn" title="{$lang->cmd_search}"></button>
	</form>
</div>
