	<li>
		<input type="hidden" name="parent_key[]" value="{$item['parent_srl']}" class="_parent_key" />
		<input type="hidden" name="item_key[]" value="{$item['node_srl']}" class="_item_key" />
		<span style="color:{$item['color']}"|cond="$item['color']&&$item['color']!='transparent'">
			<input type="txt" name="item_title[]" value="{htmlspecialchars($item['text'])}" />
		</span>
		<span class="side">
			<input type="txt" name="item_color[]" value="{$item['color']}" class="color-indicator" />
			<label cond="count($type_list)" class="cbSelect">
				{@ $g_val = $type_list[$item['type']]}
				<input type="hidden" name="item_type[]" value="{$g_val?$item['type']:''}" class="_value" />
				<input type="hidden" name="item_navi[]" value="{$g_val?$item['navigation']:''}" class="_option" />
				<label class="_title">{$g_val?$g_val->title:''}</label>
				<dl class="cbLayer">
					<dt loop="$type_list=>$g_key,$g_val" rel="{$g_key}" rev="{implode(',',$g_val->attrs)}"|cond="count($g_val->attrs)">{$g_val->title}</dt>
				</dl>
			</label>
			<label class="cbSelect">
				<input type="hidden" name="item_expand[]" value="{$item['expand']}" class="_value" />
				<label class="_title">{$item['expand']=='Y'?$lang->expanding:$lang->collapsing}</label>
				<dl class="cbLayer">
					<dt rel="N">{$lang->collapsing}</dt>
					<dt rel="Y">{$lang->expanding}</dt>
				</dl>
			</label>
			<label cond="count($group_list)" class="cbSelect" rel="array">
				<input type="hidden" name="group_srls[]" value="{implode('|@|',$item['group_srls'])}" class="_value" />
				<label class="_title" style="color:blue"|cond="count($item['group_srls'])">{$lang->category_group_srls}</label>
				<dl class="cbLayer">
					<dt loop="$group_list=>$g_val" rel="{$g_val->group_srl}">
						<label><input type="checkbox" value="{$g_val->group_srl}" checked="checked"|cond="in_array($g_val->group_srl,$item['group_srls'])" /> {$g_val->title}</label>
					</dt>
				</dl>
			</label>
			<a href="#delete" class="_delete">{$lang->cmd_delete}</a>
		</span>
		<ul cond="count($item['list']>0)">
		<block loop="$item['list']=>$idx,$item">
		<include target="category.item.html" />
		</block>
		</ul>
	</li>

