<include target="header.html" />
<load target="../../admin/tpl/js/sitemap.js" usecdn="true" />

<div id="siteMapFrame">
	<form  class="portlet siteMap" id="menu_{$menuSrl}" method="post">
	<input type="hidden" name="act" value="procBeluxeAdminInsertCategory" />
	<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

		<h2 class="h2">
			<input name="category_default_title" value="{htmlspecialchars($module_info->category_default_title)}" />
			<label cond="count($type_list)" class="cbSelect">
				{@ $g_val = $type_list[$module_info->category_default_type]}
				<input type="hidden" name="category_default_type" value="{$g_val?$module_info->category_default_type:''}" class="_value" />
				<label class="_title">{$g_val?$g_val->title:''}</label>
				<dl class="cbLayer">
					<dt loop="$type_list=>$g_key,$g_val" rel="{$g_key}">{$g_val->title}</dt>
				</dl>
			</label>
		</h2>
		<a href="#nav_category" class="tgMap">{$lang->collapsing}/{$lang->expanding}</a>
		<ul class="lined" id="nav_category" <!--@if($_COOKIE['sitemap_toggle_#nav_'.$key])-->style="display:none;"<!--@end-->>
			<include cond="count($menu->list)" loop="$menu->list=>$key,$item" target="category.item.html" />
		</ul>
		<p class="btnArea">
			<span class="btn"><a href="#addMenu">{$lang->add_menu}</a></span>
			<span class="btn"><input type="submit" value="{$lang->cmd_save}" /></span>
			<span class="etc">
				<span class="btn"><a href="#remakeCache" rel="category">{$lang->cmd_remake_cache}</a></span>
			</span>
		</p>
	</form>
</div>

<script type="text/javascript">
xe.lang.confirm_delete = "{$lang->confirm_delete}";
var addSitemapMenuSample = '<li> \
			<button type="button" class="moveTo">Move to</button> \
			<input type="hidden" name="parent_key[]" value="0" class="_parent_key" /> \
			<input type="hidden" name="item_key[]" value="0" class="_item_key" /> \
			<span> \
				<input type="txt" name="item_title[]" value="" /> \
			</span> \
			<span class="side"> \
				<input type="txt" name="item_color[]" value="" class="color-indicator" /> \
				<label cond="count($type_list)" class="cbSelect"> \
					<input type="hidden" name="item_type[]" value="" class="_value" /> \
					<input type="hidden" name="item_navi[]" value="" class="_option" /> \
					<label class="_title"></label> \
					<dl class="cbLayer"> \
						<dt loop="$type_list=>$g_key,$g_val" rel="{$g_key}" rev="{implode(',',$g_val->attrs)}"|cond="count($g_val->attrs)">{$g_val->title}</dt> \
					</dl> \
				</label> \
				<label class="cbSelect"> \
					<input type="hidden" name="item_expand[]" value="N" class="_value" /> \
					<label class="_title">{$lang->collapsing}</label> \
					<dl class="cbLayer"> \
						<dt rel="N">{$lang->collapsing}</dt> \
						<dt rel="Y">{$lang->expanding}</dt> \
					</dl> \
				</label> \
				<label cond="count($group_list)" class="cbSelect" rel="array"> \
					<input type="hidden" name="group_srls[]" value="" class="_value" /> \
					<label class="_title">{$lang->category_group_srls}</label> \
					<dl class="cbLayer"> \
						<dt loop="$group_list=>$g_val" rel="{$g_val->group_srl}"> \
							<label><input type="checkbox" value="{$g_val->group_srl}" /> {$g_val->title}</label> \
						</dt> \
					</dl> \
				</label> \
				<a href="#delete" class="_delete">{$lang->cmd_delete}</a> \
			</span> \
		</li>';
</script>

<include target="footer.html" />
