<include target="header.html" />
{@
	$dis_sort = array('comment'=>true,'thumbnail'=>true);
	$dis_search = array('no'=>true,'thumbnail'=>true,'category_srl'=>true,'last_updater'=>true,'blamed_count'=>true,'custom_status'=>true);
}
<form id="columnFrame" class="form" action="./" method="post" enctype="multipart/form-data">
	<input cond="$module=='admin'" type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="act" value="procBeluxeAdminColumnSetting" />
	<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />

	<div class="table even">
		<table width="100%" border="1" cellspacing="0" class="sortable">
			<thead>
				<tr>
					<th scope="col"><a href="#column_list" class="tgMap fr">{$lang->collapsing}/{$lang->expanding}</a></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td>
						<span class="btn small fr"><input type="submit" value="{$lang->cmd_save}" /></span>
						<span class="etc">
							<span class="btn"><a href="#remakeCache" rel="column">{$lang->cmd_remake_cache}</a></span>
						</span>
					</td>
				</tr>
			</tfoot>
			<tbody id="column_list" class="uDrag">
				<tr loop="$list_config => $key,$val">
					<td><div class="wrap" style="height:22px"><button type="button" class="dragBtn">Move to</button>
							<span class="name">{$val->name}</span>
							<span class="side">
								<input type="hidden" name="column_key[]" value="{$key}" />
								<input type="hidden" id="column_option" name="column_option[]" value="{implode('|@|',array($val->display,$val->sort,$val->search))}" />
								<input type="text" name="column_color[]" value="{htmlspecialchars($val->color)}" class="color-indicator" />
								<label><input type="checkbox" id="column_display" value="Y" class="column_option" checked="checked"|cond="$val->display == 'Y'" /> {$lang->display} </label>
								<label style="text-decoration:line-through"|cond="$dis_sort[$key]"><input type="checkbox" id="column_sort" value="Y" class="column_option" disabled="true"|cond="$dis_sort[$key]" checked="checked"|cond="$val->sort == 'Y'" /> {$lang->sort} </label>
								<label style="text-decoration:line-through"|cond="$dis_search[$key]"><input type="checkbox" id="column_search" value="Y" class="column_option" disabled="true"|cond="$dis_search[$key]" checked="checked"|cond="$val->search == 'Y'" /> {$lang->search} </label>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>

<include target="footer.html" />
