<include target="header.html" />

<form id="extraKeyFrame" class="form" action="./" method="post" enctype="multipart/form-data">
	<input cond="$module=='admin'" type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="act" value="procBeluxeAdminInsertExtraKey" />
	<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />

	<div class="table even extraKeys">
		<table width="100%" border="1" cellspacing="0" class="sortable">
			<thead>
				<tr>
					<th scope="col">
						<span>{$lang->eid}</span>
						<span>{$lang->column_name}</span>
						<br />
						<span class="colBlue">{$lang->default_value}</span>
						<span class="colBlue">{$lang->description}</span>
						<a href="#extrakey_list" class="tgMap fr">{$lang->collapsing}/{$lang->expanding}</a>
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td style="text-align:right !important">
						<span class="btn"><a href="#addMenu">{$lang->extra_vars} {$lang->cmd_insert}</a></span>
						<span class="btn"><input type="submit" value="{$lang->cmd_save}" /></span>
					</td>
				</tr>
			</tfoot>
			<tbody id="extrakey_list" class="uDrag lined">
				<tr loop="$extra_keys => $key,$val">
					<td><div class="wrap" style="height:22px"><button type="button" class="dragBtn">Move to</button>
							<input type="hidden" name="extra_idx[]" value="{$val->idx}" class="_extra_idx" />
							<input type="hidden" name="extra_option[]" id="extra_option" value="{implode('|@|',array($val->is_required))}" />
							<input name="extra_eid[]" value="{$val->eid}" class="itxt _extra_eid" />
							<input name="extra_name[]" value="{htmlspecialchars($val->name)}" class="itxt _extra_name" id="name{$val->eid}" /><a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','name'.$val->eid)}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
							<br />
							<input name="extra_default[]" value="{$val->default}" class="itxt blue" />
							<input name="extra_desc[]" value="{htmlspecialchars($val->desc)}" class="itxt blue" id="desc{$val->eid}" /><a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','desc'.$val->eid)}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
							<span class="side">
								<label><input type="checkbox" class="extra_option" id="is_required" value="Y" checked="checked"|cond="$val->is_required == 'Y'" /> {$lang->is_required} </label>
								<a href="#delete" class="_delete fr">{$lang->cmd_delete}</a>
								<br />
								<label>
									<select name="extra_type[]">
										<option loop="$lang->column_type_list => $k,$v" cond="$key != 'kr_zip'" value="{$k}" selected="selected"|cond="$val->type==$k">{$lang->column_type_list[$k]}</option>
									</select>
								</label>
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
{@
	$langurl = getUrl('','module','module','act','dispModuleAdminLangcode');
	$dis_key = 'kr_zip';
}
<script type="text/javascript">
xe.lang.confirm_delete = "{$lang->confirm_delete}";
var addExtraKeysSample = '<tr><td><div class="wrap" style="height:22px"><button type="button" class="dragBtn">Move to</button> \
							<input type="hidden" name="extra_idx[]" value="0" class="0" /> \
							<input type="hidden" name="extra_option[]" id="extra_option" value="N" /> \
							<input name="extra_eid[]" value="" class="itxt _extra_eid" /> \
							<input name="extra_name[]" value="" class="itxt _extra_name" id="name" /><a href="{$langurl}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a> \
							<br /> \
							<input name="extra_default[]" value="" class="itxt blue" /> \
							<input name="extra_desc[]" value="" class="itxt blue" id="desc" /><a href="{$langurl}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a> \
							<span class="side"> \
								<label><input type="checkbox" class="extra_option" id="is_required" value="Y" /> {$lang->is_required} </label> \
								<a href="#delete" class="_delete fr">{$lang->cmd_delete}</a> \
								<br /> \
								<label> \
									<select name="extra_type[]"> \
										<option loop="$lang->column_type_list => $k,$v" cond="$key != $dis_key" value="{$k}">{$lang->column_type_list[$k]}</option> \
									</select> \
								</label> \
							</span> \
						</div> \
					</td></tr>';
</script>

<include target="footer.html" />
