<load target="css/admin.css" />
<load target="js/admin.js" />

<div class="lnb"|cond="$module=='admin'" class="cnb"|cond="$module!='admin'">
	<h2 cond="$module=='admin'" class="h2">{$lang->this_module}</h2>
	<ul>
		<li cond="$module=='admin'" loop="$lang->cmd_module_default_menus => $key,$val" class="active"|cond="$act == $key"><a href="{getUrl('act', $key, 'module_srl','')}">{$val}</a></li>
		<li cond="$module!='admin'"><a href="{urldecode(getUrl('mid',$module_info->mid,'act','','module','','module_srl',''))}">{$lang->cmd_back}</a></li>
		<block cond="$module_srl">
			<li cond="$module == 'admin'" class="module"><a href="{getSiteUrl($module_info->domain, '', 'mid', $module_info->mid)}" onclick="window.open(this.href); return false;">{cut_str($module_info->mid, 24)}</a></li>
			<li loop="$lang->cmd_module_menus => $key,$val" class="active"|cond="$act == $key"><a href="{urldecode(getUrl('','module',$module,'module_srl',$module_srl,'mid',($module=='admin'?'':$module_info->mid),'act',$key))}">{$val}</a></li>
		</block>
	</ul>
</div>

<div class="content">
	<h1 class="h1" style="margin-top:0"|cond="$module!='admin'">{$lang->cmd_module_default_menus[$act]?$lang->cmd_module_default_menus[$act]:$lang->cmd_module_menus[$act]}</h1>

	<p cond="$lang->desc_module_menus[$act]">
			{nl2br($lang->desc_module_menus[$act])}
	</p>

	<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
		<p>{$XE_VALIDATOR_MESSAGE}</p>
	</div>
