<include target="header.html" />
<block cond="file_exists('files/_debug_message.php')">
	*** 경고: ./files/_debug_message.php 파일을 삭제하세요. ***
	<br />
	<br />
	<br />
</block>
	<h3>도움말</h3>
	<ul>
		<li>
			<p class="q">권장사양</p>
			<p class="desc">
				XpressEngine Core 1.5.0.8 ~
			</p>
		</li>
		<li>
			<p class="q">라이센스</p>
			<p class="a">{$lang->about_license}</p>
			<p class="desc">
				주의.<br />
				이 조건은 "게시판 DX"의 스킨 제작자 분에게도 적용됩니다.<br />
				스킨 제작하실땐 하단에 다음 코드를 잘 보이는곳에 삽입해주세요.<br />
				<ol>
					<li>&lt;a href="#beluxe"&gt;Board DX&lt;/a&gt;</li>
				</ol>
				</p>
		</li>
		<li>
			<p class="q">참고사항</p>
			<p class="desc">
				카피라이트 (Copyright) 삭제는 경매 모듈이 포함된 프로 버전에서만 가능합니다.
			</p>
		</li>
	</ul>

<include target="footer.html" />
