<include target="header.html" />

<form ruleset="insertBeluxe" action="./" method="post" enctype="multipart/form-data" class="form" id="insertFo">
<input cond="$module=='admin'" type="hidden" name="module" value="{$module}" />
<input type="hidden" name="act" value="procBeluxeAdminInsert" />
<input type="hidden" name="page" value="{$page}" />
<input type="hidden" name="site_srl" value="{$module_info->site_srl}" />
<input type="hidden" name="module_srl" value="{$module_info->module_srl}" />

<input type="hidden" name="category_default_title" value="{$module_info->category_default_title}" />
<input type="hidden" name="category_default_type" value="{$module_info->category_default_type}" />

	<block cond="$module!='admin'">
		<input type="hidden" name="module_category_srl" value="{$module_info->module_category_srl}" />
		<input type="hidden" name="module_mid" value="{$module_info->mid}" />
	</block>

	<block cond="$module=='admin'">
		<h3 class="h3">{$lang->module}</h3>
		<ul>
			<li>
				<p class="q">{$lang->module_category}</p>
				<p class="a">
					<select name="module_category_srl">
						<option value="0">{$lang->notuse}</option>
						<option loop="$module_category => $key, $val" value="{$key}" selected="selected"|cond="$module_info->module_category_srl == $key">{$val->title}</option>
					</select>
				</p>
				<p class="desc">{$lang->about_module_category}</p>
			</li>
			<li>
				<p class="q">{$lang->mid} <em style="color:red">*</em></p>
				<p class="a">
					<input type="text" name="module_mid" value="{$module_info->mid}" />
				</p>
				<p class="desc">{$lang->about_mid}</p>
			</li>
		</ul>
	</block>

	<h3 class="h3">{$lang->skin}</h3>
	<ul>
		<li>
			<p class="q">{$lang->browser_title}</p>
			<p class="a">
				<input type="text" name="browser_title" value="{htmlspecialchars($module_info->browser_title)}" id="browser_title" />
				<a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','browser_title')}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
			</p>
			<p class="desc">{$lang->about_browser_title}</p>
		</li>
		<li>
			<p class="q">{$lang->layout}</p>
			<p class="a">
				<select name="layout_srl">
					<option value="0">{$lang->notuse}</option>
					<option loop="$layout_list => $key, $val" value="{$val->layout_srl}" selected="selected"|cond="$module_info->layout_srl == $val->layout_srl">{$val->title} ({$val->layout})</option>
				</select>
			</p>
			<p class="desc">{$lang->about_layout}</p>
		</li>
		<li>
			<p class="q">{$lang->skin}</p>
			<p class="a">
				<select name="skin">
					<option cond="!$skin_list || !count($skin_list)" value="">{$lang->notuse}</option>
					<option loop="$skin_list => $key, $val" value="{$key}" selected="selected"|cond="($module_srl && $module_info->skin == $key) || (!$module_srl && $key == 'default')">{$val->title}</option>
				</select>
			</p>
			<p class="desc">{$lang->about_skin}</p>
		</li>
		<li>
			<p class="q">{$lang->list_count}</p>
			<p class="a">
				<input type="text" name="list_count" value="{(int) ($module_info->list_count?$module_info->list_count:20)}"  />
			</p>
			<p class="desc">{$lang->about_list_count}</p>
		</li>
		<li>
			<p class="q">{$lang->page_count}</p>
			<p class="a">
				<input type="text" name="page_count" value="{(int) ($module_info->page_count?$module_info->page_count:10)}"  />
			</p>
			<p class="desc">{$lang->about_page_count}</p>
		</li>
		<li>
			<p class="q">{$lang->search_list_count}</p>
			<p class="a">
				<input type="text" name="search_list_count" value="{(int) ($module_info->search_list_count?$module_info->search_list_count:20)}"  />
			</p>
			<p class="desc">{$lang->about_search_list_count}</p>
		</li>
	</ul>

	<h3 class="h3">{$lang->target}</h3>
	<ul>
		<li>
			<p class="q"><span style="margin-right:130px">{$lang->order_target}</span><span>{$lang->order_type}</span></p>
			<p class="a">
				<span style="width:173px;display:inline-block">
					<select name="order_target">
						<option loop="$order_target => $key,$val" value="{$key}" selected="selected"|cond="$module_info->order_target == $key">{$val}</option>
					</select>
				</span>
				<span>
					<select name="order_type">
						<option value="asc" selected="selected"|cond="$module_info->order_type != 'desc'">{$lang->order_asc}</option>
						<option value="desc" selected="selected"|cond="$module_info->order_type == 'desc'">{$lang->order_desc}</option>
					</select>
				</span>
			</p>
		</li>
	</ul>

	<h3 class="h3">{$lang->cmd_list}</h3>
	<ul>
		<li>
			<p class="q">{$lang->notice}</p>
			<p class="a">
				<select name="notice_category">
					<option value="N" selected="selected"|cond="$module_info->notice_category != 'Y'">{$lang->list_options['category']['N']}</option>
					<option value="Y" selected="selected"|cond="$module_info->notice_category == 'Y'">{$lang->list_options['category']['Y']}</option>
				</select>
			</p>
		</li>
		<li>
			<p class="q">{$lang->best}</p>
			<p class="a">
				<select name="best_category">
					<option value="N" selected="selected"|cond="$module_info->best_category != 'Y'">{$lang->list_options['category']['N']}</option>
					<option value="Y" selected="selected"|cond="$module_info->best_category == 'Y'">{$lang->list_options['category']['Y']}</option>
				</select>
			</p>
			<p class="a">
				<label>{$lang->document}:</label>
				<input type="checkbox" name="use_best" value="Y" checked="checked"|cond="$module_info->use_best=='Y'" />
				<span class="desc">
					<label>
						{$lang->best_options['index']}
						<select name="best_index">
							<option value="voted_count" selected="selected"|cond="$module_info->best_index != 'readed_count'">{$lang->voted_count}</option>
							<option value="readed_count" selected="selected"|cond="$module_info->best_index == 'readed_count'">{$lang->readed_count}</option>
						</select>
					</label>
					<label>
						<select name="best_voted">
							{@ $date_count = explode(',',$lang->best_options['more_list'])}
							<option loop="$date_count=>$val" value="{$val}" selected="selected"|cond="$module_info->best_voted == $val">{$val} more</option>
						</select>
					</label>
					<label>
						{$lang->best_options['date']}
						<select name="best_date">
							{@ $date_count = explode(',',$lang->best_options['date_list'])}
							<option loop="$date_count=>$val" value="{$val}" selected="selected"|cond="$module_info->best_date == $val">{$val} before</option>
						</select>
					</label>
					<label>
						{$lang->best_options['count']}
						<select name="best_count">
							{@ $date_count = explode(',',$lang->best_options['count_list'])}
							<option loop="$date_count=>$val" value="{$val}" selected="selected"|cond="$module_info->best_count == $val">{$val}</option>
						</select>
					</label>
				</span>
			</p>
			<p class="a">
				<label>{$lang->comment}:</label>
				<input type="checkbox" name="use_c_best" value="Y" checked="checked"|cond="$module_info->use_c_best=='Y'" />
				<span class="desc">
					<label>
						{$lang->best_options['index']}
						<select>
							<option>{$lang->voted_count}</option>
						</select>
					</label>
					<label>
						<select name="best_c_voted">
							{@ $date_count = explode(',',$lang->best_options['more_list'])}
							<option loop="$date_count=>$val" value="{$val}" selected="selected"|cond="$module_info->best_c_voted == $val">{$val} more</option>
						</select>
					</label>
					<label>
						{$lang->best_options['date']}
						<select name="best_c_date">
							{@ $date_count = explode(',',$lang->best_options['date_list'])}
							<option loop="$date_count=>$val" value="{$val}" selected="selected"|cond="$module_info->best_c_date == $val">{$val} before</option>
						</select>
					</label>
					<label>
						{$lang->best_options['count']}
						<select name="best_c_count">
							{@ $date_count = explode(',',$lang->best_options['count_list'])}
							<option loop="$date_count=>$val" value="{$val}" selected="selected"|cond="$module_info->best_c_count == $val">{$val}</option>
						</select>
					</label>
				</span>
			</p>
			<p class="desc">{$lang->about_use_best}</p>
		</li>
	</ul>

	<h3 class="h3">{$lang->cmd_option}</h3>
	<ul>
		<li>
			<p class="a">
				<label class="p">{$lang->document}:</label>
				{@ $use_status = explode(',', $module_info->use_status)}
				<label loop="$document_status_list => $key,$val" cond="$key != 'PRIVATE' && $key != 'TEMP'">
					<input type="checkbox" name="use_status[]" value="{$key}" checked="checked"|cond="in_array($key, $use_status)" />
					{$val}
				</label>
			</p>
			<p class="a">
				<label class="p">{$lang->comment}:</label>
				{@ $use_status = explode(',', $module_info->use_c_status)}
				<label loop="$document_status_list => $key,$val" cond="$key != 'PRIVATE' && $key != 'TEMP'">
					<input type="checkbox" name="use_c_status[]" value="{$key}" checked="checked"|cond="in_array($key, $use_status)" />
					{$val}
				</label>
			</p>
		</li>
		<li>
			<p class="q">{$lang->status}</p>
			<p class="a">
				<input type="text" name="custom_status" value="{htmlspecialchars($module_info->custom_status)}" />
			</p>
			<p class="desc">{$lang->about_custom_status}</p>
		</li>
		<li>
			<p class="q">{$lang->use_anonymous}</p>
			<p class="a">
				<input type="checkbox" name="use_anonymous" value="Y" checked="checked"|cond="$module_info->use_anonymous=='Y'" />
				<span class="desc">{$lang->about_use_anonymous}</span>
			</p>
		</li>
		<li>
			<p class="q">{$lang->consultation}</p>
			<p class="a">
				<input type="checkbox" name="consultation" value="Y" checked="checked"|cond="$module_info->consultation=='Y'" />
				<span class="desc">{$lang->about_consultation}</span>
			</p>
		</li>
		<li>
			<p class="q">{$lang->trash} (TODO 예정)</p>
			<p class="a">
				<input type="checkbox" name="use_trash" value="Y" checked="checked"|cond="$module_info->use_trash == 'Y'" />
				<span class="desc">{$lang->about_use_trash}</span>
			</p>
		</li>
	</ul>

	<h3 class="h3">{$lang->mobile}</h3>
	<ul>
		<li>
			<p class="q">{$lang->mobile_view}</p>
			<p class="a">
				<input type="checkbox" name="use_mobile" value="Y" checked="checked"|cond="$module_info->use_mobile == 'Y'" />
				<span class="desc">{$lang->about_mobile_view}</span>
			</p>
		</li>
		<li>
			<p class="q">{$lang->mobile_layout}</p>
			<p class="a">
				<select name="mlayout_srl">
				<option value="0">{$lang->notuse}</option>
				<option loop="$mlayout_list => $key,$val" value="{$val->layout_srl}" selected="selected"|cond="$module_info->mlayout_srl==$val->layout_srl" >{$val->title} ({$val->layout})</option>
				</select>
			</p>
			<p class="desc">{$lang->about_layout}</p>
		</li>
		<li>
			<p class="q">{$lang->mobile_skin}</p>
			<p class="a">
				<select name="mskin">
				<option cond="!$mskin_list || !count($mskin_list)" value="">{$lang->notuse}</option>
				<option loop="$mskin_list => $key,$val" value="{$key}" selected="selected"|cond="$module_info->mskin==$key ||(!$module_info->mskin && $key=='default')">{$val->title}</option>
				</select>
			</p>
			<p class="desc">{$lang->about_skin}</p>
		</li>
	</ul>

	<h3 class="h3">{$lang->etc}</h3>
	<ul>
		<li>
			<p class="q">{$lang->header_text}</p>
			<p class="a">
				<textarea name="header_text" id="header_text">{htmlspecialchars($module_info->header_text)}</textarea>
				<a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','header_text')}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
			</p>
			<p class="desc">{$lang->about_header_text}</p>
		</li>
		<li>
			<p class="q">{$lang->footer_text}</p>
			<p class="a">
				<textarea name="footer_text" id="footer_text">{htmlspecialchars($module_info->footer_text)}</textarea>
				<a href="{getUrl('','module','module','act','dispModuleAdminLangcode','target','footer_text')}" onclick="popopen(this.href);return false;" class="buttonSet buttonSetting"><span>{$lang->cmd_find_langcode}</span></a>
			</p>
			<p class="desc">{$lang->about_footer_text}</p>
		</li>
	</ul>

	<h3 class="h3">{$lang->cmd_management}</h3>
	<ul>
		<li>
			<p class="q">{$lang->admin_email_address}</p>
			<p class="a">
				<input type="text" name="admin_mail" value="{htmlspecialchars($module_info->admin_mail)}"  />
			</p>
			<p class="desc">{$lang->about_admin_mail}</p>
		</li>
		<li>
			<p class="q">{$lang->description}</p>
			<p class="a">
				<textarea name="description">{htmlspecialchars($module_info->description)}</textarea>
			</p>
			<p class="desc">{$lang->about_description}</p>
		</li>
	</ul>

	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->this_module.' '.($module_info->module_srl?$lang->cmd_update:$lang->cmd_registration)}" accesskey="s" /></span>
	</div>
</form>

<include target="footer.html" />
