<include target="header.html" />

<div class="table even">
	<table width="100%" border="1" cellspacing="0">
		<caption>
			{$module_category_srl>0?$module_category[$module_category_srl]->title:$lang->total} ({number_format($total_count)})
		</caption>
		<thead>
			<tr>
				<th scope="col" class="select_th">
					<select class="changeLocation" name="module_category_srl">
						<option value="">{$lang->category}</option>
						<option value="0" selected="selected"|cond="$module_category_srl == '0'">{$lang->not_exists}</option>
						<option loop="$module_category => $key,$val" value="{$key}" selected="selected"|cond="$module_category_srl==$key">{$val->title}</option>
						<option value="">---------</option>
						<option value="-1">{$lang->cmd_management}</option>
					</select>
				</th>
				<th scope="col">{$lang->no}</th>
				<th scope="col">{$lang->cmd_move}</th>
				<th scope="col" class="wide">{$lang->title} ({$lang->cmd_setup})</th>
				<th scope="col">{$lang->regdate}</th>
				<th scope="col">{$lang->cmd_delete}</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="6"><span class="btn small fr"><a href="{getUrl('', 'module', 'admin', 'act', 'dispBeluxeAdminInsert')}">{$lang->cmd_make}</a></span></td>
			</tr>
		</tfoot>
		<tbody>
			<tr loop="$this_module_list=>$key,$val">
				<td class="module_category">
					<!--@if(!$val->module_category_srl)-->
						<!--@if($val->site_srl)-->
						{$lang->virtual_site}
						<!--@else-->
						{$lang->not_exists}
						<!--@end-->
					<!--@else-->
						{$module_category[$val->module_category_srl]->title}
					<!--@end-->
				</td>
				<td>{$key}</td>
				<td><a href="{getSiteUrl($val->domain,'','mid',$val->mid)}" onclick="window.open(this.href); return false;" class="buttonSet buttonHomepage"><span>{$lang->cmd_move}</span></a></td>
				<td class="module_title wide"><a href="{getUrl('','module','admin', 'act','dispBeluxeAdminModuleInfo','module_srl',$val->module_srl)}">{htmlspecialchars($val->browser_title)}</a></td>
				<td class="module_regdate">{zdate($val->regdate,"Y-m-d")}</td>
				<td><a href="#deleteForm" title="{$lang->cmd_delete}" class="modalAnchor" data-val="{$val->mid}|@|{$val->module_srl}"><span>{$lang->cmd_delete}</span></a></td>
			</tr>
		</tbody>
	</table>
</div>

<div cond="$page_navigation" class="search">
	<form action="" class="pagination" method="post">
	<input cond="$module=='admin'" type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="error_return_url" value="" />
	<input type="hidden" name="act" value="{$act}" />
	<input cond="$order_target" type="hidden" name="order_target" value="{$order_target}" />
	<input cond="$order_type" type="hidden" name="order_type" value="{$order_type}" />
	<input cond="$category_srl" type="hidden" name="category_srl" value="{$category_srl}" />
	<input cond="$childrenList" type="hidden" name="childrenList" value="{$childrenList}" />
	<input cond="$search_keyword" type="hidden" name="search_keyword" value="{$search_keyword}" />

		<a href="{getUrl('page', '')}" class="direction">&laquo; FIRST</a>

		<block cond="$page_navigation->first_page + $page_navigation->page_count > $page_navigation->last_page && $page_navigation->page_count != $page_navigation->total_page">
			{@$isGoTo = true}
			<a href="{getUrl('page', '')}">1</a>
			<a href="#goTo" class="tgAnchor" title="{$lang->cmd_go_to_page}">...</a>
		</block>

		<!--@while($page_no = $page_navigation->getNextPage())-->
			{@$last_page = $page_no}
			<strong cond="$page_no == $page">{$page_no}</strong>
			<a cond="$page_no != $page" href="{getUrl('page', $page_no)}">{$page_no}</a>
		<!--@end-->

		<block cond="$last_page != $page_navigation->last_page">
			{@$isGoTo = true}
			<a href="#goTo" class="tgAnchor" title="{$lang->cmd_go_to_page}">...</a>
			<a href="{getUrl('page', $page_navigation->last_page)}">{$page_navigation->last_page}</a>
		</block>

		<a href="{getUrl('page', $page_navigation->last_page)}" class="direction">LAST &raquo;</a>

		<span cond="$isGoTo" id="goTo" class="tgContent">
			<input name="page" title="{$lang->cmd_go_to_page}" />
			<button type="submit">Go</button>
		</span>
	</form>
	<form action="" method="post" onsubmit="return (this.search_keyword.value!='')">
	<input cond="$module=='admin'" type="hidden" name="module" value="{$module}" />
		<!--@if(count($usedIdentifiers))-->
		<select name="search_target">
			<option value="">{$lang->search_target}</option>
			{@$lang->search_target_list = array_merge($lang->search_target_list, $usedIdentifiers)}
			<option value="{$key}" loop="$lang->search_target_list=>$key,$val" selected="selected"|cond="$search_target==$key">{$val}</option>
		</select>
		<!--@else-->
		<input type="hidden" name="search_target" value="" />
		<!--@endif-->
		<input type="text" name="search_keyword" value="{htmlspecialchars($search_keyword)}" />
		<span class="btn"><input type="submit" value="{$lang->cmd_search}" /></span>
		<span class="btn"><a href="{getUrl('search_target', '', 'search_keyword', '')}">{$lang->cmd_cancel}</a></span>
	</form>
</div>

<div class="modal" id="deleteForm">
	<form ruleset="deleteBeluxe" class="fg form" action="./" method="post" id="deleteFo">
	<input cond="$module=='admin'" type="hidden" name="module" value="{$module}" />
	<input type="hidden" name="act" value="procBeluxeAdminDelete" />
	<input type="hidden" name="page" value="{$page}" />
	<input type="hidden" name="module_srl" value="" />

	<h2 class="h2">{$lang->confirm_delete}</h2>
	<div class="table even">
		<table width="100%" border="1" cellspacing="0">
			<tr>
				<th scope="row">{$lang->module_category}</th>
				<td class="module_category wide">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">{$lang->mid}</th>
				<td class="module_mid wide">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">{$lang->browser_title}</th>
				<td class="module_title">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">{$lang->regdate}</th>
				<td class="module_regdate wide">&nbsp;</td>
			</tr>
		</table>
	</div>

	<div class="btnArea">
		<span class="etc"><strong class="colRed">Warning! </strong> {$lang->msg_delete_this_module}</span>
		<span class="btn"><button type="button" title="Close this layer" onclick="jQuery('#deleteForm').data('anchor').trigger('close.mw')">{$lang->cmd_back}</button></span>
		<span class="btn"><input type="submit" value="{$lang->cmd_delete}" /></span>
	</div>
	</form>
</div>

<include target="footer.html" />
