	</div>
	<div class="footer">
		<p class="power">Powered by <strong><a href="{_XE_LOCATION_SITE_}">XE</a></strong> (ver. {__ZBXE_VERSION__}).</p>
		<p class="cache">
			<button type="button" class="text" onclick="doResetAdminMenu();">{$lang->cmd_admin_menu_reset}</button>
			<button type="button" class="text" onclick="doRecompileCacheFile();">{$lang->cmd_remake_cache}</button>
			<button type="button" class="text" onclick="doClearSession();">{$lang->cmd_clear_session}</button>
			<a href="http://code.google.com/p/xe-core/issues/entry">{$lang->bug_report}</a>
		</p>
	</div>
</div>
<script type="text/javascript">
xe.current_lang = '{$lang_type}';
xe.lang.confirm_run = '{$lang->confirm_run}';
xe.lang.confirm_reset_admin_menu = '{$lang->confirm_reset_admin_menu}';
admin_menu_srl = '{$admin_menu_srl}';
</script>

<load target="./js/config.js" usecdn="true" />
<load target="../../session/tpl/js/session.js" usecdn="true" />
