<!--#include("./_spHeader.html")-->
<div class="content dashboard" id="content">
<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
	<!--@if(!$isEnviromentGatheringAgreement)-->
	<form action="./" method="post" class="message info">
	<input type="hidden" name="module" value="admin" />
	<input type="hidden" name="act" value="procAdminEnviromentGatheringAgreement" />
		<h2>{$lang->install_env_agreement}</h2>
		<p>{$lang->install_env_agreement_desc}</p>
		<div class="btnArea">
			<span class="btn"><button type="submit" name="is_agree" value="true">{$lang->agree}</button></span>
			<span class="btn"><button type="submit" name="is_agree" value="false">{$lang->disagree}</button></span>
		</div>
	</form>
	<!--@end-->
	<!--@if($isUpdated)-->
	<div class="message update">
		<h2>{$lang->update_available}</h2>
		<ul>
		<!--@foreach($module_list AS $key => $value)-->
			<!--@if($value->need_install)-->
			<li><a href="{getUrl('','module','admin','act',$val->admin_index_act)}">{$value->module}</a> - <a href="#" onclick="doInstallModule('{$value->module}');return false;">{$lang->cmd_install}</a></li>
			<!--@else if($value->need_update)-->
			<li><a href="{getUrl('','module','admin','act',$val->admin_index_act)}">{$value->module}</a> - <a href="#" onclick="doUpdateModule('{$value->module}')">{$lang->cmd_update}</a></li>
			<!--@end-->
		<!--@end-->
		</ul>
	</div>
	<!--@end-->
	<div class="section">
		<div class="portlet">
			<h2 class="h2">{$lang->current_state}</h2>
			<ul class="lined">
				<li><a href="{getUrl('', 'module', 'admin', 'act', 'dispMemberAdminList')}">{$lang->menu_gnb['user']}</a> <span class="side">{number_format($status->member->totalCount)}(<!--@if($status->member->todayCount > 0)-->+<!--@end-->{number_format($status->member->todayCount)})</span></li>
				<li><a href="{getUrl('', 'module', 'admin', 'act', 'dispDocumentAdminList')}">{$lang->menu_gnb_sub['document']}</a> <span class="side">{number_format($status->document->totalCount)}(<!--@if($status->document->todayCount > 0)-->+<!--@end-->{number_format($status->document->todayCount)})</span></li>
				<li><a href="{getUrl('', 'module', 'admin', 'act', 'dispCommentAdminList')}">{$lang->menu_gnb_sub['comment']}</a> <span class="side">{number_format($status->comment->totalCount)}(<!--@if($status->comment->todayCount > 0)-->+<!--@end-->{$status->comment->todayCount})</span></li>
				<li><a href="{getUrl('', 'module', 'admin', 'act', 'dispTrackbackAdminList')}">{$lang->menu_gnb_sub['trackback']}</a> <span class="side">{number_format($status->trackback->totalCount)}(<!--@if($status->trackback->todayCount > 0)-->+<!--@end-->{$status->trackback->todayCount})</span></li>
				<li><a href="{getUrl('', 'module', 'admin', 'act', 'dispFileAdminList')}">{$lang->menu_gnb_sub['file']}</a> <span class="side">{number_format($status->file->totalCount)}(<!--@if($status->file->todayCount > 0)-->+<!--@end-->{number_format($status->file->todayCount)})</span></li>
			</ul>
		</div>
		<div class="portlet">
			<h2 class="h2">{$lang->latest_document}</h2>
			<ul class="lined">
				<!--@foreach($latestDocumentList AS $key=>$value)-->
				{@$document = $value->variables}
				<li>
					<a href="{getUrl('', 'document_srl', $document['document_srl'])}" target="_blank"><!--@if(trim($value->getTitle()))-->{$value->getTitle()}<!--@else--><strong>{$lang->no_title_document}</strong><!--@end--></a> <span class="side">{$document['nick_name']}</span>
					<span class="action">
						<form>
						<input type="hidden" name="module" value="admin" />
						<input type="hidden" name="act" value="procDocumentManageCheckedDocument" />
						<input type="hidden" name="cart[]" value="{$document['document_srl']}" />
						<input type="hidden" name="success_return_url" value="{getUrl('', 'module', 'admin')}" />
						<button type="submit" name="type" value="trash" class="text">{$lang->cmd_trash}</button>
						<button type="submit" name="type" value="delete" class="text">{$lang->cmd_delete}</button>
						</form>
					</span>
				</li>
				<!--@end-->
				<li cond="!is_array($latestDocumentList) || count($latestDocumentList) < 1">{$lang->no_data}</li>
			</ul>
		</div>
		<div class="portlet">
			<h2 class="h2">{$lang->latest_comment}</h2>
			<ul class="lined">
				<!--@foreach($latestCommentList AS $key=>$value)-->
				<li>
					<a href="{getUrl('', 'document_srl', $value->document_srl)}#comment_{$value->comment_srl}" target="_blank"><!--@if(trim($value->content))-->{$value->getSummary()}<!--@else--><strong>{$lang->no_text_comment}</strong><!--@end--></a> <span class="side">{$value->nick_name}</span> 
					<span class="action">
						<form>
						<input type="hidden" name="module" value="admin" />
						<input type="hidden" name="act" value="procCommentAdminDeleteChecked" />
						<input type="hidden" name="cart[]" value="{$value->comment_srl}" />
						<input type="hidden" name="success_return_url" value="{getUrl('', 'module', 'admin')}" />
						<button type="submit" name="is_trash" value="true" class="text">{$lang->cmd_trash}</button>
						<button type="submit" name="is_trash" value="false" class="text">{$lang->cmd_delete}</button>
						</form>
					</span>
				</li>
				<!--@end-->
				<li cond="!is_array($latestCommentList) || count($latestCommentList) < 1">{$lang->no_data}</li>
			</ul>
		</div>
		<div class="portlet">
			<h2 class="h2">{$lang->latest_trackback}</h2>
			<ul class="lined">
				<!--@foreach($latestTrackbackList AS $key=>$value)-->
				<li>
					<a href="{$value->url}" target="_blank">{$value->title}</a> <span class="side">{$value->blog_name}</span>
					<span class="action">
						<form>
						<input type="hidden" name="module" value="admin" />
						<input type="hidden" name="act" value="procTrackbackAdminDeleteChecked" />
						<input type="hidden" name="cart[]" value="{$value->trackback_srl}" />
						<input type="hidden" name="success_return_url" value="{getUrl('', 'module', 'admin')}" />
						<button type="submit" class="text">{$lang->cmd_delete}</button>
						</form>
					</span>
				</li>
				<!--@end-->
				<li cond="!is_array($latestTrackbackList) || count($latestTrackbackList) < 1">{$lang->no_data}</li>
			</ul>
		</div>
		<div class="portlet">
			<h2 class="h2">{$lang->notice}</h2>
			<ul class="lined">
				<!--@foreach($news AS $key=>$value)-->
				<li><a href="{$value->url}" target="_blank">{$value->title}</a> <span class="side">{zdate($value->date, 'Y-m-d')}</span></li>
				<!--@end-->
				<li cond="!is_array($news) || count($news) < 1">{$lang->no_data}</li>
			</ul>
		</div>
		<div class="portlet">
			<h2 class="h2">{$lang->favorite}</h2>
			<ul class="lined">
				<li loop="$favorite_list => $favorite">
					<a href="{getUrl('act', $favorite->admin_index_act)}">{$favorite->title}</a>
					<form class="action" action="">
						<input type="hidden" name="module" value="admin" />
						<input type="hidden" name="act" value="procAdminToggleFavorite" />
						<input type="hidden" name="site_srl" value="0" />
						<input type="hidden" name="module_name" value="{$favorite->module}" />
						<input type="hidden" name="success_return_url" value="{getUrl('', 'module', 'admin')}" />
						<button type="submit" class="text">{$lang->cmd_delete}</button>
					</form>
				</li>
				<li cond="!is_array($favorite_list) || count($favorite_list) < 1">{$lang->no_data}</li>
			</UL>
		</div>
	</div>
</div>
<!--#include("./_spFooter.html")-->
