<div class="title">제목 : {$oDocument->getTitle()}</div>
<div class="content">내용 : {$oDocument->getContent()}</div>
<div class="tag">태그 : {implode(',', $oDocument->get('tag_list'))}</div>
<!--@if($grant->manager)-->
    <!--%import("./js/page_admin.js")-->
    <div class="tRight gap1 clear">
		<!--@if($logged_info->is_admin=='Y')-->
        <a href="{getUrl('act','dispPageAdminInfo','module_srl',$module_info->module_srl)}" class="button green"><span>{$lang->cmd_setup}</span></a>
        <!--@end-->
        <a href="{getUrl('act','dispPageAdminContentModify','document_srl','')}" class="button red"><span>{$lang->cmd_page_modify}</span></a>
    </div>
<!--@end-->
