<load target="js/xe_official.js" />
<load target="css/default.css" cond="$layout_info->colorset=='default' || !$layout_info->colorset" />
<load target="css/white.css" cond="$layout_info->colorset=='white'" />
<load target="css/black.css" cond="$layout_info->colorset=='black'" />
<style type="text/css" cond="$layout_info->background_image">
body{background:url({getUrl()}{$layout_info->background_image}) repeat-x left top;}
</style>
<!--@if(!$layout_info->colorset)-->{@$layout_info->colorset = "default"}<!--@end-->
<div class="xe">
	<div class="header">
		<h1>
			<a href="{$layout_info->index_url}" cond="$layout_info->logo_image"><img src="{$layout_info->logo_image}" alt="logo" border="0" class="iePngFix" /></a>
			<a href="{$layout_info->index_url}" cond="!$layout_info->logo_image">{$layout_info->logo_image_alt}</a>
		</h1>
		<div class="language">
			<strong title="{$lang_type}">{$lang_supported[$lang_type]}</strong> <button type="button" class="toggle"><img src="./images/{$layout_info->colorset}/buttonLang.gif" alt="Select Language" width="87" height="15" /></button>
			<ul class="selectLang">
				<li loop="$lang_supported=>$key,$val" cond="$key!= $lang_type"><button type="button" onclick="doChangeLangType('{$key}');return false;">{$val}</button></li>
			</ul>
		</div>
		<div class="gnb">
			<ul>
				<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
					<ul cond="$val1['list']">
						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<form action="{getUrl()}" method="post" class="iSearch">
			<input type="hidden" name="vid" value="{$vid}" cond="$vid" />
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="act" value="IS" />
			<input type="hidden" name="search_target" value="title_content" />
			<input name="is_keyword" type="text" class="iText" title="keyword" />
			<input type="image" src="./images/{$layout_info->colorset}/buttonSearch.gif" alt="{$lang->cmd_search}" class="submit" />
		</form>
	</div>
	<div class="body">
		<div class="lnb">
			<img widget="login_info" skin="xe_official" colorset="{$layout_info->colorset}" />
			<h2 loop="$main_menu->list=>$key1,$val1" cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a></h2>
			<ul class="locNav" loop="$main_menu->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
				<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
					<ul cond="$val2['list']">
						<li loop="$val2['list']=>$key3,$val3" class="active"|cond="$val3['selected']"><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'">{$val3['link']}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="content xe_content">
			{$content}
		</div>
	</div>
	<div class="footer">
		<p><a href="http://xpressengine.com/" target="_blank">Powered by <strong>XE</strong></a></p>
	</div>
</div>
