<load target="js/board_admin.js" />

<h1 class="h1">{$lang->board_management}</h1>

<block cond="$module_info">
	<block cond="$module_info->mid">
		<h2 class="h2">{$module_info->mid}</h2>
		<p>
			<block cond="$module_info->is_default=='Y'">{$lang->is_default} | </block>
			<a href="{getSiteUrl($module_info->domain,'','mid',$module_info->mid)}" target="_blank">View</a>
		</p>
	</block>

	<div class="cnb">
		<ul>
			<li cond="$module=='admin'" class="active"|cond="$act=='dispBoardAdminContent'"><a href="{getUrl('act','dispBoardAdminContent','module_srl','')}">{$lang->cmd_board_list}</a></li>
			<li cond="$module!='admin'"><a href="{getUrl('act','')}">{$lang->cmd_back}</a></li>
			<li class="active"|cond="$act=='dispBoardAdminBoardInfo'||$act=='dispBoardAdminInsertBoard'"><a href="{getUrl('act','dispBoardAdminBoardInfo')}"><!--@if($module_srl)-->{$lang->cmd_view_info}<!--@else-->{$lang->cmd_create_board}<!--@end--></a></li>
			<block cond="$module_srl">
				<li class="active"|cond="$act=='dispBoardAdminCategoryInfo'"><a href="{getUrl('act','dispBoardAdminCategoryInfo')}">{$lang->cmd_manage_category}</a></li>
				<li class="active"|cond="$act=='dispBoardAdminExtraVars'"><a href="{getUrl('act','dispBoardAdminExtraVars')}">{$lang->extra_vars}</a></li>
				<li class="active"|cond="$act=='dispBoardAdminListSetup'"><a href="{getUrl('act','dispBoardAdminListSetup')}">{$lang->cmd_list_setting}</a></li>
				<li class="active"|cond="$act=='dispBoardAdminGrantInfo'"><a href="{getUrl('act','dispBoardAdminGrantInfo')}">{$lang->cmd_manage_grant}</a></li>
				<li class="active"|cond="$act=='dispBoardAdminBoardAdditionSetup'"><a href="{getUrl('act','dispBoardAdminBoardAdditionSetup')}">{$lang->cmd_addition_setup}</a></li>
				<li class="active"|cond="$act=='dispBoardAdminSkinInfo'"><a href="{getUrl('act','dispBoardAdminSkinInfo')}">{$lang->cmd_manage_skin}</a></li>
			</block>
		</ul>
	</div>
</block>
