<!--#include("./header.html")-->
<!--%import("css/board.css")-->
<load target="../../module/tpl/js/multi_order.js" />

<h3 class="h3">{$lang->cmd_list_setting}</h3>
<p>{$lang->about_list_config}</p>

<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
	<p>{$XE_VALIDATOR_MESSAGE}</p>
</div>

<form class="form" action="./" method="post">
	<input type="hidden" name="board" value="board" />
	<input type="hidden" name="act" value="procBoardAdminInsertListConfig" />
	<input type="hidden" name="module_srl" value="{$module_srl}" />
	<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />

	{@$list = array_keys($list_config)}
	<input type="hidden" name="list" value="{implode(',', $list)}" />
	<select class="multiorder_show" size="8" multiple="multiple" style="width:290px;vertical-align:top">
		<option loop="$extra_vars => $key, $val" cond="!$list_config[$key]" value="{$key}">{$val->name}</option>
	</select>
	<button type="button" class="text multiorder_add" style="vertical-align:top">{$lang->cmd_insert}</button>
	<select class="multiorder_selected" size="8" multiple="multiple" style="width:290px;vertical-align:top">
		<option loop="$list_config => $key, $val" value="{$key}">{$val->name}</option>
	</select>
	<button type="button" class="text multiorder_up" style="vertical-align:top">{$lang->cmd_move_up}</button>
	<button type="button" class="text multiorder_down" style="vertical-align:top">{$lang->cmd_move_down}</button>
	<button type="button" class="text multiorder_del" style="vertical-align:top">{$lang->cmd_delete}</button>
	<script type="text/javascript">
		xe.registerApp(new xe.MultiOrderManager('list'));
	</script>

	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_save}" /></span>
	</div>

</form>
