<include target="./common_header.html" />
<h1 class="h1">{$member_title = $lang->cmd_modify_member_password}</h1>
<form ruleset="modifyPassword" id="fo_insert_member" class="form" action="./" method="post">
	<input type="hidden" name="module" value="member" />
	<input type="hidden" name="act" value="procMemberModifyPassword" />
    <input type="hidden" name="mid" value="{$mid}" />
    <input type="hidden" name="document_srl" value="{$document_srl}" />
    <input type="hidden" name="page" value="{$page}" />
	<ul>
		<li>
			<p class="q"><label for="uid">{$lang->user_id}</label></p>
			<p class="a"><input type="text" disabled="disabled" value="{$member_info->user_id}" id="uid" /></p>
		</li>
		<li>
			<p class="q"><label for="cpw">{$lang->current_password}</label></p>
			<p class="a"><input type="password" name="current_password" id="cpw" /></p>
		</li>
		<li>
			<p class="q"><label for="npw1">{$lang->password1}</label></p>
			<p class="a"><input type="password" name="password1" id="npw1" /> <span class="desc">{$lang->about_password}</span></p>
		</li>
		<li>
			<p class="q"><label for="npw2">{$lang->password2}</label></p>
			<p class="a"><input type="password" name="password2" id="npw2" /></p>
		</li>
	</ul>
	<div class="btnArea">
		<span class="btn"><input type="submit" value="{$lang->cmd_registration}" /></span>
	</div>
</form>
<include target="./common_footer.html" />
