<load target="../../tpl/js/signup_check.js" />
<!--// datepicker javascript plugin load -->
<!--%load_js_plugin("ui")-->
<!--%load_js_plugin("ui.datepicker")-->
<include target="./common_header.html" />
    <h1 class="h1">{$lang->cmd_signup}</h1>
	<div cond="$XE_VALIDATOR_MESSAGE" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
		<p>{$XE_VALIDATOR_MESSAGE}</p>
	</div>
    <form ruleset="@insertMember" id="fo_insert_member" class="form" action="./" method="post" enctype="multipart/form-data">
		<input type="hidden" name="module" value="member" />
		<input type="hidden" name="act" value="procMemberInsert" />
		<!--@if(!$is_logged && $member_config->agreement)-->
		<div class="agreement">
			<div class="text">
				{$member_config->agreement}
			</div>
			<div class="confirm">
				<input type="checkbox" name="accept_agreement" value="Y" id="accept_agree" />
				<label for="accept_agree">{$lang->about_accept_agreement}</label>
			</div>
		</div>
		<!--@end-->
		<ul>
			<li>
				<p class="q">{$identifierForm->title} <em style="color:red">*</em></p>
				<p class="a">
					<input type="text" name="{$identifierForm->name}" value="{$identifierForm->value}" />
				</p>
			</li>
			<li>
				<p class="q">{$lang->password} <em style="color:red">*</em></p>
				<p class="a">
					<input type="password" name="password" value=""/>
				</p>
			</li>
			<li>
				<p class="q">{$lang->password2} <em style="color:red">*</em></p>
				<p class="a">
					<input type="password" name="password2" value=""/>
				</p>
			</li>
			<li loop="$formTags=>$formTag" cond="$formTag->name != 'signature'">
				<p class="q">{$formTag->title}</p>
				<div class="a">{$formTag->inputTag}</div>
			</li>
			<li>
				<p class="q">{$lang->allow_mailing}</p>
				<p class="a">
					<input type="radio" name="allow_mailing" id="mailingYes" value="Y" checked="checked"|cond="$member_info->allow_mailing == 'Y'"> <label for="mailingYes">{$lang->cmd_yes}</label>
					<input type="radio" name="allow_mailing" id="mailingNo" value="N" checked="checked"|cond="$member_info->allow_mailing != 'Y'" > <label for="mailingNo">{$lang->cmd_no}</label>
				</p>
			</li>
			<li>
				<p class="q">{$lang->allow_message}</p>
				<p class="a">
					<block loop="$lang->allow_message_type=>$key,$val">
						<input type="radio" name="allow_message" value="{$key}" checked="checked"|cond="$member_info->allow_message == $key || (!$member_info && $key == 'Y')" id="allow_{$key}" /> <label for="allow_{$key}">{$val}</label>
					</block>
				</p>
			</li>
			<li cond="class_exists('AddonCaptcha') && $oCaptcha && $oCaptcha->addon_info->apply_signup=='apply'">
				<p class="q">{$lang->captcha}</p>
				<p class="a">
					{$oCaptcha->inlineDisplay()}
				</p>
			</li>
		</ul>
		<div class="btnArea">
			<span class="btn"><input type="submit" value="{$lang->cmd_registration}" /></span>
			<span class="btn"><a href="{getUrl('act','','member_srl','')}">{$lang->cmd_cancel}</a></span>
		</div>
	</form>
	<script type="text/javascript">
	(function($){
		$(function(){
			var option = { changeMonth: true, changeYear: true, gotoCurrent: false,yearRange:'-100:+10', dateFormat:'yy-mm-dd', onSelect:function(){
	
				$(this).prev('input[type="hidden"]').val(this.value.replace(/-/g,""))}
			};
			$.extend(option,$.datepicker.regional['{$lang_type}']);
			$(".inputDate").datepicker(option);
			$(".dateRemover").click(function() {
				$(this).parent().prevAll('input').val('');
				return false;});
		});
	})(jQuery);
	</script>
<include target="./common_footer.html" />
