<style type="text/css">
.sorry{width:50%;margin:2em auto;padding:2em 3em;border:4px solid #444;font-family:Tahoma, Geneva, sans-serif;background:#666;border-radius:10px;box-shadow:0 0 10px #999;overflow:hidden}
.sorry .hx{float:left;margin:0 20px 0 0;color:#fff}
.sorry .msg{float:left;border-left:1px solid #fff;padding:0 0 0 20px;color:#eee}
.sorry h1{font-size:32px;margin:0;white-space:nowrap}
.sorry p{font-size:16px;line-height:1.5;margin:0}
@media only all and (max-width:480px){
.sorry{width:80%}
}
</style>
<div class="sorry">
	<h1 class="hx">Sorry!</h1>
	<div class="msg">
		<h1>{$http_status_code}</h1>
		<p>{$http_status_message}</p><br />
		<p>{$system_message}</p>
	</div>
</div>
