<!--%import("js/communication.js")-->
<!--%import("css/default.css")-->

<!--@if(!$communication_config->colorset)-->
    {@$member_config->colorset = "white"}
<!--@end-->
	
<!--@if($communication_config->colorset == "black")-->
	<!--%import("css/black.css")-->
<!--@else-->
	<!--%import("css/white.css")-->	
<!--@end-->

<div id="communicationModule">
    <!--@if($is_logged && $logged_info->menu_list && (!$member_srl || $member_srl == $logged_info->member_srl) )-->
    <ul class="localNavigation">
        <!--@foreach($logged_info->menu_list as $key => $val)-->
        <li <!--@if($key == $act)-->class="on"<!--@end-->><a href="{getUrl('act',$key)}">{Context::getLang($val)}</a></li>
        <!--@end-->
    </ul>
    <!--@end-->
